<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
@if (spell.inputRequired) {
    <div class="list-item lower newrow problem">
        <strong>Player input required:</strong>

        @for (
            inputRequired of spell.inputRequired.split("\n\n");
            track $index
        ) {
            <div class="newrow left-aligned">
                <app-description
                    class="newrow"
                    [text]="inputRequired"
                />
            </div>
        }
    </div>
}

@if (spell.sourceBook) {
    <div class="newrow left-aligned">
        <span>
            <strong>Source</strong>

            <i>{{ spell.sourceBook }}</i>
        </span>
    </div>
}

@if (spell.PFSnote) {
    <div class="newrow left-aligned">
        <span>
            <strong>PFS Note</strong>

            <i>{{ spell.PFSnote }}</i>
        </span>
    </div>
}

@if (
    spell.traditions && !spell.traditions.includes(spellTraditionsEnum.Focus)
) {
    <div class="newrow left-aligned">
        <span>
            <strong>Traditions</strong>
            {{ spell.traditions.join(", ") }}
        </span>
    </div>
}

@if (spell.castType || spell.cost) {
    <div class="newrow left-aligned">
        @if (spell.castType) {
            <strong>Cast</strong>

            @if (spell.actions) {
                <app-action-icons [actionString]="spell.actions" />
            }

            <span>{{ spell.castType }}</span>
        }

        @if (spell.cost) {
            <strong>Cost</strong>
            {{ spell.cost }}
        }
    </div>
}

@if (spell.requirements) {
    <div class="newrow left-aligned">
        <span>
            <strong>Requirements</strong>
            {{ spell.requirements }}
        </span>
    </div>
}

@if (spell.trigger) {
    <div class="newrow left-aligned">
        <span>
            <strong>Trigger</strong>
            {{ spell.trigger }}
        </span>
    </div>
}

@if (spell.range || spell.area || spell.targets) {
    <div class="newrow left-aligned">
        @if (spell.range) {
            <span>
                <strong>Range</strong>
                {{ spell.range }}
            </span>
        }

        @if (spell.area) {
            <span>
                <strong>Area</strong>
                {{ spell.area }}
            </span>
        }

        @if (spell.targets) {
            <span>
                <strong>Targets</strong>
                {{ spell.targets }}
            </span>
        }
    </div>
}

@if (spell.savingThrow || spell.duration) {
    <div class="newrow left-aligned">
        @if (spell.savingThrow) {
            <span>
                <strong>Saving Throw</strong>
                {{ spell.savingThrow }}
            </span>
        }

        @if (spell.duration) {
            <span>
                <strong>Duration</strong>
                {{ spell.duration }}
            </span>
        }
    </div>
}

@for (desc of heightenedText(spell.desc).split("\n\n"); track $index) {
    <div class="newrow left-aligned">
        <app-description
            class="newrow"
            [text]="desc"
            [casting]="casting"
        />
    </div>
}

@if (spell.critsuccess) {
    <div class="newrow gap-text lower left-aligned">
        <strong>Critical Success</strong>

        <app-description
            [text]="heightenedText(spell.critsuccess)"
            [casting]="casting"
            [oneLiner]="true"
        />
    </div>
}

@if (spell.success) {
    <div class="newrow gap-text lower left-aligned">
        <strong>Success</strong>

        <app-description
            [text]="heightenedText(spell.success)"
            [casting]="casting"
            [oneLiner]="true"
        />
    </div>
}

@if (spell.failure) {
    <div class="newrow gap-text lower left-aligned">
        <strong>Failure</strong>

        <app-description
            [text]="heightenedText(spell.failure)"
            [casting]="casting"
            [oneLiner]="true"
        />
    </div>
}

@if (spell.critfailure) {
    <div class="newrow gap-text lower left-aligned">
        <strong>Critical Failure</strong>

        <app-description
            [text]="heightenedText(spell.critfailure)"
            [casting]="casting"
            [oneLiner]="true"
        />
    </div>
}

@if (spell.desc2) {
    @for (desc of heightenedText(spell.desc2).split("\n\n"); track $index) {
        <div class="newrow left-aligned">
            <app-description
                class="newrow"
                [text]="desc"
                [casting]="casting"
            />
        </div>
    }
}

@for (heightened of spell.heightened; track $index) {
    <div class="newrow left-aligned">
        <span>
            <strong>Heightened {{ heightened.level }}</strong>
            {{ heightened.desc }}
        </span>
    </div>
}

@for (shownSpellSet of spell.showSpells; track $index) {
    <div class="list-item left-aligned">
        @if (spellFromName(shownSpellSet.name); as shownSpell) {
            <div>
                <header class="spellHeader left-aligned">
                    {{ shownSpell.name }}
                    @if (shownSpell.actions) {
                        <app-action-icons [actionString]="shownSpell.actions" />
                    }
                    {{ shownSpell.castType.toString() }}
                </header>

                <div class="newrow left-aligned">
                    @for (trait of shownSpell.traits; track $index) {
                        <app-trait
                            [name]="trait"
                            [trait]="traitFromName(trait)"
                        />
                    }

                    @for (
                        trait of shownSpell.activationTraits();
                        track $index
                    ) {
                        <app-trait
                            [name]="trait"
                            [trait]="traitFromName(trait)"
                            [extraDescription]="
                                '(This trait was derived from the action components.)'
                            "
                        />
                    }
                </div>

                <app-spell-content
                    class="vlist fullwidth"
                    [spell]="shownSpell"
                    [spellLevel]="shownSpellSet.level || spellLevel || 0"
                    [casting]="casting"
                />
            </div>
        }
    </div>
}
