<div id="items" class="itemBox">
    <button class="list-item" [ngStyle]="{'background-color':get_Accent()}" (click)="toggleItemsMenu()">Close</button>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <h3>Get Items</h3>
    <div *ngFor="let itemSet of ['Weapons','Armor','Shields','Worn Items','Alchemical Elixirs']">
        <button class="button list-item" [ngStyle]="{'background-color':get_Accent()}" (click)="toggle_List(itemSet)">
            <strong>{{itemSet}}</strong>
        </button>
        <div *ngIf="get_ShowList()==itemSet">
            <div *ngFor="let item of get_Items(itemSet)">
                <div class="list-item" *ngFor="let inventoryID of [get_ID()]">
                    <button class="row" (mouseover)="hover = inventoryID" (mouseout)="hover = 0"
                        [ngStyle]="{'background-color':get_Accent()}" (click)="toggle_Item(inventoryID)">
                        <span>{{item.name}}</span>
                        <span
                            *ngIf="item.type == 'armors'">{{(item.prof == 'Unarmored') ? item.prof : item.prof.substr(0, item.prof.length - 6)}}
                            {{item.group}} {{(item.type=="armors" && item.prof != "Unarmored") ? "Armor" : ""}}</span>
                        <span
                            *ngIf="item.type == 'weapons'">{{(item.prof == 'Unarmed') ? item.prof : item.prof.substr(0, item.prof.length - 8)}}
                            {{item.group}}</span>
                        <span>Level {{item.level}}</span>
                    </button>
                    <div class="list-item sublist lower" [ngStyle]="{'border-color':get_Accent(inventoryID)}"
                        *ngIf="get_ShowItem()==inventoryID">
                        <div class="row left-aligned" *ngIf="item.traits.length">
                            <cite *ngFor="let trait of item.traits"
                                title="{{get_Traits(trait)[0].description}}">&nbsp;{{trait}}</cite>
                        </div>
                        <button class="row" [ngStyle]="{'background-color':get_Accent()}" (click)="grant_Item(item)">
                            Get
                        </button>
                        <div class="row left-aligned" *ngIf="item.type == 'armors'">
                            <span>
                                <strong>Price</strong>
                                {{get_Price(item)}}&nbsp;
                            </span>
                            <span>
                                <strong>AC Bonus</strong>
                                {{item.itembonus}}&nbsp;
                            </span>
                            <span>
                                <strong>Dex Cap</strong>
                                {{item.dexcap}}&nbsp;
                            </span>
                            <span>
                                <strong>Check Penalty</strong>
                                {{item.skillpenalty}}&nbsp;
                            </span>
                            <span>
                                <strong>Speed Penalty</strong>
                                {{item.skillpenalty}}&nbsp;
                            </span>
                        </div>
                        <div class="row left-aligned" *ngIf="item.type == 'armors'">
                            <span>
                                <strong>Strength</strong>
                                {{item.strength}}&nbsp;
                            </span>
                            <span>
                                <strong>Bulk</strong>
                                {{item.bulk}}&nbsp;
                            </span>
                        </div>
                        <div class="row left-aligned" *ngIf="item.type == 'weapons'">
                            <span>
                                <strong>Price</strong>
                                {{get_Price(item)}}&nbsp;
                            </span>
                            <span>
                                <strong>Damage</strong>
                                {{item.dicenum}}d{{item.dicesize}} {{item.dmgType}}&nbsp;
                            </span>
                            <span>
                                <strong>Bulk</strong>
                                {{item.bulk}}&nbsp;
                            </span>
                        </div>
                        <div class="row left-aligned" *ngIf="item.type == 'weapons'">
                            <span>
                                <strong>Hands</strong>
                                {{item.hands}}&nbsp;
                            </span>
                            <span *ngIf="item.ranged">
                                <strong>Range</strong>
                                {{item.ranged}} ft.&nbsp;
                            </span>
                            <span *ngIf="item.ranged">
                                <strong>Reload</strong>
                                {{item.reload}}&nbsp;
                            </span>
                        </div>
                        <div class="row left-aligned" *ngIf="item.type == 'weapons'">
                            <span *ngIf="item.ammunition">
                                <strong>Ammunition</strong>
                                {{item.ammunition}}&nbsp;
                            </span>
                        </div>
                        <div class="row">
                            <div *ngFor="let desc of item.desc.split('\n\n')">
                                <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
                                <ul *ngIf="desc.split('\n').length > 1">
                                    <li *ngFor="let line of desc.split('\n')">{{line}}</li>
                                </ul>
                            </div>
                            <p *ngIf="item.benefit">
                                <strong>Benefit</strong>
                                {{item.benefit}}
                            </p>
                            <p *ngIf="item.drawback">
                                <strong>Drawback</strong>
                                {{item.drawback}}
                            </p>
                        </div>
                        <div class="row">
                            <div *ngFor="let desc of item.desc.split('\n\n')">
                                <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
                                <ul *ngIf="desc.split('\n').length > 1">
                                    <li *ngFor="let line of desc.split('\n')">{{line}}</li>
                                </ul>
                            </div>
                            <p *ngIf="item.benefit">
                                <strong>Benefit</strong>
                                {{item.benefit}}
                            </p>
                            <p *ngIf="item.drawback">
                                <strong>Drawback</strong>
                                {{item.drawback}}
                            </p>
                            <p *ngIf="item.subType">
                                <strong>{{item.subType}}</strong>
                                {{item.subTypeDesc}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>