<div class="row list-item">
    <ng-container *ngFor="let propertyKey of get_PropertyKeys(); let index = index; trackBy:trackByIndex;">
        <div class="row list-item" *ngFor="let propertyData of get_PropertyData(propertyKey); trackBy:trackByIndex;">
            <ng-container *ngIf="!noTitle">
                <div class="row left-aligned">
                    <strong title="{{propertyData.desc}}">{{propertyData.name}}</strong>
                </div>
            </ng-container>
            <div class="row">
                <input class="row" type="text" [(ngModel)]="newEffect[propertyKey]"
                    (blur)="validate(propertyData, propertyKey, index)" *ngIf="!propertyData.type && !propertyData.locked">
                <textarea class="row" rows=3 [(ngModel)]="newEffect[propertyKey]"
                    *ngIf="propertyData.type=='textarea'"></textarea>
                <input type="checkbox" [(ngModel)]="newEffect[propertyKey]" *ngIf="propertyData.type=='checkbox'">
                <input type="number" [(ngModel)]="newEffect[propertyKey]" (blur)="validate(propertyData, propertyKey, index)"
                    (keypress)="numbersOnly($event)" *ngIf="propertyData.type=='number'">
            </div>
            <div class="row" *ngIf="validationError[index]">
                <span class="problem">{{validationError[index]}}</span>
            </div>
            <div class="row" *ngIf="validationResult[index]">
                <span>Current result: {{validationResult[index]}}</span>
            </div>
            <div class="list-item" style="margin: initial 0"
                *ngIf="propertyData.type!='textarea' && propertyData.type!='checkbox'">
                <select class="row" [(ngModel)]="newEffect[propertyKey]" [disabled]="!get_Examples(propertyData).length"
                    (ngModelChange)="validate(propertyData, propertyKey, index)">
                    <option *ngFor="let example of get_Examples(propertyData)|sortBy:'asc'; trackBy:trackByIndex;"
                        [ngValue]="example">
                        {{example}}
                    </option>
                </select>
            </div>
        </div>
        <ng-container *ngFor="let creature of get_Creatures()">
            <div class="list-item">
                <button class="list-item row" (click)="add_Effect(creature)">
                    <h3>Add to {{creature.type}}</h3>
                </button>
            </div>
        </ng-container>
    </ng-container>
</div>