<button class="minimizebutton lower" [ngStyle]="{'background-color':get_Accent()}" (click)="minimize()">&#8691;</button>
<div id="skills-height">
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <h3>Perception</h3>
        <div *ngFor="let skill of get_Skills('', 'Perception')|sortBy:'asc':'name'">
            <app-skill [skill]=skill></app-skill>
        </div>
        <h3>Skills</h3>
        <div *ngFor="let skill of get_Skills('', 'Skill')|sortBy:'asc':'name'">
            <app-skill [skill]=skill></app-skill>
        </div>
    </ng-container>
</div>