<button class="minimizebutton lower" [ngStyle]="{'background-color':get_Accent()}" (click)="minimize()">&#8691;</button>
<div id="skills-height" class="attributeBox">
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <h3 [ngStyle]="{'color':get_Accent()}">Perception</h3>
        <ng-container *ngFor="let skill of get_Skills('', 'Perception')|sortBy:'asc':'name'">
            <app-skill [skill]=skill></app-skill>
        </ng-container>
        <h3 [ngStyle]="{'color':get_Accent()}">Skills</h3>
        <ng-container *ngFor="let skill of get_Skills('', 'Skill')|sortBy:'asc':'name'">
            <app-skill [skill]=skill></app-skill>
        </ng-container>
    </ng-container>
</div>
<div *ngIf="set_Span()"></div>