<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<button class="minimizebutton lower" *ngIf="showTime && showTurn"
    [ngbTooltip]="get_Minimized() ? 'Click to show all buttons.' : 'Click to hide time buttons.'"
    [ngClass]="{'fancy-button':get_Minimized()}" (click)="minimize()">
    <i class='bi-arrows-collapse' *ngIf="get_Minimized()"></i>
    <i class='bi-arrows-expand' *ngIf="!get_Minimized()"></i>
</button>
<div id="time">
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <div *ngIf="showTurn" class="list-item center-aligned">
            <div [ngbTooltip]="get_Waiting(5)">
                <button (click)="start_Turn()" [disabled]="get_YourTurn() === 5 || get_Waiting(5).length">
                    Start Turn
                </button>
            </div>
            <div class="turn-indicator">
                <strong *ngIf="get_YourTurn() === 0">Not your Turn</strong>
                <strong class="yourTurn" *ngIf="get_YourTurn() === 5">Your Turn</strong>
            </div>
            <div [ngbTooltip]="get_Waiting(5)">
                <button (click)="end_Turn()" [disabled]="get_YourTurn() === 0 || get_Waiting(5).length">
                    End Turn
                </button>
            </div>
        </div>
        <div *ngIf="showTime" class="list-item" [ngClass]="{'fullsize-only':showTime && showTurn}">
            <div *ngFor="let duration of [10, 50, 100, 500, 1000, 6000, 48000, 144000]; trackBy:trackByIndex;"
                [ngbTooltip]="get_Waiting(duration)">
                <button class="fancybutton" (click)="tick(duration)" [disabled]="get_Waiting(duration).length">
                    <span class="hlist">
                        <i class="bi bi-clock-history desktop-hide"></i>
                        <span class="mobile-hide">Pass</span>
                        <span class="mobile-hide">{{get_Duration(duration, false)}}</span>
                        <span class="desktop-hide">{{get_Duration(duration, false, true)}}</span>
                    </span>
                </button>
            </div>
        </div>
    </ng-container>
</div>
