<div id="items" class="itemBox">
    <button class="list-item" (click)="toggleCharacterMenu()">Close</button>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <div *ngIf="!still_loading()">
        Name: <input type="text" name="name" [(ngModel)]="get_Character().name">
        Level
        <select [(ngModel)]="get_Character().level" (ngModelChange)="onLevelChange()">
            <option *ngFor="let level of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" [value]="level">{{level}}</option>
        </select>
        <h3>History</h3>
<!--Class-->
        <div class="list-item">
            <button class="row button" [className]="(get_Character().class.name) ? 'fancy-button' : ''" (click)="toggle_List('class')">
                Class: {{get_Character().class.name}}
            </button>
            <div *ngIf="this.showList=='class'">
                <div class="list-item" *ngFor="let class of get_Classes()">
                    <input id="{{class.name}}" type="checkbox" (change)="onClassChange(class, $event.target.checked)"
                    [checked]="class.name === get_Character().class.name">
                    <label for="{{class.name}}">
                        <strong>{{class.name}}</strong>
                    </label>
                </div>
            </div>
        </div>
<!--Ancestry-->
        <div *ngIf="get_Character().class.name">
            <div class="list-item">
                <button class="row button" [className]="((get_Character().class.ancestry.name)) ? 'fancy-button' : ''" (click)="toggle_List('ancestry')">
                    Ancestry: {{get_Character().class.ancestry.name}}
                </button>
                <div *ngIf="this.showList=='ancestry'">
                    <div class="list-item" *ngFor="let ancestry of get_Ancestries()">
                        <input id="{{ancestry.name}}" type="checkbox" (change)="onAncestryChange(ancestry, $event.target.checked)"
                        [checked]="ancestry.name === get_Character().class.ancestry.name">
                        <label for="{{ancestry.name}}">
                            <strong>{{ancestry.name}}</strong>
                        </label>
                    </div>
                </div>
            </div>
        </div>
<!--Heritage-->
        <div *ngIf="get_Character().class.ancestry.name">
            <div class="list-item">
                <button class="row button" [className]="((get_Character().class.heritage.name)) ? 'fancy-button' : ''" (click)="toggle_List('heritage')">
                    Heritage: {{get_Character().class.heritage.name}}
                </button>
                <div *ngIf="this.showList=='heritage'">
                    <div class="list-item" *ngFor="let heritage of get_Heritages('', get_Character().class.ancestry.name)">
                        <input id="{{heritage.name}}" type="checkbox" (change)="onHeritageChange(heritage, $event.target.checked)"
                        [checked]="heritage.name === get_Character().class.heritage.name">
                        <label for="{{heritage.name}}">
                            <strong>{{heritage.name}}</strong>
                        </label>
                    </div>
                </div>
            </div>
        </div>
<!--Background-->
        <div *ngIf="get_Character().class.name">
            <div class="list-item">
                <button class="row button" [className]="((get_Character().class.background.name)) ? 'fancy-button' : ''" (click)="toggle_List('background')">
                    Background: {{get_Character().class.background.name}}
                </button>
                <div *ngIf="this.showList=='background'">
                    <div class="list-item" *ngFor="let background of get_Backgrounds()">
                        <input id="{{background.name}}" type="checkbox" (change)="onBackgroundChange(background, $event.target.checked)"
                        [checked]="background.name === get_Character().class.background.name">
                        <label for="{{background.name}}">
                            <strong>{{background.name}}</strong>
                        </label>
                        <button class="button fancybutton" (click)="toggle_Item('background'+background.name)">
                            Show Description
                        </button>
                        <div *ngIf="this.get_showItem()=='background'+background.name" class="row">
                            {{(background.longDesc) ? background.longDesc : background.desc}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--Levels-->
        <div *ngIf="get_Character().class">
            <div *ngFor="let level of get_Character().class.levels">
                <h3 *ngIf="level.number > 0">Level {{level.number}}</h3>
<!--Fixed information-->
                <div *ngIf="level.number > 0">
                    <button class="list-item row button fancy-button"
                        (click)="toggle_List('showFixedChanges'+level.number)">
                        Show fixed changes
                    </button>
                    <div class="list-item" *ngIf="this.showList=='showFixedChanges'+level.number">
<!--Fixed Ability boosts-->
                        <div class="list-item" *ngFor="let boost of get_AbilityBoosts(level.number, level.number, '', '', '', true)">
                            Ability {{(boost.type == 'Flaw') ? 'Flaw' : 'Boost'}} ({{boost.source}}): {{boost.name}}
                        </div>
<!--Fixed Skill Increases-->
                        <div class="list-item" *ngFor="let skillIncrease of get_SkillIncreases(level.number, level.number, '', '', true)">
                            {{(skillIncrease.name.indexOf("Lore:") > -1) ? "Lore " : ""}}Skill Training ({{skillIncrease.source}}): {{skillIncrease.name}}
                        </div>
                    </div>
                </div>
<!--Ability boosts-->
                <div *ngFor="let choice of level.abilityChoices">
                    <div class="list-item" *ngIf="choice.available"
                        [className]="(choice.boosts.length > choice.available - ((get_Character().baseValues.length > 0) ? choice.baseValuesLost : 0)) ? 'problem' : ''">
                        <button class="row button"
                            [className]="(choice.boosts.length == choice.available - ((get_Character().baseValues.length > 0) ? choice.baseValuesLost : 0)) ? 'fancy-button' : ''"
                            (click)="toggle_List(choice.source+choice.id+'AbilityChoices'+level.number)">
                            Ability Boosts ({{choice.source}}):
                                {{choice.boosts.length}}/{{choice.available - ((get_Character().baseValues.length > 0) ? choice.baseValuesLost : 0)}}
                        </button>
                        <div class="row" *ngIf="this.showList==choice.source+choice.id+'AbilityChoices'+level.number">
                            <div class="list-item" *ngFor="let ability of get_AvailableAbilities(level, choice.source, choice.filter, choice.boosts.length, choice.available)">
                                <input id="{{choice.source+choice.id+'AbilityChoices'+ability.name+level.number}}" type="checkbox"
                                    (change)="on_AbilityBoost(ability.name, $event.target.checked, choice, false)"
                                    [checked]="get_AbilityBoosts(level.number, level.number, ability.name, choice.source, 'Boost').length"
                                    [disabled]="cannotBoost(ability, level, choice).length">
                                <label for="{{choice.source+choice.id+'AbilityChoices'+ability.name+level.number}}">
                                    <strong>{{ability.name}}:</strong> {{ability.baseValue(this.characterService)}}&nbsp;
                                    <cite *ngFor="let reason of cannotBoost(ability, level, choice)">
                                        {{reason}}&nbsp;
                                    </cite>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
<!--Skill Increases-->
                <div *ngFor="let increase of level.skillChoices">
                    <div class="list-item" *ngIf="increase.available"
                        [className]="(increase.increases.length > increase.available + get_SkillINTBonus(increase, level)) ? 'problem' : ''">
                        <button class="row button"
                            [className]="(increase.available + get_SkillINTBonus(increase, level) == increase.increases.length ) ? 'fancy-button' : ''"
                            (click)="toggle_List(increase.source+increase.id+increase.type+'Increase'+level.number)">
                            Skill Training ({{increase.source}}): 
                                {{(increase.available + get_SkillINTBonus(increase, level) > 1) ?
                                (increase.increases.length +"/"+ (increase.available + get_SkillINTBonus(increase, level)) ) : 
                                (get_SkillIncreases(level.number, level.number, '', increase.source, false).length) ?
                                get_SkillIncreases(level.number, level.number, '', increase.source, false)[0].name :
                                ""}}
                        </button>
                        <div class="row" *ngIf="this.showList==increase.source+increase.id+increase.type+'Increase'+level.number">
                            <div class="list-item"  *ngFor="let skill of get_AvailableSkills(level, increase.type, increase.increases.length, increase.available + get_SkillINTBonus(increase, level), increase.source)"
                                [className]="(!skill.isLegal(this.characterService, level.number) || (
                                    !skill.isLegal(this.characterService, level.number, increase.maxRank) &&
                                    get_SkillIncreases(level.number, level.number, skill.name, increase.source).length)) ? 'problem' : ''">
                                <input id="{{increase.source+increase.id+increase.type+skill.name+'Increase'+level.number}}" type="checkbox"
                                    (change)="on_SkillIncrease(skill.name, $event.target.checked, increase, false)"
                                    [checked]="get_SkillIncreases(level.number, level.number, skill.name).length"
                                    [disabled]="cannotIncrease(skill, level, increase).length">
                                <label for="{{increase.source+increase.id+increase.type+skill.name+'Increase'+level.number}}">
                                    <strong>{{skill.name}}:</strong>
                                    <app-proficiency-form [skill]="skill" [characterService]="this.characterService" [level]="level.number"></app-proficiency-form>
                                    <cite *ngFor="let reason of cannotIncrease(skill, level, increase)">
                                        {{reason}}&nbsp;
                                    </cite>
                                    <cite *ngIf="!skill.isLegal(this.characterService, level.number, increase.maxRank) && get_SkillIncreases(level.number, level.number, skill.name, increase.source).length">
                                        This skill was raised higher than allowed!&nbsp;
                                    </cite>
                                    <cite *ngIf="!skill.isLegal(this.characterService, level.number)">
                                        This skill was raised higher than allowed!&nbsp;
                                    </cite>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
<!--Lore Training-->
                <div *ngFor="let increase of level.loreChoices">
                    <div class="list-item" *ngIf="increase.available"
                        [className]="(increase.increases.length > increase.available) ? 'problem' : ''">
                        <button class="row button" [className]="(increase.available == increase.increases.length ) ? 'fancy-button' : ''"
                            (click)="toggle_List(increase.source+'LoreIncrease'+level.number)">
                            New Lore Training ({{increase.source}}): {{(get_SkillIncreases(level.number, level.number, 'Lore: '+increase.loreName, increase.source).length) ? get_SkillIncreases(level.number, level.number, 'Lore: '+increase.loreName, increase.source)[0].name : ""}}
                        </button>
                        <div class="row" *ngIf="this.showList==increase.source+'LoreIncrease'+level.number">
                            <div class="list-item">
                                <input id="{{increase.source+'LoreIncreaseBox'+level.number}}" type="checkbox"
                                    (change)="on_LoreChange(increase.loreName, $event.target.checked, increase)"
                                    [checked]="get_SkillIncreases(level.number, level.number, 'Lore: '+increase.loreName, increase.source).length"
                                    [disabled]="increase.loreName == ''">
                                <label for="{{increase.source+'LoreIncreaseBox'+level.number}}">
                                    <strong>Lore:
                                        <input type="text" [(ngModel)]="increase.loreName"
                                            [disabled]="get_SkillIncreases(level.number, level.number, 'Lore: '+increase.loreName, increase.source).length"
                                            (ngModelChange)=this.characterService.set_Changed()>
                                    </strong>
                                    <cite>{{increase.loreDesc}}</cite>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
<!--Class feats-->
                <div class="list-item" *ngIf="level.classFeats_available"
                    [className]="(level.classFeats_applied > level.classFeats_available) ? 'problem' : ''">
                    <button class="row button" [className]="((level.classFeats_available == level.classFeats_applied)) ? 'fancy-button' : ''" (click)="toggle_List(level.number+'classFeats')">
                        Class Feats: {{level.classFeats_applied}}/{{level.classFeats_available}}
                    </button>
                    <div class="row" *ngIf="this.showList==level.number+'classFeats'">    
                        <div *ngFor="let feat of get_AvailableFeats(get_Character().class.name, level)|sortBy:'asc':'name'">
                            <app-feat class="list-item row" [feat]=feat [level]=level [type]="'Class'"
                                [className]="(!feat.canChoose(this.characterService, this.abilitiesService, this.effectsService, level.number)
                                || (get_FeatsTaken(1, level.number, feat.name, 'Level').length > 1 && !feat.unlimited)) ? 'problem' : ''"></app-feat>
                        </div>
                    </div>
                </div>
<!--Ancestry feats-->
                <div class="list-item" *ngIf="level.ancestryFeats_available"
                    [className]="(level.ancestryFeats_applied > level.ancestryFeats_available) ? 'problem' : ''">
                    <button class="row button" [className]="((level.ancestryFeats_available == level.ancestryFeats_applied)) ? 'fancy-button' : ''" (click)="toggle_List(level.number+'ancestryFeats')">
                        Ancestry Feats: {{level.ancestryFeats_applied}}/{{level.ancestryFeats_available}}
                    </button>
                    <div class="row" *ngIf="this.showList==level.number+'ancestryFeats'">
                        <div *ngFor="let feat of get_AvailableFeats('Ancestry', level)|sortBy:'asc':'name'">
                            <app-feat class="list-item row" [feat]=feat [level]=level [type]="'Ancestry'"
                                [className]="(!feat.canChoose(this.characterService, this.abilitiesService, this.effectsService, level.number)
                                || (get_FeatsTaken(1, level.number, feat.name, 'Level').length > 1 && !feat.unlimited)) ? 'problem' : ''"></app-feat>
                        </div>
                    </div>
                </div>
<!--Skill feats-->
                <div class="list-item" *ngIf="level.skillFeats_available"
                    [className]="(level.skillFeats_applied > level.skillFeats_available) ? 'problem' : ''">
                    <button class="row button" [className]="((level.skillFeats_available == level.skillFeats_applied)) ? 'fancy-button' : ''" (click)="toggle_List(level.number+'skillFeats')">
                        Skill Feats: {{level.skillFeats_applied}}/{{level.skillFeats_available}}
                    </button>
                    <div class="row" *ngIf="this.showList==level.number+'skillFeats'">
                        <div *ngFor="let feat of get_AvailableFeats('Skill', level)|sortBy:'asc':'name'">
                            <app-feat class="list-item row" [feat]=feat [level]=level [type]="'Skill'"
                                [className]="(!feat.canChoose(this.characterService, this.abilitiesService, this.effectsService, level.number)
                                || (get_FeatsTaken(1, level.number, feat.name, 'Level').length > 1 && !feat.unlimited)) ? 'problem' : ''"></app-feat>
                        </div>
                    </div>
                </div>
<!--General feats-->
                <div class="list-item" *ngIf="level.generalFeats_available" 
                    [className]="(level.generalFeats_applied > level.generalFeats_available) ? 'problem' : ''">
                    <button class="row button" [className]="((level.generalFeats_available == level.generalFeats_applied)) ? 'fancy-button' : ''" (click)="toggle_List(level.number+'generalFeats')">
                        General Feats: {{level.generalFeats_applied}}/{{level.generalFeats_available}}
                    </button>
                    <div class="row" *ngIf="this.showList==level.number+'generalFeats'" class="row">
                        <div *ngFor="let feat of get_AvailableFeats('General', level)|sortBy:'asc':'name'">
                            <app-feat class="list-item row" [feat]=feat [level]=level [type]="'General'"
                                [className]="(!feat.canChoose(this.characterService, this.abilitiesService, this.effectsService, level.number)
                                || (get_FeatsTaken(1, level.number, feat.name, 'Level').length > 1 && !feat.unlimited)) ? 'problem' : ''"></app-feat>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>