@import 'utilities';

:host {
    @include flex-column-center;

    height: 100%;
    width: 100%;

    gap: $spacing-s;
}

.character-sheet-columns {
    @include flex-row-spread;

    width: 100%;
    overflow-y: hidden;

    gap: $spacing-s;

    &__column {
        @include flex-column-center;

        flex: 1 1 100%;

        gap: $spacing-s;

        overflow-y: auto;

        padding-right: $spacing-s;

        padding-bottom: $spacing-s;
    }
}

.character-sheet-card {
    @include character-sheet-card;

    @include flex-row-center;
}
