<div class="window-button-container">
    <button *ngIf="creature == 'Character'" class="minimizebutton lower"
        [ngbTooltip]="get_Minimized() ? 'Click to show all choices and information.' : 'Click to hide finished choices and show compact information.'"
        [ngClass]="{'fancy-button':get_Minimized()}" (click)="minimize()">
        <i class='bi-arrows-collapse' *ngIf="get_Minimized()"></i>
        <i class='bi-arrows-expand' *ngIf="!get_Minimized()"></i>
    </button>
    <button class="tilemodebutton" [ngClass]="{'fancy-button':get_TileMode()}" (click)="toggle_TileMode()"
        [ngbTooltip]="get_TileMode() ? 'Click to enable list layout' : 'Click to enable tiled layout'">
        <!--Content is css only-->
        <div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
        </div>
    </button>
</div>
<div id="{{creature}}-inventory-height" class="attributeBox">
    <header class="sectionHeader box-header">Inventory</header>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <button class="fullsize-only list-item center-aligned" *ngIf="!itemStore"
            (click)="set_ItemsMenuTarget(creature); toggle_Menu('items')">
            Get Items
        </button>
        <header class="subsectionHeader" *ngIf="creature=='Character'">Currency</header>
        <div class="list-item" *ngIf="creature=='Character'">
            <strong>Platinum</strong>
            <div class="value">{{get_Character().cash[0]}}</div>
            <strong>Gold</strong>
            <div class="value">{{get_Character().cash[1]}}</div>
            <strong>Silver</strong>
            <div class="value">{{get_Character().cash[2]}}</div>
            <strong>Copper</strong>
            <div class="value center-aligned">{{get_Character().cash[3]}}</div>
            <button class="center-aligned" [ngbTooltip]="'Exchange coins for higher currency (no higher than Gold).'"
                (click)="sort_Cash();">Sort</button>
        </div>
        <header class="subsectionHeader">Bulk</header>
        <ng-container *ngFor="let calculatedBulk of [get_CalculatedBulk()]; trackBy:trackByIndex;">
            <div class="list-item">
                <div class="newrow">
                    <strong>Bulk</strong>
                    <span>
                        <div class="value" [ngbPopover]="calculatedBulk.current?.explain"
                            [ngClass]="{'penalty':calculatedBulk.currentpenalties, 'bonus':calculatedBulk.currentbonuses, 'absolute':calculatedBulk.currentabsolutes?.length}">
                            {{calculatedBulk.current?.value}}
                        </div>
                    </span>
                </div>
                <app-tags [creature]="creature" [objectName]="'Bulk'" [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            </div>
            <ng-template #EncumbranceLimitEffectsPopoverContent>
                <div class="fullsize-only newrow">
                    <app-objectEffects [creature]="creature" [objectName]="'Encumbered Limit'"></app-objectEffects>
                </div>
            </ng-template>
            <div class="fullsize-only list-item">
                <div class="newrow">
                    <span class="hlist">
                        <span class="fullsize-only" [ngbPopover]="EncumbranceLimitEffectsPopoverContent"
                            #EncumbranceLimitEffectsPopover="ngbPopover" triggers="click">
                            <i [ngbTooltip]="!EncumbranceLimitEffectsPopover.isOpen() ? 'Edit effects' : ''"
                                class='bi-lightning-charge'></i>
                        </span>
                        <strong>Encumbrance Limit</strong>
                    </span>
                    <span>
                        <div class="value" [ngbPopover]="calculatedBulk.encumbered?.explain"
                            [ngClass]="{'penalty':calculatedBulk.encumberedpenalties, 'bonus':calculatedBulk.encumberedbonuses, 'absolute':calculatedBulk.encumberedabsolutes?.length}">
                            {{calculatedBulk.encumbered?.value}}
                        </div>
                    </span>
                </div>
                <app-tags [creature]="creature" [objectName]="'Encumbered Limit'" [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            </div>
            <ng-template #MaxBulkEffectsPopoverContent>
                <div class="fullsize-only newrow">
                    <app-objectEffects [creature]="creature" [objectName]="'Max Bulk'"></app-objectEffects>
                </div>
            </ng-template>
            <div class="fullsize-only list-item">
                <div class="newrow">
                    <span class="hlist">
                        <span class="fullsize-only" [ngbPopover]="MaxBulkEffectsPopoverContent"
                            #MaxBulkEffectsPopover="ngbPopover" triggers="click">
                            <i [ngbTooltip]="!MaxBulkEffectsPopover.isOpen() ? 'Edit effects' : ''"
                                class='bi-lightning-charge'></i>
                        </span>
                        <strong>Maximum Bulk</strong>
                    </span>
                    <span>
                        <div class="value" [ngbPopover]="calculatedBulk.max?.explain"
                            [ngClass]="{'penalty':calculatedBulk.maxpenalties, 'bonus':calculatedBulk.maxbonuses, 'absolute':calculatedBulk.maxabsolutes?.length}">
                            {{calculatedBulk.max?.value}}
                        </div>
                    </span>
                </div>
                <app-tags [creature]="creature" [objectName]="'Max Bulk'" [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            </div>
        </ng-container>
        <ng-container *ngIf="have_QuickCrafting()">
            <header class="sectionHeader fullsize-only box-header">Quick Crafting</header>
            <app-tags [creature]="creature" [objectName]="'Quick Crafting'" [showTraits]=true [showFeats]=true
                [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            <button class="list-item" *ngIf="have_Feat('Snare Specialist')" (click)="toggle_List('snarespecialist')">
                <header class="sectionHeader">Snare Specialist</header>
            </button>
            <ng-container *ngIf="get_ShowList()=='snarespecialist'">
                <div class="newrow" *ngIf="!get_PreparedItems('snarespecialist').length">You don't have any snares
                    prepared for quick deployment.</div>
                <ng-container *ngFor="let preparedItem of get_PreparedItems('snarespecialist'); trackBy:trackByIndex;">
                    <div class="list-item"
                        *ngFor="let inventoryID of ['snarespecialist'+preparedItem.item.id]; trackBy:trackByIndex;">
                        <button class="newrow sublist-toggle" (click)="toggle_Item(inventoryID)"
                            [ngClass]="{'inactive-button':!preparedItem.learned.snareSpecialistAvailable}">
                            <span>{{preparedItem.learned.snareSpecialistAvailable}}
                                {{(preparedItem.item.get_Name) ? preparedItem.item.get_Name() :
                                preparedItem.item.name}}</span>
                            <span>{{(preparedItem.item.level) ? "Level "+preparedItem.item.level :
                                "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"}}</span>
                        </button>
                        <div class="list-item sublist lower" *ngIf="get_ShowItem()==inventoryID"
                            [ngClass]="{'inactive-list':!preparedItem.learned.snareSpecialistAvailable}">
                            <div
                                [ngbTooltip]="cannot_Craft(preparedItem.item, preparedItem.learned, 'snarespecialist').join('\n')">
                                <button class="newrow center-aligned"
                                    (click)="craft_Item(preparedItem.item, preparedItem.learned, 'snarespecialist')"
                                    [disabled]="cannot_Craft(preparedItem.item, preparedItem.learned, 'snarespecialist').length">
                                    <span>Deploy Snare <app-actionIcons
                                            [actionString]="get_SnareSpecialistActions(preparedItem.item)">
                                        </app-actionIcons>
                                    </span>
                                </button>
                            </div>
                            <app-item [item]=preparedItem.item [itemStore]=true></app-item>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <header class="sectionHeader fullsize-only box-header">Items</header>
        <app-tags [creature]="creature" [objectName]="'Inventory'" [showTraits]=true [showFeats]=true [showItems]=true
            [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
        <ng-template #MaxInvestedEffectsPopoverContent>
            <div class="fullsize-only newrow">
                <app-objectEffects [creature]="creature" [objectName]="'Max Invested'"></app-objectEffects>
            </div>
        </ng-template>
        <div class="fullsize-only list-item" *ngFor="let maxInvested of [get_MaxInvested()]; trackBy:trackByIndex;">
            <strong>Invested</strong>
            <div class="value" [ngClass]="{'problem':(get_Invested() > maxInvested.value)}">
                {{get_Invested()}}
            </div>
            <span class="hlist">
                <span class="fullsize-only" [ngbPopover]="MaxInvestedEffectsPopoverContent"
                    #MaxInvestedEffectsPopover="ngbPopover" triggers="click">
                    <i [ngbTooltip]="!MaxInvestedEffectsPopover.isOpen() ? 'Edit effects' : ''"
                        class='bi-lightning-charge'></i>
                </span>
                <strong>Max Invested</strong>
            </span>
            <div class="value right-aligned" [ngbPopover]="maxInvested.explain"
                [ngClass]="{'penalty':maxInvested.penalties, 'bonus':maxInvested.bonuses, 'absolute':maxInvested.absolutes}">
                {{get_MaxInvested().value}}
            </div>
            <app-tags [creature]="creature" [objectName]="'Max Invested'" [showTraits]=true [showFeats]=true
                [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
        </div>
        <div class="vlist" cdkDropListGroup>
            <ng-container
                *ngFor="let inventory of get_Inventories(creature); let inventoryIndex = index; trackBy:trackByIndex;">
                <div class="list-item" [ngClass]="{'fullsize-only':inventoryIndex > 1}">
                    <header class="sectionHeader fullsize-only newrow">{{get_InventoryName(inventory)}}
                        <span *ngIf="inventory.bulkLimit && inventory.bulkLimit % 1 == 0">
                            {{"("+inventory.get_Bulk()+" / "+inventory.bulkLimit+" Bulk)"}}
                        </span>
                        <span *ngIf="inventory.bulkLimit && inventory.bulkLimit % 1 != 0">
                            {{"("+(inventory.get_Bulk(false)*10)+"L / "+(inventory.bulkLimit*10)+"L Bulk)"}}
                        </span>
                    </header>
                    <div cdkDropList id="{{inventory.id}}|blank" (cdkDropListDropped)="dragdrop_InventoryItem($event)"
                        [ngClass]="{'icon-list':get_TileMode(), 'vlist fullwidth':!get_TileMode()}"
                        *ngIf="get_IsEmptyInventory(inventory)"
                        [ngStyle]="{'min-height': get_TileMode() ? null : '2em', 'display': get_TileMode() ? null : 'flex'}">
                    </div>
                    <ng-container *ngFor="let itemSet of inventory.names; trackBy:trackByIndex;">
                        <ng-container
                            *ngFor="let itemList of [sort_ItemSet(inventory[itemSet.key])]; trackBy:trackByIndex">
                            <header class="subsectionHeader newrow" *ngIf="inventory[itemSet.key].length">
                                {{itemSet.name}}
                            </header>
                            <div cdkDropList id="{{inventory.id}}|{{itemSet.key}}"
                                (cdkDropListDropped)="dragdrop_InventoryItem($event)"
                                [ngClass]="{'icon-list':get_TileMode(), 'vlist fullwidth':!get_TileMode()}"
                                *ngIf="inventory[itemSet.key].length"
                                [ngStyle]="{'min-height': get_TileMode() ? null : '2em'}">
                                <ng-container *ngFor="let item of itemList; trackBy:trackByItemID;">
                                    <ng-container *ngFor="let canUse of [get_CanUse(item)]; trackBy:trackByIndex">
                                        <ng-template #ItemTitleTemplate>
                                            <span class="hlist left-aligned">
                                                <span *ngIf="canUse != undefined">
                                                    <i class="value bi-x penalty"
                                                        *ngIf="!get_TileMode() && canUse == false"
                                                        [ngbTooltip]="'You are not trained with this item.'"></i>
                                                    <i class="value bi-check2 bonus" *ngIf="!get_TileMode() && canUse"
                                                        [ngbTooltip]="'You are trained with this item.'"></i>
                                                </span>
                                                <span [ngbTooltip]="item.material[0]?.name"
                                                    *ngIf="item.material?.length">
                                                    <i class='ra ra-diamond'></i>
                                                </span>
                                                <span [ngbTooltip]="'Broken'" *ngIf="item.broken">
                                                    <i class='ra ra-broken-shield'></i>
                                                </span>
                                                <span [ngbTooltip]="'Shoddy'" *ngIf="item.shoddy"><i
                                                        class='ra ra-broken-bottle'></i>
                                                </span>
                                                <span [ngbTooltip]="'Temporary Item'" *ngIf="item.expiration">
                                                    <i class='ra ra-clockwork'></i>
                                                </span>
                                                <span [ngbTooltip]="'Large Weapon'" *ngIf="item.large">
                                                    <i class='ra ra-large-hammer'></i>
                                                </span>
                                                <span [ngbTooltip]="'Blade Ally'" *ngIf="item.bladeAlly">
                                                    <i class='ra ra-fireball-sword'></i>
                                                </span>
                                                <span [ngbTooltip]="'Battleforged'" *ngIf="item.battleforged">
                                                    <i class='ra ra-anvil'></i>
                                                </span>
                                                {{(item.amount != undefined && item.amount != 1) ? item.amount+" " :
                                                ""}} {{(item['get_Name']) ? item.get_Name() : item.name}}
                                                <span class="lower"
                                                    *ngFor="let containedItems of [get_ContainedItems(item)]; trackBy:trackByIndex;">
                                                    {{containedItems ? "contains "+containedItems+" items" : ""}}
                                                </span>
                                            </span>
                                            <span *ngIf="item.level" style="flex-basis:auto;flex-grow:0">
                                                Level {{item.level}}
                                            </span>
                                        </ng-template>
                                        <ng-template #ItemTooltipTemplate>
                                            <span *ngIf="item.broken">
                                                <i class='ra ra-broken-shield'></i>
                                            </span>
                                            <span *ngIf="item.shoddy">
                                                <i class='ra ra-broken-bottle'></i>
                                            </span>
                                            <span *ngIf="item.expiration">
                                                <i class='ra ra-clockwork'></i>
                                            </span>
                                            <span *ngIf="item.large">
                                                <i class='ra ra-large-hammer'></i>
                                            </span>
                                            <span *ngIf="item.bladeAlly">
                                                <i class='ra ra-fireball-sword'></i>
                                            </span>
                                            <span *ngIf="item.battleforged">
                                                <i class='ra ra-anvil'></i>
                                            </span>
                                            {{(item.amount != undefined && item.amount != 1) ? item.amount+" " : ""}}
                                            {{(item['get_Name']) ? item.get_Name() : item.name}}
                                            <span class="lower"
                                                *ngFor="let containedItems of [get_ContainedItems(item)]; trackBy:trackByIndex;">
                                                {{containedItems ? "contains "+containedItems+" items" : ""}}
                                            </span>
                                        </ng-template>
                                        <ng-template #ItemTemplate>
                                            <header class="spellHeader newrow" *ngIf="get_TileMode()">
                                                <ng-container *ngTemplateOutlet="ItemTitleTemplate">
                                                </ng-container>
                                            </header>
                                            <div class="newrow"
                                                *ngFor="let prof of [(item.get_Proficiency ? item.get_Proficiency(get_Creature(), characterService) : item.prof)]; trackBy:trackByIndex;">
                                                <span [ngClass]="item.prof != prof ? 'absolute' : ''"
                                                    *ngIf="item.type == 'armors'">
                                                    {{(["Light Barding","Heavy Barding"].includes(prof)) ? prof :
                                                    prof.split("
                                                    ")[0]}} {{item.group}} {{(item.type=="armors" && (!["Unarmored
                                                    Defense","Light Barding","Heavy Barding"].includes(prof))) ? "Armor"
                                                    :
                                                    ""}}
                                                </span>
                                                <span [ngClass]="item.prof != prof ? 'absolute' : ''"
                                                    *ngIf="item.type == 'weapons'">
                                                    {{(prof == 'Unarmed') ? prof : prof.substr(0, prof.length - 8)}}
                                                    {{item.group}}
                                                </span>
                                            </div>
                                            <div class="newrow" *ngIf="item.expiration">
                                                <span><strong>Duration</strong> {{get_Duration(item.expiration)}}</span>
                                            </div>
                                            <button class="newrow center-aligned" [disabled]="!item.amount"
                                                (click)="on_ConsumableUse(item, creature, inventory)"
                                                *ngIf="item.amount != undefined && !['alchemicalelixirs','potions','scrolls'].includes(item.type) && item.actions && (!item.targets || item.targets.length == 0)">
                                                <span>Use
                                                    <app-actionIcons *ngIf="item.actions" [actionString]="item.actions">
                                                    </app-actionIcons>
                                                    {{(item.activationType) ? item.activationType : ""}}
                                                </span>
                                            </button>
                                            <ng-container
                                                *ngIf="item.amount != undefined && item.storedSpells.length && !['weaponrunes', 'armorrunes', 'oils'].includes(this.item.type)">
                                                <ng-container
                                                    *ngFor="let itemSpell of get_ItemSpell(item); trackBy:trackByIndex;">
                                                    <app-spellTarget class="newrow vlist" [creature]="creature"
                                                        [phrase]="item.type == 'wands' && item.cooldown ? 'Overcharge (Cooldown ' + get_Duration(item.cooldown) + ') and cast' : 'Cast'"
                                                        [showActions]="true" [spell]="itemSpell.spell"
                                                        [gain]="itemSpell.gain" [casting]="null"
                                                        [cannotCast]="item.broken ? 'The item is broken and cannot be used.' : ''"
                                                        [effectiveSpellLevel]="itemSpell.choice.level"
                                                        (castMessage)="on_SpellItemUse(item, $event.target, inventory)">
                                                    </app-spellTarget>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container
                                                *ngIf="item.amount != undefined && ['alchemicalelixirs','potions'].includes(item.type) && item.actions && (!item.targets || item.targets.length == 0)">
                                                <button class="newrow center-aligned" [disabled]="!item.amount"
                                                    (click)="on_ConsumableUse(item, creature, inventory)">
                                                    <span>
                                                        Use
                                                        <app-actionIcons *ngIf="item.actions"
                                                            [actionString]="item.actions">
                                                        </app-actionIcons>
                                                        {{(item.activationType) ? item.activationType : ""}}
                                                    </span>
                                                </button>
                                                <button class="newrow center-aligned"
                                                    *ngIf="!get_ManualMode() && get_CompanionAvailable()"
                                                    [disabled]="!item.amount"
                                                    (click)="on_ConsumableUse(item, 'Companion', inventory)">
                                                    <span>
                                                        Use (Give to your animal companion)
                                                        <app-actionIcons [actionString]="item.actions">
                                                        </app-actionIcons>
                                                        {{(item.activationType) ? item.activationType : ""}}
                                                    </span>
                                                </button>
                                                <button class="newrow center-aligned"
                                                    *ngIf="!get_ManualMode() && get_FamiliarAvailable()"
                                                    [disabled]="!item.amount"
                                                    (click)="on_ConsumableUse(item, 'Familiar', inventory)">
                                                    <span>
                                                        Use (Give to your familiar)
                                                        <app-actionIcons [actionString]="item.actions">
                                                        </app-actionIcons>
                                                        {{(item.activationType) ? item.activationType : ""}}
                                                    </span>
                                                </button>
                                            </ng-container>
                                            <div class="newrow">
                                                <span *ngIf="can_Equip(item, inventoryIndex)">
                                                    <button *ngIf="!item.equipped"
                                                        (click)="on_Equip(item, inventory, true)">Equip</button>
                                                    <button *ngIf="item.equipped"
                                                        (click)="on_Equip(item, inventory, false)">Unequip</button>
                                                </span>
                                                <span *ngIf="can_Invest(item, inventoryIndex)">
                                                    <button *ngIf="!item.invested"
                                                        (click)="on_Invest(item, inventory, true)"
                                                        [disabled]="get_Invested() >= get_MaxInvested().value && !item.invested">Invest</button>
                                                    <button *ngIf="item.invested"
                                                        (click)="on_Invest(item, inventory, false)">Uninvest</button>
                                                </span>
                                                <span *ngIf="item.can_Stack()">
                                                    <button (click)="onAmountChange(item, -1)"
                                                        [disabled]="item.amount <= 0">-1</button>
                                                    <button (click)="onAmountChange(item, 1)">+1</button>
                                                </span>
                                                <span
                                                    *ngIf="!can_Equip(item, inventoryIndex) && !can_Invest(item, inventoryIndex) && !item.can_Stack()">
                                                    &nbsp;
                                                    <!-- This span is a placeholder that appears if no other button is valid on the left side of the Drop button -->
                                                </span>
                                                <span *ngIf="can_Drop(item)">
                                                    <app-itemTarget [item]="item" [inventory]="inventory"
                                                        [creature]="creature"
                                                        (moveMessage)="move_InventoryItem(item, inventory, $event.target, $event.amount, $event.including)">
                                                    </app-itemTarget>
                                                </span>
                                                <span *ngIf="can_Drop(item) && can_DropAll(item)">
                                                    <button (click)="drop_ContainerOnly(item, inventory)"
                                                        [ngbTooltip]="'Drop this item, but keep all items granted by it'">
                                                        Drop without parts
                                                    </button>
                                                </span>
                                                <span *ngIf="can_Drop(item) && !can_DropAll(item)">
                                                    <button (click)="drop_InventoryItem(item, inventory)">
                                                        Drop
                                                    </button>
                                                </span>
                                                <span *ngIf="can_Drop(item) && can_DropAll(item)">
                                                    <button (click)="drop_InventoryItem(item, inventory)"
                                                        [ngbTooltip]="'Drop this item and all items granted by it'">
                                                        Drop with all parts
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="newrow" *ngIf="get_Price(item) && item.tradeable">
                                                <span *ngIf="item.can_Stack()">
                                                    <span [ngbTooltip]="'Sell at half price'">
                                                        <button (click)="onAmountChange(item, -1, true)"
                                                            [disabled]="item.amount <= 0 || item.broken || item.shoddy">Sell
                                                            1</button>
                                                    </span>
                                                    <button (click)="onAmountChange(item, 1, true)"
                                                        [disabled]="!have_Funds(get_Price(item))">Buy 1</button>
                                                </span>
                                                <span *ngIf="!item.can_Stack()">
                                                    &nbsp;
                                                    <!-- This span is a placeholder that appears if no other button is valid on the left side of the Sell button -->
                                                </span>
                                                <span>
                                                    <span [ngbTooltip]="'Sell at half price'">
                                                        <button (click)="drop_InventoryItem(item, inventory, true)"
                                                            [disabled]="item.amount <= 0 || item.broken || item.shoddy">
                                                            Sell {{can_DropAll(item) ? " with all parts" : ""}}
                                                        </button>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="list-item newrow left-aligned">
                                                <span *ngIf="item['get_Name']">
                                                    <input class="invisible" id="{{item.id}}showname" type="checkbox"
                                                        [(ngModel)]="item.showName">
                                                    <label for="{{item.id}}showname">
                                                        <i class='bi-pencil-square'></i>
                                                        Name
                                                    </label>
                                                </span>
                                                <span>
                                                    <input class="invisible" id="{{item.id}}shownotes" type="checkbox"
                                                        [(ngModel)]="item.showNotes">
                                                    <label for="{{item.id}}shownotes">
                                                        <i class='bi-pencil-square'></i>
                                                        Notes
                                                    </label>
                                                </span>
                                                <span
                                                    *ngIf="!['Fist','Unarmored'].includes(item.name) && get_IsEquipment(item)">
                                                    <input class="invisible" id="{{item.id}}showstatus" type="checkbox"
                                                        [(ngModel)]="item.showStatus">
                                                    <label for="{{item.id}}showstatus">
                                                        <i class='bi-pencil-square'></i>
                                                        Status
                                                    </label>
                                                </span>
                                                <span
                                                    *ngIf="item.moddable && item.constructor.name != 'Shield'">
                                                    <input class="invisible" id="{{item.id}}showrunes" type="checkbox"
                                                        [(ngModel)]="item.showRunes">
                                                    <label for="{{item.id}}showrunes">
                                                        <i class='bi-pencil-square'></i>
                                                        Runes
                                                    </label>
                                                </span>
                                            </div>
                                            <!--Changing Name-->
                                            <div class="fullwidth" [ngbCollapse]="!item.showName">
                                                <div class="list-item newrow left-aligned">
                                                    <span>Name</span> <input type="textarea" class="fullwidth"
                                                        [(ngModel)]="item.displayName" (blur)="onItemChange(item)">
                                                </div>
                                            </div>
                                            <!--Changing Notes-->
                                            <div class="fullwidth" [ngbCollapse]="!item.showNotes">
                                                <div class="list-item newrow left-aligned">
                                                    <span>Notes</span> <input type="textarea" class="fullwidth"
                                                        [(ngModel)]="item.notes">
                                                </div>
                                            </div>
                                            <!--Changing Status-->
                                            <div class="fullwidth"
                                                [ngbCollapse]="!(item.showStatus || item.broken || item.shoddy)"
                                                *ngIf="!['Fist','Unarmored'].includes(item.name) && get_IsEquipment(item)">
                                                <div class="list-item newrow left-aligned">
                                                    <span>Status</span>
                                                    <div class="newrow">
                                                        <span
                                                            [ngbPopover]="!get_RepairAllowed(item) ? 'You cannot repair a broken shield unless you restore its hit points above the Broken Threshold.' : ''">
                                                            <input id="{{item.id}}broken" type="checkbox"
                                                                [(ngModel)]="item.broken"
                                                                (ngModelChange)="onItemBroken(item);onItemChange(item);"
                                                                [disabled]="!get_RepairAllowed(item)">
                                                            <label for="{{item.id}}broken">
                                                                <i class='ra ra-broken-shield'></i>
                                                                Broken
                                                            </label>
                                                            <i class="bi-question-circle"
                                                                [ngbPopover]="'A broken object can\'t be used for its normal function, nor does it grant bonuses - with the exception of armor. Broken armor still grants its item bonus to AC, but it also imparts a status penalty to AC depending on its category: -1 for broken light armor, -2 for broken medium armor, or -3 for broken heavy armor. A broken item still imposes penalties and limitations normally incurred by carrying, holding, or wearing it. For example, broken armor would still impose its Dexterity modifier cap, check penalty, and so forth.'"></i>
                                                        </span>
                                                    </div>
                                                    <div class="newrow">
                                                        <span>
                                                            <input id="{{item.id}}shoddy" type="checkbox"
                                                                [(ngModel)]="item.shoddy"
                                                                (ngModelChange)="onItemChange(item)">
                                                            <label for="{{item.id}}shoddy">
                                                                <i class='ra ra-broken-bottle'></i>
                                                                Shoddy
                                                            </label>
                                                            <i class="bi-question-circle"
                                                                [ngbPopover]="'When available, a shoddy item usually costs half the Price of a standard item, though you can never sell one in any case. Attacks and checks involving a shoddy item take a -2 item penalty. This penalty also applies to any DCs that a shoddy item applies to (such as AC, for shoddy armor). A shoddy suit of armor also worsens the armor\'s check penalty by 2. A shoddy item\'s Hit Points and Broken Threshold are each half that of a normal item of its type.'"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-item newrow"
                                                *ngIf="get_LargeWeaponAllowed(item) || item.large">
                                                <span>
                                                    <input id="{{item.id}}large" type="checkbox"
                                                        [(ngModel)]="item.large" (ngModelChange)=onItemChange(item)>
                                                    <label for="{{item.id}}large">
                                                        <i class='ra ra-large-hammer'></i>
                                                        Large
                                                    </label>
                                                    <i class="bi-question-circle"
                                                        [ngbPopover]="'You can use a weapon built for a Large creature if you are Small or Medium (both normally and when raging). If you\'re not Small or Medium, you can use a weapon built for a creature one size larger than you. While wielding the weapon, you have the clumsy 1 condition because of its unwieldy size.'"></i>
                                                </span>
                                            </div>
                                            <div class="list-item newrow"
                                                *ngIf="get_BladeAllyAllowed(item) || item.bladeAlly">
                                                <div class="newrow">
                                                    <span
                                                        [ngbPopover]="(get_BladeAllyUsed() && !item.bladeAlly) ? 'Another item is already designated as your blade ally.' : ''">
                                                        <input id="{{item.id}}bladeally" type="checkbox"
                                                            [(ngModel)]="item.bladeAlly"
                                                            (ngModelChange)=onItemChange(item)
                                                            [disabled]="get_BladeAllyUsed() && !item.bladeAlly">
                                                        <label for="{{item.id}}bladeally">
                                                            <i class='ra ra-fireball-sword'></i>
                                                            Blade Ally
                                                        </label>
                                                        <i class="bi-question-circle"
                                                            [ngbPopover]="'You can select one weapon or handwraps of mighty blows when you make your daily preparations. In your hands, the item gains the effect of a property rune and you also gain the weapon\'s critical specialization effect. For a champion following the tenets of good, choose disrupting, ghost touch, returning, or shifting. For a champion following the tenets of evil, choose fearsome, returning, or shifting.'"></i>
                                                    </span>
                                                </div>
                                                <app-itemBladeAlly class="list-item newrow" [item]=item
                                                    *ngIf="item.bladeAlly">
                                                </app-itemBladeAlly>
                                            </div>
                                            <div class="list-item newrow"
                                                *ngIf="get_BattleforgedAllowed(item) || item.battleforged">
                                                <span>
                                                    <input id="{{item.id}}battleforged" type="checkbox"
                                                        [(ngModel)]="item.battleforged"
                                                        (ngModelChange)=onItemChange(item)>
                                                    <label for="{{item.id}}battleforged">
                                                        <i class='ra ra-anvil'></i>
                                                        Battleforged
                                                    </label>
                                                    <i class="bi-question-circle"
                                                        [ngbPopover]="'You can sharpen weapons, polish armor, and apply special techniques to temporarily gain better effects from your armaments. By spending 1 hour working on a weapon or armor, you can grant it the effects of a +1 potency rune until your next daily preparations, gaining a +1 item bonus to attack rolls for a weapon or increasing armor\'s item bonus to AC by 1. This has no effect if the weapon or armor already had a potency rune.'"></i>
                                                </span>
                                            </div>
                                            <div class="fullwidth" [ngbCollapse]="!item.showRunes"
                                                *ngIf="item.moddable && item.constructor.name != 'Shield'">
                                                <app-itemRunes class="newrow" [item]=item [itemStore]=false>
                                                </app-itemRunes>
                                            </div>
                                            <app-itemOils class="hide-empty" [item]=item [itemStore]=false *ngIf="item.type != 'oils'">
                                            </app-itemOils>
                                            <app-itemPoisons class="hide-empty" [item]=item [itemStore]=false
                                                *ngIf="item.type == 'weapons'">
                                            </app-itemPoisons>
                                            <app-itemTalismans [item]=item [itemStore]=false
                                                *ngIf="can_ApplyTalismans(item)">
                                            </app-itemTalismans>
                                            <app-itemTalismanCords [item]=item
                                                *ngIf="can_ApplyTalismanCords(item)">
                                            </app-itemTalismanCords>
                                            <ng-container *ngIf="item.type=='shields'">
                                                <div class="list-item newrow">
                                                    <strong>HP</strong>
                                                    <div class="value"> {{item.get_HitPoints()}}</div>
                                                    <strong>Max HP</strong>
                                                    <div class="value"> {{item.get_MaxHP()}}</div>
                                                    <strong>BT</strong>
                                                    <div class="value"> {{item.get_BrokenThreshold()}}</div>
                                                </div>
                                                <div class="list-item newrow">
                                                    <ng-template #DamageSliderTemplate>
                                                        <div class="popover-keepalive slider-container"
                                                            [style.--name]="'\'Damage\''" style="width:30rem; max-width:90vw;">
                                                            <input class="slider" type="range" min="0"
                                                                max="{{item.get_MaxHP()}}" [(ngModel)]="shieldDamage">
                                                        </div>
                                                    </ng-template>
                                                    <span>
                                                        <button [disabled]="shieldDamage == 0"
                                                            (click)="on_ShieldHPChange(item, shieldDamage)">Damage</button>
                                                    </span>
                                                    <span class="hlist center-aligned">
                                                        <input [ngbPopover]="DamageSliderTemplate"
                                                            #DamagePopover="ngbPopover" triggers="manual"
                                                            (focus)="DamagePopover.open()" class="number3" type="number"
                                                            [(ngModel)]="shieldDamage" maxLength="3" min="0"
                                                            max="{{item.get_MaxHP()}}">
                                                    </span>
                                                    <span class="right-aligned">
                                                        <button [disabled]="shieldDamage == 0"
                                                            (click)="on_ShieldHPChange(item, -shieldDamage)">Repair</button>
                                                    </span>
                                                </div>
                                            </ng-container>
                                            <app-item class="lower" [creature]="creature" [item]=item
                                                [allowActivate]="(item.equippable ? item.equipped : true) && (item.can_Invest() ? item.invested : true)"
                                                [armoredSkirt]="item.get_ArmoredSkirt ? item.get_ArmoredSkirt(get_Creature(), characterService) : null">
                                            </app-item>
                                        </ng-template>
                                        <ng-container *ngFor="let inventoryID of [item.id]; trackBy:trackByIndex;">
                                            <ng-container *ngIf="!get_TileMode()">
                                                <div class="list-item" cdkDrag [cdkDragData]="item"
                                                    [cdkDragDisabled]="!can_Drop(item)">
                                                    <button class="newrow sublist-toggle"
                                                        [ngClass]="{'fancy-button':((item.equippable && item.equipped) || (item.can_Invest() && item.invested)), 'problem':item.broken}"
                                                        (click)="toggle_Item(inventoryID)">
                                                        <ng-container *ngTemplateOutlet="ItemTitleTemplate">
                                                        </ng-container>
                                                    </button>
                                                    <div class="list-item sublist"
                                                        [ngClass]="{'fancy-list':((item.equippable && item.equipped) || (item.can_Invest() && item.invested)), 'problem':item.broken}"
                                                        *ngIf="get_ShowItem()==inventoryID">
                                                        <ng-container *ngTemplateOutlet="ItemTemplate"></ng-container>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="get_TileMode()">
                                                <button [stickyPopover]="ItemTemplate" triggers="click"
                                                    [ngClass]="{'fancy-button':((item.equippable && item.equipped) || (item.can_Invest() && item.invested)), 'problem':item.broken, 'penalty': canUse == false, 'bonus': canUse}"
                                                    (click)="toggle_Item()" cdkDrag [cdkDragData]="item"
                                                    [cdkDragDisabled]="!can_Drop(item)">
                                                    <app-gridIcon [updateId]="item.id"
                                                        [ngClass]="{'fancy-button':((item.equippable && item.equipped) || (item.can_Invest() && item.invested)), 'problem':item.broken, 'penalty': canUse == false, 'bonus': canUse}"
                                                        [ngbTooltip]="ItemTooltipTemplate"
                                                        [title]="item.displayName || item.name"
                                                        [detail]="'noparse|' + (item.level ? item.level.toString() : '')"
                                                        [item]="item">
                                                    </app-gridIcon>
                                                </button>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                    <!--Miscellaneous Items-->
                    <header class="subsectionHeader fullsize-only">Miscellaneous Items</header>
                    <button class="fullsize-only newrow center-aligned"
                        (click)="add_NewOtherItem(inventory)">Add</button>
                    <div class="fullsize-only list-item"
                        *ngFor="let item of inventory.otheritems; let index = index; trackBy:trackByIndex;">
                        <strong>Name</strong>
                        <input id="miscellaneousItemName{{inventoryIndex}}_{{index}}" type="text"
                            [(ngModel)]="item.name">
                        <strong>Bulk</strong>
                        <input id="miscellaneousItemBulk{{inventoryIndex}}_{{index}}" class="number2"
                            [(ngModel)]="item.bulk" (blur)="validate_Bulk(item)" (keypress)="bulkOnly($event)">
                        <button (click)="remove_OtherItem(item, inventory)">Drop</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>