<button class="minimizebutton lower" (click)="minimize()" *ngIf="creature=='Character'">&#8691;</button>
<div id="{{creature}}-general-height" class="attributeBox">
    <h3 class="box-header">General information</h3>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <ng-container *ngIf="creature=='Character'">
            <div class="fullsize-only list-item">
                <span>
                    <strong>Level</strong>
                    {{get_Character().level}}
                </span>
                <span>
                    <strong>Hero Points</strong>
                    {{get_Character().heroPoints}}
                    <button (click)="add_HeroPoints(1)">+1</button>
                    <button (click)="add_HeroPoints(-1)" [disabled]="get_Character().heroPoints <= 0">-1</button>
                </span>
            </div>
            <div class="fullsize-only list-item">
                <strong>Character Name</strong>
                {{get_Character().name}}
            </div>
            <div class="list-item" *ngIf="get_Character().class.ancestry.name">
                <strong>Ancestry</strong>
                {{get_Character().class.ancestry.name}}{{(get_Character().class.heritage.name) ? " - " + get_Character().class.heritage.name : ""}}
                <div class="row left-aligned" *ngIf="get_Character().class.ancestry.traits.length">
                    <cite class="trait" *ngFor="let trait of get_Character().class.ancestry.traits">{{trait}}&nbsp;</cite>
                </div>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().class.background && get_Character().class.background.name">
                <strong>Background</strong>
                {{get_Character().class.background.name}}
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().class.name">
                <strong>Class</strong>
                {{get_Character().class.name}}
                <div class="row" *ngFor="let huntersEdge of get_HuntersEdge()">
                    <strong>Hunter's Edge</strong>
                    {{huntersEdge}}
                </div>
                <div class="row" *ngIf="get_Character().class.bloodline.name">
                    <strong>Sorcerer Bloodline</strong>
                    {{get_Character().class.bloodline.name}}
                </div>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().class.ancestry.name">
                <strong>Size</strong>
                {{get_Size()}}
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().alignment && get_Character().alignment.length">
                <strong>Alignment</strong>
                {{get_Character().alignment}}
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().class.deity && get_Character().class.deity.name">
                <strong>Deity</strong>
                {{get_Character().class.deity.name}}
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().class.ancestry.languages && get_Character().class.ancestry.languages.length">
                <strong>Languages</strong>
                {{get_Languages()}}
            </div>
            <div class="fullsize-only list-item" *ngFor="let feat of get_DifferentWorldsFeat()">
                <strong>Alternative Identity (Different Worlds)</strong>
                {{feat.data.name}} {{(feat.data.background) ? "("+feat.data.background+")" : ""}}
            </div>
            <h5 class="fullsize-only">Class & Spell DCs</h5>
            <ng-container *ngFor="let skill of get_ClassDCs()">
                <app-skill [skill]=skill [isDC]=true></app-skill>
            </ng-container>
            <ng-container *ngFor="let skill of get_SpellDCs()">
                <app-skill [skill]=skill [isDC]=true></app-skill>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="creature=='Companion'">
            <div class="fullsize-only list-item">
                <strong>Companion Name</strong>
                {{get_Companion().name}}
                <app-tags [creature]="'Character'" [objectName]="'Animal Companion'" [showTraits]=true [showFeats]=true [showItems]=true [showActivities]=true
                    [showConditions]=true [showEffects]=true></app-tags>
            </div>
            <div class="fullsize-only list-item">
                <strong>Species</strong>
                {{get_CompanionSpecies()}}
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Companion().class.ancestry.name">
                <strong>Size</strong>
                {{get_Size()}}
            </div>
            <div class="list-item" *ngIf="get_Companion().class.ancestry.name">
                <strong>Support Benefit</strong>
                <p>{{get_Companion().class.ancestry.supportBenefit}}</p>
            </div>
        </ng-container>
        <h5 class="fullsize-only">Movement</h5>
        <ng-container *ngFor="let speed of get_Speeds()">
            <div class="list-item">
                <span>
                    <strong>{{(speed.name=="Speed") ? "All Speeds" : speed.name}}</strong>
                </span>
                <span>
                    Value: <input class="number3" title="{{speed.value(get_Creature(), characterService, effectsService)[1]}}"
                        [className]="(speed.penalty(get_Creature(), effectsService).length) ? 'penalty' : (speed.bonus(get_Creature(), effectsService).length) ? 'bonus' : ''"
                        type="number" value="{{speed.value(get_Creature(), characterService, effectsService)[0]}}" disabled>
                </span>
                <app-tags [creature]="creature" [objectName]=speed.name [showTraits]=true [showFeats]=true [showItems]=true [showActivities]=true
                    [showConditions]=true [showEffects]=true></app-tags>
            </div>
        </ng-container>
        <app-tags [creature]="creature" [objectName]="'Movement'" [showTraits]=true [showFeats]=true [showItems]=true [showActivities]=true
                    [showConditions]=true [showEffects]=true></app-tags>
    </ng-container>
</div>
<div *ngIf="set_Span()"></div>