<button class="minimizebutton lower"
    [ngbTooltip]="get_Minimized() ? 'Click to show all information.' : 'Click to show compact information.'"
    [ngClass]="{'fancy-button':get_Minimized()}" (click)="minimize()"
    *ngIf="creature=='Character' && showMinimizeButton">
    <i class='bi-arrows-collapse' *ngIf="get_Minimized()"></i>
    <i class='bi-arrows-expand' *ngIf="!get_Minimized()"></i>
</button>
<div id="{{creature}}-general-height" class="attributeBox">
    <header class="sectionHeader box-header">General information</header>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <ng-container *ngIf="creature=='Character'">
            <div class="list-item">
                <span>
                    <strong>Level</strong>
                    {{get_Character().level}}
                </span>
                <span>
                    <strong>Hero Points</strong>
                    {{get_Character().heroPoints}}
                    <button (click)="add_HeroPoints(-1)" [disabled]="get_Character().heroPoints <= 0">-1</button>
                    <button (click)="add_HeroPoints(1)">+1</button>
                </span>
            </div>
            <div class="fullsize-only list-item">
                <strong>Character Name</strong>
                <span>{{get_Character().name}}</span>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().class.ancestry.name">
                <strong>Ancestry</strong>
                <span>{{get_Character().class.ancestry.name}}{{(get_Character().class.heritage.name) ? " - " +
                    get_Character().class.heritage.name : ""}}</span>
                <div class="newrow left-aligned" *ngIf="get_Character().class.ancestry.traits.length">
                    <cite class="trait"
                        *ngFor="let trait of get_CharacterTraits(); trackBy:trackByIndex;">{{trait}}&nbsp;</cite>
                </div>
                <app-tags [creature]="creature" [objectName]="'Ancestry'" [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            </div>
            <div class="fullsize-only list-item"
                *ngIf="get_Character().class.background && get_Character().class.background.name">
                <strong>Background</strong>
                <span>{{get_Character().class.background.name}}</span>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().class.name">
                <div class="newrow" *ngFor="let specialization of get_ClassChoices(); trackBy:trackByIndex;">
                    <strong>{{specialization.name}}</strong>
                    <span>{{specialization.choice}}</span>
                </div>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().class.ancestry.name">
                <strong>Size</strong>
                <span>{{get_Size()}}</span>
                <app-tags [creature]="creature" [objectName]="'Size'" [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().alignment && get_Character().alignment.length">
                <strong>Alignment</strong>
                <span>{{get_Character().alignment}}</span>
                <app-tags [creature]="creature" [objectName]="'Alignment'" [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Character().class.deity">
                <strong>Deity</strong>
                <span>{{get_Character().class.deity}}</span>
            </div>
            <div class="list-item"
                *ngIf="get_Character().class.ancestry.languages && get_Character().class.ancestry.languages.length">
                <strong>Languages</strong>
                <span>{{get_Languages()}}</span>
                <app-tags [creature]="creature" [objectName]="'Languages'" [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true></app-tags>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Tenets().length">
                <strong>Tenets</strong>
                <div class="newrow">
                    <ul>
                        <li *ngFor="let tenet of get_Tenets(); trackBy:trackByIndex;">{{tenet}}</li>
                    </ul>
                </div>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Anathema().length">
                <strong>Anathema</strong>
                <div class="newrow">
                    <ul>
                        <li *ngFor="let anathema of get_Anathema(); trackBy:trackByIndex;">{{anathema}}</li>
                    </ul>
                </div>
            </div>
            <div class="fullsize-only list-item" *ngFor="let feat of get_DifferentWorldsFeat(); trackBy:trackByIndex;">
                <strong>Alternative Identity (Different Worlds)</strong>
                <span>{{feat.data.name}} {{(feat.data.background) ? "("+feat.data.background+")" : ""}}</span>
            </div>
        </ng-container>
        <ng-container *ngIf="creature=='Companion'">
            <div class="newrow left-aligned tags" *ngIf="get_Companion().class.ancestry.name">
                <cite class="trait" *ngFor="let trait of get_Companion().class.ancestry.traits; trackBy:trackByIndex;"
                    [ngbPopover]="get_Traits(trait)[0].desc">{{trait}}</cite>
            </div>
            <app-tags [creature]="'Character'" [objectName]="'Animal Companion'" [showTraits]=true [showFeats]=true
                [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            <div class="fullsize-only list-item">
                <strong>Companion Name</strong>
                <span>{{get_Companion().name}}</span>
            </div>
            <div class="fullsize-only list-item">
                <strong>Animal</strong>
                <span>{{get_CompanionSpecies()}}</span>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Companion().class.specializations.length">
                <strong>Specializations</strong>
                <span>{{get_CompanionSpecializations()}}</span>
            </div>
            <div class="fullsize-only list-item" *ngIf="get_Companion().class.ancestry.name">
                <strong>Size</strong>
                <span>{{get_Size()}}</span>
                <app-tags [creature]="creature" [objectName]="'Size'" [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            </div>
            <div class="list-item" *ngIf="get_Companion().class.ancestry.name">
                <strong>Support Benefit</strong>
                <p>{{get_Companion().class.ancestry.supportBenefit}}</p>
            </div>
        </ng-container>
        <ng-container *ngIf="creature=='Familiar'">
            <div class="newrow left-aligned tags">
                <cite class="trait" *ngFor="let trait of get_Familiar().traits; trackBy:trackByIndex;"
                    [ngbPopover]="get_Traits(trait)[0].desc">{{trait}}</cite>
            </div>
            <app-tags [creature]="'Character'" [objectName]="'Familiar'" [showTraits]=true [showFeats]=true
                [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            <div class="fullsize-only list-item">
                <strong>Familiar Name</strong>
                <span>{{get_Familiar().name}}</span>
            </div>
            <div class="fullsize-only list-item">
                <strong>Creature</strong>
                <span>{{get_Familiar().species}}</span>
            </div>
            <div class="fullsize-only list-item">
                <strong>Size</strong>
                <span>{{get_Size()}}</span>
                <app-tags [creature]="creature" [objectName]="'Size'" [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            </div>
            <header class="subsectionHeader">Familiar Abilities</header>
            <div class="list-item" *ngFor="let ability of get_Familiar().abilities.feats; trackBy:trackByIndex;">
                <strong>{{ability.name}}</strong>
                <div class="newrow left-aligned tags">
                    <cite class="trait"
                        *ngFor="let trait of get_FamiliarAbilities(ability.name)[0].traits; trackBy:trackByIndex;"
                        [ngbPopover]="get_Traits(trait).length ? get_Traits(trait)[0].desc : ''">{{trait}}</cite>
                </div>
                <div class="newrow left-aligned">
                    {{get_FamiliarAbilities(ability.name)[0].desc}}
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>