<div class="list-item newrow">
    <p>{{ cup.desc }}</p>
</div>

<header class="featureHeader">OPEN GAME LICENSE Version 1.0a</header>

@for (paragraph of ogl; track $index) {
    <div class="list-item newrow">
        <p>
            @if (paragraph.title) {
                <strong>{{ paragraph.title }}&nbsp;</strong>
            }

            @if (paragraph.desc) {
                <span>{{ paragraph.desc }}</span>
            }
        </p>

        @if ($last) {
            @for (block of ogl15; track $index) {
                <div class="newrow left-aligned">
                    @if (block.header) {
                        <header class="spellHeader">
                            {{ block.header }}
                        </header>
                    }

                    @for (line of block.lines; track $index) {
                        <div class="newrow left-aligned">
                            <span>
                                <strong>{{ line.title }}</strong>
                                {{ line.desc }}
                            </span>
                        </div>
                    }
                </div>
            }
        }
    </div>
}
