<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<header
    class="sectionHeader"
    *ngIf="propertyData.priority === '00' && propertyData.group"
>
    {{propertyData.group.split("-")[1]}}
</header>

<div
    class="list-item"
    *ngIf="parent() as parent"
>
    <ng-container *ngIf="!noTitle">
        <div class="newrow left-aligned">
            <strong [ngbPopover]="propertyData.desc">{{propertyData.name}}</strong>
        </div>
    </ng-container>

    <ng-container *ngIf="parent[propertyKey] as property">
        <ng-container *ngIf="property !== null && isPropertyAnArray(property)">
            <button
                type="button"
                (click)="addNewItemObject()"
            >
                Add
            </button>

            <div
                class="list-item"
                *ngFor="let object of property; let i = index; trackBy:trackByIndex;"
            >
                <span>{{i+1}}</span>

                <span>
                    <button
                        type="button"
                        (click)="removeNewItemObject(i)"
                    >
                        Remove
                    </button>
                </span>

                <ng-container *ngIf="isPropertyAnObject(object); else LiteralArrayTemplate">
                    <ng-container *ngFor="let subProperty of subProperties(object); trackBy:trackByIndex;">
                        <app-new-item-property
                            [propertyData]=subProperty
                            [propertyKey]=subProperty.key
                            [parents]=parents.concat(propertyKey,i.toString())
                            [newItem]=newItem
                        >
                        </app-new-item-property>
                    </ng-container>
                </ng-container>

                <ng-template #LiteralArrayTemplate>
                    <app-new-item-property
                        class="newrow"
                        [propertyData]=propertyData
                        [propertyKey]="indexToKey(i)"
                        [parents]=parents.concat(propertyKey)
                        [noTitle]=true
                        [newItem]=newItem
                    >
                    </app-new-item-property>
                </ng-template>
            </div>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="!isPropertyAnObject(parent[propertyKey]) || parent[propertyKey]===null">
        <div class="newrow">
            <input
                aria-label="Text input"
                id="{{propertyKey}}"
                class="newrow"
                type="text"
                [(ngModel)]="objectPropertyAccessor(parent, propertyKey).value"
                (blur)="validate()"
                *ngIf="!propertyData.type && !propertyData.locked"
            >

            <textarea
                aria-label="Multiline text input"
                class="newrow"
                rows=3
                [(ngModel)]="objectPropertyAccessor(parent, propertyKey).value"
                *ngIf="propertyData.type==='textarea'"
            >
            </textarea>

            <input
                aria-label="Checkbox"
                type="checkbox"
                [(ngModel)]="objectPropertyAccessor(parent, propertyKey).value"
                *ngIf="propertyData.type==='checkbox'"
            >

            <input
                aria-label="Number input"
                type="number"
                [(ngModel)]="objectPropertyAccessor(parent, propertyKey).value"
                (blur)="validate()"
                *ngIf="propertyData.type==='number'"
            >
        </div>

        <div
            class="newrow"
            *ngIf="validationError.length"
        >
            <span class="problem">{{validationError}}</span>
        </div>

        <div
            class="newrow"
            *ngIf="validationResult.length"
        >
            <span>Current result: {{validationResult}}</span>
        </div>

        <div
            class="list-item"
            style="margin: initial 0"
            *ngIf="propertyData.type!=='textarea' && propertyData.type!=='checkbox' && !(propertyData.parent === 'gainItems' && propertyData.key === 'type')"
        >
            <select
                aria-label="Select example"
                class="newrow left-aligned"
                [(ngModel)]="objectPropertyAccessor(parent, propertyKey).value"
                [disabled]="!examples().length"
                (ngModelChange)="validate()"
            >
                <option
                    *ngFor="let example of examples(); trackBy:trackByIndex;"
                    [ngValue]="example"
                >
                    {{example}}
                </option>
            </select>
        </div>

        <div
            class="list-item"
            style="margin: initial 0"
            *ngIf="propertyData.parent === 'gainItems' && propertyData.key === 'type'"
        >
            <select
                aria-label="Select item type"
                class="newrow left-aligned"
                [(ngModel)]="objectPropertyAccessor(parent, propertyKey).value"
                (ngModelChange)="setItemType()"
            >
                <option
                    *ngFor="let itemset of itemSets(); trackBy:trackByIndex;"
                    [ngValue]="itemset.key"
                >
                    {{itemset.name}}
                </option>
            </select>
        </div>
    </ng-container>
</div>
