<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<ng-container *ngIf="(isLoadingCharacter$ | async) === false">
    <app-character-sheet-desktop
        *ngIf="(isMobile$ | async) === false"
        [shownMode]="(shownModeDesktop$ | async) ?? 'All'"
        [attacksAndSpellsOrder]="(attacksAndSpellsOrder$ | async) ?? {}"
    ></app-character-sheet-desktop>

    <app-character-sheet-mobile
        *ngIf="(isMobile$ | async) === true"
        [shownMode]="(shownModeMobile$ | async) ?? 'All'"
    ></app-character-sheet-mobile>

    <!-- Slide-in menus -->

    <app-items
        [@slideInOut]="itemsMenuState"
    >
    </app-items>

    <app-crafting
        [@slideInOut]="craftingMenuState"
    >
    </app-crafting>

    <app-spell-selection
        [@slideInOut]="spellsMenuState"
    >
    </app-spell-selection>

    <app-spell-library
        [@slideInOut]="spellLibraryMenuState"
    ></app-spell-library>

    <app-conditions
        [@slideInOut]="conditionsMenuState"
    ></app-conditions>

    <app-character-creation
        [@slideInOut]="characterMenuState"
    >
    </app-character-creation>

    <app-animal-companion
        [@slideInOut]="companionMenuState"
        *ngIf="isAnimalCompanionAvailable$ | async"
    >
    </app-animal-companion>

    <app-familiar
        [@slideInOut]="familiarMenuState"
        *ngIf="isFamiliarAvailable$ | async"
    ></app-familiar>

    <app-dice [@slideInOutVert]="diceMenuState"></app-dice>
</ng-container>

<ng-template #LoadingTemplate>
    Loading...
</ng-template>
