<!-- Desktop or mobile character sheet -->

<app-character-sheet-desktop
    *ngIf="(isMobile$ | async) === false"
    [attacksAndSpellsOrder]="(attacksAndSpellsOrder$ | async) ?? {}"
/>

<app-character-sheet-mobile
    *ngIf="(isMobile$ | async)"
/>

<!-- Slide-in menus -->

<app-items [@slideInOut]="(sideMenuState$ | async) === menuNames.ItemsMenu ? 'in' : 'out'" />

<app-crafting [@slideInOut]="(sideMenuState$ | async) === menuNames.CraftingMenu ? 'in' : 'out'" />

<app-spell-selection [@slideInOut]="(sideMenuState$ | async) === menuNames.SpellSelectionMenu? 'in' : 'out'" />

<app-spell-library [@slideInOut]="(sideMenuState$ | async) === menuNames.SpellLibraryMenu? 'in' : 'out'" />

<app-conditions [@slideInOut]="(sideMenuState$ | async) === menuNames.ConditionsMenu ? 'in' : 'out'" />

<app-character-creation [@slideInOut]="(sideMenuState$ | async) === menuNames.CharacterCreationMenu ? 'in' : 'out'" />

<app-animal-companion
    *ngIf="isAnimalCompanionAvailable$ | async"
    [@slideInOut]="(sideMenuState$ | async) === menuNames.CompanionMenu? 'in' : 'out'"
/>

<app-familiar
    *ngIf="isFamiliarAvailable$ | async"
    [@slideInOut]="(sideMenuState$ | async) === menuNames.FamiliarMenu ? 'in' : 'out'"
/>

<app-dice [@slideInOutVert]="(topMenuState$ | async) === menuNames.DiceMenu ? 'in' : 'out'" />
