@import 'utilities';

.skill {
    @include flex-row-start;
    @include flex-center-cross-axis;

    width: 100%;
    gap: $spacing-m;

    &__level {
        flex-shrink: 1;
    }

    &__value {
        flex-basis: 100%;
    }
}
