<ng-container *ngFor="let listID of [choice.source+choice.id]; trackBy:trackByIndex">
    <ng-container *ngFor="let availableFeats of [get_Available(choice)]; trackBy:trackByIndex">
        <ng-container *ngFor="let buttonTitle of [get_ButtonTitle(availableFeats)]; trackBy:trackByIndex">
            <div *ngIf="availableFeats > 0"
                [ngClass]="{'list-item': showTitle && !get_TileMode(), 'problem':(cannotTakeSome(choice) || choice.feats.length > availableFeats), 'fullsize-only':(availableFeats == choice.feats.length)}">
                <!--Choice button shows in title mode-->
                <!--List mode button-->
                <button class="newrow left-aligned sublist-toggle" *ngIf="showTitle && (!get_TileMode() || showContent)"
                    [ngClass]="{'fancy-button choicecleared':(availableFeats == choice.feats.length), 'featchoice':!choice.specialChoice && !choice.showOnSheet && (choice.type != 'Familiar'), 'specialchoice':choice.specialChoice && !choice.showOnSheet, 'activechoice':get_ShowChoice()==listID && (!choice.showOnSheet && (choice.type != 'Familiar'))}"
                    (click)="toggle_List(listID)">
                    {{buttonTitle}}
                </button>
                <!--Tile mode button-->
                <button (click)="toggle_List(listID)" *ngIf="showTitle && !showContent && get_TileMode()"
                    [ngClass]="{'fancy-button choicecleared':(availableFeats == choice.feats.length), 'featchoice':!choice.specialChoice, 'specialchoice':choice.specialChoice, 'activechoice':get_ShowChoice()==listID}">
                    <app-gridIcon [ngbTooltip]="buttonTitle" [superTitle]="availableFeats.toString()"
                        [title]="(availableFeats == 1 && choice.feats.length) ? choice.feats[0].name : ((availableFeats > 1 && choice.feats.length > 0) ? choice.feats.length.toString() : '')"
                        [ngClass]="{'fancy-button':(availableFeats == choice.feats.length), 'featchoice':!choice.specialChoice, 'specialchoice':choice.specialChoice}"
                        [subTitle]="choice.feats.length ? '' : choice.type.split(' ')[0].substr(0,8)">
                    </app-gridIcon>
                </button>
                <!--Choice title shows above content in content only mode-->
                <div class="newrow list-item padding-8 center-aligned" *ngIf="!showTitle">
                    <header class="box-header sectionHeader">
                        {{buttonTitle}}
                    </header>
                </div>
                <!--Choice content shows in content mode-->
                <div id="{{!showTitle ? 'choiceArea' : ''}}"
                    [ngClass]="{'list-item sublist':showTitle, 'fancy-list':showTitle && (availableFeats == choice.feats.length), 'charactersheet-app':!showTitle, 'featchoice':!choice.specialChoice && !choice.showOnSheet && (choice.type != 'Familiar'), 'specialchoice':choice.specialChoice && !choice.showOnSheet}"
                    *ngIf="showContent && get_ShowChoice()==listID">
                    <!-- Filter -->
                    <div class="list-item lower">
                        <strong>Filter</strong>
                        <div class="list-item gridicon-fullsizebox">
                            <input class="character-choice" id="unavailableFeats" type="checkbox"
                                [(ngModel)]="unavailableFeats">
                            <label for="unavailableFeats">
                                <strong>
                                    Show unavailable {{choice.specialChoice ? 'options' : 'feats'}}
                                </strong>
                            </label>
                        </div>
                        <div class="list-item gridicon-fullsizebox"
                            *ngIf="!choice.specialChoice && choice.type != 'Familiar'">
                            <input class="character-choice" id="lowerLevelFeats" type="checkbox"
                                [(ngModel)]="lowerLevelFeats">
                            <label for="lowerLevelFeats">
                                <strong>
                                    Show lower level feats
                                </strong>
                            </label>
                        </div>
                        <div class="fullwidth" [ngbCollapse]="!unavailableFeats"
                            *ngIf="!choice.specialChoice && choice.type != 'Familiar'">
                            <div class="list-item gridicon-fullsizebox">
                                <input class="character-choice" id="higherLevelFeats" type="checkbox"
                                    [(ngModel)]="higherLevelFeats">
                                <label for="higherLevelFeats">
                                    <strong>
                                        Show higher level feats
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class="list-item gridicon-fullsizebox"
                            *ngIf="!choice.specialChoice && choice.type != 'Familiar'">
                            <input class="character-choice" id="archetypeFeats" type="checkbox"
                                [(ngModel)]="archetypeFeats">
                            <label for="archetypeFeats">
                                <strong>
                                    Show archetype feats
                                </strong>
                            </label>
                        </div>
                    </div>
                    <!-- End Filter -->
                    <ng-container *ngFor="let featSets of [get_AvailableFeats(choice)]; trackBy:trackByIndex">
                        <div class="list-item" *ngIf="get_AvailableFeatsCount(featSets) < availableFeats">
                            <span>There are fewer results available than you are allowed to take. This may be due to a
                                choice with limited options, and it might be intended at this time.</span>
                            <span *ngIf="!higherLevelFeats || !lowerLevelFeats">More results may be found if you allow
                                lower and higher level feats.</span>
                            <span *ngIf="choice.showOnCurrentLevel">This feat choice is always available on your current
                                character level. This could change the number of available feats at a later time.</span>
                        </div>
                        <ng-container *ngFor="let featSet of featSets; trackBy:trackByFeat;">
                            <ng-container
                                *ngFor="let taken of [get_FeatTakenByChoice(featSet.feat, choice)]; trackBy:trackByIndex">
                                <ng-container
                                    *ngFor="let checked of [taken || (!featSet.available && get_FeatTakenEver(featSet.feat))]; trackBy:trackByIndex">
                                    <ng-container
                                        *ngFor="let disabled of [(availableFeats <= choice.feats.length) && !taken]; trackBy:trackByIndex">
                                        <ng-template #FeatChoiceDetailTemplate>
                                            <div class="newrow">
                                                <header class="spellHeader">{{featSet.feat.name}}</header>
                                                <div class="button newrow no-animation"
                                                    *ngIf="!featSet.feat.subTypes && featSet.available"
                                                    [ngClass]="{'fancy-button':taken, 'disabled':disabled}">
                                                    <label>
                                                        <input type="checkbox"
                                                            (change)="on_FeatTaken(featSet.feat, $event.target.checked, choice, false)"
                                                            [checked]="checked" [disabled]="disabled" hidden>
                                                        {{taken ? "Remove" : "Choose"}}
                                                    </label>
                                                </div>
                                                <div class="newrow left-aligned">
                                                    <cite [ngbPopover]="reason.explain" class="problem"
                                                        *ngFor="let reason of cannotTake(featSet.feat, choice, true); trackBy:trackByIndex;">
                                                        {{reason.reason}}
                                                    </cite>
                                                </div>
                                                <app-feat [feat]="featSet.feat" [choice]="choice"
                                                    [levelNumber]="levelNumber" [featLevel]="featLevel"></app-feat>
                                                <!--Subfeats-->
                                                <ng-container
                                                    *ngFor="let subfeatSet of get_SubFeats(featSet.feat, choice); trackBy:trackBySubType;">
                                                    <ng-container
                                                        *ngFor="let subFeatTaken of [get_FeatTakenByChoice(subfeatSet.subfeat, choice)]; trackBy:trackByIndex;">
                                                        <ng-container
                                                            *ngFor="let subFeatChecked of [subFeatTaken || (!subfeatSet.available && get_FeatTakenEver(subfeatSet.subfeat))]; trackBy:trackByIndex;">
                                                            <ng-container
                                                                *ngFor="let subFeatDisabled of [(availableFeats <= choice.feats.length && !subFeatTaken)]; trackBy:trackByIndex;">
                                                                <div class="newrow list-item"
                                                                    [ngClass]="{'selected':subFeatTaken, 'unavailable':(!subfeatSet.available)}"
                                                                    style="justify-content: flex-end;">
                                                                    <div class="newrow left-aligned"
                                                                        *ngFor="let subItemID of [choice.id+subfeatSet.subfeat.name+'desc']; trackBy:trackByIndex;">
                                                                        <span class="gridicon-fullsizebox"
                                                                            style="flex-grow: 1;">
                                                                            <input
                                                                                id="{{choice.id+subfeatSet.subfeat.name}}"
                                                                                type="checkbox" class="character-choice"
                                                                                (change)="on_FeatTaken(subfeatSet.subfeat, $event.target.checked, choice, false)"
                                                                                [checked]="subFeatChecked"
                                                                                [disabled]="subFeatDisabled"
                                                                                *ngIf="subfeatSet.available">
                                                                            <strong>{{subfeatSet.subfeat.subType}}</strong>
                                                                        </span>
                                                                        <button (click)="toggle_SubFeat(subItemID)"
                                                                            [ngClass]="{'fancy-button':get_ShowSubFeat()==subItemID}">
                                                                            {{get_ShowSubFeat()==subItemID ? "Hide" :
                                                                            "Show"}} Description
                                                                        </button>
                                                                        <div
                                                                            [ngbCollapse]="get_UncollapseSubFeat()!=subItemID">
                                                                            <div class="newrow"
                                                                                *ngIf="get_ShowSubFeat()==subItemID || get_UncollapseSubFeat()!=subItemID">
                                                                                <div class="button newrow no-animation"
                                                                                    *ngIf="subfeatSet.available"
                                                                                    [ngClass]="{'fancy-button':subFeatTaken, 'disabled':subFeatDisabled}">
                                                                                    <label>
                                                                                        <input type="checkbox"
                                                                                            (change)="on_FeatTaken(subfeatSet.subfeat, $event.target.checked, choice, false)"
                                                                                            [checked]="subFeatChecked"
                                                                                            [disabled]="subFeatDisabled"
                                                                                            hidden>{{subFeatChecked ?
                                                                                        "Remove" : "Choose"}}
                                                                                    </label>
                                                                                </div>
                                                                                <div class="newrow left-aligned">
                                                                                    <cite class="problem"
                                                                                        [ngbPopover]="reason.explain"
                                                                                        *ngFor="let reason of cannotTake(subfeatSet.subfeat, choice, true); trackBy:trackByIndex;">
                                                                                        {{reason.reason}}
                                                                                    </cite>
                                                                                </div>
                                                                                <app-feat [feat]="subfeatSet.subfeat"
                                                                                    [choice]="choice"
                                                                                    [levelNumber]="levelNumber"
                                                                                    [featLevel]="featLevel">
                                                                                </app-feat>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </ng-template>
                                        <div class="list-item gridicon-fullsizebox"
                                            [ngClass]="{'unavailable':(!featSet.available), 'selected':(taken || subFeatTakenByThis(undefined, featSet.feat, choice))}">
                                            <input *ngIf="!featSet.feat.subTypes" class="character-choice"
                                                id="{{featSet.feat.name}}" type="checkbox"
                                                (change)="on_FeatTaken(featSet.feat, $event.target.checked, choice, false)"
                                                [checked]="checked" [disabled]="disabled || !featSet.available">
                                            <button class="character-choice" (click)="FeatChoiceDetailPopover.toggle()"
                                                [ngClass]="{'fancy-button':checked, 'inactive-button':(!checked && !featSet.available)}"
                                                *ngIf="featSet.feat.subTypes">+</button>
                                            <div class="gridicon-fullsizebox" #FeatChoiceDetailPopover="ngbPopover"
                                                [ngbPopover]="FeatChoiceDetailTemplate" triggers="click">
                                                <app-gridIcon [title]="featSet.feat.name"
                                                    [detail]="featSet.feat.traits.includes('Rare') ? 'Rare' : (featSet.feat.traits.includes('Uncommon') ? 'Uncommon' : '')">
                                                </app-gridIcon>
                                                <header class="sectionHeader">
                                                    <span
                                                        [ngbTooltip]="(!FeatChoiceDetailPopover.isOpen()) ? featSet.feat.shortdesc : ''"
                                                        triggers="hover" openDelay=100>
                                                        {{["General", "Skill"].includes(choice.type) &&
                                                        featSet.feat.skillreq.length == 1 ? "(" +
                                                        featSet.feat.skillreq[0].skill + ") " :
                                                        ""}}{{featSet.feat.name}}&nbsp;
                                                    </span>
                                                    <cite *ngIf="featSet.feat.levelreq">Level
                                                        {{featSet.feat.levelreq}}</cite>
                                                    <cite class="trait" *ngIf="featSet.feat.traits.includes('Rare')"
                                                        [ngbPopover]="get_Traits('Rare')[0]?.desc"
                                                        openDelay=100>Rare</cite>
                                                    <cite class="trait" *ngIf="featSet.feat.traits.includes('Uncommon')"
                                                        [ngbPopover]="get_Traits('Uncommon')[0]?.desc"
                                                        openDelay=100>Uncommon</cite>
                                                    <cite class="trait"
                                                        *ngIf="featSet.feat.traits.includes('Dedication')"
                                                        [ngbPopover]="get_Traits('Dedication')[0]?.desc"
                                                        openDelay=100>Dedication</cite>
                                                </header>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
<ng-container *ngIf="set_UncollapseSubFeat(this.get_ShowSubFeat())"></ng-container>