<!-- Changing Weapon Material -->
@if (itemRoles.asArmor) {
    <app-item-material-armor
        [item]="itemRoles.asArmor"
        [craftingStation]="craftingStation"
        [customItemStore]="customItemStore"
    />
}

@if (itemRoles.asShield) {
    <app-item-material-shield
        [item]="itemRoles.asShield"
        [craftingStation]="craftingStation"
        [customItemStore]="customItemStore"
    />
}

@if (itemRoles.asWeapon) {
    <app-item-material-weapon
        [item]="itemRoles.asWeapon"
        [craftingStation]="craftingStation"
        [customItemStore]="customItemStore"
    />
}
