<cite class="trait" [ngClass]="{'trait-rare': trait.name == 'Rare', 'trait-uncommon': trait.name == 'Uncommon'}">
    <ng-template #TraitContent>
        <app-description [text]="split" *ngFor="let split of trait.desc.split('\n\n'); trackBy:trackByIndex;">
        </app-description>
        <ng-container *ngIf="trait.objectEffects && trait.objectEffects.length && object">
            <app-description [text]="split" *ngFor="let split of trait.effectDesc.split('\n\n'); trackBy:trackByIndex;">
            </app-description>
        </ng-container>
    </ng-template>
    <span [ngbPopover]="TraitContent" triggers="hover">
        {{name || trait.name}}
    </span>
    <ng-container *ngIf="trait.objectEffects && trait.objectEffects.length && object">
        <ng-container *ngFor="let activation of get_ObjectTraitActivations(); trackBy:trackByIndex;">
            <input type="checkbox" [(ngModel)]="activation.active" (ngModelChange)="on_ActivateEffect()"
                [ngbTooltip]="'Activate any effects of this trait.'" triggers="hover">
            <input type="checkbox" [(ngModel)]="activation.active2" (ngModelChange)="on_ActivateEffect()"
                *ngIf="trait.extraActivations > 0" [ngbTooltip]="'Activate the second level of this trait\'s effects.'"
                triggers="hover">
            <input type="checkbox" [(ngModel)]="activation.active3" (ngModelChange)="on_ActivateEffect()"
                *ngIf="trait.extraActivations > 1" [ngbTooltip]="'Activate the third level of this trait\'s effects.'"
                triggers="hover">
            <input type="checkbox" [(ngModel)]="activation.active4" (ngModelChange)="on_ActivateEffect()"
                *ngIf="trait.extraActivations > 2" [ngbTooltip]="'Activate the fourth level of this trait\'s effects.'"
                triggers="hover">
            <input type="checkbox" [(ngModel)]="activation.active5" (ngModelChange)="on_ActivateEffect()"
                *ngIf="trait.extraActivations > 3" [ngbTooltip]="'Activate the fifth level of this trait\'s effects.'"
                triggers="hover">
        </ng-container>
    </ng-container>
</cite>