<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
@if (feat$ | async; as feat) {
    <div class="newrow left-aligned">
        @for (trait of feat.traits; track $index) {
            <app-trait
                [name]="trait"
                [trait]="traitFromName(trait)"
            />
        }
    </div>

    <div class="newrow left-aligned">
        @if (feat.sourceBook) {
            <div class="newrow left-aligned">
                <strong>Source</strong>

                <i>{{ feat.sourceBook }}</i>
            </div>
        }

        @if (feat.access) {
            <div class="newrow left-aligned">
                <strong>Access</strong>
                {{ feat.access }}
            </div>
        }

        @if (featRequirements$ | async; as reqs) {
            @if (reqs.length) {
                <p>
                    <strong>Requirements&nbsp;</strong>

                    @for (req of reqs; track $index) {
                        <span
                            [ngClass]="{
                                problem:
                                    !(req.ignored || req.skipped) && !req.met,
                                disabled: req.ignored || req.skipped,
                            }"
                            [ngbPopover]="
                                req.ignored
                                    ? 'This requirement is ignored.'
                                    : req.skipped
                                      ? 'This requirement was not evaluated.'
                                      : ''
                            "
                        >
                            {{ req.ignored ? "(" : "" }}{{ req.desc
                            }}{{ req.ignored ? ")" : "" }}
                        </span>
                    }
                </p>
            }
        }

        @for (desc of feat.desc.split("\n\n"); track $index) {
            <app-description
                class="newrow"
                [text]="desc"
            />
        }

        @if (feat.specialdesc) {
            <p>
                <strong>Special</strong>
                {{ feat.specialdesc }}
            </p>
        }

        @if (feat.PFSnote) {
            <p>
                <strong>PFS note</strong>
                {{ feat.PFSnote }}
            </p>
        }

        @if (feat.usageNote) {
            <p>
                <strong>Usage note&nbsp;</strong>

                <span class="problem">{{ feat.usageNote }}</span>
            </p>
        }
    </div>

    @for (name of feat.gainActivities; track $index) {
        @if (activityFromName(name); as activity) {
            <div class="newrow left-aligned">
                <header class="spellHeader left-aligned">
                    {{ activity.name }}
                    @if (activity.actions) {
                        <app-action-icons [actionString]="activity.actions" />
                    }
                    {{ activity.activationType ? activity.activationType : "" }}
                </header>

                <div class="newrow left-aligned">
                    @for (trait of activity.traits; track $index) {
                        <app-trait
                            [name]="trait"
                            [trait]="traitFromName(trait)"
                        />
                    }
                </div>

                <app-activity-content
                    class="fullwidth vlist lower"
                    [activity]="activity"
                    [allowActivate]="false"
                    [cooldown]="activity.cooldown"
                />
            </div>
        }
    }

    @for (spellChoice of feat.gainSpellChoice; track $index) {
        @for (spellGain of spellChoice.spells; track $index) {
            @if (spellFromName(spellGain.name); as spell) {
                <header class="spellHeader left-aligned">
                    {{ spell.name }}
                    @if (spell.actions) {
                        <app-action-icons [actionString]="spell.actions" />
                    }
                    {{ spell.castType ? spell.castType : "" }}
                </header>

                <div class="newrow left-aligned">
                    @for (trait of spell.traits; track $index) {
                        <app-trait
                            [name]="trait"
                            [trait]="traitFromName(trait)"
                        />
                    }
                </div>

                <app-spell-content
                    class="vlist fullwidth"
                    [spell]="spell"
                    [spellLevel]="spellLevelFromSpell(spell, spellChoice)"
                />
            }
        }
    }

    @for (spellName of feat.gainSpellListSpells; track $index) {
        @if (spellFromName(spellName); as spell) {
            <header class="spellHeader left-aligned">
                {{ spell.name }}
                @if (spell.actions) {
                    <app-action-icons [actionString]="spell.actions" />
                }
                {{ spell.castType ? spell.castType : "" }}
            </header>

            <div class="newrow left-aligned">
                @for (trait of spell.traits; track $index) {
                    <app-trait
                        [name]="trait"
                        [trait]="traitFromName(trait)"
                    />
                }
            </div>

            <app-spell-content
                class="vlist fullwidth"
                [spell]="spell"
                [spellLevel]="spellLevelFromSpell(spell)"
            />
        }
    }
}
