<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
@if (componentParameters$() | async; as parameters) {
    @if (parameters.bloodMagicTrigger && asSpellGain(); as spellGain) {
        <div class="newrow list-item">
            <strong class="gap-text">
                <input
                    id="ignoreBloodMagicTrigger"
                    type="checkbox"
                    [(ngModel)]="spellGain.ignoreBloodMagicTrigger"
                />
                <label for="ignoreBloodMagicTrigger">
                    {{
                        "Don't trigger " +
                            parameters.bloodMagicTrigger +
                            " with this spell"
                    }}
                </label>
            </strong>
        </div>
    }

    <ng-template
        #buttonText
        let-target="target"
        let-canActivate="canActivate"
        let-expend="expend"
    >
        <span>
            {{ expend ? "Expend" : phrase }}{{ target }}
            @if (showActions) {
                <span>
                    @if ((spell || activity).actions) {
                        <app-action-icons
                            [actionString]="(spell || activity).actions"
                        />
                    }
                    {{
                        spell.castType || activity.activationType
                            ? spell.castType || activity.activationType
                            : ""
                    }}
                </span>
            }

            @if (!canActivate) {
                <i class="bi-peace"></i>
            }

            @if (parameters.shouldBloodMagicApply) {
                <i class="ra ra-droplet-splash"></i>
            }
        </span>
    </ng-template>

    @if ((isManualMode$ | async) === false) {
        <!-- Button to activate on yourself. -->
        @if (canTargetSelf()) {
            <div
                class="newrow"
                [ngbTooltip]="cannotCast"
            >
                <button
                    type="button"
                    aria-label="Activate on yourself"
                    class="center-aligned"
                    [disabled]="cannotCast"
                    [ngbTooltip]="parameters.bloodMagicWarningWithTarget"
                    (click)="onCast('self', true)"
                >
                    <ng-container
                        *ngTemplateOutlet="
                            buttonText;
                            context: {
                                target:
                                    parameters.target !== 'self'
                                        ? ' on yourself'
                                        : '',
                                canActivate: parameters.canActivate,
                            }
                        "
                    />
                </button>

                <!-- Button to expend if casting on yourself is possible -->
                <!-- //To-do: Do there need to be two expend buttons? -->
                @if (
                    showExpend &&
                    !active &&
                    !["ally", "area", "minion", "object", "other"].includes(
                        parameters.target
                    )
                ) {
                    <button
                        type="button"
                        aria-label="Expend"
                        class="center-aligned"
                        [disabled]="cannotExpend"
                        [ngbTooltip]="
                            (spell ? 'Cast' : 'Activate') + ' with no effect.'
                        "
                        (click)="onCast('', true, { expend: true })"
                    >
                        <ng-container
                            *ngTemplateOutlet="
                                buttonText;
                                context: {
                                    target: '',
                                    canActivate: false,
                                    expend: true,
                                }
                            "
                        />
                    </button>
                }
            </div>
        }

        <!-- Button to activate on the Character. -->
        @if (canTargetCharacter()) {
            <div
                class="newrow"
                [ngbTooltip]="cannotCast"
            >
                <button
                    type="button"
                    aria-label="Activate on the character"
                    class="center-aligned"
                    [disabled]="cannotCast"
                    [ngbTooltip]="parameters.bloodMagicWarningWithTarget"
                    (click)="onCast(character.type, true)"
                >
                    <ng-container
                        *ngTemplateOutlet="
                            buttonText;
                            context: {
                                target:
                                    ' on ' + (character.name || 'your master'),
                                canActivate: parameters.canActivate,
                            }
                        "
                    />
                </button>
            </div>
        }

        <!-- Button to activate on the Companion. -->
        @if (canTargetCompanion$() | async; as companion) {
            <div
                class="newrow"
                [ngbTooltip]="cannotCast"
            >
                <button
                    type="button"
                    aria-label="Activate on the animal companion"
                    class="center-aligned"
                    [disabled]="cannotCast"
                    [ngbTooltip]="parameters.bloodMagicWarningWithTarget"
                    (click)="onCast(companion.type, true)"
                >
                    <ng-container
                        *ngTemplateOutlet="
                            buttonText;
                            context: {
                                target:
                                    ' on ' +
                                    (companion.name || 'your animal companion'),
                                canActivate: parameters.canActivate,
                            }
                        "
                    />
                </button>
            </div>
        }

        <!-- Button to activate on the Familiar. -->
        @if (canTargetFamiliar$() | async; as familiar) {
            <div
                class="newrow"
                [ngbTooltip]="cannotCast"
            >
                <button
                    type="button"
                    aria-label="Activate on the familiar"
                    class="center-aligned"
                    [disabled]="cannotCast"
                    [ngbTooltip]="parameters.bloodMagicWarningWithTarget"
                    (click)="onCast(familiar.type, true)"
                >
                    <ng-container
                        *ngTemplateOutlet="
                            buttonText;
                            context: {
                                target:
                                    ' on ' + (familiar.name || 'your familiar'),
                                canActivate: parameters.canActivate,
                            }
                        "
                    />
                </button>
            </div>
        }

        <!-- Button to activate on selected allies. -->
        @if (canTargetAlly(parameters.allowedTargetNumber)) {
            @if (spellTargets$ | async; as targets) {
                <ng-template
                    #SpellTargetModal
                    let-modal
                >
                    <div class="modal-header">
                        <header
                            class="sectionHeader modal-title"
                            id="modal-title"
                        >
                            {{ (spell || activity).name }}
                            targets
                        </header>

                        <button
                            type="button"
                            class="close"
                            aria-label="close"
                            ngbAutofocus
                            (click)="modal.dismiss('Cross click')"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body vlist">
                        @if (parameters.allowedTargetNumber === 1) {
                            <p>
                                Select a target for this
                                {{ spell ? "spell" : "activity" }}.
                            </p>
                        }

                        @if (parameters.allowedTargetNumber > 1) {
                            <p>
                                Select up to
                                {{ parameters.allowedTargetNumber }} targets for
                                this {{ spell ? "spell" : "activity" }}.
                            </p>
                        }

                        @if (parameters.allowedTargetNumber === -1) {
                            <p>
                                Select any number of targets for this
                                {{ spell ? "spell" : "activity" }}.
                            </p>
                        }

                        @if (
                            parameters.allowedTargetNumber === -1 ||
                            parameters.allowedTargetNumber >= targets.length
                        ) {
                            <div class="gridicon-fullsizebox">
                                <input
                                    id="spelltargetSelectAll"
                                    class="character-choice"
                                    type="checkbox"
                                    [checked]="
                                        areAllTargetsSelected(
                                            parameters.allowedTargetNumber
                                        )
                                    "
                                    (change)="onSelectAllTargets($event)"
                                />
                                <label
                                    for="spelltargetSelectAll"
                                    style="font-size: 1.5em"
                                >
                                    <strong>Select all</strong>
                                </label>
                            </div>
                        }

                        <div
                            class="fullsize-scroll-box vlist"
                            style="max-height: 50vh"
                        >
                            @for (target of targets; track $index) {
                                <div class="list-item gridicon-fullsizebox">
                                    @if (
                                        !target.isPlayer ||
                                        !(spell || activity).cannotTargetCaster
                                    ) {
                                        <input
                                            class="character-choice"
                                            type="checkbox"
                                            id="spelltarget{{ target.name }}"
                                            [disabled]="
                                                (target.isPlayer &&
                                                    (spell || activity)
                                                        .cannotTargetCaster) ||
                                                (areAllTargetsSelected(
                                                    parameters.allowedTargetNumber
                                                ) &&
                                                    !target.selected)
                                            "
                                            [(ngModel)]="target.selected"
                                        />
                                    }
                                    @if (
                                        target.isPlayer &&
                                        (spell || activity).cannotTargetCaster
                                    ) {
                                        <input
                                            aria-label="Toggle this spell target"
                                            class="character-choice"
                                            type="checkbox"
                                            disabled
                                            checked
                                            id="spelltarget{{
                                                target.name
                                            }}AlreadySelected"
                                        />
                                    }
                                    <label
                                        style="font-size: 1.5em"
                                        for="spelltarget{{ target.name }}"
                                    >
                                        @if (target.type === "Character") {
                                            <i
                                                class="ra ra-player"
                                                style="line-height: 1.5"
                                            ></i>
                                        }

                                        @if (target.type === "Companion") {
                                            <i
                                                class="ra ra-wolf-howl"
                                                style="
                                                    line-height: 1.5;
                                                    margin-left: 1em;
                                                "
                                            ></i>
                                        }

                                        @if (target.type === "Familiar") {
                                            <i
                                                class="ra ra-raven"
                                                style="
                                                    line-height: 1.5;
                                                    margin-left: 1em;
                                                "
                                            ></i>
                                        }

                                        <strong>{{ target.name }}</strong>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-outline-secondary"
                            (click)="modal.dismiss('Cancel click')"
                        >
                            Cancel
                        </button>

                        <button
                            type="button"
                            class="btn btn-primary"
                            style="background-color: rgb(var(--accent))"
                            (click)="modal.close('Cast click')"
                        >
                            {{ spell ? "Cast spell" : "Apply activity" }} on
                            these targets
                        </button>
                    </div>
                </ng-template>

                <div
                    class="newrow"
                    [ngbTooltip]="cannotCast"
                >
                    <button
                        type="button"
                        aria-label="Open spell target selection"
                        class="center-aligned"
                        [disabled]="cannotCast"
                        [ngbTooltip]="parameters.bloodMagicWarningWithTarget"
                        (click)="onOpenSpellTargetModal(SpellTargetModal)"
                    >
                        <ng-container
                            *ngTemplateOutlet="
                                buttonText;
                                context: {
                                    target: ' on...',
                                    canActivate: parameters.canActivate,
                                }
                            "
                        />
                    </button>
                </div>
            }
        }

        <!-- Button to activate without target. -->
        @if (
            !active &&
            ["ally", "area", "minion", "object", "other"].includes(
                parameters.target
            )
        ) {
            <div
                class="newrow"
                [ngbTooltip]="cannotCast || cannotExpend"
            >
                <button
                    type="button"
                    aria-label="Activate without a target"
                    class="center-aligned"
                    [disabled]="cannotCast"
                    [ngbTooltip]="parameters.bloodMagicWarningWithoutTarget"
                    (click)="onCast('', true)"
                >
                    <ng-container
                        *ngTemplateOutlet="
                            buttonText;
                            context: {
                                target: '',
                                canActivate:
                                    parameters.canActivateWithoutTarget,
                            }
                        "
                    />
                </button>

                <!-- Button to expend if casting on yourself is not possible -->
                @if (showExpend) {
                    <button
                        type="button"
                        aria-label="Expend"
                        class="center-aligned"
                        [disabled]="cannotExpend"
                        [ngbTooltip]="
                            (spell ? 'Cast' : 'Activate') + ' with no effect.'
                        "
                        (click)="onCast('', true, { expend: true })"
                    >
                        <ng-container
                            *ngTemplateOutlet="
                                buttonText;
                                context: {
                                    target: '',
                                    canActivate: false,
                                    expend: true,
                                }
                            "
                        />
                    </button>
                }
            </div>
        }
    }

    <!-- Manual mode: Just cast/activate without target. -->
    @if (isManualMode$ | async) {
        @if (!active) {
            <div
                class="newrow"
                [ngbTooltip]="cannotCast"
            >
                <button
                    type="button"
                    aria-label="Activate"
                    class="newrow center-aligned"
                    [disabled]="cannotCast"
                    [ngbTooltip]="parameters.bloodMagicWarningManualMode"
                    (click)="onCast('', true)"
                >
                    <ng-container
                        *ngTemplateOutlet="
                            buttonText;
                            context: { target: '', canActivate: true }
                        "
                    />
                </button>
            </div>
        }
    }

    <!-- Deactivate button -->
    @if (active && showDismiss) {
        <div class="newrow">
            <button
                type="button"
                aria-label="Deactivate"
                class="newrow center-aligned"
                (click)="onCast(gain.selectedTarget, false)"
            >
                <span [innerHtml]="deactivatePhrase()"></span>
            </button>
        </div>
    }
}
