@if ({ desc: turnPassingBlocked$ | async }; as turnPassingBlocked) {
    <div class="time-control">
        @if ({ state: yourTurn$ | async }; as yourTurn) {
            <div
                tabindex="0"
                class="time-control__turn-button time-control__turn-button--start"
                [ngClass]="{
                    disabled: yourTurn.state === 5 || turnPassingBlocked.desc,
                }"
                [ngbTooltip]="turnPassingBlocked.desc ?? 'Start your turn'"
                [disableTooltip]="yourTurn.state === 5"
                (click)="
                    yourTurn.state === 5 || turnPassingBlocked.desc
                        ? null
                        : startTurn()
                "
                (keydown.space)="
                    yourTurn.state === 5 || turnPassingBlocked.desc
                        ? null
                        : startTurn()
                "
            >
                <i class="bi-play-fill icon icon--turn-control"></i>
            </div>
        }

        <app-circular-menu
            class="time-control__pass-button"
            label="Pass time"
            circle
            compact
            [radius]="6"
            [options]="(timePassingOptions$ | async) ?? undefined"
            [ngbTooltip]="turnPassingBlocked.desc ?? 'Pass time'"
            [disabled]="turnPassingBlocked.desc ?? undefined"
        >
            <i class="bi-clock icon icon--pass-time"></i>
        </app-circular-menu>

        @if ({ state: yourTurn$ | async }; as yourTurn) {
            <div
                tabindex="0"
                class="time-control__turn-button time-control__turn-button--end"
                [ngClass]="{
                    disabled: yourTurn.state === 0 || turnPassingBlocked.desc,
                }"
                [ngbTooltip]="turnPassingBlocked.desc ?? 'End your turn'"
                [disableTooltip]="yourTurn.state === 0"
                (click)="
                    yourTurn.state === 0 || turnPassingBlocked.desc
                        ? null
                        : endTurn()
                "
                (keydown.space)="
                    yourTurn.state === 0 || turnPassingBlocked.desc
                        ? null
                        : endTurn()
                "
            >
                <i class="bi-stop-fill icon icon--turn-control"></i>
            </div>
        }
    </div>
}

@if ((yourTurn$ | async) === 0) {
    <div class="turn-indicator">Not your turn</div>
} @else {
    <div class="turn-indicator turn-indicator--active">Your turn</div>
}
