<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<ng-template
    #ItemTargetModal
    let-modal
>
    <div class="modal-header">
        <header
            class="sectionHeader modal-title"
            id="modal-title"
        >
            Move item
        </header>

        <button
            type="button"
            class="close"
            aria-label="close"
            ngbAutofocus
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body vlist">
        <div
            class="fullsize-scroll-box vlist"
            style="max-height: 50vh"
        >
            @if (isItemContainer) {
                <div class="list-item newrow left-aligned">
                    <i class="ra ra-hive-emblem"></i>
                    This item contains {{ containedItemsAmount() }} items with a
                    total bulk of {{ inventoryBulk() }}.
                </div>
            }

            @if (doesItemGrantItems) {
                <div class="list-item newrow left-aligned">
                    <i class="ra ra-hive-emblem"></i>
                    This item has additional parts with a total bulk of
                    {{ containedBulkString(item) }}.
                    <div class="newrow left-aligned">
                        <input
                            id="excludingParts"
                            type="checkbox"
                            [(ngModel)]="isExcludingParts"
                        />
                        <label for="excludingParts">
                            <strong>Move without parts (local only)</strong>
                        </label>
                    </div>
                </div>
            }

            @if (canItemSplit) {
                <div class="list-item newrow">
                    <strong>Split stack</strong>

                    <span>
                        Move
                        <span class="value">
                            <button
                                type="button"
                                [disabled]="selectedAmount <= 0"
                                (click)="onIncSplit(-1)"
                            >
                                -
                            </button>
                            {{ selectedAmount }}
                            <button
                                type="button"
                                [disabled]="selectedAmount >= item.amount"
                                (click)="onIncSplit(1)"
                            >
                                +
                            </button>
                        </span>
                    </span>

                    <span>
                        Keep
                        <span class="value">{{
                            item.amount - selectedAmount
                        }}</span>
                    </span>
                </div>
            }

            @for (target of itemTargets$ | async; track $index) {
                <div class="list-item newrow">
                    <span
                        class="hlist"
                        style="font-size: 1.5em"
                    >
                        @switch (targetType(target)) {
                            @case ("Inventory") {
                                <i
                                    class="ra ra-hive-emblem"
                                    style="line-height: 1.5"
                                ></i>
                            }

                            @case ("Companion") {
                                <i
                                    class="ra ra-wolf-howl"
                                    style="line-height: 1.5"
                                ></i>
                            }

                            @case ("Familiar") {
                                <i
                                    class="ra ra-raven"
                                    style="line-height: 1.5"
                                ></i>
                            }

                            @default {
                                <i
                                    class="ra ra-player"
                                    style="line-height: 1.5"
                                ></i>
                            }
                        }

                        <strong>{{ targetName$(target) | async }}</strong>

                        <span>{{ containerBulk(target) }}</span>
                    </span>

                    @for (cannotMove of [cannotMove(target)]; track $index) {
                        <span
                            style="flex-grow: 0"
                            [ngbTooltip]="cannotMove"
                        >
                            @if (!isSameInventoryAsTarget(target)) {
                                <button
                                    type="button"
                                    class="btn btn-primary"
                                    style="background-color: rgb(var(--accent))"
                                    [disabled]="
                                        cannotMove ||
                                        (item.amount && !selectedAmount)
                                    "
                                    (click)="
                                        onSetTarget(target);
                                        modal.close('Move click')
                                    "
                                >
                                    @switch (targetType(target)) {
                                        @case ("Inventory") {
                                            <span>Move</span>
                                        }

                                        @case ("Player") {
                                            <span>Offer</span>
                                        }

                                        @default {
                                            <span>Give</span>
                                        }
                                    }
                                </button>
                            } @else {
                                <button
                                    type="button"
                                    class="btn inactive-button"
                                    disabled
                                >
                                    Current
                                </button>
                            }
                        </span>
                    }
                </div>
            }
        </div>
    </div>

    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="modal.dismiss('Cancel click')"
        >
            Cancel
        </button>
    </div>
</ng-template>

<button
    type="button"
    class="center-aligned"
    (click)="openItemTargetModal(ItemTargetModal)"
>
    Move...
</button>
