<h3>Spells</h3>
<div class="loading" *ngIf="still_loading()">Loading</div>
<div *ngIf="!still_loading()">
    <button class="list-item" (click)="toggleSpellsMenu()">Get Spells</button>
    <h3>Focus Spells</h3>
    <div class="list-item" [className]="(get_FocusPoints() > get_MaxFocusPoints()) ? 'problem' : ''">
        <strong>Focus Points</strong>
        <input type="number" class="number" [ngModel]="get_FocusPoints()" disabled>
        <strong>Focus Pool</strong>
        <input type="number" class="number" [ngModel]="get_MaxFocusPoints()" disabled>
        <button class="button row" (click)="refocus()" [disabled]="get_FocusPoints() >= get_MaxFocusPoints()">
            Refocus
        </button>
    </div>
    <div *ngFor="let spellGain of get_FocusSpells()">
        <div class="list-item" *ngFor="let spell of get_Spells(spellGain.name)">
            <button class="row button" (click)="toggle_Spell('Focus'+spell.name)">
                <span>{{spell.name}}</span>
                <span>{{spell.get_Action()}}{{spell.cast}}</span>
            </button>
            <div class="list-item sublist lower" *ngIf="this.get_showSpell()=='Focus'+spell.name">
                <div class="row left-aligned" *ngIf="spell.traits.length">
                    <cite *ngFor="let trait of spell.traits" title="{{get_Traits(trait)[0].description}}">&nbsp;{{trait}}</cite>
                </div>
                <div class="row">
                    <button class="row button" (click)="on_Cast(spellGain, spell)" *ngIf="spell.can_Cast(characterService, spellGain)">
                        Cast
                    </button>
                    <p *ngIf="get_SpellDescription(spell).length">
                        <span [className]="(desc.type == 'variable') ? 'variable' : ''" *ngFor="let desc of get_SpellDescription(spell)">{{desc.value}}</span>
                    </p>
                    <p *ngIf="spell.heightenedLevel">
                        <strong>Heightened {{spell.heightenedLevel}}</strong>
                        {{spell.heightened}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>