<button class="minimizebutton lower" [ngStyle]="{'background-color':get_Accent()}" (click)="minimize()">&#8691;</button>
<div id="spellbook-height" class="attributeBox">
    <h3 [ngStyle]="{'color':get_Accent()}">Spells</h3>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <button class="fullsize-only list-item" [ngStyle]="{'background-color':get_Accent()}" (click)="toggleSpellsMenu()">Get
            Spells</button>
        <h5>Focus Spells</h5>
        <div class="list-item" [className]="(get_FocusPoints() > get_MaxFocusPoints()) ? 'problem' : ''">
            <strong>Focus Points</strong>
            <input type="number" class="number2" [ngModel]="get_FocusPoints()" disabled>
            <strong>Focus Pool</strong>
            <input type="number" class="number2" [ngModel]="get_MaxFocusPoints()" disabled>
            <button class="button row" [ngStyle]="{'background-color':get_Accent()}" (click)="refocus()"
                [disabled]="get_FocusPoints() >= get_MaxFocusPoints()">
                Refocus
            </button>
        </div>
        <div *ngFor="let spellGain of get_FocusSpells()">
            <div *ngFor="let spell of get_Spells(spellGain.name)">
                <div class="list-item" *ngFor="let spellID of [get_ID()]">
                    <button class="row button" (mouseover)="hover = spellID" (mouseout)="hover = 0"
                        [ngStyle]="{'background-color':get_Accent()}" (click)="toggle_Spell(spellID)">
                        <span>{{spell.name}}</span>
                        <span>{{spell.get_Actions()}} {{spell.castType}}</span>
                    </button>
                    <div class="list-item sublist lower" [ngStyle]="{'border-color':get_Accent(spellID)}"
                        *ngIf="this.get_showSpell()==spellID">
                        <button class="row button" [ngStyle]="{'background-color':get_Accent()}"
                            (click)="on_Cast(spellGain, spell)" *ngIf="spell.can_Cast(characterService, spellGain)">
                            Cast
                        </button>
                        <app-spell [spell]=spell></app-spell>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div *ngIf="set_Span()"></div>