<div id="items" class="itemBox">
    <button class="list-item center-aligned" (click)="toggleCraftingMenu()">
        <h3>Close</h3>
    </button>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="get_CraftingMenuState()=='in'">
        <div class="list-item">
            <strong>Find (in Name, Description or Traits)</strong>
            <span>
                <input type=text [(ngModel)]="wordFilter" (ngModelChange)=check_Filter() />
                <button (click)="set_Filter()" [disabled]="wordFilter.length < 5">Show All</button>
                <button (click)="wordFilter='';check_Filter()">Clear</button>
            </span>
        </div>
        <div class="list-item">
            <strong>Sort by</strong>
            <select [(ngModel)]="sorting">
                <option *ngFor="let sort of ['Name','Level']" [ngValue]="sort.toLowerCase()">
                    {{sort}}
                </option>
            </select>
        </div>
        <div class="itemBox-inner">
            <h5>Currency</h5>
            <div class="list-item">
                <div class="newrow">
                    <strong>Platinum</strong>
                    <input class="number6" type="number" value="{{get_Character().cash[0]}}" disabled>
                    <strong>Gold</strong>
                    <input class="number6" type="number" value="{{get_Character().cash[1]}}" disabled>
                    <strong>Silver</strong>
                    <input class="number6" type="number" value="{{get_Character().cash[2]}}" disabled>
                    <strong>Copper</strong>
                    <input class="number6" style="text-align: center;" type="number" value="{{get_Character().cash[3]}}" disabled>
                </div>
            </div>
            <h5>Currency</h5>
            <div class="list-item">
                <div class="newrow">
                    <strong>Platinum</strong>
                    <input class="number4" type="number" [(ngModel)]="cashP" (keypress)="numbersOnly($event)">
                    <strong>Gold</strong>
                    <input class="number4" type="number" [(ngModel)]="cashG" (keypress)="numbersOnly($event)">
                    <strong>Silver</strong>
                    <input class="number4" type="number" [(ngModel)]="cashS" (keypress)="numbersOnly($event)">
                    <strong>Copper</strong>
                    <input class="number4" style="text-align: center;" type="number" [(ngModel)]="cashC" (keypress)="numbersOnly($event)">
                </div>
                <div class="newrow">
                    <span>
                        <button (click)="change_Cash(1, 0, true)"
                            [disabled]="cashP < 0 || cashG < 0 || cashS < 0 || cashC < 0">Gain</button>
                    </span>
                    <span>
                        <button (click)="change_Cash(-1, 0, true)"
                            [disabled]="cashP < 0 || cashG < 0 || cashS < 0 || cashC < 0"
                            [disabled]="!have_Funds()">Spend</button>
                    </span>
                </div>
            </div>
            <ng-container *ngFor="let items of [get_Items()]; trackBy:trackByIndex;">
                <ng-container *ngIf="have_Feat('Snare Specialist')">
                    <ng-container *ngFor="let preparations of [get_SnareSpecialistPreparations()]">
                        <h3>Snare Specialist</h3>
                        <div class="list-item">
                            You can prepare {{preparations.available - preparations.prepared}} of {{preparations.available}} snares for quick deployment.
                        </div>
                        <ng-container *ngFor="let listID of ['snarespecialist']; trackBy:trackByIndex;">
                            <button class="list-item" [ngStyle]="{'display':!get_VisibleItems(items.snares).length ? 'none' : 'flex' }" (click)="toggle_List(listID)">
                                <h3>Snares</h3>
                            </button>
                            <div class="list-item" [ngStyle]="{'display':!get_VisibleItems(items.snares).length ? 'none' : 'flex' }" *ngIf="get_ShowList()==listID||get_ShowList()=='All'">
                                <ng-container *ngFor="let item of get_VisibleItems(items.snares)|sortBy:'asc':sorting; trackBy:trackByIndex;">
                                    <ng-container *ngFor="let prepared of [get_PreparedForQuickCrafting(item)]">
                                        <div class="list-item" *ngFor="let inventoryID of [listID+item.id]; trackBy:trackByIndex;">
                                            <button class="newrow sublist-toggle" [ngClass]="{'fancy-button':prepared}" (click)="toggle_Item(inventoryID)">
                                                <span>{{get_PreparedForQuickCrafting(item)}}
                                                    {{(item.get_Name) ? item.get_Name() : item.name}}</span>
                                                <span>{{(item.level) ? "Level "+item.level :
                                                    "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"}}</span>
                                            </button>
                                            <div class="list-item sublist lower" [ngClass]="{'fancy-list':prepared}" *ngIf=" get_ShowItem()==inventoryID">
                                                <span>
                                                    <button class="center-aligned"
                                                        (click)="on_PrepareForQuickCrafting(item, -1)"
                                                        [disabled]="!prepared">
                                                        -
                                                    </button>
                                                    <button class="center-aligned"
                                                        (click)="on_PrepareForQuickCrafting(item, 1)"
                                                        [disabled]="preparations.available <= preparations.prepared">
                                                        +
                                                    </button>
                                                    Prepare for quick deployment
                                                </span>
                                                <app-item [item]=item [itemStore]=true></app-item>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <h3>Craft Items</h3>
                <app-tags [creature]="creature" [objectName]="'Crafting'" [showTraits]=true [showFeats]=true [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
                <div class="list-item">
                    The material cost of Crafting an item can vary depending on your success using the Craft activity. If you Craft an item in any way that requires you to spend materials, manually spend the appropriate amount of currency and any required items.
                </div>
                <ng-container *ngFor="let itemSet of items.names; let index = index; trackBy:trackByIndex;">
                    <ng-container *ngFor="let listID of [(index*1000+1000)]; trackBy:trackByIndex;">
                        <button class="list-item" [ngStyle]="{'display':!get_VisibleItems(items[itemSet.key]).length ? 'none' : 'flex' }" (click)="toggle_List(listID)">
                            <h3>{{itemSet.name}}</h3>
                        </button>
                        <div class="list-item" [ngStyle]="{'display':!get_VisibleItems(items[itemSet.key]).length ? 'none' : 'flex' }" *ngIf="get_ShowList()==listID||get_ShowList()=='All'">
                            <ng-container *ngFor="let item of get_VisibleItems(items[itemSet.key])|sortBy:'asc':sorting; trackBy:trackByIndex;">
                                <div class="list-item" *ngFor="let inventoryID of [listID+item.id]; trackBy:trackByIndex;">
                                    <button class="newrow sublist-toggle" (click)="toggle_Item(inventoryID)">
                                        <span>{{(item.get_Name) ? item.get_Name() : item.name}}</span>
                                        <span *ngIf="item.type == 'armors'">{{(["Light Barding","Heavy
                                            Barding"].includes(item.prof)) ? item.prof : item.prof.split(" ")[0]}}
                                            {{item.group}}
                                            {{(item.type=="armors" && (!["Unarmored Defense","Light Barding","Heavy
                                            Barding"].includes(item.prof))) ? "Armor" : ""}}</span>
                                        <span *ngIf="item.type == 'weapons'">{{(item.prof == 'Unarmed') ? item.prof :
                                            item.prof.substr(0, item.prof.length - 8)}}
                                            {{item.group}}</span>
                                        <span>{{(item.level) ? "Level "+item.level :
                                            "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"}}</span>
                                    </button>
                                    <div class="list-item sublist lower" *ngIf="get_ShowItem()==inventoryID">
                                        <ng-container>
                                            <button class="newrow center-aligned" (click)="grant_Item(item)" title="{{cannot_Craft(item).join('\n')}}" [disabled]="cannot_Craft(item).length">
                                                Craft using Craft activity
                                            </button>
                                        </ng-container>
                                        <app-itemMaterial class="newrow" [item]=item [craftingStation]="true">
                                        </app-itemMaterial>
                                        <div class="newrow" *ngIf="item.baseType=='Equipment'">
                                            <span>
                                                <input id="{{item.id}}shoddy" type="checkbox"
                                                    title="When available, a shoddy item usually costs half the Price of a standard item, though you can never sell one in any case. Attacks and checks involving a shoddy item take a –2 item penalty. This penalty also applies to any DCs that a shoddy item applies to (such as AC, for shoddy armor). A shoddy suit of armor also worsens the armor's check penalty by 2. A shoddy item's Hit Points and Broken Threshold are each half that of a normal item of its type."
                                                    [(ngModel)]="item.shoddy">
                                                <label for="{{item.id}}shoddy"
                                                    title="When available, a shoddy item usually costs half the Price of a standard item, though you can never sell one in any case. Attacks and checks involving a shoddy item take a –2 item penalty. This penalty also applies to any DCs that a shoddy item applies to (such as AC, for shoddy armor). A shoddy suit of armor also worsens the armor's check penalty by 2. A shoddy item's Hit Points and Broken Threshold are each half that of a normal item of its type.">Shoddy</label>
                                            </span>
                                        </div>
                                        <app-item [item]=item [itemStore]=true></app-item>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>