<ng-container>
    <div class="row" *ngIf="allowActivate">
        <ng-container
            *ngIf="gain.name != 'Fused Stance' && activity.can_Activate() && !gain.activeCooldown">
            <button class="row center-aligned" (click)="on_Activate(gain, activity, true, creature)"
                *ngIf="!gain.active && ['self', 'ally'].includes(get_SpellTarget())">
                Activate (Cast spell on yourself)
            </button>
            <button class="row center-aligned" (click)="on_Activate(gain, activity, true, (creature=='Character' ? 'Companion' : 'Character'))"
                *ngIf="!gain.active && ['companion', 'ally'].includes(get_SpellTarget()) && get_CompanionAvailable()">
                Activate (Cast spell on {{creature == "Character" ? "your animal companion" : "your master"}})
            </button>
            <button class="row center-aligned" (click)="on_Activate(gain, activity, true, 'Familiar')"
                *ngIf="!gain.active && ['companion', 'ally'].includes(get_SpellTarget()) && get_FamiliarAvailable()">
                Activate (Cast spell on your familiar)
            </button>
            <button class="row center-aligned" (click)="on_Activate(gain, activity, true, '')"
                *ngIf="!gain.active && get_SpellTarget() == 'ally'">
                Activate (Cast spell on other targets)
            </button>
            <button class="row center-aligned" (click)="on_Activate(gain, activity, true, '')"
                *ngIf="!gain.active && !get_SpellTarget()">
                Activate
            </button>
            <button class="row center-aligned" (click)="on_Activate(gain, activity, false, creature)"
                *ngIf="gain.active">
                Deactivate
            </button>
        </ng-container>
        <ng-container *ngIf="gain.name == 'Fused Stance' && !gain.activeCooldown">
            <button class="row center-aligned" (click)="on_ActivateFuseStance(true)" *ngIf="!gain.active"
                [disabled]="!get_FuseStanceFeat() || !get_FuseStanceFeat().data">
                Activate
            </button>
            <button class="row center-aligned" (click)="on_ActivateFuseStance(false)" *ngIf="gain.active"
                [disabled]="!get_FuseStanceFeat() || !get_FuseStanceFeat().data">
                Deactivate
            </button>
        </ng-container>
    </div>
    <div class="row" *ngIf="get_Resonant() && !isSubItem">
        <strong>Slot this item into a Wayfinder to unlock its resonant power.</strong>
    </div>
    <div class="row" *ngIf="gain.activeCooldown && !gain.active">
        <button class="row center-aligned" disabled>
            Cannot activate for {{get_Duration(gain.activeCooldown)}}
        </button>
    </div>
    <div class="row left-aligned">
        <cite class="trait" *ngFor="let trait of activity.traits"
            title="{{get_Traits(trait)[0].description}}">{{trait}}</cite>
        <cite class="trait" *ngFor="let trait of get_ActivationTraits(activity)"
            title="{{get_Traits(trait)[0].description}}">{{trait}}</cite>
    </div>
    <div class="list-item lower row problem" *ngIf="activity.inputRequired">
        <strong>Player input required:</strong>
        <div class="row left-aligned">
            <p *ngFor="let inputRequired of activity.inputRequired.split('\n')">
                {{inputRequired}}
            </p>
        </div>
    </div>
    <div class="row left-aligned" *ngIf="activity.frequency">
        <span>
            <strong>Frequency</strong>
            {{activity.frequency}}
        </span>
    </div>
    <div class="row left-aligned" *ngIf="activity.trigger">
        <span>
            <strong>Trigger</strong>
            {{activity.trigger}}
        </span>
    </div>
    <div class="row left-aligned" *ngIf="activity.requirements">
        <span>
            <strong>Requirements</strong>
            {{activity.requirements}}
        </span>
    </div>
    <div class="row left-aligned" *ngFor="let desc of activity.desc.split('\n\n')">
        <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
        <ul *ngIf="desc.split('\n').length > 1">
            <li *ngFor="let line of desc.split('\n')">{{line}}</li>
        </ul>
    </div>
    <div class="row left-aligned" *ngIf="activity.critsuccess">
        <span>
            <strong>Critical Success</strong>
            {{activity.critsuccess}}
        </span>
    </div>
    <div class="row left-aligned" *ngIf="activity.success">
        <span>
            <strong>Success</strong>
            {{activity.success}}
        </span>
    </div>
    <div class="row left-aligned" *ngIf="activity.failure">
        <span>
            <strong>Failure</strong>
            {{activity.failure}}
        </span>
    </div>
    <div class="row left-aligned" *ngIf="activity.critfailure">
        <span>
            <strong>Critical Failure</strong>
            {{activity.critfailure}}
        </span>
    </div>
    <div class="row left-aligned" *ngFor="let cast of activity.castSpells">
        <div *ngFor="let spell of get_Spells(cast.name)">
            <h4>{{spell.name}} {{spell.get_Actions()}} {{spell.castType.toString()}}
            </h4>
            <app-spell [spell]=spell [spellLevel]="(cast.level) ? cast.level : 0"></app-spell>
        </div>
    </div>
    <div class="row left-aligned" *ngFor="let feat of get_FeatsShowingOn(activity.name)">
        <h4>{{feat.name}}</h4>
        <div class="row left-aligned">
            <cite class="trait" *ngFor="let trait of feat.traits"
                title="{{get_Traits(trait)[0].description}}">{{trait}}</cite>
        </div>
        <div class="row left-aligned" *ngFor="let desc of feat.desc.split('\n\n')">
            <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
            <ul *ngIf="desc.split('\n').length > 1">
                <li *ngFor="let line of desc.split('\n')">{{line}}</li>
            </ul>
        </div>
    </div>
    <ng-container *ngIf="allowActivate">
        <ng-container *ngFor="let related_gain of get_ActivitiesShowingOn(activity.name)">
            <div class="row left-aligned"
                *ngFor="let related_activity of (related_gain.can_Activate ? [related_gain] : get_Activities(related_gain.name))">
                <h4>{{related_activity.name}}
                    {{related_activity.get_Actions()}}{{(related_activity.activationType) ? " - " + related_activity.activationType : ""}}
                </h4>
                <app-activity [creature]="creature" [activity]=related_activity [gain]=related_gain
                    [allowActivate]=true></app-activity>
            </div>
        </ng-container>
        <ng-container *ngIf="gain.name == 'Fused Stance'">
            <ng-container *ngFor="let gain of get_FusedStances()">
                <div class="row left-aligned"
                    *ngFor="let related_activity of (gain.can_Activate ? [gain] : get_Activities(gain.name))">
                    <h4>{{related_activity.name}}
                        {{related_activity.get_Actions()}}{{(related_activity.activationType) ? " - " + related_activity.activationType : ""}}
                    </h4>
                    <app-activity [creature]="creature" [activity]=related_activity [gain]=gain [allowActivate]=true>
                    </app-activity>
                </div>
            </ng-container>
        </ng-container>
        <app-tags [creature]="creature" [objectName]="activity.name" [showTraits]=true [showFeats]=true [showItems]=true
            [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
    </ng-container>
</ng-container>