<div class="row" *ngIf="spell">
    <div class="row left-aligned" *ngIf="spell.traits.length">
        <cite class="trait" *ngFor="let trait of spell.traits; trackBy:trackByIndex;"
            title="{{get_Traits(trait)[0].description}}">{{trait}}</cite>
    </div>
    <div class="row left-aligned" *ngIf="spell.sourceBook">
        <span>
            <strong>Source</strong>
            <i>{{spell.sourceBook}}</i>
        </span>
    </div>
    <div class="row left-aligned" *ngIf="spell.PFSnote">
        <span>
            <strong>PFS Note</strong>
            <i>{{spell.PFSnote}}</i>
        </span>
    </div>
    <div class="row left-aligned" *ngIf="spell.traditions">
        <span>
            <strong>Traditions</strong>
            {{spell.traditions.join(', ')}}
        </span>
    </div>
    <div class="row left-aligned" *ngIf="spell.castType">
        <strong>Cast</strong>
        <app-actionIcons [actionString]="spell.actions"></app-actionIcons>{{spell.castType}}&nbsp;
        <span *ngIf="spell.trigger">
            <strong>Trigger</strong>
            {{spell.trigger}}
        </span>
    </div>
    <div class="row left-aligned" *ngIf="spell.range || spell.targets">
        <span *ngIf="spell.range">
            <strong>Range</strong>
            {{spell.range}}&nbsp;
        </span>
        <span *ngIf="spell.targets">
            <strong>Targets</strong>
            {{spell.targets}}
        </span>
    </div>
    <div class="row left-aligned" *ngIf="spell.area">
        <span>
            <strong>Area</strong>
            {{spell.area}}
        </span>
    </div>
    <div class="row left-aligned" *ngIf="spell.duration">
        <span>
            <strong>Duration</strong>
            {{spell.duration}}
        </span>
    </div>
    <div class="row left-aligned" *ngIf="spell.savingthrow">
        <span>
            <strong>Saving Throw</strong>
            {{spell.savingthrow}}
        </span>
    </div>
    <div class="row left-aligned" *ngFor="let desc of get_Heightened(spell.desc).split('\n\n'); trackBy:trackByIndex;">
        <p *ngIf="desc.split('\n').length == 1" [innerHTML]="desc"></p>
        <ul *ngIf="desc.split('\n').length > 1">
            <li *ngFor="let line of desc.split('\n'); trackBy:trackByIndex;" [innerHTML]="line"></li>
        </ul>
    </div>
    <div class="row left-aligned" *ngIf="spell.critsuccess">
        <span>
            <strong>Critical Success&nbsp;</strong>
            <span [innerHTML]="get_Heightened(spell.critsuccess)"></span>
        </span>
    </div>
    <div class="row left-aligned" *ngIf="spell.success">
        <span>
            <strong>Success&nbsp;</strong>
            <span [innerHTML]="get_Heightened(spell.success)"></span>
        </span>
    </div>
    <div class="row left-aligned" *ngIf="spell.failure">
        <span>
            <strong>Failure&nbsp;</strong>
            <span [innerHTML]="get_Heightened(spell.failure)"></span>
        </span>
    </div>
    <div class="row left-aligned" *ngIf="spell.critfailure">
        <span>
            <strong>Critical Failure&nbsp;</strong>
            <span [innerHTML]="get_Heightened(spell.critfailure)"></span>
        </span>
    </div>
    <div class="row left-aligned" *ngFor="let heightened of spell.heightened; trackBy:trackByIndex;">
        <span>
            <strong>Heightened {{heightened.level}}</strong>
            {{heightened.desc}}
        </span>
    </div>
    <div class="row left-aligned" *ngFor="let feat of get_FeatsShowingOn(spell.name); trackBy:trackByIndex;">
        <h4>{{feat.name}}</h4>
        <div class="row left-aligned">
            <cite class="trait" *ngFor="let trait of feat.traits; trackBy:trackByIndex;"
                title="{{get_Traits(trait)[0].description}}">{{trait}}</cite>
        </div>
        <div class="row left-aligned" *ngFor="let desc of feat.desc.split('\n\n'); trackBy:trackByIndex;">
            <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
            <ul *ngIf="desc.split('\n').length > 1">
                <li *ngFor="let line of desc.split('\n'); trackBy:trackByIndex;">{{line}}</li>
            </ul>
        </div>
    </div>
    <div class="list-item left-aligned" *ngIf="spell.showSpell">
        <div *ngFor="let shownSpell of get_Spells(spell.showSpell); trackBy:trackByIndex;">
            <h4>{{shownSpell.name}}<app-actionIcons [actionString]="shownSpell.actions">
                </app-actionIcons> {{shownSpell.castType.toString()}}</h4>
            <app-spell [spell]=shownSpell [spellLevel]="spellLevel || 0"></app-spell>
        </div>
    </div>
</div>