<div id="attacks" class="attributeBox"> 
    <h3>Attacks</h3>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <div *ngIf="!still_loading()">
        <div *ngFor="let weapon of get_EquippedWeapons()">
            <div class="list-item" *ngIf="weapon.melee">{{weapon.name}}{{weapon.ranged ? " melee" : ""}}: <input type="number" class="number" [ngModel]="get_Attack(weapon, 'melee')" disabled>
                Damage: {{get_Damage(weapon, 'melee')}} {{weapon.dmgType}}
                <div class="row" *ngIf="weapon.traits.length">
                    <cite *ngFor="let trait of weapon.traits" title="{{get_Traits(trait)[0].description}}">&nbsp;{{trait}}</cite>
                </div>
            </div>
            <div class="list-item" *ngIf="weapon.ranged">{{weapon.name}}{{weapon.melee ? " ranged" : ""}}: <input type="number" class="number" [ngModel]="get_Attack(weapon, 'ranged')" disabled>
                <div>Damage: {{get_Damage(weapon, 'ranged')}} {{weapon.dmgType}}</div>
                <div class="row" *ngIf="weapon.traits.length">
                    <cite *ngFor="let trait of weapon.traits" title="{{get_Traits(trait)[0].description}}">&nbsp;{{trait}}</cite>
                </div>
            </div>
        </div>
        <h3 *ngIf="!still_loading()">Weapon Proficiencies</h3>
        <div class="list-item" *ngFor="let skill of get_Skills('', 'weaponProf')">
            <strong>{{skill.name}}</strong>
            <app-proficiency-form [skill]="skill" [characterService]="this.characterService" [level]="this.characterService.get_Character().level"></app-proficiency-form>
            <div class="row" *ngIf="get_TraitsForThis(skill.name).length">
                <cite *ngFor="let trait of get_TraitsForThis(skill.name)" title="{{trait.description}}">{{trait.name}} ({{trait.haveOn(this.characterService, true)}})&nbsp;</cite>
            </div>
            <div class="row" *ngIf="skill.effects(this.effectsService).length">
                <cite *ngFor="let effect of skill.effects(this.effectsService)" [className]="effect.penalty ? 'penalty' : 'bonus'">{{effect.value}} ({{effect.source}})&nbsp;</cite>
            </div>
            <div class="row" *ngIf="get_FeatsShowingOn(skill.name).length">
                <cite *ngFor="let feat of get_FeatsShowingOn(skill.name)" [title]="feat.desc">{{feat.name}}&nbsp;</cite>
            </div>
            <div class="row">
                <input type="checkbox" [(ngModel)]="skill.showNotes">Notes
            </div>
            <div class="row">
                <input type="textarea" class="fullwidth" [(ngModel)]="skill.notes" *ngIf="skill.showNotes">
            </div>
        </div>
        <div *ngFor="let skill of get_Skills('', 'bonusWeaponProf')">
            <div class="list-item" *ngIf="skill.level(this.characterService) > 0">
                <strong>{{skill.name}}</strong>
                <app-proficiency-form [skill]="skill" [characterService]="this.characterService" [level]="this.characterService.get_Character().level"></app-proficiency-form>
                <div class="row" *ngIf="get_TraitsForThis(skill.name).length">
                    <cite *ngFor="let trait of get_TraitsForThis(skill.name)" title="{{trait.description}}">{{trait.name}} ({{trait.haveOn(this.characterService, true)}})&nbsp;</cite>
                </div>
                <div class="row" *ngIf="skill.effects(this.effectsService).length">
                    <cite *ngFor="let effect of skill.effects(this.effectsService)" [className]="effect.penalty ? 'penalty' : 'bonus'">{{effect.value}} ({{effect.source}})&nbsp;</cite>
                </div>
                <div class="row" *ngIf="get_FeatsShowingOn(skill.name).length">
                    <cite *ngFor="let feat of get_FeatsShowingOn(skill.name)" [title]="feat.desc">{{feat.name}}&nbsp;</cite>
                </div>
                <div class="row">
                    <input type="checkbox" [(ngModel)]="skill.showNotes">Notes
                </div>
                <div class="row">
                    <input type="textarea" class="fullwidth" [(ngModel)]="skill.notes" *ngIf="skill.showNotes">
                </div>
            </div>
        </div>
    </div>
</div>