<div id="attacks" class="attributeBox"> 
    <h3>Attacks</h3>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <div *ngIf="!still_loading()">
        <div class="row">
            <cite *ngFor="let feat of get_FeatsShowingOn('Attacks')" [title]="(feat.hint) ? feat.hint : feat.desc">{{feat.name}}&nbsp;</cite>
            <cite *ngFor="let condition of get_ConditionsShowingOn('Attacks')" [className]="(condition.buff) ? 'bonus' : 'penalty'" [title]="condition.desc">{{condition.name}}&nbsp;</cite>
        </div>
        <div *ngFor="let weapon of get_EquippedWeapons()">
            <div class="list-item" *ngIf="weapon.melee">
                <strong>{{weapon.get_Name()}}{{weapon.ranged ? " melee" : ""}}</strong>
                <div class="row">
                    Attack:
                    <input type="number" class="number" title="{{get_Attack(weapon, 'melee')[1]}}" [ngModel]="get_Attack(weapon, 'melee')[0]" disabled>
                    <span title="{{get_Damage(weapon, 'melee')[1]}}">&nbsp;Damage: {{get_Damage(weapon, 'melee')[0]}}</span>
                    <div class="row">
                        <cite *ngFor="let trait of weapon.traits" title="{{get_Traits(trait)[0].description}}">&nbsp;{{trait}}</cite>
                        <cite *ngFor="let feat of get_FeatsShowingOn(weapon.name)" [title]="(feat.hint) ? feat.hint : feat.desc">{{feat.name}}&nbsp;</cite>
                        <div *ngFor="let name of get_specialShowon(weapon)">
                            <cite *ngFor="let feat of get_FeatsShowingOn(name)"
                                [title]="(feat.hint) ? feat.hint : feat.desc">
                                {{feat.name}}&nbsp;
                            </cite>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-item" *ngIf="weapon.ranged">
                <strong>{{weapon.name}}{{weapon.melee ? " ranged" : ""}}</strong>
                <div class="row">
                    Attack:
                    <input type="number" class="number" title="{{get_Attack(weapon, 'ranged')[1]}}" [ngModel]="get_Attack(weapon, 'ranged')[0]" disabled>
                    <span title="{{get_Damage(weapon, 'ranged')[1]}}">&nbsp;Damage: {{get_Damage(weapon, 'ranged')[0]}}</span>
                    <div class="row">
                        <cite *ngFor="let trait of weapon.traits" title="{{get_Traits(trait)[0].description}}">&nbsp;{{trait}}</cite>
                        <cite *ngFor="let feat of get_FeatsShowingOn(weapon.name)" [title]="(feat.hint) ? feat.hint : feat.desc">{{feat.name}}&nbsp;</cite>
                        <div *ngFor="let name of get_specialShowon(weapon)">
                            <cite *ngFor="let feat of get_FeatsShowingOn(name)"
                                [title]="(feat.hint) ? feat.hint : feat.desc">
                                {{feat.name}}&nbsp;
                            </cite>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 *ngIf="!still_loading()">Weapon Proficiencies</h3>
        <div *ngFor="let skill of get_Skills('', 'Weapon Proficiency')">
            <app-skill class="list-item" [skill]=skill [showValue]=false></app-skill>
        </div>
        <div *ngFor="let skill of get_Skills('', 'Specific Weapon Proficiency')">
            <app-skill *ngIf="skill.level(this.characterService)" class="list-item" [skill]=skill [showValue]=false></app-skill>
        </div>
    </div>
</div>