<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<div class="list-item newrow">
    <p>
        Welcome to PECS, a largely automated character tool for Pathfinder RPG
        2nd Edition. This tool is meant to allow you to build your character
        according to the rules and options in PFRPG 2e and then use that
        character in play.
    </p>
</div>

@if (updateAvailable$ | async; as updateAvailable) {
    @if (updateAvailable.available) {
        <div class="list-item newrow center-aligned">
            @if (updateAvailable.desc !== "n/a") {
                <a
                    href="https://github.com/bukiro/PECS/releases/latest"
                    target="_blank"
                    rel="noreferrer noopener"
                >
                    {{ updateAvailable.desc }}
                </a>
            }

            @if (updateAvailable.desc === "n/a") {
                <span>{{ updateAvailable.desc }}</span>
            }
        </div>
    }
}

@if (version) {
    <div class="newrow list-item left-aligned lower">
        <header class="spellHeader">
            New in version
            <select
                aria-label="Select version"
                [(ngModel)]="version"
            >
                @for (versionChange of changelog; track $index) {
                    <option [ngValue]="versionChange.version">
                        {{ versionChange.version }}
                    </option>
                }
            </select>
        </header>

        @for (change of (selectedVersionLog$ | async)?.changes; track $index) {
            <div class="newrow list-item left-aligned">
                @if (change.header) {
                    <header class="subsectionHeader">
                        {{ change.header }}
                    </header>
                }

                @for (split of change.desc.split("\n\n"); track $index) {
                    <app-description [text]="split" />
                }

                @for (image of change.images; track $index) {
                    <div class="newrow list-item center-aligned">
                        <img
                            style="max-width: 100%; flex-grow: 0"
                            title="{{ change.header }}"
                            src="assets/img/about/{{ image.file }}"
                        />
                        @if (image.title) {
                            <span class="newrow center-aligned">
                                {{ image.title }}
                            </span>
                        }
                    </div>
                }
            </div>
        }
    </div>
}

@for (paragraph of welcome; track $index) {
    <div class="list-item newrow">
        <div class="newrow left-aligned">
            @if (paragraph.header) {
                <header class="spellHeader">
                    {{ paragraph.header }}
                </header>
            }

            @for (split of paragraph.desc.split("\n\n"); track $index) {
                <app-description [text]="split" />
            }
        </div>
    </div>
}

<div class="list-item newrow">
    <header class="spellHeader">Hints and Tips</header>

    @for (hint of hints; track $index) {
        <div class="newrow list-item left-aligned">
            @if (hint.header) {
                <header class="subsectionHeader">
                    {{ hint.header }}
                </header>
            }

            @for (split of hint.desc.split("\n\n"); track $index) {
                <app-description [text]="split" />
            }

            @for (image of hint.images; track $index) {
                <div class="newrow list-item center-aligned">
                    <img
                        style="max-width: 100%; flex-grow: 0"
                        title="{{ hint.header }}"
                        src="assets/img/about/{{ image.file }}"
                    />
                    @if (image.title) {
                        <span class="newrow center-aligned">
                            {{ image.title }}
                        </span>
                    }
                </div>
            }
        </div>
    }
</div>
