@import 'utilities';

:host {
    display: inline-block;

    .button {
        height: 100%;
        width: 100%;
        padding: $spacing-xxs;
    }

    .dice {
        @include button-icon(1rem);
    }
}

:host-context(span) {
    margin-left: .3em;
    margin-right: .3em;
}
