<ng-container *ngIf="feat">
    <div class="newrow left-aligned">
        <cite class="trait" *ngFor="let trait of feat.traits; trackBy:trackByIndex;"
            [ngbPopover]="get_Traits(trait)[0].desc">
            {{trait}}
        </cite>
    </div>
    <div class="newrow left-aligned">
        <div class="newrow left-aligned" *ngIf="feat.sourceBook">
            <strong>Source</strong>
            <i>{{feat.sourceBook}}</i>
        </div>
        <div class="newrow left-aligned" *ngIf="feat.access">
            <strong>Access</strong>
            {{feat.access}}
        </div>
        <ng-container *ngFor="let reqs of [get_FeatRequirements(choice, feat)]; trackBy:trackByIndex;">
            <p *ngIf="reqs.length">
                <strong>Requirements&nbsp;</strong>
                <span [ngClass]="{'problem':(!req.met), 'disabled':(req.ignored)}"
                    [ngbPopover]="req.ignored ? 'This requirement is ignored.' : ''"
                    *ngFor="let req of reqs; trackBy:trackByIndex;">{{req.ignored ? "(" : ''}}{{req.desc}}{{req.ignored
                    ? ")" : ''}}</span>
            </p>
        </ng-container>
        <ng-container *ngFor="let desc of feat.desc.split('\n\n'); trackBy:trackByIndex;">
            <app-description class="newrow" [text]="desc"></app-description>
        </ng-container>
        <p *ngIf="feat.specialdesc.length">
            <strong>Special</strong> {{feat.specialdesc}}
        </p>
        <p *ngIf="feat.usageNote.length">
            <strong>Usage note&nbsp;</strong>
            <span class="problem">{{feat.usageNote}}</span>
        </p>
    </div>
    <ng-container *ngFor="let name of feat.gainActivities; trackBy:trackByIndex;">
        <div class="newrow left-aligned" *ngFor="let activity of get_Activities(name); trackBy:trackByIndex;">
            <header class="spellHeader left-aligned">
                {{activity.name}}
                <app-actionIcons *ngIf="activity.actions" [actionString]="activity.actions"></app-actionIcons>
                {{(activity.activationType) ? activity.activationType : ""}}
            </header>
            <app-activity class="newrow" [activity]=activity [allowActivate]=false [parentHints]="parentHints">
            </app-activity>
        </div>
    </ng-container>
    <ng-container *ngFor="let spellChoice of feat.gainSpellChoice; trackBy:trackByIndex;">
        <ng-container *ngFor="let spellGain of spellChoice.spells; trackBy:trackByIndex;">
            <ng-container *ngFor="let spell of get_Spells(spellGain.name); trackBy:trackByIndex;">
                <header class="spellHeader left-aligned">
                    {{spell.name}}
                    <app-actionIcons *ngIf="spell.actions" [actionString]="spell.actions"></app-actionIcons>
                    {{(spell.castType) ? spell.castType : ""}}
                </header>
                <app-spell class="newrow" [spell]=spell [spellLevel]="get_SpellLevel(levelNumber)">
                </app-spell>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngFor="let spellName of feat.gainSpellListSpells; trackBy:trackByIndex;">
        <ng-container *ngFor="let spell of get_Spells(spellName); trackBy:trackByIndex;">
            <header class="spellHeader left-aligned">{{spell.name}}
                <app-actionIcons *ngIf="spell.actions" [actionString]="spell.actions"></app-actionIcons>
                {{(spell.castType) ? spell.castType : ""}}
            </header>
            <app-spell class="newrow" [spell]=spell [spellLevel]="get_SpellLevel(levelNumber)">
            </app-spell>
        </ng-container>
    </ng-container>
</ng-container>