<button class="minimizebutton lower" title="{{get_Minimized() ? 'Click to show all information.' : 'Click to show compact information.'}}" [ngClass]="{'fancy-button':get_Minimized()}" (click)="minimize()" *ngIf="creature=='Character'">&#8691;</button>
<div id="{{creature}}-abilities-height" class="attributeBox">
    <h3 class="box-header">Abilities</h3>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <ng-container *ngIf="!get_Minimized()">
            <div class="list-item" *ngFor="let $ability of get_Abilities(); trackBy:trackByIndex;">
                <ng-container *ngFor="let ability of [$ability.calculate(get_Creature(), characterService, effectsService)]; trackBy:trackByIndex;">
                    <div class="row">
                        <strong>{{ability.name}}</strong>
                        <span>
                            <input class="number2" type="number"
                                [ngClass]="{'penalty':ability.$penalties[get_CalculatedIndex()], 'bonus':ability.$bonuses[get_CalculatedIndex()], 'absolute':ability.$absolutes[get_CalculatedIndex()].length}"
                                title="{{ability.$value[get_CalculatedIndex()].explain}}" value="{{ability.$value[get_CalculatedIndex()].result}}" disabled>
                        </span>
                        <strong>Modifier</strong>
                        <span>
                            <input class="number2" type="number"
                                [ngClass]="{'penalty':ability.$modpenalties[get_CalculatedIndex()], 'bonus':ability.$modbonuses[get_CalculatedIndex()], 'absolute':ability.$modabsolutes[get_CalculatedIndex()].length}"    
                                title="{{ability.$mod[get_CalculatedIndex()].explain}}" value="{{ability.$mod[get_CalculatedIndex()].result}}" disabled>
                        </span>
                    </div>
                    <app-tags class="row tags" [creature]="creature" [objectName]=ability.name [showTraits]=true
                        [showFeats]=true [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true>
                    </app-tags>
                </ng-container> 
            </div>
        </ng-container>
        <ng-container *ngIf="get_Minimized()">
            <div class="list-item" *ngFor="let subset of [1,2]; trackBy:trackByIndex;">
            <span *ngFor="let $ability of get_Abilities(subset); let index = index; trackBy:trackByIndex;">
                <ng-container *ngFor="let ability of [$ability.calculate(get_Creature(), characterService, effectsService)]; trackBy:trackByIndex;">
                    <strong>{{ability.name.substring(0, 3).toUpperCase()}}</strong>&nbsp;
                    <span>
                        <input class="number2" type="number"
                            [ngClass]="{'penalty':ability.$modpenalties[get_CalculatedIndex()], 'bonus':ability.$modbonuses[get_CalculatedIndex()], 'absolute':ability.$modabsolutes[get_CalculatedIndex()].length}"    
                            title="{{ability.$mod[get_CalculatedIndex()].explain}}" value="{{ability.$mod[get_CalculatedIndex()].result}}" disabled>
                    </span>
                </ng-container>
            </span>
            </div>
        </ng-container>
    </ng-container>
</div>
<div *ngIf="set_Span()"></div>