<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<div class="character-sheet-card filter-buttons">
    <app-button
        class="filter-buttons__button"
        [toggled]="shownMode === 'All'"
        (clicked)="toggleShownMode('All')"
    >
        Show All
    </app-button>

    <app-button
        class="filter-buttons__button"
        [toggled]="shownMode === 'Encounter'"
        (click)="toggleShownMode('Encounter')"
    >
        Encounter
    </app-button>

    <app-button
        class="filter-buttons__button"
        [toggled]="shownMode === 'Exploration'"
        (click)="toggleShownMode('Exploration')"
    >
        Exploration
    </app-button>

    <app-button
        class="filter-buttons__button"
        [toggled]="shownMode === 'Downtime'"
        (click)="toggleShownMode('Downtime')"
    >
        Downtime
    </app-button>

    <app-button
        class="filter-buttons__button"
        [toggled]="shownMode === 'Inventory'"
        (click)="toggleShownMode('Inventory')"
    >
        Inventory
    </app-button>

    <app-button
        class="filter-buttons__button"
        [toggled]="shownMode === 'ConditionsEffects'"
        (click)="toggleShownMode('ConditionsEffects')"
    >
        Conditions & Effects
    </app-button>
</div>

<ng-container *ngIf="shownMode !== 'ConditionsEffects'; else ConditionsAndEffectsTemplate">
    <app-time
        [showTurn]="['All','Encounter'].includes(shownMode)"
        [showTime]="(shownMode !== 'Encounter')"
    ></app-time>

    <app-effects></app-effects>

    <div class="character-sheet-columns">
        <div
            class="character-sheet-columns__column"
            *ngFor="let column of [0, 1]; trackBy: trackByIndex;"
        >

            <app-general *ngIf="showInColumn[column][shownMode]?.includes('general_upper')"></app-general>

            <app-defense *ngIf="showInColumn[column][shownMode]?.includes('defense')"></app-defense>

            <ng-container *ngFor="let order of [0, 1]; trackBy:trackByIndex;">
                <app-attacks *ngIf="showInColumn[column][shownMode]?.includes('attacks') && attacksAndSpellsOrder['attacks'] === order"></app-attacks>

                <app-spellbook *ngIf="showInColumn[column][shownMode]?.includes('spellbook_upper') && attacksAndSpellsOrder['spells'] === order"></app-spellbook>
            </ng-container>

            <app-health
                [forceMinimized]="shownMode === 'Downtime'"
                *ngIf="showInColumn[column][shownMode]?.includes('health')"
            ></app-health>

            <app-general *ngIf="showInColumn[column][shownMode]?.includes('general_lower')"></app-general>

            <app-abilities *ngIf="showInColumn[column][shownMode]?.includes('abilities')"></app-abilities>

            <app-skills *ngIf="showInColumn[column][shownMode]?.includes('skills')"></app-skills>

            <app-activities *ngIf="showInColumn[column][shownMode]?.includes('activities')"></app-activities>

            <app-spellbook *ngIf="showInColumn[column][shownMode]?.includes('spellbook_lower')"></app-spellbook>

            <app-inventory *ngIf="showInColumn[column][shownMode]?.includes('inventory')"></app-inventory>
        </div>
    </div>
</ng-container>

<ng-template #ConditionsAndEffectsTemplate>
    <app-time class="character-sheet-card"></app-time>

    <app-effects [fullDisplay]="true"></app-effects>
</ng-template>
