<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<app-character-sheet-card class="character-sheet-card filter-buttons">
    <app-button
        tabLike
        class="filter-buttons__button"
        [toggled]="shownMode === 'All'"
        (clicked)="toggleShownMode('All')"
    >
        Show All
    </app-button>

    <app-button
        tabLike
        class="filter-buttons__button"
        [toggled]="shownMode === 'Encounter'"
        (click)="toggleShownMode('Encounter')"
    >
        Encounter
    </app-button>

    <app-button
        tabLike
        class="filter-buttons__button"
        [toggled]="shownMode === 'Exploration'"
        (click)="toggleShownMode('Exploration')"
    >
        Exploration
    </app-button>

    <app-button
        tabLike
        class="filter-buttons__button"
        [toggled]="shownMode === 'Downtime'"
        (click)="toggleShownMode('Downtime')"
    >
        Downtime
    </app-button>

    <app-button
        tabLike
        class="filter-buttons__button"
        [toggled]="shownMode === 'Inventory'"
        (click)="toggleShownMode('Inventory')"
    >
        Inventory
    </app-button>

    <app-button
        tabLike
        class="filter-buttons__button"
        [toggled]="shownMode === 'ConditionsEffects'"
        (click)="toggleShownMode('ConditionsEffects')"
    >
        Conditions & Effects
    </app-button>
</app-character-sheet-card>

@if (shownMode !== "ConditionsEffects") {
    <app-effects />

    <div class="character-sheet-columns">
        @for (column of [0, 1]; track $index) {
            <div class="character-sheet-columns__column">
                @if (
                    showInColumn[column]?.[shownMode]?.includes("general_upper")
                ) {
                    <app-general />
                }

                @if (showInColumn[column]?.[shownMode]?.includes("defense")) {
                    <app-defense />
                }

                @for (order of [0, 1]; track $index) {
                    @if (
                        showInColumn[column]?.[shownMode]?.includes("attacks") &&
                        attacksAndSpellsOrder["attacks"] === order
                    ) {
                        <app-attacks />
                    }

                    @if (
                        showInColumn[column]?.[shownMode]?.includes(
                            "spellbook_upper"
                        ) && attacksAndSpellsOrder["spells"] === order
                    ) {
                        <app-spellbook />
                    }
                }

                @if (showInColumn[column]?.[shownMode]?.includes("health")) {
                    <app-health [forceMinimized]="shownMode === 'Downtime'" />
                }

                @if (
                    showInColumn[column]?.[shownMode]?.includes("general_lower")
                ) {
                    <app-general />
                }

                @if (showInColumn[column]?.[shownMode]?.includes("abilities")) {
                    <app-abilities />
                }

                @if (showInColumn[column]?.[shownMode]?.includes("skills")) {
                    <app-skills />
                }

                @if (showInColumn[column]?.[shownMode]?.includes("activities")) {
                    <app-activities />
                }

                @if (
                    showInColumn[column]?.[shownMode]?.includes("spellbook_lower")
                ) {
                    <app-spellbook />
                }

                @if (showInColumn[column]?.[shownMode]?.includes("inventory")) {
                    <app-inventory />
                }
            </div>
        }
    </div>
} @else {
    <app-effects [fullDisplay]="true" />
}
