<ng-container
    *ngFor="let traits of [(item.get_Traits ? item.get_Traits(characterService, get_Creature()) : item.traits)]; trackBy:trackByIndex">
    <div class="newrow left-aligned tags" *ngIf="traits.length">
        <cite class="trait" *ngFor="let trait of traits; trackBy:trackByIndex;"
            [ngbPopover]="get_Traits(trait)[0].desc">{{trait}}</cite>
    </div>
</ng-container>

<div class="newrow left-aligned tags">
    <app-tags [creature]="creature" [objectName]="item.name" [showTraits]=true [showFeats]=true [showItems]=true
        [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
</div>
<div class="newrow left-aligned" *ngIf="item.sourceBook">
    <span>
        <strong>Source</strong>
        <i>{{item.sourceBook}}</i>
    </span>
</div>
<div class="newrow left-aligned">
    <span *ngIf="item.price">
        <strong>Price</strong>
        {{get_Price(item)}}{{item.stack && item.stack > 1 ? " per "+item.stack : ""}}
    </span>
    <span *ngIf="item.dicenum">
        <strong>Damage</strong>
        {{item.dicenum}}d{{item.dicesize}} {{item.dmgType}}
    </span>
    <span *ngIf="item.acbonus">
        <strong>AC Bonus</strong>
        <span
            [ngClass]="{'penalty':item.get_ACBonus && (item.get_ACBonus() < item.acbonus), 'bonus':item.get_ACBonus && (item.get_ACBonus() > item.acbonus)}">
            {{item.get_ACBonus ? item.get_ACBonus() : item.acbonus}}{{item.coverbonus ? " (" +
            (item.acbonus+item.coverbonus) + ")" : ""}}
        </span>
    </span>
    <span *ngIf="(item.type == 'armors' && (item.get_DexCap ? item.get_DexCap() != -1 : item.dexcap != -1))">
        <strong>Dex Cap</strong>
        <span
            [ngClass]="{'penalty':item.get_DexCap() < item.dexcap, 'bonus':item.get_DexCap() > item.dexcap || (!item.get_DexCap() && item.dexcap)}">
            {{(item.get_DexCap ? item.get_DexCap() : item.dexcap)}}
        </span>
    </span>
    <span *ngIf="item.skillpenalty">
        <strong>Check Penalty</strong>
        <span
            [ngClass]="{'penalty':item.get_SkillPenalty() < item.skillpenalty, 'bonus':item.get_SkillPenalty() > item.skillpenalty}">
            {{(item.get_SkillPenalty ? item.get_SkillPenalty() : item.skillpenalty)}}
        </span>
    </span>
    <span *ngIf="item.speedpenalty">
        <strong>Speed Penalty</strong>
        <span
            [ngClass]="{'penalty':item.get_SpeedPenalty() < item.speedpenalty, 'bonus':item.get_SpeedPenalty() > item.speedpenalty}">
            {{(item.get_SpeedPenalty ? item.get_SpeedPenalty() : item.speedpenalty)}}
        </span>
    </span>
    <span *ngIf="(item.get_Strength ? item.get_Strength() : item.strength)">
        <strong>Strength</strong>
        <span [ngClass]="{'penalty':item.get_Strength() > item.strength, 'bonus':item.get_Strength() < item.strength}">
            {{(item.get_Strength ? item.get_Strength() : item.strength)}}
        </span>
    </span>
    <span *ngIf="item.usage">
        <strong>Usage</strong>
        {{item.usage}}
    </span>
    <span *ngIf="item.storeBulk">
        <strong>Bulk</strong>
        {{item.storeBulk}}
    </span>
    <span *ngIf="item.get_Bulk()">
        <strong>Bulk{{item.carryingBulk && !item.equipped ? " (unequipped)" : ""}}</strong>
        <span [ngClass]="{'penalty':(get_BulkDifference(item) > 0), 'bonus':(get_BulkDifference(item) < 0)}">
            {{item.get_Bulk()}}
        </span>
    </span>
    <span *ngIf="item.carryingBulk && item.equipped">
        <strong>Bulk (unequipped)</strong>
        {{item.carryingBulk}}
    </span>
    <span *ngIf="item.hardness">
        <strong>Hardness</strong>
        <span
            [ngClass]="{'penalty':(item.get_Hardness() < item.hardness), 'bonus':(item.get_Hardness() > item.hardness)}">
            {{item.get_Hardness ? item.get_Hardness() : item.hardness}}
        </span>
    </span>
    <span *ngIf="item.hitpoints">
        <strong>HP</strong><strong *ngIf="item.brokenThreshold"> (BT)</strong>
        <span [ngClass]="{'penalty':(item.get_MaxHP() < item.hitpoints), 'bonus':(item.get_MaxHP() > item.hitpoints)}">
            {{item.get_MaxHP ? item.get_MaxHP() : item.hitpoints}}
        </span>
        <span *ngIf="item.brokenThreshold"
            [ngClass]="{'penalty':(item.get_BrokenThreshold() < item.brokenThreshold), 'bonus':(item.get_BrokenThreshold() > item.brokenThreshold)}">({{item.get_BrokenThreshold
            ? item.get_BrokenThreshold() : item.brokenThreshold}})
        </span>
    </span>
</div>
<div class="newrow left-aligned">
    <span *ngIf="item.hands">
        <strong>Hands</strong>
        {{item.hands}}
    </span>
    <span *ngIf="item.ranged">
        <strong>Range</strong>
        {{item.ranged}} ft.
    </span>
    <span *ngIf="item.reload">
        <strong>Reload</strong>
        {{item.reload}}
    </span>
</div>
<div class="newrow left-aligned">
    <p *ngIf="(item.activationType || (item.actions && item.actions != ' ')) && (!item.trigger && !item.requirements)">
        <strong>Activate</strong>
        <app-actionIcons *ngIf="item.actions" [actionString]="item.actions">
        </app-actionIcons>
        {{item.activationType}}
        <span *ngIf="item.trigger">
            <strong>Trigger</strong>
            {{item.trigger}}
        </span>
        <span *ngIf="item.requirements">
            <strong>Requirements</strong>
            {{item.requirements}}
        </span>
        <span *ngIf="item.frequency">
            <strong>Frequency</strong>
            {{item.frequency}}
        </span>
        <span *ngIf="item.effect">
            <strong>Effect</strong>
            {{item.effect}}
        </span>
    </p>
</div>
<div class="newrow left-aligned">
    <span *ngIf="item.ammunition">
        <strong>Ammunition</strong>
        {{item.ammunition}}
    </span>
</div>
<div class="newrow left-aligned">
    <hr class="newrow">
    <ng-container *ngFor="let desc of item.desc.split('\n\n'); trackBy:trackByIndex;">
        <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
        <ul *ngIf="desc.split('\n').length > 1">
            <li *ngFor="let line of desc.split('\n'); trackBy:trackByIndex;">{{line}}</li>
        </ul>
    </ng-container>
    <ng-container *ngIf="item.name == 'Grievous'">
        <p *ngFor="let data of item.data; trackBy:trackByIndex;">
            <strong>{{data.name}}</strong>
            {{data.value}}
        </p>
    </ng-container>
    <p *ngIf="item.benefit">
        <strong>Benefit</strong>
        {{item.benefit}}
    </p>
    <p *ngIf="item.drawback">
        <strong>Drawback</strong>
        {{item.drawback}}
    </p>
    <p *ngIf="item.savingThrow || item.maxDuration || item.stages?.length">
        <span *ngIf="item.savingThrow">
            <strong>Saving Throw</strong>
            {{item.savingThrow}}
        </span>
        <span *ngIf="item.stages[0]">
            <strong>Onset</strong>
            {{item.stages[0]}}
        </span>
        <span *ngIf="item.maxDuration">
            <strong>Maximum Duration</strong>
            {{item.maxDuration}}
        </span>
        <ng-container *ngFor="let stage of item.stages; let stageIndex = index; trackBy:trackByIndex;">
            <span *ngIf="stageIndex > 0">
                <strong>Stage {{stageIndex}}</strong>
                {{item.stages[stageIndex]}}
            </span>
        </ng-container>
    </p>
    <p *ngIf="(item.activationType || (item.actions && item.actions != ' ')) && (item.trigger || item.requirements)">
        <strong>Activate</strong>
        <app-actionIcons *ngIf="item.actions" [actionString]="item.actions">
        </app-actionIcons>
        {{item.activationType}}
        <span *ngIf="item.trigger">
            <strong>Trigger</strong>
            {{item.trigger}}
        </span>
        <span *ngIf="item.requirements">
            <strong>Requirements</strong>
            {{item.requirements}}
        </span>
    </p>
    <p *ngIf="item.subType">
        <strong>{{item.subType}}</strong> {{item.subTypeDesc}}
    </p>
    <p *ngIf="item.craftRequirement">
        <strong>Craft Requirement</strong> {{item.craftRequirement}}
    </p>
    <ng-container *ngIf="item.critsuccess || item.success || item.failure || item.critfailure">
        <ul>
            <li *ngIf="item.critsuccess">
                <strong>Critical Success</strong> {{item.critsuccess}}
            </li>
            <li *ngIf="item.success">
                <strong>Success</strong> {{item.success}}
            </li>
            <li *ngIf="item.failure">
                <strong>Failure</strong> {{item.failure}}
            </li>
            <li *ngIf="item.critfailure">
                <strong>Critical Failure</strong> {{item.critfailure}}
            </li>
        </ul>
    </ng-container>
    <div class="list-item newrow problem" *ngIf="item.inputRequired">
        <strong>Player input required:</strong>
        <div class="newrow left-aligned">
            <p *ngFor="let inputRequired of item.inputRequired.split('\n'); trackBy:trackByIndex;">
                {{inputRequired}}
            </p>
        </div>
    </div>
</div>
<div class="newrow" *ngIf="item.isDoublingRings && !itemStore">
    <header class="spellHeader">Doubling Rings</header>
    <div class="newrow">
        <strong>Weapon wielded in the gold ring hand</strong>
        <select [(ngModel)]="item.data[0].value" (ngModelChange)="on_DoublingRingsChange()">
            <option *ngFor="let weapon of get_DoublingRingsOptions('gold'); trackBy:trackByIndex;"
                [ngValue]="weapon.id">
                {{weapon.get_Name()}}
            </option>
        </select>
    </div>
    <div class="newrow">
        <strong>Weapon wielded in the iron ring hand</strong>
        <select [(ngModel)]="item.data[1].value" (ngModelChange)="on_DoublingRingsChange()">
            <option *ngFor="let weapon of get_DoublingRingsOptions('iron'); trackBy:trackByIndex;"
                [ngValue]="weapon.id">
                {{weapon.get_Name()}}
            </option>
        </select>
    </div>
    <div class="newrow left-aligned" *ngIf="item.isDoublingRings == 'Doubling Rings (Greater)'">
        <input id="{{item.id}}doublingRingsApplyPropertyRunes" type="checkbox" [(ngModel)]="item.data[2]"
            (ngModelChange)="on_DoublingRingsChange()">
        <label for="{{item.id}}doublingRingsApplyPropertyRunes">Apply property runes</label>
    </div>
</div>
<app-itemAeonStones class="list-item" [item]=item [itemStore]=itemStore *ngIf="item.isWayfinder"></app-itemAeonStones>
<div class="list-item left-aligned" *ngFor="let cast of item.castSpells; trackBy:trackByIndex;">
    <div *ngFor="let spell of get_Spells(cast.name); trackBy:trackByIndex;">
        <header class="spellHeader">{{spell.name}}
            <app-actionIcons *ngIf="spell.actions" [actionString]="spell.actions">
            </app-actionIcons>
            {{spell.castType.toString()}}
        </header>
        <app-spell [spell]=spell [spellLevel]="(cast.level) ? cast.level : 0"></app-spell>
    </div>
</div>
<div class="list-item left-aligned" *ngFor="let material of item.material; trackBy:trackByIndex;">
    <header class="spellHeader">{{material.name}}</header>
    <ng-container *ngFor="let desc of material.desc.split('\n\n'); trackBy:trackByIndex;">
        <p *ngIf="desc.split('\n').length == 1" [innerHtml]="desc"></p>
        <ul *ngIf="desc.split('\n').length > 1">
            <li *ngFor="let line of desc.split('\n'); trackBy:trackByIndex;" [innerHtml]="line"></li>
        </ul>
    </ng-container>
</div>
<div class="list-item left-aligned" *ngIf="armoredSkirt">
    <header class="spellHeader">Armored Skirt</header>
    <app-item [item]=armoredSkirt></app-item>
</div>
<div class="list-item left-aligned" *ngFor="let choice of get_StoredSpells(item); trackBy:trackByIndex;">
    <app-spellchoice class="newrow" [choice]="choice" [showHeightened]="true" [level]="choice.level" [itemSpell]="true">
    </app-spellchoice>
</div>
<div class="list-item left-aligned" *ngFor="let choice of get_StoredSpellsTaken(item); trackBy:trackByIndex;">
    <ng-container *ngFor="let taken of choice.spells; trackBy:trackByIndex;">
        <div *ngFor="let spell of get_Spells(taken.name); trackBy:trackByIndex;">
            <header class="spellHeader">
                {{spell.name}}
                <app-actionIcons *ngIf="spell.actions" [actionString]="spell.actions">
                </app-actionIcons>
                {{spell.castType.toString()}}
            </header>
            <ng-container *ngIf="!itemStore">
                <ng-container
                    *ngFor="let conditionSet of get_SpellConditions(spell, choice.level, taken); let conditionSetIndex = index; trackBy:trackByIndex">
                    <div class="newrow list-item left-aligned"
                        *ngIf="conditionSet.condition.$choices.length && !conditionSet.gain.choiceBySubType && !conditionSet.gain.choiceLocked && !conditionSet.gain.copyChoiceFrom && !conditionSet.gain.hideChoices">
                        <span>{{conditionSet.condition.name}}
                            effect selection:
                            <select [(ngModel)]="taken.effectChoices[conditionSetIndex].choice">
                                <option *ngFor="let choice of conditionSet.condition.$choices; trackBy:trackByIndex;"
                                    [ngValue]="choice">
                                    {{choice}}
                                </option>
                            </select>
                        </span>
                    </div>
                </ng-container>
            </ng-container>
            <app-spell [spell]=spell [spellLevel]="(taken.level) ? taken.level : (choice.level ? choice.level : 0)">
            </app-spell>
        </div>
    </ng-container>
</div>
<div class="list-item left-aligned" *ngFor="let activity of item.activities; trackBy:trackByIndex;">
    <header class="spellHeader" *ngIf="activity.name">
        {{activity.name}}
        <app-actionIcons *ngIf="activity.actions" [actionString]="activity.actions">
        </app-actionIcons>
        {{(activity.activationType) ? activity.activationType : ""}}
    </header>
    <app-activity [creature]="creature" [activity]=activity [gain]=activity
        [allowActivate]="allowActivate && !item.broken && (activity.resonant ? isSubItem : true)" [isSubItem]=isSubItem>
    </app-activity>
</div>
<ng-container *ngFor="let gain of item.gainActivities; trackBy:trackByIndex;">
    <div class="list-item left-aligned" *ngFor="let activity of get_Activities(gain.name); trackBy:trackByIndex;">
        <header class="spellHeader">
            {{activity.name}}
            <app-actionIcons *ngIf="activity.actions" [actionString]="activity.actions">
            </app-actionIcons>
            {{(activity.activationType) ? activity.activationType : ""}}
        </header>
        <app-activity [creature]="creature" [activity]=activity [gain]=gain [allowActivate]=allowActivate
            [isSubItem]=isSubItem></app-activity>
    </div>
</ng-container>
<ng-container *ngFor="let activityName of item.showActivities; trackBy:trackByIndex;">
    <div class="list-item left-aligned" *ngFor="let activity of get_Activities(activityName); trackBy:trackByIndex;">
        <header class="spellHeader">
            {{activity.name}}
            <app-actionIcons *ngIf="activity.actions" [actionString]="activity.actions">
            </app-actionIcons>
            {{(activity.activationType) ? activity.activationType : ""}}
        </header>
        <app-activity [creature]="creature" [activity]=activity [gain]=null [allowActivate]=false [isSubItem]=isSubItem>
        </app-activity>
    </div>
</ng-container>
<div class="list-item left-aligned" *ngFor="let oil of item.oilsApplied; trackBy:trackByIndex;">
    <header class="spellHeader">{{oil.get_Name()}}</header>
    <app-item [creature]="creature" [item]=oil [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>
<div class="list-item left-aligned" *ngFor="let poison of item.poisonsApplied; trackBy:trackByIndex;">
    <header class="spellHeader">{{poison.name}}</header>
    <button class="newrow left-aligned" (click)="on_PoisonUse(poison)" *ngIf="allowActivate">
        <span>Spend/Remove</span>
    </button>
    <app-item [creature]="creature" [item]=poison [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>
<div class="list-item left-aligned" *ngIf="item.runeEffect">
    <header class="spellHeader">Rune Effect: {{item.runeEffect.name}}</header>
    <app-item [creature]="creature" [item]=item.runeEffect [allowActivate]=allowActivate [isSubItem]=isSubItem>
    </app-item>
</div>
<div class="list-item left-aligned" *ngFor="let rune of item.propertyRunes; trackBy:trackByIndex;">
    <header class="spellHeader">{{rune.name}} Rune</header>
    <ng-container *ngFor="let spell of get_ItemSpell(rune); trackBy:trackByIndex;">
        <button class="newrow center-aligned" (click)="on_SpellItemUse(rune)">
            <span>Use
                <app-actionIcons *ngIf="spell.actions" [actionString]="spell.actions">
                </app-actionIcons>
                (Cast spell)
            </span>
        </button>
    </ng-container>
    <app-item [creature]="creature" [item]=rune [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>
<ng-container *ngIf="item.bladeAlly">
    <div class="list-item left-aligned" *ngFor="let rune of item.bladeAllyRunes; trackBy:trackByIndex;">
        <header class="spellHeader">{{rune.name}} Rune</header>
        <app-item [creature]="creature" [item]=rune [allowActivate]="allowActivate" [isSubItem]=true></app-item>
    </div>
</ng-container>
<div class="list-item left-aligned" *ngFor="let stone of item.aeonStones; trackBy:trackByIndex;">
    <header class="spellHeader">{{stone.name}}</header>
    <app-item [creature]="creature" [item]=stone [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>
<div class="list-item left-aligned" *ngFor="let talisman of item.talismans; let index = index; trackBy:trackByIndex;">
    <header class="spellHeader">{{talisman.name}}</header>
    <button class="newrow left-aligned" (click)="on_TalismanUse(talisman, index)" *ngIf="allowActivate">
        <span>
            Activate
            <app-actionIcons *ngIf="talisman.actions" [actionString]="talisman.actions">
            </app-actionIcons>
            {{(talisman.activationType) ? talisman.activationType : ""}}
        </span>
    </button>
    <app-item [creature]="creature" [item]=talisman [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>