<div class="newrow lower" *ngIf="spell">
    <div class="newrow left-aligned">
        <cite class="trait" *ngFor="let trait of spell.traits; trackBy:trackByIndex;"
            [ngbPopover]="get_Traits(trait)[0].desc">{{trait}}</cite>
        <app-tags [creature]="'Character'" [objectName]="spell.name" [showTraits]=true [showFeats]=true [showItems]=true
            [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
    </div>
    <app-spellContent class="left-aligned" [spell]="spell" [spellLevel]="spellLevel" [casting]="casting"></app-spellContent>
    <div class="newrow left-aligned" *ngFor="let feat of get_FeatsShowingOn(spell.name); trackBy:trackByIndex;">
        <header class="spellHeader">{{feat.name}}</header>
        <div class="newrow left-aligned" *ngIf="feat.traits.lenght">
            <cite class="trait" *ngFor="let trait of feat.traits; trackBy:trackByIndex;"
                [ngbPopover]="get_Traits(trait)[0].desc">{{trait}}</cite>
        </div>
        <div class="newrow left-aligned" *ngFor="let desc of feat.desc.split('\n\n'); trackBy:trackByIndex;">
            <app-description class="newrow" [text]="desc"></app-description>
        </div>
    </div>
</div>