<!--Adding Oils-->
<div class="list-item" *ngIf="get_Oils().length > 1 || item.oilsApplied.length">
    <div class="newrow">
        <strong>Apply oil</strong>
        <select [(ngModel)]="newOil" (ngModelChange)="add_Oil()">
            <option *ngFor="let oil of get_Oils(); trackBy:trackers.trackByIndex;" [ngValue]="oil">
                {{oil.oil.amount !== 1 ? oil.oil.amount + " " : ""}}{{oil.oil.get_Name()}}
            </option>
        </select>
    </div>
    <div class="newrow" *ngIf="item.oilsApplied.length">
        <strong>Applied oils</strong>
        <div class="newrow" *ngFor="let oil of item.oilsApplied; let index = index; trackBy:trackers.trackByIndex;">
            <span>
                {{oil.get_Name()}} ({{get_Duration(oil.duration)}})
            </span>
            <button class="lower" (click)="remove_Oil(index)">Remove</button>
        </div>
    </div>
</div>
