<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<app-fly-in-menu
    position="left"
    [show]="show"
    [showTileModeButton]="true"
    [tileMode]="(isTileMode$ | async) ?? false"
    (toggleTileMode)="toggleTileMode($event)"
>
    <div
        id="spelllibrary"
        class="itembox vlist"
    >
        <button
            type="button"
            class="itembox-close-button list-item center-aligned"
            (click)="toggleSpellLibraryMenu()"
        >
            <header class="sectionHeader">Back to Character Sheet</header>
        </button>

        @if (isMenuOpen$ | async) {
            <div class="character-sheet-column-container">
                <div class="character-sheet-column">
                    <div class="list-item">
                        <strong>Find (in Name, Description or Traits)</strong>

                        <span class="hlist">
                            <input
                                aria-label="Search text"
                                id="SpellsWordFilter"
                                type="text"
                                [(ngModel)]="wordFilter"
                                (keypress)="closeFilterIfTooShort()"
                            />
                            <button
                                type="button"
                                [disabled]="wordFilter.length < 5"
                                (click)="setFilterForAll()"
                            >
                                Show All
                            </button>

                            <button
                                type="button"
                                (click)="
                                    wordFilter = ''; closeFilterIfTooShort()
                                "
                            >
                                Clear
                            </button>
                        </span>
                    </div>

                    <div class="list-item">
                        <strong>Show spells from</strong>

                        <select
                            aria-label="Select spells source"
                            [(ngModel)]="spellSource"
                        >
                            @for (
                                source of ["spell library", "your spellbook"];
                                track $index
                            ) {
                                <option [ngValue]="source">
                                    {{ source }}
                                </option>
                            }
                        </select>
                    </div>

                    <div class="list-item">
                        <strong>Show spells on level</strong>

                        <span>
                            <select
                                aria-label="Select spell level"
                                [(ngModel)]="showLevel"
                            >
                                @for (
                                    levelOption of [
                                        0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                                    ];
                                    track $index
                                ) {
                                    <option [ngValue]="levelOption">
                                        {{
                                            levelOption === 0
                                                ? "Default"
                                                : levelOption
                                        }}
                                    </option>
                                }
                            </select>
                        </span>
                    </div>

                    <div class="list-item">
                        <button
                            type="button"
                            [ngClass]="{
                                'fancy-button': shownTraditionFilter() === '',
                            }"
                            (click)="toggleTraditionFilter('')"
                        >
                            All except Focus
                        </button>

                        @for (tradition of spellTraditions; track $index) {
                            <button
                                type="button"
                                [ngClass]="{
                                    'fancy-button':
                                        shownTraditionFilter() === tradition,
                                }"
                                (click)="toggleTraditionFilter(tradition)"
                            >
                                {{ tradition }}
                            </button>
                        }
                    </div>

                    <div class="fullsize-scroll-box vlist">
                        @if (
                            componentParameters$() | async;
                            as componentParameters
                        ) {
                            @if (
                                availableForLearningDescription$(
                                    componentParameters.wizardCasting,
                                    componentParameters.bardCasting,
                                    componentParameters.sorcererCasting
                                ) | async;
                                as availableForLearningDescription
                            ) {
                                <div class="list-item">
                                    @for (
                                        desc of availableForLearningDescription.split(
                                            "\n\n"
                                        );
                                        track $index
                                    ) {
                                        <app-description
                                            class="newrow"
                                            [text]="desc"
                                        />
                                    }
                                </div>
                            }

                            @if (
                                spellMasteryAvailableDescription(
                                    componentParameters.wizardCasting
                                );
                                as spellMasteryAvailableDescription
                            ) {
                                <div class="list-item">
                                    @for (
                                        desc of spellMasteryAvailableDescription.split(
                                            "\n\n"
                                        );
                                        track $index
                                    ) {
                                        <app-description
                                            class="newrow"
                                            [text]="desc"
                                        />
                                    }
                                </div>
                            }

                            @for (
                                level of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
                                track $index
                            ) {
                                @if (
                                    visibleSpellsOfLevel(level);
                                    as visibleSpells
                                ) {
                                    @if (visibleSpells.length) {
                                        <button
                                            type="button"
                                            class="list-item"
                                            [ngClass]="{
                                                'fancy-button': [
                                                    -2,
                                                    level,
                                                ].includes(shownList()),
                                            }"
                                            (click)="toggleShownList(level)"
                                        >
                                            @if (level === 0) {
                                                <header class="sectionHeader">
                                                    Cantrips
                                                </header>
                                            }

                                            @if (level > 0) {
                                                <header class="sectionHeader">
                                                    {{ "Level " + level }}
                                                </header>
                                            }
                                        </button>
                                    }

                                    @if (
                                        visibleSpells.length &&
                                            [-2, level].includes(
                                                shownList()
                                            ) && {
                                                enabled: isTileMode$ | async,
                                            };
                                        as tileMode
                                    ) {
                                        <div
                                            [ngClass]="{
                                                'icon-list left-aligned':
                                                    tileMode.enabled,
                                                'list-item': !tileMode.enabled,
                                            }"
                                        >
                                            @if (
                                                visibleSpells.length >= 80 &&
                                                shownList() !== -2
                                            ) {
                                                <div
                                                    class="newrow list-item"
                                                    (click)="incRange(-1)"
                                                >
                                                    <button
                                                        type="button"
                                                        class="center-aligned"
                                                        [disabled]="range <= 0"
                                                    >
                                                        Previous 40
                                                    </button>

                                                    <header
                                                        class="newrow subsectionHeader center-aligned"
                                                    >
                                                        {{
                                                            shownItemRangeDesc(
                                                                visibleSpells,
                                                                range
                                                            )
                                                        }}
                                                    </header>
                                                </div>
                                            }

                                            @for (
                                                spell of visibleSpells;
                                                track spellIndex;
                                                let spellIndex = $index
                                            ) {
                                                @if (
                                                    isSpellShown(
                                                        visibleSpells,
                                                        spellIndex,
                                                        range
                                                    )
                                                ) {
                                                    <ng-template #SpellTemplate>
                                                        @if (tileMode.enabled) {
                                                            <header
                                                                class="spellHeader"
                                                            >
                                                                {{ spell.name }}
                                                                @if (
                                                                    spell.actions
                                                                ) {
                                                                    <app-action-icons
                                                                        [actionString]="
                                                                            spell.actions
                                                                        "
                                                                    />
                                                                }
                                                                {{
                                                                    spell.castType
                                                                }}
                                                            </header>
                                                        }

                                                        @for (
                                                            learningOption of availableSpellLearningOptions(
                                                                spell,
                                                                level,
                                                                componentParameters.wizardCasting,
                                                                componentParameters.bardCasting,
                                                                componentParameters.sorcererCasting
                                                            );
                                                            track $index
                                                        ) {
                                                            <button
                                                                type="button"
                                                                class="newRow center-aligned"
                                                                [disabled]="
                                                                    learningOption.disabled
                                                                "
                                                                (click)="
                                                                    learnSpell(
                                                                        spell,
                                                                        learningOption.key
                                                                    )
                                                                "
                                                            >
                                                                {{
                                                                    learningOption.title
                                                                }}
                                                            </button>
                                                        }

                                                        @if (
                                                            isSpellLearned(
                                                                spell.name
                                                            );
                                                            as learned
                                                        ) {
                                                            <button
                                                                type="button"
                                                                class="newrow center-aligned"
                                                                [disabled]
                                                                (click)="
                                                                    unlearnSpell(
                                                                        spell
                                                                    )
                                                                "
                                                            >
                                                                Unlearn
                                                                {{
                                                                    learnedSpellSource$(
                                                                        learned.source
                                                                    ) | async
                                                                }}
                                                            </button>
                                                        }

                                                        @if (
                                                            componentParameters.wizardCasting;
                                                            as wizardCasting
                                                        ) {
                                                            @if (
                                                                canSpellBeSelectedForSpellMastery(
                                                                    wizardCasting,
                                                                    spell
                                                                )
                                                            ) {
                                                                <button
                                                                    type="button"
                                                                    class="newrow center-aligned"
                                                                    [disabled]="
                                                                        !isSpellMasteryAllowedForSpell(
                                                                            wizardCasting,
                                                                            level,
                                                                            spell
                                                                        )
                                                                    "
                                                                    (click)="
                                                                        addSpellToSpellMastery(
                                                                            spell
                                                                        )
                                                                    "
                                                                >
                                                                    <i
                                                                        class="ra ra-crown"
                                                                    ></i>
                                                                    Add to Spell
                                                                    Mastery
                                                                    selection
                                                                </button>
                                                            }

                                                            @if (
                                                                isSpellSelectedForSpellMastery(
                                                                    wizardCasting,
                                                                    spell
                                                                )
                                                            ) {
                                                                <button
                                                                    type="button"
                                                                    class="newrow center-aligned"
                                                                    (click)="
                                                                        removeSpellFromSpellMastery(
                                                                            wizardCasting,
                                                                            spell
                                                                        )
                                                                    "
                                                                >
                                                                    <i
                                                                        class="ra ra-crown"
                                                                    ></i>
                                                                    Remove from
                                                                    Spell
                                                                    Mastery
                                                                    selection
                                                                </button>
                                                            }
                                                        }

                                                        <div class="list-item">
                                                            <strong
                                                                >Show spell on
                                                                level</strong
                                                            >

                                                            <span>
                                                                <select
                                                                    aria-label="Select spell level"
                                                                    [(ngModel)]="
                                                                        showLevel
                                                                    "
                                                                >
                                                                    @for (
                                                                        levelOption of [
                                                                            0,
                                                                            1,
                                                                            2,
                                                                            3,
                                                                            4,
                                                                            5,
                                                                            6,
                                                                            7,
                                                                            8,
                                                                            9,
                                                                            10,
                                                                        ];
                                                                        track $index
                                                                    ) {
                                                                        <option
                                                                            [disabled]="
                                                                                levelOption &&
                                                                                spell.levelreq >
                                                                                    levelOption
                                                                            "
                                                                            [ngValue]="
                                                                                levelOption
                                                                            "
                                                                        >
                                                                            {{
                                                                                levelOption ===
                                                                                0
                                                                                    ? "Default (" +
                                                                                      spell.levelreq +
                                                                                      ")"
                                                                                    : levelOption
                                                                            }}
                                                                        </option>
                                                                    }
                                                                </select>
                                                            </span>
                                                        </div>

                                                        <app-spell
                                                            [spell]="spell"
                                                            [spellLevel]="
                                                                showLevel
                                                                    ? showLevel
                                                                    : level
                                                            "
                                                        />
                                                    </ng-template>

                                                    <ng-template
                                                        #SpellTitleTemplate
                                                    >
                                                        @if (
                                                            !tileMode.enabled
                                                        ) {
                                                            <span>
                                                                @if (
                                                                    !spell.isHostile()
                                                                ) {
                                                                    <i
                                                                        class="value bi-patch-plus bonus"
                                                                        [ngbTooltip]="
                                                                            'Beneficial spell'
                                                                        "
                                                                    ></i>
                                                                }

                                                                @if (
                                                                    spell.isHostile()
                                                                ) {
                                                                    <i
                                                                        class="value bi-patch-minus-fill penalty"
                                                                        [ngbTooltip]="
                                                                            'Hostile spell'
                                                                        "
                                                                    ></i>
                                                                }
                                                            </span>
                                                        }

                                                        <span>
                                                            {{ spell.name }}
                                                            @if (
                                                                spell.actions
                                                            ) {
                                                                <app-action-icons
                                                                    [actionString]="
                                                                        spell.actions
                                                                    "
                                                                />
                                                            }
                                                            {{ spell.castType }}
                                                        </span>
                                                    </ng-template>

                                                    @if (!tileMode.enabled) {
                                                        <div class="list-item">
                                                            <button
                                                                type="button"
                                                                aria-label="Show spell"
                                                                class="newrow left-aligned sublist-toggle"
                                                                [ngClass]="{
                                                                    'fancy-button choicecleared':
                                                                        isSpellLearned(
                                                                            spell.name
                                                                        ),
                                                                }"
                                                                (click)="
                                                                    toggleShownItem(
                                                                        spell.id
                                                                    )
                                                                "
                                                            >
                                                                @if (
                                                                    isSpellSelectedForSpellMastery(
                                                                        componentParameters.wizardCasting,
                                                                        spell
                                                                    )
                                                                ) {
                                                                    <span
                                                                        [ngbTooltip]="
                                                                            'Spell Mastery spell'
                                                                        "
                                                                    >
                                                                        <i
                                                                            class="ra ra-crown"
                                                                        ></i>
                                                                    </span>
                                                                }

                                                                <span>
                                                                    <ng-container
                                                                        *ngTemplateOutlet="
                                                                            SpellTitleTemplate
                                                                        "
                                                                    />

                                                                    @for (
                                                                        trait of [
                                                                            "Rare",
                                                                            "Uncommon",
                                                                        ];
                                                                        track $index
                                                                    ) {
                                                                        @if (
                                                                            spell.traits.includes(
                                                                                trait
                                                                            )
                                                                        ) {
                                                                            <app-trait
                                                                                [name]="
                                                                                    trait
                                                                                "
                                                                                [trait]="
                                                                                    traitFromName(
                                                                                        trait
                                                                                    )
                                                                                "
                                                                            />
                                                                        }
                                                                    }
                                                                </span>
                                                            </button>

                                                            @if (
                                                                shownItem() ===
                                                                spell.id
                                                            ) {
                                                                <div
                                                                    class="list-item sublist"
                                                                    [ngClass]="{
                                                                        'fancy-list':
                                                                            isSpellLearned(
                                                                                spell.name
                                                                            ),
                                                                    }"
                                                                >
                                                                    <ng-container
                                                                        *ngTemplateOutlet="
                                                                            SpellTemplate
                                                                        "
                                                                    />
                                                                </div>
                                                            }
                                                        </div>
                                                    }

                                                    @if (tileMode.enabled) {
                                                        <button
                                                            type="button"
                                                            aria-label="Show spell"
                                                            triggers="click"
                                                            [ngClass]="{
                                                                'fancy-button choicecleared':
                                                                    isSpellLearned(
                                                                        spell.name
                                                                    ),
                                                                penalty:
                                                                    spell.isHostile(),
                                                                bonus: !spell.isHostile(),
                                                            }"
                                                            [ngbPopover]="
                                                                SpellTemplate
                                                            "
                                                            (click)="
                                                                toggleShownItem()
                                                            "
                                                        >
                                                            <app-grid-icon
                                                                [ngClass]="{
                                                                    'fancy-button':
                                                                        isSpellLearned(
                                                                            spell.name
                                                                        ),
                                                                    penalty:
                                                                        spell.isHostile(),
                                                                    bonus: !spell.isHostile(),
                                                                }"
                                                                [ngbTooltip]="
                                                                    SpellTitleTemplate
                                                                "
                                                                [title]="
                                                                    spell.name
                                                                "
                                                                [detail]="
                                                                    spell.traits.includes(
                                                                        'Rare'
                                                                    )
                                                                        ? 'R'
                                                                        : spell.traits.includes(
                                                                                'Uncommon'
                                                                            )
                                                                          ? 'U'
                                                                          : ''
                                                                "
                                                                [superTitle]="
                                                                    isSpellSelectedForSpellMastery(
                                                                        componentParameters.wizardCasting,
                                                                        spell
                                                                    )
                                                                        ? 'icon-ra ra-crown'
                                                                        : ''
                                                                "
                                                                [spell]="spell"
                                                            />
                                                        </button>
                                                    }
                                                }
                                            }

                                            @if (
                                                visibleSpells.length >= 80 &&
                                                shownList() !== -2
                                            ) {
                                                <div class="newrow list-item">
                                                    <button
                                                        type="button"
                                                        class="center-aligned"
                                                        [disabled]="
                                                            (range + 1) * 40 >=
                                                            visibleSpells.length
                                                        "
                                                        (click)="incRange(1)"
                                                    >
                                                        Next 40
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </div>

                <div class="character-sheet-column mobile-hide">
                    <app-spellbook
                        [ngClass]="{ minimized: isSpellbookMinimized }"
                    />
                </div>
            </div>
        }
    </div>
</app-fly-in-menu>
