<!-- Changing Talisman Cords -->
<div class="list-item">
    <strong>Attach Talisman Cord</strong>

    <select
        aria-label="Select talisman cord"
        [(ngModel)]="newTalismanCord"
        (change)="onSelectTalismanCord()"
    >
        @for (
            cord of initialTalismanCords();
            track $index
        ) {
            @if ($first) {
                <option [ngValue]="cord"></option>
            } @else {
                <optgroup label="Current cord">
                    <option [ngValue]="cord">
                        {{ cord.talismanCord.name }}
                        ({{ talismanCordSchools(cord.talismanCord) }})
                    </option>
                </optgroup>
            }
        }

        @for (inv of inventories(); track $index) {
            @if (availableTalismanCords(inv); as availableTalismanCords) {
                @if (availableTalismanCords.length) {
                    <optgroup [label]="inventoryName$(inv) | async">
                        @for (cordSet of availableTalismanCords; track $index) {
                            <option [ngValue]="cordSet">
                                {{
                                    cordSet.talismanCord.amount > 1
                                        ? cordSet.talismanCord.amount
                                        : ""
                                }}
                                {{ cordSet.talismanCord.name }}
                                ({{
                                    talismanCordSchools(cordSet.talismanCord)
                                }})
                            </option>
                        }
                    </optgroup>
                }
            }
        }
    </select>
</div>
