<a [routerLink]="['/']">
  <h1>Patherpoint</h1>
</a>
<div class="filler"></div>
<a class="button fancy-button" (click)="toggleItemsMenu();toggleCharacterMenu('out')">Items</a>
<a class="button fancy-button loading" *ngIf="still_loading()">Loading</a>
<a class="button fancy-button" (click)="toggleCharacterMenu();toggleItemsMenu('out')" *ngIf="!still_loading()">{{get_Character().name}}</a>
<app-items [@slideInOut]="get_itemsMenuState()"></app-items>
<app-character [@slideInOut]="get_characterMenuState()"></app-character>