<div id="top-bar" class="row" [ngStyle]="{'--accent':get_Accent()}">
  <a [routerLink]="['/']">
    <h1>Patherpoint</h1>
  </a>
  <div class="filler"></div>
  <button class="fancy-button loading" *ngIf="still_loading()">Loading</button>
  <button class="fancy-button" (click)="toggleMenu('character')" *ngIf="!still_loading()">{{get_Character().name ? get_Character().name : "Character"}}</button>
  <button class="fancy-button" (click)="toggleMenu('companion')" *ngIf="!still_loading() && get_CompanionAvailable()">{{get_Companion().name ? get_Companion().name : "Animal Companion"}}</button>
  <button class="fancy-button" (click)="toggleMenu('familiar')" *ngIf="!still_loading() && get_FamiliarAvailable()">{{get_Familiar().name ? get_Familiar().name : "Familiar"}}</button>
  <button class="fancy-button" (click)="toggleMenu('items')" *ngIf="!still_loading()">Items</button>
  <button class="fancy-button" (click)="toggleMenu('spells')" *ngIf="!still_loading()">Spells</button>
  <button class="fancy-button" (click)="toggleMenu('spelllibrary')" *ngIf="!still_loading()">Spell Library</button>
  <button class="fancy-button" (click)="toggleMenu('conditions')" *ngIf="!still_loading()">Conditions</button>
  <button class="fancy-button" (click)="save()" *ngIf="!still_loading()" title="{{!get_Savegames() && 'Database connection failed.'}}" [disabled]="!get_Savegames()">Save</button>
  <button class="fancy-button" (click)="set_Changed()" *ngIf="!still_loading()" title="Refresh all">⟳</button>
</div>
<app-items [ngStyle]="{'--accent':get_Accent()}" [@slideInOut]="get_ItemsMenuState()" *ngIf="!still_loading()"></app-items>
<app-spells [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'minimized':(get_SpellsMinimized())}" [@slideInOut]="get_SpellMenuState()" *ngIf="!still_loading()"></app-spells>
<app-spellLibrary [ngStyle]="{'--accent':get_Accent()}" [@slideInOut]="get_SpellLibraryMenuState()" *ngIf="!still_loading()"></app-spellLibrary>
<app-conditions [ngStyle]="{'--accent':get_Accent()}" [@slideInOut]="get_ConditionsMenuState()" *ngIf="!still_loading()"></app-conditions>
<app-character [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'minimized':(get_CharacterMinimized())}" [@slideInOut]="get_CharacterMenuState()" *ngIf="!still_loading()"></app-character>
<app-animal-companion [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'minimized':(get_CompanionMinimized())}" [@slideInOut]="get_CompanionMenuState()" *ngIf="!still_loading() && get_CompanionAvailable()"></app-animal-companion>
<app-familiar [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'minimized':(get_FamiliarMinimized())}" [@slideInOut]="get_FamiliarMenuState()" *ngIf="!still_loading() && get_FamiliarAvailable()"></app-familiar>
