<button class="minimizebutton lower" (click)="minimize()" *ngIf="creature=='Character'">&#8691;</button>
<div id="{{creature}}-effects-height" class="attributeBox">
    <h3 class="box-header">Active Conditions</h3>
    <ng-container *ngFor="let conditionGain of get_AppliedConditions(true)">
        <div class="list-item" *ngFor="let condition of [get_Conditions(conditionGain.name)[0]]">
            <div class="row">
                <span>
                    <strong [className]="condition.buff ? 'bonus' : 'penalty'"
                        title="{{conditionGain.source}}">{{conditionGain.name}}
                        {{(conditionGain.value) ? conditionGain.value : ""}}
                    </strong>
                    {{(conditionGain.name != conditionGain.source) ? "("+conditionGain.source+")" : ""}}
                </span>
            </div>
            <div class="row fullsize-only">
                <span>{{get_Duration(conditionGain.duration)}}</span>
            </div>
            <div class="row fullsize-only">
                <div class="list-item lower row problem" *ngIf="condition.inputRequired">
                    <strong>Player input required:</strong>
                    <div class="row left-aligned">
                        <p *ngFor="let inputRequired of condition.inputRequired.split('\n')">
                            {{inputRequired}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <span>
                        <button (click)="remove_Condition(conditionGain)">
                            Remove
                        </button>
                    </span>
                    <span>
                        <button
                            (click)="toggle_Item(conditionGain.name+conditionGain.source+conditionGain.value+conditionGain.duration+'applied')">
                            Show Description
                        </button>
                    </span>
                </div>
                <ng-container
                    *ngIf="this.get_ShowItem()==conditionGain.name+conditionGain.source+conditionGain.value+conditionGain.duration+'applied'">
                    <div class="row left-aligned" *ngFor="let desc of condition.desc.split('\n\n')">
                        <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
                        <ul *ngIf="desc.split('\n').length > 1">
                            <li *ngFor="let line of desc.split('\n')">{{line}}</li>
                        </ul>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <h3 class="box-header">Active Effects</h3>
    <div class="list-item row lower" *ngFor="let effect of get_AppliedEffects()">
        <span>
            <strong [ngClass]="{'penalty':effect.penalty, 'bonus':effect.bonus, 'absolute':effect.setValue}"
                title="{{effect.source}}">{{effect.target}}
                {{parseInt(effect.value) ? effect.value : ''}}{{effect.setValue ? "= "+effect.setValue : ''}}
            </strong>
            {{(effect.type != "untyped") ? effect.type+' ' : ''}}{{(effect.toggle || effect.setValue) ? '' : (effect.penalty ? 'penalty' : 'bonus')}}
            ({{effect.source}})
        </span>
    </div>
    <button class="list-item fullsize-only center-aligned"
        (click)="toggle_NotApplied()">{{(showNotApplied) ? "Hide not applied" : "Show not applied"}}</button>
    <div class="fullsize-only" *ngIf="showNotApplied">
        <h3 class="box-header">Not Applied Conditions</h3>
        <div class="list-item notapplied" *ngFor="let conditionGain of get_AppliedConditions(false)">
            <div class="row">
                <span>
                    <strong [className]="conditionGain.buff ? 'bonus' : 'penalty'"
                        title="{{conditionGain.source}}">{{conditionGain.name}}
                        {{(conditionGain.value) ? conditionGain.value : ""}}
                    </strong>
                    {{(conditionGain.duration != -1) ? conditionGain.duration / 10 + " turns" : "permanent"}}
                </span>
            </div>
            <div class="row fullsize-only">
                <span>{{get_Duration(conditionGain.duration)}}</span>
            </div>
            <ng-container *ngFor="let condition of [get_Conditions(conditionGain.name)[0]]">
                <div class="row">
                    <button
                        (click)="toggle_Item(conditionGain.name+conditionGain.source+conditionGain.value+conditionGain.duration+'notapplied')">
                        Show Description
                    </button>
                    <button (click)="remove_Condition(conditionGain)">
                        Remove
                    </button>
                </div>
                <div class="row"
                    *ngIf="this.get_ShowItem()==conditionGain.name+conditionGain.source+conditionGain.value+conditionGain.duration+'notapplied'">
                    <p *ngFor="let desc of condition.desc.split('\n')">
                        {{desc}}
                    </p>
                </div>
            </ng-container>
        </div>
        <h3 class="box-header">Not Applied Effects</h3>
        <div class="list-item row lower notapplied" *ngFor="let effect of get_NotAppliedEffects()">
            <span>
                <strong [ngClass]="{'penalty':effect.penalty, 'bonus':effect.bonus, 'absolute':effect.setValue}"
                    title="{{effect.source}}">{{effect.target}}
                    {{parseInt(effect.value) ? effect.value : ''}}{{effect.setValue ? "= "+effect.setValue : ''}}
                </strong>
                {{(effect.type != "untyped") ? effect.type+' ' : ''}}{{(effect.toggle || effect.setValue) ? '' : (effect.penalty ? 'penalty' : 'bonus')}}
                ({{effect.source}})
            </span>
        </div>
    </div>
    <button class="list-item fullsize-only center-aligned"
        (click)="toggle_Hidden()">{{(showHidden) ? "Hide hidden effects" : "Show hidden effects"}}</button>
    <div class="fullsize-only" *ngIf="showHidden">
        <h3 class="box-header">Hidden Effects</h3>
        <div class="list-item row lower" *ngFor="let effect of get_HiddenEffects()">
            <span>
                <strong [ngClass]="{'penalty':effect.penalty, 'bonus':effect.bonus, 'absolute':effect.setValue}"
                    title="{{effect.source}}">{{effect.target}}
                    {{parseInt(effect.value) ? effect.value : ''}}{{effect.setValue ? "= "+effect.setValue : ''}}
                </strong>
                {{(effect.type != "untyped") ? effect.type+' ' : ''}}
                ({{effect.source}})
            </span>
        </div>
    </div>
</div>
<div *ngIf="set_Span()"></div>