<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<div class="window-button-container">
    <button class="tilemodebutton" [ngClass]="{'fancy-button':get_TileMode()}" (click)="toggle_TileMode()"
        [ngbTooltip]="get_TileMode() ? 'Click to enable list layout' : 'Click to enable tiled layout'">
        <!--Content is css only-->
        <div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
        </div>
    </button>
</div>
<div id="crafting" class="itembox vlist">
    <button class="itembox-close-button list-item center-aligned" (click)="toggleCraftingMenu()">
        <header class="sectionHeader">Back to Character Sheet</header>
    </button>
    <div class="loading" *ngIf="stillLoading">Loading</div>
    <ng-container *ngIf="!stillLoading && get_CraftingMenuState()==='in'">
        <div class="charactersheet-column-container">
            <div class="charactersheet-column">
                <div class="list-item">
                    <strong>Find (in Name, Description or Traits)</strong>
                    <span class="hlist">
                        <input type=text [(ngModel)]="wordFilter" (ngModelChange)=check_Filter() />
                        <button (click)="set_Filter()" [disabled]="wordFilter.length < 5">Show All</button>
                        <button (click)="wordFilter='';check_Filter()">Clear</button>
                    </span>
                </div>
                <div class="list-item">
                    <strong>Sort by</strong>
                    <div class="newrow">
                        <button class="center-aligned" [ngClass]="{'fancy-button':get_ShowSorting()==='name'}"
                            (click)="toggle_Sorting('name')">Name</button>
                        <button class="center-aligned" [ngClass]="{'fancy-button':get_ShowSorting()==='level'}"
                            (click)="toggle_Sorting('level')">Level</button>
                    </div>
                </div>
                <div class="fullsize-scroll-box vlist">
                    <header class="subsectionHeader">Change Currency</header>
                    <div class="list-item">
                        <div class="newrow">
                            <strong>Platinum</strong>
                            <input class="number4" type="number" [(ngModel)]="cashP"
                                (keypress)="positiveNumbersOnly($event)">
                            <strong>Gold</strong>
                            <input class="number4" type="number" [(ngModel)]="cashG"
                                (keypress)="positiveNumbersOnly($event)">
                            <strong>Silver</strong>
                            <input class="number4" type="number" [(ngModel)]="cashS"
                                (keypress)="positiveNumbersOnly($event)">
                            <strong>Copper</strong>
                            <input class="number4 center-aligned" type="number" [(ngModel)]="cashC"
                                (keypress)="positiveNumbersOnly($event)">
                        </div>
                        <div class="newrow">
                            <span>
                                <button (click)="change_Cash(1, 0, true)"
                                    [disabled]="cashP < 0 || cashG < 0 || cashS < 0 || cashC < 0">Gain</button>
                            </span>
                            <span>
                                <button (click)="change_Cash(-1, 0, true)"
                                    [disabled]="cashP < 0 || cashG < 0 || cashS < 0 || cashC < 0"
                                    [disabled]="!have_Funds()">Spend</button>
                            </span>
                        </div>
                    </div>
                    <ng-container *ngFor="let items of [get_Items()]; trackBy:trackByIndex;">
                        <ng-container *ngIf="have_Feat('Snare Specialist')">
                            <ng-container
                                *ngFor="let preparations of [get_SnareSpecialistPreparations()]; trackBy:trackByIndex;">
                                <header class="sectionHeader">Snare Specialist</header>
                                <div class="list-item">
                                    You can prepare {{preparations.available - preparations.prepared}} of
                                    {{preparations.available}} snares for quick deployment.
                                </div>
                                <ng-container
                                    *ngFor="let snares of [get_VisibleItems(items.snares)]; trackBy:trackByIndex;">
                                    <ng-container *ngFor="let listID of ['snarespecialist']; trackBy:trackByIndex;">
                                        <button class="list-item" [ngClass]="{'invisible':!snares.length}"
                                            (click)="toggle_List(listID)">
                                            <header class="sectionHeader">Snares</header>
                                        </button>
                                        <div [ngClass]="{'icon-list':get_TileMode(), 'list-item':!get_TileMode()}"
                                            [ngClass]="{'invisible':!snares.length}"
                                            *ngIf="get_ShowList()===listID||get_ShowList()==='All'">
                                            <ng-container *ngFor="let item of snares; trackBy:trackByIndex;">
                                                <ng-container
                                                    *ngFor="let preparedAmount of [get_PreparedForQuickCrafting(item)]; trackBy:trackByIndex">
                                                    <ng-template #SnareTemplate>
                                                        <header class="spellHeader newrow" *ngIf="get_TileMode()">
                                                            {{preparedAmount}}
                                                            {{item.get_Name()}}
                                                        </header>
                                                        <span>
                                                            <button class="center-aligned"
                                                                (click)="on_PrepareForQuickCrafting(item, -1)"
                                                                [disabled]="!preparedAmount">
                                                                -
                                                            </button>
                                                            <button class="center-aligned"
                                                                (click)="on_PrepareForQuickCrafting(item, 1)"
                                                                [disabled]="preparations.available <= preparations.prepared">
                                                                +
                                                            </button>
                                                            Prepare for quick deployment
                                                        </span>
                                                        <app-item class="lower" [item]=item [itemStore]=true></app-item>
                                                    </ng-template>
                                                    <ng-container *ngIf="!get_TileMode()">
                                                        <div class="list-item"
                                                            *ngFor="let inventoryID of [listID+item.id]; trackBy:trackByIndex;">
                                                            <button class="newrow sublist-toggle"
                                                                [ngClass]="{'fancy-button':preparedAmount}"
                                                                (click)="toggle_Item(inventoryID)">
                                                                <span>
                                                                    {{preparedAmount}}
                                                                    {{item.get_Name()}}
                                                                </span>
                                                                <span>
                                                                    {{(item.level) ? "Level "+item.level : "&nbsp;"}}
                                                                </span>
                                                            </button>
                                                            <div class="list-item sublist lower"
                                                                [ngClass]="{'fancy-list':preparedAmount}"
                                                                *ngIf=" get_ShowItem()===inventoryID">
                                                                <ng-container *ngTemplateOutlet="SnareTemplate">
                                                                </ng-container>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="get_TileMode()">
                                                        <button [ngbPopover]="SnareTemplate" triggers="click"
                                                            [ngClass]="{'fancy-button':preparedAmount}"
                                                            (click)="toggle_Item()">
                                                            <app-gridIcon [ngClass]="{'fancy-button':preparedAmount}"
                                                                [ngbTooltip]="(preparedAmount ? preparedAmount + ' ' : '') + item.get_Name({itemStore:true}) + (item.level ? ' (Level ' + item.level + ')' : '')"
                                                                [subTitle]="preparedAmount.toString()"
                                                                [title]="item.gridIconTitle()"
                                                                [detail]="(item.traits.includes('Rare') ? 'R' : (item.traits.includes('Uncommon') ? 'U' : (item.traits.includes('Unique') ? 'Q' : ''))) + (item.level || '')"
                                                                [item]="item">
                                                            </app-gridIcon>
                                                        </button>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <header class="sectionHeader">Craft Items</header>
                        <app-tags [creature]="creature" [objectName]="'Crafting'" [showTraits]=true [showFeats]=true
                            [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
                        <div class="list-item">
                            <strong
                                [ngbPopover]="'The material cost of Crafting an item can vary depending on your success using the Craft activity. If you Craft an item in any way that requires you to spend materials, manually spend the appropriate amount of currency and any required items.'">
                                About crafting costs
                                <i class="bi-question-circle"></i>
                            </strong>
                        </div>
                        <div class="list-item">
                            <strong
                                [ngbPopover]="'When available, a shoddy item usually costs half the Price of a standard item, though you can never sell one in any case. Attacks and checks involving a shoddy item take a -2 item penalty. This penalty also applies to any DCs that a shoddy item applies to (such as AC, for shoddy armor). A shoddy suit of armor also worsens the armor\'s check penalty by 2. A shoddy item\'s Hit Points and Broken Threshold are each half that of a normal item of its type.'">
                                About shoddy items
                                <i class="bi-question-circle"></i>
                            </strong>
                        </div>
                        <ng-container *ngFor="let itemSet of items.names; let index = index; trackBy:trackByIndex;">
                            <ng-container *ngFor="let listID of [''+(index*1000+1000)]; trackBy:trackByIndex;">
                                <ng-container
                                    *ngFor="let visibleItems of [get_VisibleItems(items[itemSet.key])]; trackBy:trackByIndex;">
                                    <button class="list-item"
                                        [ngStyle]="{'display':!visibleItems.length ? 'none' : 'flex' }"
                                        (click)="toggle_List(listID)">
                                        <header class="sectionHeader">{{itemSet.name}}</header>
                                    </button>
                                    <div [ngClass]="{'icon-list':get_TileMode(), 'list-item':!get_TileMode()}"
                                        [ngStyle]="{'display':!visibleItems.length ? 'none' : 'flex' }"
                                        *ngIf="get_ShowList()===listID||get_ShowList()==='All'">
                                        <div class="newrow list-item"
                                            *ngIf="visibleItems.length >= 80 && get_ShowList()!=='All'"
                                            (click)="set_Range(-1)">
                                            <button class="center-aligned" [disabled]="range <= 0">
                                                Previous 40
                                            </button>
                                            <header class="newrow subsectionHeader center-aligned">
                                                Showing {{(range * 40) + 1}}-{{(((range + 1) * 40) >=
                                                visibleItems.length) ? visibleItems.length : ((range + 1) *
                                                40)}} of {{visibleItems.length}}
                                            </header>
                                        </div>
                                        <ng-container
                                            *ngFor="let itemParameters of get_ItemParameters(visibleItems); let itemIndex = index; trackBy:trackByIndex;">
                                            <ng-container
                                                *ngIf="visibleItems.length < 80 || get_ShowList()==='All' || (itemIndex >= (range * 40) && itemIndex < ((range + 1) * 40 ))">
                                                <ng-template #ItemTitleTemplate>
                                                    <span>
                                                        <i class="value bi-x penalty"
                                                            *ngIf="!get_TileMode() && itemParameters.canUse === false"
                                                            [ngbTooltip]="'You are not trained with this item.'">
                                                        </i>
                                                        <i class="value bi-check2 bonus"
                                                            *ngIf="!get_TileMode() && itemParameters.canUse"
                                                            [ngbTooltip]="'You are trained with this item.'">
                                                        </i>
                                                        {{itemParameters.item.get_Name()}}
                                                    </span>
                                                    <span style="flex-basis:auto;flex-grow:0;">
                                                        <span *ngIf="itemParameters.item.level">
                                                            {{"Level "+itemParameters.item.level}}
                                                        </span>
                                                        <span *ngIf="itemParameters.asArmor">
                                                            {{itemParameters.asArmor.get_Title({itemStore:
                                                            true})}}
                                                        </span>
                                                        <span *ngIf="itemParameters.asWeapon">
                                                            {{itemParameters.asWeapon.get_Title()}}
                                                        </span>
                                                    </span>
                                                </ng-template>
                                                <ng-template #ItemTooltipTemplate>
                                                    <span>
                                                        {{itemParameters.item.get_Name({itemStore:true})}}
                                                    </span>
                                                    <span *ngIf="itemParameters.item.level">
                                                        |
                                                    </span>
                                                    <span *ngIf="itemParameters.item.level">
                                                        {{"Level "+itemParameters.item.level}}
                                                    </span>
                                                    <span *ngIf="itemParameters.asArmor || itemParameters.asWeapon">
                                                        |
                                                    </span>
                                                    <span *ngIf="itemParameters.asArmor">
                                                        {{itemParameters.asArmor.get_Title({itemStore: true})}}
                                                    </span>
                                                    <span *ngIf="itemParameters.asWeapon">
                                                        {{itemParameters.asWeapon.get_Title()}}
                                                    </span>
                                                </ng-template>
                                                <ng-template #ItemTemplate>
                                                    <header class="spellHeader newrow" *ngIf="get_TileMode()">
                                                        <ng-container *ngTemplateOutlet="ItemTitleTemplate">
                                                        </ng-container>
                                                    </header>
                                                    <ng-container>
                                                        <div class="newrow"
                                                            [ngbTooltip]="cannot_Craft(itemParameters.item).join('\n')">
                                                            <button class="newrow center-aligned"
                                                                (click)="grant_Item(itemParameters.item)"
                                                                [disabled]="cannot_Craft(itemParameters.item).length">
                                                                Craft {{itemParameters.stack > 1 ?
                                                                itemParameters.stack+" "
                                                                : ""}}using Craft activity
                                                            </button>
                                                        </div>
                                                    </ng-container>
                                                    <app-itemMaterial class="newrow"
                                                        [item]="itemParameters.asMaterialChangeable"
                                                        [craftingStation]="true">
                                                    </app-itemMaterial>
                                                    <div class="newrow list-item left-aligned"
                                                        *ngIf="itemParameters.asEquipment">
                                                        <input id="{{itemParameters.item.id}}shoddy" type="checkbox"
                                                            [(ngModel)]="itemParameters.asEquipment.shoddy">
                                                        <label for="{{itemParameters.item.id}}shoddy">Shoddy</label>
                                                    </div>
                                                    <app-item class="lower" [item]="itemParameters.item"
                                                        [itemStore]=true></app-item>
                                                </ng-template>
                                                <ng-container *ngIf="!get_TileMode()">
                                                    <div class="list-item"
                                                        *ngFor="let inventoryID of [listID+itemParameters.item.id]; trackBy:trackByIndex;">
                                                        <ng-container *ngIf="!get_TileMode()"></ng-container>
                                                        <button class="newrow sublist-toggle"
                                                            (click)="toggle_Item(inventoryID)">
                                                            <ng-container *ngTemplateOutlet="ItemTitleTemplate">
                                                            </ng-container>
                                                        </button>
                                                        <div class="list-item sublist lower"
                                                            *ngIf="get_ShowItem()===inventoryID">
                                                            <ng-container *ngTemplateOutlet="ItemTemplate">
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="get_TileMode()">
                                                    <button [ngbPopover]="ItemTemplate" triggers="click"
                                                        [ngClass]="{'penalty': itemParameters.canUse === false, 'bonus': itemParameters.canUse}"
                                                        (click)="toggle_Item()">
                                                        <app-gridIcon [updateId]="itemParameters.item.id"
                                                            [ngClass]="{'penalty': itemParameters.canUse === false, 'bonus': itemParameters.canUse}"
                                                            [ngbTooltip]="ItemTooltipTemplate"
                                                            [title]="itemParameters.item.gridIconTitle()"
                                                            [detail]="(itemParameters.item.traits.includes('Rare') ? 'R' : (itemParameters.item.traits.includes('Uncommon') ? 'U' : (itemParameters.item.traits.includes('Unique') ? 'Q' : ''))) + (itemParameters.item.level || '')"
                                                            [item]="itemParameters.item" [itemStore]="true">
                                                        </app-gridIcon>
                                                    </button>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                        <div class="newrow list-item"
                                            *ngIf="visibleItems.length >= 80 && get_ShowList()!=='All'">
                                            <button class="center-aligned"
                                                [disabled]="(range + 1) * 40 >= visibleItems.length"
                                                (click)="set_Range(1)">
                                                Next 40
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="charactersheet-column mobile-hide">
                <app-inventory [itemStore]="true" id="ItemStore-inventory" [sheetSide]="'right'"
                    [ngClass]="{'minimized':(get_InventoryMinimized())}"></app-inventory>
            </div>
        </div>
    </ng-container>
</div>
