<div class="row left-aligned" *ngIf="(item.get_Traits ? item.get_Traits() : item.traits).length">
    <cite class="trait" *ngFor="let trait of (item.get_Traits ? item.get_Traits() : item.traits)" title="{{get_Traits(trait)[0].description}}">&nbsp;{{trait}}</cite>
</div>
<div class="row left-aligned">
    <span *ngIf="item.price">
        <strong>Price</strong>
        {{get_Price(item)}}&nbsp;
    </span>
    <span *ngIf="item.dicenum">
        <strong>Damage</strong>
        {{item.dicenum}}d{{item.dicesize}} {{item.dmgType}}&nbsp;
    </span>
    <span *ngIf="(item.get_ACBonus ? item.get_ACBonus() : item.acbonus)">
        <strong>AC Bonus</strong>
        {{item.get_ACBonus ? item.get_ACBonus() : item.acbonus}}&nbsp;
    </span>
    <span *ngIf="(item.get_DexCap ? item.get_DexCap() : item.dexcap)">
        <strong>Dex Cap</strong>
        {{(item.get_DexCap ? item.get_DexCap() : item.dexcap)}}&nbsp;
    </span>
    <span *ngIf="(item.get_SkillPenalty ? item.get_SkillPenalty() : item.skillpenalty)">
        <strong>Check Penalty</strong>
        {{(item.get_SkillPenalty ? item.get_SkillPenalty() : item.skillpenalty)}}&nbsp;
    </span>
    <span *ngIf="item.speedpenalty">
        <strong>Speed Penalty</strong>
        {{item.speedpenalty}}&nbsp;
    </span>
    <span *ngIf="(item.get_Strength ? item.get_Strength() : item.strength)">
        <strong>Strength</strong>
        {{(item.get_Strength ? item.get_Strength() : item.strength)}}&nbsp;
    </span>
    <span *ngIf="item.storeBulk">
        <strong>Bulk</strong>
        {{item.storeBulk}}&nbsp;
    </span>
    <span *ngIf="item.bulk">
        <strong>Bulk</strong>
        {{item.bulk}}&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <span *ngIf="item.hands">
        <strong>Hands</strong>
        {{item.hands}}&nbsp;
    </span>
    <span *ngIf="item.ranged">
        <strong>Range</strong>
        {{item.ranged}} ft.&nbsp;
    </span>
    <span *ngIf="item.ranged">
        <strong>Reload</strong>
        {{item.reload}}&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <span *ngIf="item.usage">
        <strong>Usage</strong>
        {{item.usage}}&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <span *ngIf="item.ammunition">
        <strong>Ammunition</strong>
        {{item.ammunition}}&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <ng-container *ngFor="let desc of item.desc.split('\n\n')">
        <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
        <ul *ngIf="desc.split('\n').length > 1">
            <li *ngFor="let line of desc.split('\n')">{{line}}</li>
        </ul>
    </ng-container>
    <p *ngIf="item.benefit">
        <strong>Benefit</strong>
        {{item.benefit}}
    </p>
    <p *ngIf="item.drawback">
        <strong>Drawback</strong>
        {{item.drawback}}
    </p>
    <p *ngIf="item.activationType">
        <strong>Activate</strong>
        {{(item.actions) ? get_Actions(item) : ""}}
        {{item.activationType}}
    </p>
    <p *ngIf="item.subType">
        <strong>{{item.subType}}</strong>
        {{item.subTypeDesc}}
    </p>
</div>
<div class="row left-aligned" *ngIf="armoredSkirt">
    <h4>Armored Skirt</h4>
    <app-item [item]=armoredSkirt></app-item>
</div>
<ng-container *ngFor="let gain of item.gainActivity">
    <div class="row left-aligned" *ngFor="let activity of get_Activities(gain)">
        <h4>{{activity.name}} {{activity.get_Actions()}}{{(activity.activationType) ? " - " + activity.activationType : ""}}</h4>
        <app-activity [activity]=activity></app-activity>
    </div>
</ng-container>