<div class="row left-aligned tags" *ngIf="(item.get_Traits ? item.get_Traits(get_Creature()) : item.traits).length">
    <cite class="trait" *ngFor="let trait of (item.get_Traits ? item.get_Traits(get_Creature()) : item.traits)"
        title="{{get_Traits(trait)[0].description}}">{{trait}}</cite>
</div>
<div class="row left-aligned">
    <span *ngIf="item.price">
        <strong>Price</strong>
        {{get_Price(item)}}{{item.stack && item.stack > 1 ? " per "+item.stack : ""}}&nbsp;
    </span>
    <span *ngIf="item.dicenum">
        <strong>Damage</strong>
        {{item.dicenum}}d{{item.dicesize}} {{item.dmgType}}&nbsp;
    </span>
    <span *ngIf="(item.get_ACBonus ? item.get_ACBonus() : item.acbonus)">
        <strong>AC Bonus</strong>
        <span
            [className]="(item.affectedByArmoredSkirt == -1) ? 'penalty' : ((item.affectedByArmoredSkirt == 1) ? 'bonus' : '')">&nbsp;{{item.get_ACBonus ? item.get_ACBonus() : item.acbonus}}{{item.coverbonus ? " (" + (item.acbonus+item.coverbonus) + ")" : ""}}&nbsp;</span>
    </span>
    <span *ngIf="(item.type == 'armors' && (item.get_DexCap ? item.get_DexCap() != -1 : item.dexcap != -1))">
        <strong>Dex Cap</strong>
        <span
            [className]="(item.affectedByArmoredSkirt == 1) ? 'penalty' : ((item.affectedByArmoredSkirt == -1) ? 'bonus' : '')">&nbsp;{{(item.get_DexCap ? item.get_DexCap() : item.dexcap)}}&nbsp;</span>
    </span>
    <span *ngIf="(item.get_SkillPenalty ? item.get_SkillPenalty() : item.skillpenalty)">
        <strong>Check Penalty</strong>
        <span
            [className]="(item.affectedByArmoredSkirt == 1) ? 'penalty' : ((item.affectedByArmoredSkirt == -1) ? 'bonus' : '')">&nbsp;{{(item.get_SkillPenalty ? item.get_SkillPenalty() : item.skillpenalty)}}&nbsp;</span>
    </span>
    <span *ngIf="item.speedpenalty">
        <strong>Speed Penalty</strong>
        {{item.speedpenalty}}&nbsp;
    </span>
    <span *ngIf="(item.get_Strength ? item.get_Strength() : item.strength)">
        <strong>Strength</strong>
        <span
            [className]="(item.affectedByArmoredSkirt == 1) ? 'penalty' : ((item.affectedByArmoredSkirt == -1) ? 'bonus' : '')">&nbsp;{{(item.get_Strength ? item.get_Strength() : item.strength)}}&nbsp;</span>
    </span>
    <span *ngIf="item.storeBulk">
        <strong>Bulk</strong>
        {{item.storeBulk}}&nbsp;
    </span>
    <span *ngIf="item.get_Bulk()">
        <strong>Bulk{{item.carryingBulk && !item.equipped ? " (unequipped)" : ""}}</strong>
        <span [className]="item.carryingBulk && !item.equipped ? 'penalty' : (item.get_Bulk() != item.bulk ? 'bonus' : '')">&nbsp;{{item.get_Bulk()}}</span>&nbsp;
    </span>
    <span *ngIf="item.carryingBulk && item.equipped">
        <strong>Bulk (unequipped)</strong>
        {{item.carryingBulk}}&nbsp;
    </span>
    <span *ngIf="item.hardness">
        <strong>Hardness</strong>
        {{item.hardness}}&nbsp;
    </span>
    <span *ngIf="item.hitpoints">
        <strong>HP (BT)</strong>
        {{item.hitpoints}} ({{item.breakpoint}})&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <span *ngIf="item.hands">
        <strong>Hands</strong>
        {{item.hands}}&nbsp;
    </span>
    <span *ngIf="item.ranged">
        <strong>Range</strong>
        {{item.ranged}} ft.&nbsp;
    </span>
    <span *ngIf="item.ranged">
        <strong>Reload</strong>
        {{item.reload}}&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <span *ngIf="item.usage">
        <strong>Usage</strong>
        {{item.usage}}&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <span *ngIf="item.ammunition">
        <strong>Ammunition</strong>
        {{item.ammunition}}&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <ng-container *ngFor="let desc of item.desc.split('\n\n')">
        <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
        <ul *ngIf="desc.split('\n').length > 1">
            <li *ngFor="let line of desc.split('\n')">{{line}}</li>
        </ul>
    </ng-container>
    <ng-container *ngIf="item.name == 'Grievous'">
        <p *ngFor="let data of item.data">
            <strong>{{data.name}}&nbsp;</strong>{{data.value}}
        </p>
    </ng-container>
    <p *ngIf="item.benefit">
        <strong>Benefit</strong>
        {{item.benefit}}
    </p>
    <p *ngIf="item.drawback">
        <strong>Drawback</strong>
        {{item.drawback}}
    </p>
    <p *ngIf="item.activationType">
        <strong>Activate</strong>
        {{(item.actions) ? get_Actions(item) : ""}}
        {{item.activationType}}
    </p>
    <p *ngIf="item.subType">
        <strong>{{item.subType}}</strong>
        {{item.subTypeDesc}}
    </p>
    <p *ngIf="item.craftRequirement">
        <strong>Craft Requirement</strong>
        {{item.craftRequirement}}
    </p>
    <p *ngIf="item.critsuccess">
        <strong>Critical Success</strong>
        {{item.critsuccess}}
    </p>
    <p *ngIf="item.success">
        <strong>Success</strong>
        {{item.success}}
    </p>
    <p *ngIf="item.failure">
        <strong>Failure</strong>
        {{item.failure}}
    </p>
    <p *ngIf="item.critfailure">
        <strong>Critical Failure</strong>
        {{item.critfailure}}
    </p>
    <div class="list-item lower row problem" *ngIf="item.inputRequired">
        <strong>Player input required:</strong>
        <div class="row left-aligned">
            <p *ngFor="let inputRequired of item.inputRequired.split('\n')">
                {{inputRequired}}
            </p>
        </div>
    </div>
</div>
<div class="row" *ngIf="item.isDoublingRings && !itemStore">
    <h4>Doubling Rings</h4>
    <div class="row">
        <strong>Weapon wielded in the gold ring hand</strong>
        <select [(ngModel)]="item.data[0].value" (ngModelChange)="set_Changed()">
            <option *ngFor="let weapon of get_DoublingRingsOptions('gold')" [value]="weapon.id">
                {{weapon.get_Name()}}</option>
        </select>
    </div>
    <div class="row">
        <strong>Weapon wielded in the iron ring hand</strong>
        <select [(ngModel)]="item.data[1].value" (ngModelChange)="set_Changed()">
            <option *ngFor="let weapon of get_DoublingRingsOptions('iron')" [value]="weapon.id">
                {{weapon.get_Name()}}</option>
        </select>
    </div>
    <div class="row" *ngIf="item.isDoublingRings == 'Doubling Rings (Greater)'">
        <strong>Apply property runes</strong>
        <input type="checkbox" [(ngModel)]="item.data[2]" (ngModelChange)="set_Changed()">
    </div>
</div>
<app-itemAeonStones class="list-item" [item]=item [itemStore]=itemStore *ngIf="item.isWayfinder"></app-itemAeonStones>
<div class="list-item left-aligned" *ngFor="let cast of item.castSpells">
    <div *ngFor="let spell of get_Spells(cast.name)">
        <h4>{{spell.name}} {{spell.get_Actions()}} {{spell.castType.toString()}}</h4>
        <app-spell [spell]=spell [spellLevel]="(cast.level) ? cast.level : 0"></app-spell>
    </div>
</div>
<div class="list-item left-aligned" *ngIf="armoredSkirt">
    <h4>Armored Skirt</h4>
    <app-item [item]=armoredSkirt></app-item>
</div>
<div class="list-item left-aligned" *ngFor="let choice of item.storedSpells">
    <app-spellchoice [choice]="choice" [allowHeightened]="true" [level]="choice.level" [itemSpell]="true"></app-spellchoice>
</div>
<div class="list-item left-aligned" *ngFor="let activity of item.activities">
    <h4 *ngIf="activity.name">{{activity.name}}
        {{activity.get_Actions()}}{{(activity.activationType) ? " - " + activity.activationType : ""}}</h4>
    <app-activity [creature]="creature" [activity]=activity [gain]=activity [allowActivate]="allowActivate && (activity.resonant ? isSubItem : true)" [isSubItem]=isSubItem></app-activity>
    </div>
<ng-container *ngFor="let gain of item.gainActivities">
    <div class="list-item left-aligned"  *ngFor="let activity of get_Activities(gain.name)">
        <h4>{{activity.name}}
            {{activity.get_Actions()}}{{(activity.activationType) ? " - " + activity.activationType : ""}}</h4>
        <app-activity [creature]="creature" [activity]=activity [gain]=gain [allowActivate]=allowActivate [isSubItem]=isSubItem></app-activity>
        </div>
</ng-container>
<div class="list-item left-aligned" *ngFor="let oil of item.oilsApplied">
    <h4>{{oil.get_Name()}}</h4>
    <app-item [item]=oil [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>
<div class="list-item left-aligned" *ngIf="item.runeEffect">
    <h4>Rune Effect: {{item.runeEffect.name}}</h4>
    <app-item [item]=item.runeEffect [allowActivate]=allowActivate [isSubItem]=isSubItem></app-item>
</div>
<div class="list-item left-aligned" *ngFor="let rune of item.propertyRunes">
    <h4>{{rune.name}}</h4>
    <app-item [item]=rune [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>
<div class="list-item left-aligned" *ngFor="let stone of item.aeonStones">
    <h4>{{stone.name}}</h4>
    <app-item [item]=stone [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>