<div class="row left-aligned tags"
    *ngIf="(item.get_Traits ? item.get_Traits(characterService, get_Creature()) : item.traits).length">
    <cite class="trait"
        *ngFor="let trait of (item.get_Traits ? item.get_Traits(characterService, get_Creature()) : item.traits); trackBy:trackByIndex;"
        title="{{get_Traits(trait)[0].description}}">{{trait}}</cite>
</div>
<div class="row left-aligned tags">
    <app-tags [creature]="creature" [objectName]="item.name" [showTraits]=true [showFeats]=true [showItems]=true
        [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
</div>
<div class="row left-aligned" *ngIf="item.sourceBook">
    <span>
        <strong>Source</strong>
        <i>&nbsp;{{item.sourceBook}}</i>
    </span>
</div>
<div class="row left-aligned">
    <span *ngIf="item.price">
        <strong>Price</strong>
        {{get_Price(item)}}{{item.stack && item.stack > 1 ? " per "+item.stack : ""}}&nbsp;
    </span>
    <span *ngIf="item.dicenum">
        <strong>Damage</strong>
        {{item.dicenum}}d{{item.dicesize}} {{item.dmgType}}&nbsp;
    </span>
    <span *ngIf="item.acbonus">
        <strong>AC Bonus</strong>
        <span
            [ngClass]="{'penalty':item.get_ACBonus && (item.get_ACBonus() < item.acbonus), 'bonus':item.get_ACBonus && (item.get_ACBonus() > item.acbonus)}">
            {{item.get_ACBonus ? item.get_ACBonus() : item.acbonus}}{{item.coverbonus ? " (" + (item.acbonus+item.coverbonus) + ")" : ""}}&nbsp;
        </span>
    </span>
    <span *ngIf="(item.type == 'armors' && (item.get_DexCap ? item.get_DexCap() != -1 : item.dexcap != -1))">
        <strong>Dex Cap</strong>
        <span
            [ngClass]="{'penalty':item.get_DexCap() < item.dexcap, 'bonus':item.get_DexCap() > item.dexcap || (!item.get_DexCap() && item.dexcap)}">
            &nbsp;{{(item.get_DexCap ? item.get_DexCap() : item.dexcap)}}&nbsp;
        </span>
    </span>
    <span *ngIf="item.skillpenalty">
        <strong>Check Penalty</strong>
        <span
            [ngClass]="{'penalty':item.get_SkillPenalty() < item.skillpenalty, 'bonus':item.get_SkillPenalty() > item.skillpenalty}">
            &nbsp;{{(item.get_SkillPenalty ? item.get_SkillPenalty() : item.skillpenalty)}}&nbsp;
        </span>
    </span>
    <span *ngIf="item.speedpenalty">
        <strong>Speed Penalty</strong>
        {{item.speedpenalty}}&nbsp;
    </span>
    <span *ngIf="(item.get_Strength ? item.get_Strength() : item.strength)">
        <strong>Strength</strong>
        <span [ngClass]="{'penalty':item.get_Strength() > item.strength, 'bonus':item.get_Strength() < item.strength}">
            {{(item.get_Strength ? item.get_Strength() : item.strength)}}&nbsp;
        </span>
    </span>
    <span *ngIf="item.usage">
        <strong>Usage</strong>
        {{item.usage}}&nbsp;
    </span>
    <span *ngIf="item.storeBulk">
        <strong>Bulk</strong>
        {{item.storeBulk}}&nbsp;
    </span>
    <span *ngIf="item.get_Bulk()">
        <strong>Bulk{{item.carryingBulk && !item.equipped ? " (unequipped)" : ""}}</strong>
        <span
            [ngClass]="{'penalty':(get_BulkDifference(item) > 0), 'bonus':(get_BulkDifference(item) < 0)}">&nbsp;{{item.get_Bulk()}}&nbsp;
        </span>
    </span>
    <span *ngIf="item.carryingBulk && item.equipped">
        <strong>Bulk (unequipped)</strong>
        {{item.carryingBulk}}&nbsp;
    </span>
    <span *ngIf="item.hardness">
        <strong>Hardness</strong>
        {{item.hardness}}&nbsp;
    </span>
    <span *ngIf="item.hitpoints">
        <strong>HP (BT)</strong>
        {{item.hitpoints}} ({{item.breakpoint}})&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <span *ngIf="item.hands">
        <strong>Hands</strong>
        {{item.hands}}&nbsp;
    </span>
    <span *ngIf="item.ranged">
        <strong>Range</strong>
        {{item.ranged}} ft.&nbsp;
    </span>
    <span *ngIf="item.reload">
        <strong>Reload</strong>
        {{item.reload}}&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <p *ngIf="(item.activationType || (item.actions && item.actions != ' ')) && (!item.trigger && !item.requirements)">
        <strong>Activate</strong>
        <app-actionIcons [actionString]="item.actions">
        </app-actionIcons>{{item.activationType}}
        <span *ngIf="item.trigger">
            <strong>Trigger</strong>
            {{item.trigger}}
        </span>
        <span *ngIf="item.requirements">
            <strong>Requirements</strong>
            {{item.requirements}}
        </span>
        <span *ngIf="item.frequency">
            <strong>Frequency</strong>
            {{item.frequency}}
        </span>
        <span *ngIf="item.effect">
            <strong>Effect</strong>
            {{item.effect}}
        </span>
    </p>
</div>
<div class="row left-aligned">
    <span *ngIf="item.ammunition">
        <strong>Ammunition</strong>
        {{item.ammunition}}&nbsp;
    </span>
</div>
<div class="row left-aligned">
    <hr class="row">
    <ng-container *ngFor="let desc of item.desc.split('\n\n'); trackBy:trackByIndex;">
        <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
        <ul *ngIf="desc.split('\n').length > 1">
            <li *ngFor="let line of desc.split('\n'); trackBy:trackByIndex;">{{line}}</li>
        </ul>
    </ng-container>
    <ng-container *ngIf="item.name == 'Grievous'">
        <p *ngFor="let data of item.data; trackBy:trackByIndex;">
            <strong>{{data.name}}&nbsp;</strong>{{data.value}}
        </p>
    </ng-container>
    <p *ngIf="item.benefit">
        <strong>Benefit</strong>
        {{item.benefit}}
    </p>
    <p *ngIf="item.drawback">
        <strong>Drawback</strong>
        {{item.drawback}}
    </p>
    <p *ngIf="item.savingThrow || item.maxDuration || item.stages?.length">
        <span *ngIf="item.savingThrow"><strong>Saving Throw&nbsp;</strong>{{item.savingThrow}}&nbsp;</span>
        <span *ngIf="item.stages[0]"><strong>Onset&nbsp;</strong>{{item.stages[0]}}&nbsp;</span>
        <span *ngIf="item.maxDuration"><strong>Maximum Duration&nbsp;</strong>{{item.maxDuration}}&nbsp;</span>
        <ng-container *ngFor="let stage of item.stages; let stageIndex = index; trackBy:trackByIndex;">
            <span *ngIf="stageIndex > 0">
                <strong>Stage {{stageIndex}}&nbsp;</strong>{{item.stages[stageIndex]}}&nbsp;
            </span>
        </ng-container>
    </p>
    <p *ngIf="(item.activationType || (item.actions && item.actions != ' ')) && (item.trigger || item.requirements)">
        <strong>Activate</strong>
        <app-actionIcons [actionString]="item.actions">
        </app-actionIcons>{{item.activationType}}
        <span *ngIf="item.trigger">
            <strong>Trigger</strong>
            {{item.trigger}}
        </span>
        <span *ngIf="item.requirements">
            <strong>Requirements</strong>
            {{item.requirements}}
        </span>
    </p>
    <p *ngIf="item.subType">
        <strong>{{item.subType}}</strong>
        {{item.subTypeDesc}}
    </p>
    <p *ngIf="item.craftRequirement">
        <strong>Craft Requirement</strong>
        {{item.craftRequirement}}
    </p>
    <p *ngIf="item.critsuccess">
        <strong>Critical Success</strong>
        {{item.critsuccess}}
    </p>
    <p *ngIf="item.success">
        <strong>Success</strong>
        {{item.success}}
    </p>
    <p *ngIf="item.failure">
        <strong>Failure</strong>
        {{item.failure}}
    </p>
    <p *ngIf="item.critfailure">
        <strong>Critical Failure</strong>
        {{item.critfailure}}
    </p>
    <div class="list-item row problem" *ngIf="item.inputRequired">
        <strong>Player input required:</strong>
        <div class="row left-aligned">
            <p *ngFor="let inputRequired of item.inputRequired.split('\n'); trackBy:trackByIndex;">
                {{inputRequired}}
            </p>
        </div>
    </div>
</div>
<div class="row" *ngIf="item.isDoublingRings && !itemStore">
    <h4>Doubling Rings</h4>
    <div class="row">
        <strong>Weapon wielded in the gold ring hand</strong>
        <select [(ngModel)]="item.data[0].value" (ngModelChange)="on_DoublingRingsChange()">
            <option *ngFor="let weapon of get_DoublingRingsOptions('gold'); trackBy:trackByIndex;"
                [ngValue]="weapon.id">
                {{weapon.get_Name()}}</option>
        </select>
    </div>
    <div class="row">
        <strong>Weapon wielded in the iron ring hand</strong>
        <select [(ngModel)]="item.data[1].value" (ngModelChange)="on_DoublingRingsChange()">
            <option *ngFor="let weapon of get_DoublingRingsOptions('iron'); trackBy:trackByIndex;"
                [ngValue]="weapon.id">
                {{weapon.get_Name()}}</option>
        </select>
    </div>
    <div class="row" *ngIf="item.isDoublingRings == 'Doubling Rings (Greater)'">
        <strong>Apply property runes</strong>
        <input type="checkbox" [(ngModel)]="item.data[2]" (ngModelChange)="on_DoublingRingsChange()">
    </div>
</div>
<app-itemAeonStones class="list-item" [item]=item [itemStore]=itemStore *ngIf="item.isWayfinder"></app-itemAeonStones>
<div class="list-item left-aligned" *ngFor="let cast of item.castSpells; trackBy:trackByIndex;">
    <div *ngFor="let spell of get_Spells(cast.name); trackBy:trackByIndex;">
        <h4>{{spell.name}}<app-actionIcons [actionString]="spell.actions">
            </app-actionIcons> {{spell.castType.toString()}}</h4>
        <app-spell [spell]=spell [spellLevel]="(cast.level) ? cast.level : 0"></app-spell>
    </div>
</div>
<div class="list-item left-aligned" *ngFor="let material of item.material">
    <h4>{{material.name}}</h4>
    <ng-container *ngFor="let desc of material.desc.split('\n\n'); trackBy:trackByIndex;">
        <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
        <ul *ngIf="desc.split('\n').length > 1">
            <li *ngFor="let line of desc.split('\n'); trackBy:trackByIndex;">{{line}}</li>
        </ul>
    </ng-container>
</div>
<div class="list-item left-aligned" *ngIf="armoredSkirt">
    <h4>Armored Skirt</h4>
    <app-item [item]=armoredSkirt></app-item>
</div>
<div class="list-item left-aligned" *ngFor="let choice of item.storedSpells; trackBy:trackByIndex;">
    <app-spellchoice [choice]="choice" [allowHeightened]="true" [level]="choice.level" [itemSpell]="true">
    </app-spellchoice>
</div>
<div class="list-item left-aligned" *ngFor="let activity of item.activities; trackBy:trackByIndex;">
    <h4 *ngIf="activity.name">
        {{activity.name}}<app-actionIcons [actionString]="activity.actions">
        </app-actionIcons>{{(activity.activationType) ? activity.activationType : ""}}
    </h4>
    <app-activity [creature]="creature" [activity]=activity [gain]=activity
        [allowActivate]="allowActivate && !item.broken && (activity.resonant ? isSubItem : true)" [isSubItem]=isSubItem></app-activity>
</div>
<ng-container *ngFor="let gain of item.gainActivities; trackBy:trackByIndex;">
    <div class="list-item left-aligned" *ngFor="let activity of get_Activities(gain.name); trackBy:trackByIndex;">
        <h4>
            {{activity.name}}<app-actionIcons [actionString]="activity.actions">
            </app-actionIcons>{{(activity.activationType) ? activity.activationType : ""}}
        </h4>
        <app-activity [creature]="creature" [activity]=activity [gain]=gain [allowActivate]=allowActivate
            [isSubItem]=isSubItem></app-activity>
    </div>
</ng-container>
<ng-container *ngFor="let activityName of item.showActivities; trackBy:trackByIndex;">
    <div class="list-item left-aligned" *ngFor="let activity of get_Activities(activityName); trackBy:trackByIndex;">
        <h4>
            {{activity.name}}<app-actionIcons [actionString]="activity.actions">
            </app-actionIcons>{{(activity.activationType) ? activity.activationType : ""}}
        </h4>
        <app-activity [creature]="creature" [activity]=activity [gain]=null [allowActivate]=false
            [isSubItem]=isSubItem></app-activity>
    </div>
</ng-container>
<div class="list-item left-aligned" *ngFor="let oil of item.oilsApplied; trackBy:trackByIndex;">
    <h4>{{oil.get_Name()}}</h4>
    <app-item [creature]="creature" [item]=oil [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>
<div class="list-item left-aligned" *ngFor="let poison of item.poisonsApplied; trackBy:trackByIndex;">
    <h4>{{poison.name}}</h4>
    <button class="row left-aligned" (click)="on_PoisonUse(poison)" *ngIf="allowActivate">
        <span>Spend/Remove</span>
    </button>
    <app-item [creature]="creature" [item]=poison [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>
<div class="list-item left-aligned" *ngIf="item.runeEffect">
    <h4>Rune Effect: {{item.runeEffect.name}}</h4>
    <app-item [creature]="creature" [item]=item.runeEffect [allowActivate]=allowActivate [isSubItem]=isSubItem>
    </app-item>
</div>
<div class="list-item left-aligned" *ngFor="let rune of item.propertyRunes; trackBy:trackByIndex;">
    <h4>{{rune.name}} Rune</h4>
    <ng-container *ngFor="let spell of get_ItemSpell(rune)">
        <button class="row center-aligned" (click)="on_SpellItemUse(rune)">
            <span>Use<app-actionIcons [actionString]="spell.actions">
                </app-actionIcons> (Cast spell)
            </span>
        </button>
    </ng-container>
    <app-item [creature]="creature" [item]=rune [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>
<div class="list-item left-aligned" *ngFor="let stone of item.aeonStones; trackBy:trackByIndex;">
    <h4>{{stone.name}}</h4>
    <app-item [creature]="creature" [item]=stone [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>
<div class="list-item left-aligned" *ngFor="let talisman of item.talismans; let index = index; trackBy:trackByIndex;">
    <h4>{{talisman.name}}</h4>
    <button class="row left-aligned" (click)="on_TalismanUse(talisman, index)" *ngIf="allowActivate">
        <span>Activate<app-actionIcons [actionString]="talisman.actions">
            </app-actionIcons>{{(talisman.activationType) ? talisman.activationType : ""}}
        </span>
    </button>
    <app-item [creature]="creature" [item]=talisman [allowActivate]=allowActivate [isSubItem]=true></app-item>
</div>