<header class="sectionHeader" *ngIf="propertyData.priority == 0 && propertyData.group">
    {{propertyData.group.split("-")[1]}}</header>
<div class="list-item">
    <ng-container *ngIf="!noTitle">
        <div class="newrow left-aligned">
            <strong [ngbPopover]="propertyData.desc">{{propertyData.name}}</strong>
        </div>
    </ng-container>
    <ng-container *ngIf="get_IsObject(get_Parent()[propertyKey]) && get_Parent()[propertyKey]!=null">
        <button (click)="add_NewItemObject()">
            Add
        </button>
        <div class="list-item" *ngFor="let object of get_Parent()[propertyKey]; let i = index; trackBy:trackByIndex;">
            <span>
                {{i+1}}
            </span>
            <span>
                <button (click)="remove_NewItemObject(i)">
                    Remove
                </button>
            </span>
            <ng-container *ngIf="get_IsObject(object)">
                <ng-container *ngFor="let subProperty of get_NewItemSubProperties(object); trackBy:trackByIndex;">
                    <app-newItemProperty [propertyData]=subProperty [propertyKey]=subProperty.key
                        [parents]=parents.concat(propertyKey,i.toString()) [newItem]=newItem>
                    </app-newItemProperty>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!get_IsObject(object)">
                <app-newItemProperty class="newrow" [propertyData]=propertyData [propertyKey]="i.toString()"
                    [parents]=parents.concat(propertyKey) [noTitle]=true [newItem]=newItem>
                </app-newItemProperty>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="!get_IsObject(get_Parent()[propertyKey]) || get_Parent()[propertyKey]==null">
        <div class="newrow">
            <input id="{{propertyKey}}" class="newrow" type="text" [(ngModel)]="get_Parent()[propertyKey]"
                (blur)="validate()" *ngIf="!propertyData.type && !propertyData.locked">
            <textarea class="newrow" rows=3 [(ngModel)]="get_Parent()[propertyKey]"
                *ngIf="propertyData.type=='textarea'">
            </textarea>
            <input type="checkbox" [(ngModel)]="get_Parent()[propertyKey]" *ngIf="propertyData.type=='checkbox'">
            <input type="number" [(ngModel)]="get_Parent()[propertyKey]" (blur)="validate()"
                *ngIf="propertyData.type=='number'">
        </div>
        <div class="newrow" *ngIf="validationError.length">
            <span class="problem">
                {{validationError}}
            </span>
        </div>
        <div class="newrow" *ngIf="validationResult.length">
            <span>
                Current result: {{validationResult}}
            </span>
        </div>
        <div class="list-item" style="margin: initial 0" *ngIf="propertyData.type!='textarea' && propertyData.type!='checkbox' &&
        !(propertyData.parent == 'gainItems' && propertyData.key == 'type')">
            <select class="newrow left-aligned" [(ngModel)]="get_Parent()[propertyKey]"
                [disabled]="!get_Examples().length" (ngModelChange)="validate()">
                <option *ngFor="let example of get_Examples(); trackBy:trackByIndex;" [ngValue]="example">
                    {{example}}
                </option>
            </select>
        </div>
        <div class="list-item" style="margin: initial 0"
            *ngIf="propertyData.parent == 'gainItems' && propertyData.key == 'type'">
            <select class="newrow left-aligned" [(ngModel)]="get_Parent()[propertyKey]"
                (ngModelChange)="set_ItemType()">
                <option *ngFor="let itemset of get_ItemSets(); trackBy:trackByIndex;" [ngValue]="itemset.key">
                    {{itemset.name}}
                </option>
            </select>
        </div>
    </ng-container>
</div>
