<button class="minimizebutton lower"
    [ngbTooltip]="get_Minimized() ? 'Click to show all information.' : 'Click to show compact information.'"
    [ngClass]="{'fancy-button':get_Minimized()}" (click)="minimize()" *ngIf="creature=='Character'">
    <i class='bi-arrows-collapse' *ngIf="get_Minimized()"></i>
    <i class='bi-arrows-expand' *ngIf="!get_Minimized()"></i>
</button>
<div id="{{creature}}-skills-height" class="attributeBox">
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <header class="sectionHeader box-header">Perception</header>
        <ng-container *ngFor="let skill of get_Skills('', 'Perception'); trackBy:trackByIndex;">
            <app-skill [creature]="creature" [skill]=skill></app-skill>
        </ng-container>
        <div class="vlist">
            <header class="subsectionHeader">Senses</header>
            <div class="list-item lower" [ngbPopover]="get_SenseDesc(sense)"
                *ngFor="let sense of get_Senses(); trackBy:trackByIndex;">
                {{sense}}
            </div>
        </div>
        <app-tags [creature]="creature" [objectName]="'Senses'" [showTraits]=true [showFeats]=true [showItems]=true
            [showActivities]=true [showConditions]=true></app-tags>
        <ng-container *ngIf="creature=='Familiar'">
            <header class="sectionHeader box-header">Attack Rolls</header>
            <ng-container *ngFor="let skill of get_Skills('', 'Familiar Proficiency'); trackBy:trackByIndex;">
                <app-skill [creature]="creature" [skill]=skill></app-skill>
            </ng-container>
        </ng-container>
        <header class="sectionHeader box-header">Movement</header>
        <ng-container *ngFor="let speed of get_Speeds(); trackBy:trackByIndex;">
            <div class="list-item">
                <div class="newrow">
                    <span>
                        <strong>{{(speed.name=="Speed") ? "All Speeds" : speed.name}}</strong>
                    </span>
                    <span>
                        <div class="value"
                            [ngbPopover]="speed.value(get_Creature(), characterService, effectsService)[1]" [ngClass]="{'penalty':speed.penalties(get_Creature(), effectsService, speed.name, true),
                        'bonus':speed.bonuses(get_Creature(), effectsService, speed.name, true),
                        'absolute':speed.absolutes(get_Creature(), effectsService, speed.name, true).length}">
                            {{speed.value(get_Creature(), characterService, effectsService)[0]}}
                        </div>
                    </span>
                </div>
                <app-tags [creature]="creature" [objectName]=speed.name [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true
                    [specialEffects]="speed.absolutes(get_Creature(), effectsService, speed.name, true).concat(speed.relatives(get_Creature(), effectsService, speed.name, true))">
                </app-tags>
            </div>
        </ng-container>
        <app-tags [creature]="creature" [objectName]="'Movement'" [showTraits]=true [showFeats]=true [showItems]=true
            [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
        <header class="sectionHeader box-header">Skills</header>
        <!--Skill Increases-->
        <ng-container *ngFor="let choice of get_SkillChoices(); trackBy:trackByIndex;">
            <app-skillchoice (showSkillChoiceMessage)="receive_ChoiceMessage($event)" [showTitle]="true"
                [showContent]="true" [choice]="choice" [showChoice]="get_ShowList()">
            </app-skillchoice>
        </ng-container>
        <app-tags [creature]="creature" [objectName]="'Skills'" [showTraits]=true [showFeats]=true [showItems]=true
            [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
        <app-tags [creature]="creature" [objectName]="'Skill Checks'" [showTraits]=true [showFeats]=true
            [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
        <ng-container *ngFor="let skill of get_Skills('', 'Skill'); trackBy:trackByIndex;">
            <app-skill [creature]="creature" [skill]=skill></app-skill>
        </ng-container>
    </ng-container>
</div>