<div class="list-item"
    [ngClass]="{'fullsize-only':(calculatedSkill.value.result == 0), 'character-only':(calculatedSkill.level == 0 && creature == 'Companion')}"
    *ngFor="let calculatedSkill of [skill.calculate(get_Creature(), this.characterService,this.abilitiesService,this.effectsService, get_Character().level, isDC)]; trackBy:trackByIndex;">
    <div class="newrow">
        <ng-template #AbilityPopoverContent>
            <strong>Ability</strong> {{calculatedSkill.ability}}
        </ng-template>
        <ng-template #EffectsPopoverContent>
            <div class="fullsize-only newrow">
                <app-objectEffects [creature]="creature" [objectName]="skill.name"></app-objectEffects>
            </div>
        </ng-template>
        <span class="hlist">
            <span class="hlist fullsize-only">
                <input id="{{skill.name}}ShowNotes" class="invisible" type="checkbox"
                    [(ngModel)]="get_Notes(skill).showNotes">
                <label for="{{skill.name}}ShowNotes" [ngbTooltip]="'Edit notes'">
                    <i class='bi-pencil-square'></i>
                </label>
                <ng-container *ngIf="(skill.name.includes(' DC') ? isDC : !isDC) && showValue">
                    <span [ngbPopover]="EffectsPopoverContent" #EffectsPopover="ngbPopover" triggers="click">
                        <i [ngbTooltip]="!EffectsPopover.isOpen() ? 'Edit effects' : ''"
                            class='bi-lightning-charge'></i>
                    </span>
                </ng-container>
            </span>
            <strong [ngbPopover]="calculatedSkill.ability ? AbilityPopoverContent : null">{{get_Name(skill)}}</strong>
        </span>
        <app-proficiency-form style="flex-grow:0" [creature]="creature" [skill]="skill"
            [characterService]="this.characterService" [level]="this.characterService.get_Character().level"
            *ngIf="creature != 'Familiar'">
        </app-proficiency-form>
        <span *ngIf="showValue">
            <app-quickdice *ngIf="!isDC" [diceNum]="1" [diceSize]="20" [bonus]="calculatedSkill.value.result"
                [type]="'('+get_Name(skill)+')'">
            </app-quickdice>
            <div class="value" [ngbPopover]="((isDC) ? 'DC basis: 10\n' : '')+calculatedSkill.value.explain"
                [ngClass]="{'penalty':calculatedSkill.penalties, 'bonus':calculatedSkill.bonuses, 'absolute':calculatedSkill.absolutes.length}">
                {{calculatedSkill.value.result + ((isDC) ? 10 : 0)}}
            </div>
        </span>
    </div>
    <app-tags *ngIf="showValue" [creature]="creature" [objectName]=skill.name [showTraits]=true [showFeats]=true
        [showItems]=true [showActivities]=true [showConditions]=true
        [specialEffects]="calculatedSkill.absolutes.concat(calculatedSkill.relatives)">
    </app-tags>
    <div class="fullwidth" [ngbCollapse]="!get_Notes(skill).showNotes">
        <div class="fullsize-only newrow">
            <span>
                <strong>Notes</strong>
                <input id="{{skill.name}}Notes" type="textarea" class="fullwidth" [(ngModel)]="get_Notes(skill).notes">
            </span>
        </div>
    </div>
</div>