<div class="list-item"
    [ngClass]="{'fullsize-only':(calculatedSkill.value.result == 0), 'character-only':(calculatedSkill.level == 0 && creature == 'Companion')}"
    *ngFor="let calculatedSkill of [skill.calculate(get_Creature(), this.characterService,this.abilitiesService,this.effectsService, get_Character().level, isDC)]; trackBy:trackByIndex;">
    <div class="newrow">
        <ng-template #AbilityPopover>
            <strong>Ability</strong>
            {{calculatedSkill.ability}}
        </ng-template>
        <span>
            <span class="fullsize-only">
                <input id="{{skill.name}}ShowNotes" class="invisible" type="checkbox" [(ngModel)]="skill.showNotes">
                <label for="{{skill.name}}ShowNotes" [ngbTooltip]="'Edit notes'"><i class='bi-pencil-square'></i>&nbsp;</label>
            </span>
            <strong [ngbPopover]="calculatedSkill.ability ? AbilityPopover : null">{{get_Name(skill)}}</strong>
        </span>
        <app-proficiency-form style="flex-grow:0" [creature]="creature" [skill]="skill"
            [characterService]="this.characterService" [level]="this.characterService.get_Character().level"
            *ngIf="creature != 'Familiar'">
        </app-proficiency-form>
        <span *ngIf="showValue">
            <div class="value" [ngbPopover]="((isDC) ? 'DC basis: 10\n' : '')+calculatedSkill.value.explain"
                [ngClass]="{'penalty':calculatedSkill.penalties, 'bonus':calculatedSkill.bonuses, 'absolute':calculatedSkill.absolutes.length}">
                {{calculatedSkill.value.result + ((isDC) ? 10 : 0)}}
            </div>
        </span>
    </div>
    <app-tags [creature]="creature" [objectName]=skill.name [showTraits]=true [showFeats]=true [showItems]=true
        [showActivities]=true [showConditions]=true [specialNames]=get_SpecialShowon(skill)
        [specialEffects]="calculatedSkill.absolutes.concat(calculatedSkill.relatives)">
    </app-tags>
    <div class="fullwidth" [ngbCollapse]="!skill.showNotes">
        <div class="fullsize-only newrow">
            <span>
                <strong>Notes</strong>
                <input id="{{skill.name}}Notes" type="textarea" class="fullwidth" [(ngModel)]="skill.notes">
            </span>
        </div>
    </div>
</div>