<app-toast-container
    class="toast-container ngb-toasts"
    aria-live="polite"
    aria-atomic="true"
/>

<ng-container *ngIf="isReady$ | async; else LoadingTemplate">
    <app-top-bar class="top-bar" />

    <app-character-sheet class="character-sheet" />
</ng-container>

<ng-template #LoadingTemplate>
    <div
        *ngIf="loadingStatus$ | async as loadingStatus"
        class="loading"
    >
        <ng-container [ngSwitch]="loadingStatus.key">
            <app-login
                *ngSwitchCase="apiStatusKey.NotLoggedIn"
                [loadingStatus]="loadingStatus"
            />

            <app-character-selection *ngSwitchCase="apiStatusKey.NoCharacter" />

            <ng-container *ngSwitchDefault>
                <i
                    *ngIf="loadingStatus.key === apiStatusKey.Failed; else SpinnerTemplate"
                    class="bi-slash-circle loading__icon loading__icon--failed"
                ></i>

                <ng-template #SpinnerTemplate>
                    <app-loading-spinner
                        class="loading__spinner"
                        size="25vw"
                    />
                </ng-template>

                <app-description
                    class="loading__text"
                    [text]="loadingStatus.message ?? ''"
                />

                <app-button
                    *ngIf="loadingStatus.retryFn"
                    (clicked)="loadingStatus.retryFn()"
                >
                    Try again
                </app-button>
            </ng-container>
        </ng-container>
    </div>
</ng-template>

<app-button
    class="darkmode-button"
    label="Toggle dark mode"
    noOutline
    ghost
    (clicked)="toggleDarkmode()"
>
    <i [className]="(isDarkmode$ | async) ? 'bi-moon-fill' : 'bi-sun-fill'"></i>
</app-button>
