<app-toast-container
    class="toast-container ngb-toasts"
    aria-live="polite"
    aria-atomic="true"
/>

@if (isReady$ | async) {
    <app-top-bar class="top-bar" />

    <app-character-sheet class="character-sheet" />
} @else {
    @if (loadingStatus$ | async; as loadingStatus) {
        <div class="loading">
            @switch (loadingStatus.key) {
                @case (apiStatusKey.NotLoggedIn) {
                    <app-login [loadingStatus]="loadingStatus" />
                }

                @case (apiStatusKey.NoCharacter) {
                    <app-character-selection />
                }

                @default {
                    @if (loadingStatus.key === apiStatusKey.Failed) {
                        <i
                            class="bi-slash-circle loading__icon loading__icon--failed"
                        ></i>
                    } @else {
                        <app-loading-diamond
                            class="loading__spinner"
                            [size]="25"
                        />
                    }

                    <app-description
                        class="loading__text"
                        [text]="loadingStatus.message ?? ''"
                    />

                    @if (loadingStatus.retryFn) {
                        <app-button (clicked)="loadingStatus.retryFn()">
                            Try again
                        </app-button>
                    }
                }
            }
        </div>
    }
}

@if ({ set: (isDarkmode$ | async) }; as darkMode) {
    <app-button
        class="darkmode-button"
        noOutline
        ghost
        [label]="
            'Light/Dark mode: ' +
            (darkMode.set === undefined
                ? 'Follow system'
                : darkMode.set
                  ? 'Dark mode'
                  : 'Light mode')
        "
        (clicked)="toggleDarkmode()"
    >
        <i
            [className]="
                darkMode.set === undefined
                    ? 'bi-brilliance'
                    : darkMode.set
                      ? 'bi-moon-fill'
                      : 'bi-sun-fill'
            "
        ></i>
    </app-button>
}
