@import 'utilities';

:host {
    @include flex-column-center;

    gap: $spacing-s;

    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
}

.darkmode-button {
    position: fixed;
    top: $spacing-s;
    right: $spacing-s;

    font-size: 2rem;
}

.top-bar {
    flex-shrink: 0;
}

.loading {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include flex-column-center;
    @include flex-center-main-axis;

    gap: $spacing-l;

    &__icon {
        font-size: min(25vw, 25vh);
        line-height: min(25vw, 25vh);
    }

    &__spinner {
        font-size: min(1vw, 1vh);
        max-height: min(25vw, 25vh);
        max-width: min(25vw, 25vh);
    }

    &__text {
        @include text-large;
        text-align: center;
    }
}
