@import 'utilities';

:host {
    @include flex-column-center;

    justify-content: stretch;

    width: 100vw;
    height: 100vh;
}

.top-bar {
    flex-shrink: 0;
}

.app-container {
    @include flex-column-center;

    align-items: stretch;

    gap: $spacing-s;

    flex-grow: 1;

    width: 100%;
    overflow-y: hidden;
}
