<span class="iconValue disable-text-selection" [ngStyle]="{'color': effect ? 'inherit' : 'var(--textcolor)'}">{{get_IconValue()}}</span>
<span class="iconDetail disable-text-selection">{{get_IconDetail()}}</span>
<span class="iconSuperTitle disable-text-selection" style="text-align: center;" [innerHtml]="get_IconSuperTitle()"></span>
<span class="iconTitle newrow disable-text-selection" style="text-align: center;" [innerHtml]="get_IconTitle()"></span>
<span class="iconSubTitle disable-text-selection" [innerHtml]="get_IconSubTitle()"></span>
<ng-container *ngIf="(condition?.duration < condition?.maxDuration) || (effect?.duration < effect?.maxDuration)">
    <ng-container *ngFor="let overlay of get_DurationOverlays(); trackBy:trackByIndex;">
        <div class="gridicon-time-overlay" [style.--offset]="overlay.offset" [style.--percentage]="overlay.percentage"
            [style.--over50]="overlay.over50" [ngClass]="{'transition5':!overlay.over50}"></div>
    </ng-container>
</ng-container>