<button class="minimizebutton lower" (click)="minimize()" *ngIf="creature=='Character'">&#8691;</button>
<div id="{{creature}}-health-height" class="attributeBox">
    <ng-container *ngFor="let health of [calculate_Health()]">
        <h3 class="box-header">Health:
            <span
                [className]="(health.$currentHP <= 0) ? 'penalty' : (health.$currentHP > health.$maxHP) ? 'bonus' : ''">{{health.$currentHP}}</span>
            Hit Points
        </h3>
        <div class="loading" *ngIf="still_loading()">Loading</div>
        <ng-container *ngIf="!still_loading()">
            <button class="list-item center-aligned" (click)="rest()">Rest</button>
            <app-tags [creature]="creature" [objectName]="'Health'" [showTraits]=true [showFeats]=true [showItems]=true
                [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            <div class="fullsize-only list-item">
                <div class="row">
                    <strong>Max HP</strong>
                    <span>
                        <input class="number3" type="number"
                            [className]="(get_PenaltiesOnThis('Health').length) ? 'penalty' : (get_BonusesOnThis('Health').length) ? 'bonus' : ''"
                            value="{{health.$maxHP}}" disabled>
                    </span>
                    <strong>Temp HP</strong>
                    <span>
                        <input class="number3" type="number"
                            [className]="(health.temporaryHP < 0) ? 'penalty' : (health.temporaryHP > 0) ? 'bonus' : ''"
                            value="{{health.temporaryHP}}" disabled>
                    </span>
                </div>
                <div class="row">
                    <app-tags [creature]="creature" [objectName]="'Max HP'" [showTraits]=true [showFeats]=true
                        [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
                </div>
            </div>
            <div class="list-item" [className]="(health.$dying > 0) ? '' : 'fullsize-only'">
                <div class="row">
                    <strong>Dying</strong>
                    <span>
                        <input class="number2" type="number" [className]="(health.$dying > 0) ? 'penalty' : ''"
                            value="{{health.$dying}}" disabled>
                    </span>
                    <strong>Max Dying</strong>
                    <span>
                        <input class="number2" type="number"
                            [className]="(get_PenaltiesOnThis('Max Dying').length) ? 'penalty' : (get_BonusesOnThis('Health').length) ? 'bonus' : ''"
                            value="{{health.$maxDying}}" disabled>
                    </span>
                </div>
                <div class="row" *ngIf="health.$dying > 0">
                    <span>
                        <button (click)="on_DyingSave(true)">Save
                        </button>
                    </span>
                    <span>
                        <button (click)="on_DyingSave(false)">Fail Save
                        </button>
                    </span>
                </div>
                <div class="row" *ngIf="health.$dying > 0 && creature == 'Character'">
                    <button (click)="on_HeroPointRecover()" [disabled]="!get_Character().heroPoints">Use all hero points
                        to recover
                    </button>
                </div>
                <app-tags [creature]="creature" [objectName]="'Max Dying'" [showTraits]=true [showFeats]=true
                    [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            </div>
            <div class="list-item" [className]="(health.$wounded > 0) ? '' : 'fullsize-only'">
                <strong>Wounded</strong><input class="number2" type="number"
                    [className]="(health.$wounded > 0) ? 'penalty' : ''" value="{{health.$wounded}}" disabled>
                <button *ngIf="health.$wounded > 0" (click)="on_HealWounded()">Heal</button>
            </div>
            <div class="list-item row">
                <span>
                    <strong>Take Damage</strong>
                </span>
                <span>
                    <input id="nonlethal" type="checkbox" [(ngModel)]="this.nonlethal"><label
                        for="nonlethal">nonlethal</label>
                </span>
                <span>
                    <input class="number3" type="number" [(ngModel)]="this.damage" maxLength="3">
                </span>
                <span>
                    <button [disabled]="this.damage <= 0"
                        (click)="health.takeDamage(get_Creature(), characterService, effectsService, damage, nonlethal)">Ouch!</button>
                </span>
            </div>
            <div class="list-item row">
                <span>
                    <strong>Heal Damage</strong>
                </span>
                <span>&nbsp;</span>
                <span>
                    <input class="number3" type="number" [(ngModel)]="this.healing" maxLength="3">
                </span>
                <span>
                    <button [disabled]="this.healing <= 0"
                        (click)="health.heal(get_Creature(), characterService, effectsService, healing)">Heal</button>
                </span>
            </div>
            <div class="list-item row" *ngIf="get_NumbToDeath()"
                [className]="(health.$dying <= 0) ? 'fullsize-only' : ''">
                <span>
                    <strong>Numb to Death</strong>
                </span>
                <span>
                    <button [disabled]="health.$dying <= 0"
                        (click)="health.heal(get_Creature(), characterService, effectsService, characterService.get_Character().level, true, false)">Heal
                        and recover</button>
                </span>
            </div>
            <div class="fullsize-only list-item row">
                <span>
                    <strong>Temp HP</strong>
                </span>
                <span>&nbsp;</span>
                <span>
                    <input class="number3" type="number" [(ngModel)]="this.addTempHP" maxLength="3">
                </span>
                <span>
                    <button [disabled]="this.addTempHP == 0" (click)="add_TempHP(this.addTempHP)">Add</button>
                </span>
            </div>
            <ng-container *ngFor="let resistances of [get_Resistances()]">
                <h5 *ngIf="resistances.length">Resistances</h5>
                <div class="list-item" *ngIf="resistances.length">
                    <div class="row" *ngFor="let resistance of resistances">
                        <span title="{{resistance.source}}"
                            [className]="(resistance.value < 0) ? 'penalty' : 'bonus'">{{resistance.target}}:
                            {{Math.abs(resistance.value)}}{{(resistance.exception) ? " /"+resistance.exception : ""}}</span>
                    </div>
                    <app-tags [creature]="creature" [objectName]="'Resistances'" [showTraits]=true [showFeats]=true
                        [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
<div *ngIf="set_Span()"></div>