<div id="health" class="attributeBox">
    <h3>Health: {{get_Health().currentHP(this.characterService, this.effectsService)}} Hit Points</h3>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <div *ngIf="!still_loading()">
        <div class="list-item">
            <strong>Max HP</strong>
            <input class="number" type="number"
                [className]="(get_PenaltiesOnThis('Health').length) ? 'penalty' : (get_BonusesOnThis('Health').length) ? 'bonus' : ''"
                value="{{get_Health().maxHP(this.characterService, this.effectsService)}}" disabled>
            Temp HP: <input class="number" type="number"
                [className]="(get_Health().temporaryHP < 0) ? 'penalty' : (get_Health().temporaryHP > 0) ? 'bonus' : ''"
                value="{{get_Health().temporaryHP}}" disabled>
            <div class="row">
                <cite *ngFor="let effect of get_EffectsOnThis('Max HP')" [className]="effect.penalty ? 'penalty' : 'bonus'">{{effect.value}} ({{effect.source}})&nbsp;</cite>
                <cite *ngFor="let feat of get_FeatsShowingOn('Health')" [title]="(feat.hint) ? feat.hint : feat.desc">{{feat.name}}&nbsp;</cite>
                <cite *ngFor="let condition of get_ConditionsShowingOn('Health')" [className]="(condition.buff) ? 'bonus' : 'penalty'" [title]="condition.desc">{{condition.name}}&nbsp;</cite>
            </div>
        </div> 
        <div class="list-item">
            <strong>Dying</strong><input class="number" type="number"
                [className]="(get_Health().dying > 0) ? 'penalty' : ''"
                value="{{get_Health().dying}}" disabled>
            /
            <span
                [className]="(get_PenaltiesOnThis('Max Dying').length) ? 'penalty' : (get_BonusesOnThis('Health').length) ? 'bonus' : ''">
                {{get_Health().maxDying(this.effectsService)}}
            </span>
            <button *ngIf="get_Health().dying > 0" (click)="on_DyingSave(true)">Save</button>
            <button *ngIf="get_Health().dying > 0" (click)="on_DyingSave(false)">Fail Save</button>
            <div class="row">
                <cite *ngFor="let effect of get_EffectsOnThis('Max Dying')" [className]="effect.penalty ? 'penalty' : 'bonus'">{{effect.value}} ({{effect.source}})&nbsp;</cite>
                <cite *ngFor="let feat of get_FeatsShowingOn('Dying')" [title]="(feat.hint) ? feat.hint : feat.desc">{{feat.name}}&nbsp;</cite>
                <cite *ngFor="let condition of get_ConditionsShowingOn('Dying')" [className]="(condition.buff) ? 'bonus' : 'penalty'" [title]="condition.desc">{{condition.name}}&nbsp;</cite>
            </div>
        </div>
        <div class="list-item">
            <strong>Wounded</strong><input class="number" type="number"
            [className]="(get_Health().wounded > 0) ? 'penalty' : ''"
            value="{{get_Health().wounded}}" disabled>
            <button *ngIf="get_Health().wounded > 0" (click)="get_Health().wounded = 0">Heal</button>
        </div>
        <div class="list-item">
            <strong>Take Damage</strong><input class="number" type="number"
            [(ngModel)]="this.damage">
            <button [disabled]="this.damage <= 0" (click)="get_Health().takeDamage(this.characterService, this.effectsService, this.damage)">Ouch!</button>
        </div>
        <div class="list-item">
            <strong>Heal Damage</strong><input class="number" type="number"
            [(ngModel)]="this.healing">
            <button [disabled]="this.healing <= 0" (click)="get_Health().heal(this.characterService, this.effectsService, this.healing)">Heal</button>
        </div>
        <h3>Resistances</h3>
        <div class="list-item" *ngIf="get_Resistances().length">
            <div class="row" *ngFor="let resistance of get_Resistances()">
                <span title="{{resistance.source}}" [className]="(resistance.value < 0) ? 'penalty' : 'bonus'">{{resistance.target}}: {{Math.abs(resistance.value)}}{{(resistance.exception) ? " /"+resistance.exception : ""}}</span>
            </div>
            <div class="row">
                <cite *ngFor="let effect of get_EffectsOnThis('Resistances')" [className]="effect.penalty ? 'penalty' : 'bonus'">{{effect.value}} ({{effect.source}})&nbsp;</cite>
                <cite *ngFor="let feat of get_FeatsShowingOn('Resistances')" [title]="(feat.hint) ? feat.hint : feat.desc">{{feat.name}}&nbsp;</cite>
                <cite *ngFor="let condition of get_ConditionsShowingOn('Resistances')" [className]="(condition.buff) ? 'bonus' : 'penalty'" [title]="condition.desc">{{condition.name}}&nbsp;</cite>
            </div>
        </div> 
    </div>
</div>