<!--Changing Blade Ally Status-->
<div class="list-item newrow">
    <div class="newrow">
        <strong>Rune Effect</strong>
        <select [(ngModel)]="newPropertyRune" (ngModelChange)="add_BladeAllyRune()">
            <ng-container
                *ngFor="let rune of get_InitialPropertyRunes(); let initialRuneIndex = index; trackBy:trackers.trackByIndex;">
                <option [ngValue]="rune" *ngIf="initialRuneIndex === 0" [selected]=!item.propertyRunes[0]>
                    <!--Blank option to deselect-->
                </option>
                <optgroup *ngIf="initialRuneIndex === 1" label="Current rune">
                    <option [ngValue]="rune">
                        {{rune.rune.name}}
                    </option>
                </optgroup>
            </ng-container>
            <optgroup label="Available runes" *ngIf="get_WeaponPropertyRunes().length">
                <option *ngFor="let rune of get_WeaponPropertyRunes(); trackBy:trackers.trackByIndex;" [ngValue]="rune"
                    [disabled]="rune.disabled">
                    {{rune.rune.amount > 1 ? rune.rune.amount+" " : ""}}{{rune.rune.name}}
                </option>
            </optgroup>
        </select>
    </div>
</div>
