<ng-container *ngFor="let allTags of [get_AllTags()]; trackBy:trackByIndex;">
    <div class="fullsize-only newrow left-aligned" *ngIf="allTags.count > 0">
        <ng-container *ngFor="let traitSet of allTags.traits; trackBy:trackByIndex;">
            <ng-container *ngFor="let trait of traitSet.traits; trackBy:trackByIndex;">
                <app-hint [creature]="creature" [ngClass]="'trait'" [object]="trait" [objectName]="traitSet.setName"
                    [description]="trait.name +' ('+ trait.haveOn(get_Creature(), this.characterService, true) + ')'">
                </app-hint>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let featSet of allTags.feats; trackBy:trackByIndex;">
            <ng-container *ngFor="let feat of featSet.feats; trackBy:trackByIndex;">
                <app-hint [creature]="creature" [ngClass]="'feat'" [object]="feat" [objectName]="featSet.setName"
                    [description]="feat.name">
                </app-hint>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let itemSet of allTags.items; trackBy:trackByIndex;">
            <ng-container *ngFor="let item of itemSet.items; trackBy:trackByIndex;">
                <app-hint [creature]="creature" [ngClass]="'item'" [object]="item" [objectName]="itemSet.setName"
                    [description]="item.name">
                </app-hint>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let specializationSet of allTags.specializations; trackBy:trackByIndex;">
            <ng-container *ngFor="let spec of specializationSet.specializations; trackBy:trackByIndex;">
                <app-hint [creature]="creature" [ngClass]="'item'" [object]="spec"
                    [objectName]="specializationSet.setName" [description]="spec.name">
                </app-hint>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let activitySet of allTags.activities; trackBy:trackByIndex;">
            <ng-container *ngFor="let activity of activitySet.activities; trackBy:trackByIndex;">
                <app-hint [creature]="creature" [ngClass]="'activity'" [object]="activity"
                    [objectName]="activitySet.setName" [description]="activity.name"></app-hint>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let conditionSets of allTags.conditions; trackBy:trackByIndex;">
            <ng-container *ngFor="let conditionSet of conditionSets.conditionSets; trackBy:trackByIndex;">
                <app-hint [creature]="creature" [ngClass]="'condition'" [object]="conditionSet"
                    [objectName]="conditionSets.setName" [description]="conditionSet.condition.name">
                </app-hint>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let effect of allTags.effects; trackBy:trackByIndex;">
            <ng-template #effectPopover>
                <div class="newrow">
                    <span>
                        <strong
                            [ngClass]="{'penalty':effect.penalty, 'bonus':!effect.penalty && !effect.setValue, 'absolute':effect.setValue}">
                            {{effect.target}} {{parseInt(effect.value) ? effect.value : ''}}{{effect.setValue ?
                            "="+effect.setValue : ''}}
                        </strong>
                    </span>
                </div>
                <div class="newrow" *ngIf="effect.type != 'untyped' && !effect.toggle && !effect.setValue">
                    <span>
                        <strong>Type</strong>
                        {{effect.type + " " + (effect.penalty ? 'penalty' : 'bonus')}}
                    </span>
                </div>
                <div class="newrow" *ngIf="effect.duration">
                    <span>
                        <strong>Duration</strong>
                        {{effect.duration ? get_Duration(effect.duration) : ''}}
                    </span>
                </div>
                <div class="newrow">
                    <span>
                        <strong>Source</strong>
                        {{effect.source.includes('conditional, ') ?
                        effect.source.substr(13) : effect.source}}
                    </span>
                </div>
                <div class="newrow" *ngIf="effect.source.includes('conditional, ')">
                    <span>
                        <strong>Conditional</strong>
                        This effect only applies for certain actions or under specific circumstances.
                    </span>
                </div>
            </ng-template>
            <cite class="effect"
                [ngClass]="{'penalty':effect.penalty, 'bonus':!effect.penalty && !effect.setValue, 'absolute':effect.setValue}"
                [ngbPopover]="effectPopover">
                {{parseInt(effect.value) ? effect.value : ''}}{{effect.setValue ? effect.setValue : ''}}
                ({{effect.source}})
            </cite>
        </ng-container>
    </div>
</ng-container>