<ng-container *ngFor="let listID of [choice.id]; trackBy:trackByIndex;">
    <ng-container *ngFor="let INTBonus of [get_SkillINTBonus(choice)]; trackBy:trackByIndex;">
        <div class="list-item" *ngIf="(choice.available + INTBonus) > 0" [ngClass]="{'problem':(choice.increases.length > choice.available + INTBonus || someIllegal(choice)), 'fullsize-only':(choice.increases.length == choice.available + INTBonus)}">
            <button class="newrow sublist-toggle skillincrease" [ngClass]="{'fancy-button choicecleared':(choice.increases.length == choice.available + INTBonus)}" (click)="toggle_Choice(listID)">
                Skill {{choice.maxRank == 2 ? 'Training' : 'Increase'}}
                ({{choice.source}}){{(choice.available + INTBonus > 1) ?
                (": "+ choice.increases.length +"/"+ (choice.available + INTBonus) ) :
                (choice.increases.length) ? ": "+ choice.increases[0].name : ""}}
            </button>
            <div class="list-item sublist skillincrease" [ngClass]="{'fancy-list':(choice.available + INTBonus == choice.increases.length)}" *ngIf="get_ShowChoice()==listID">
                <div class="list-item" [ngClass]="{'selected':skillIncreasedByThis(skill, choice)}" *ngFor="let skill of get_AvailableSkills(choice, level); trackBy:trackByIndex;" [ngClass]="{'problem':(!skill.isLegal(get_Character(), this.characterService, level.number) ||
                (!skill.isLegal(get_Character(), this.characterService, level.number, choice.maxRank) && skillIncreasedByThis(skill, choice)))}">
                    <div class="newrow" *ngFor="let itemID of [choice.id+skill.name]; trackBy:trackByIndex;">
                        <span>
                            <input id="{{itemID}}" type="checkbox"
                                (change)="on_SkillIncrease(skill.name, $event.target.checked, choice, false)"
                                [checked]="skillIncreasedByThis(skill, choice)"
                                [disabled]="skillLockedByThis(skill, choice) || (((choice.available + INTBonus <= choice.increases.length) || cannotIncrease(skill, level, choice).length) && !skillIncreasedByThis(skill, choice))">
                            <label for="{{itemID}}">
                                <strong>{{skill.name}}{{skill.ability ? " (" + skill.ability.substr(0,3) + ")" :
                                    ""}}:</strong>
                                <app-proficiency-form [creature]="'Character'" [skill]="skill"
                                    [characterService]="this.characterService" [level]="level.number"
                                    [excludeTemporary]="excludeTemporary">
                                </app-proficiency-form>
                                <cite class="problem"
                                    *ngFor="let reason of cannotIncrease(skill, level, choice); trackBy:trackByIndex;">
                                    {{reason}}
                                </cite>
                                <cite class="problem"
                                    *ngIf="!skill.isLegal(get_Character(), this.characterService, level.number) || (!skill.isLegal(get_Character(), this.characterService, level.number, choice.maxRank) && skillIncreasedByThis(skill, choice))">
                                    This skill was raised higher than allowed!
                                </cite>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>