<app-character-sheet-card
    [showMinimizeButton]="shouldShowMinimizeButton"
    [minimized]="(isMinimized$ | async) ?? false"
    (toggleMinimized)="toggleMinimized($event)"
>
    <div
        class="attributeBox"
        id="{{ creature }}-abilities-height"
    >
        <header class="sectionHeader box-header">Abilities</header>

        @for (ability of abilityValues$ | async; track $index) {
            <div class="list-item minimized-hide">
                <app-attribute-value
                    [title]="ability.ability.name"
                    [creature]="creature"
                    [customEffectsTarget]="ability.ability.name"
                    [value]="ability.value.result"
                    [bonuses]="ability.value.bonuses"
                />

                @if ((isMinimized$ | async) === false) {
                    <app-tags
                        [creature]="creature"
                        [objectName]="ability.ability.name"
                        [showTraits]="true"
                        [showFeats]="true"
                        [showItems]="true"
                        [showActivities]="true"
                        [showConditions]="true"
                        [showEffects]="true"
                    />
                }
            </div>

            <div
                class="list-item"
                [ngClass]="{ 'minimized-hide': ability.mod.result === 0 }"
            >
                <app-attribute-value
                    [title]="ability.ability.name + ' Modifier'"
                    [creature]="creature"
                    [customEffectsTarget]="ability.ability.name + ' Modifier'"
                    [value]="ability.mod.result"
                    [bonuses]="ability.mod.bonuses"
                />

                <app-tags
                    [creature]="creature"
                    [objectName]="ability.ability.name + ' Modifier'"
                    [showTraits]="true"
                    [showFeats]="true"
                    [showItems]="true"
                    [showActivities]="true"
                    [showConditions]="true"
                    [showEffects]="true"
                />
            </div>
        }
    </div>
</app-character-sheet-card>
