@if (conditionGain) {
    @if (fullDisplay) {
        <div class="newrow">
            <span>
                <button
                    type="button"
                    [ngClass]="{
                        'fancy-button':
                            shownItem() === conditionGain.id + 'description',
                    }"
                    (click)="toggleShownItem(conditionGain.id + 'description')"
                >
                    {{
                        shownItem() === conditionGain.id + "description"
                            ? "Hide"
                            : "Show"
                    }}
                    Description
                </button>
            </span>
        </div>
    }

    <div
        [ngbCollapse]="
            fullDisplay && shownItem() !== conditionGain.id + 'description'
        "
    >
        @if (condition.sourceBook) {
            <div class="newrow lower left-aligned">
                <strong>Source</strong>

                <i>{{ condition.sourceBook }}</i>
            </div>
        }

        @for (
            desc of heightenedConditionDescription().split("\n\n");
            track $index
        ) {
            <div class="newrow lower left-aligned">
                <app-description
                    class="newrow"
                    [text]="desc"
                />
            </div>
        }
    </div>
}
