<app-character-sheet-card class="character-sheet-card filter-buttons">
    <app-button
        class="filter-buttons__button"
        label="Show general information"
        ngbTooltip="Show general information"
        [toggled]="shownMode === 'All'"
        (click)="toggleShownMode('All')"
    >
        <i class="bi-info-circle-fill"></i>
    </app-button>

    <app-button
        class="filter-buttons__button"
        label="Show health information"
        ngbTooltip="Show health information"
        [toggled]="shownMode === 'Health'"
        (click)="toggleShownMode('Health')"
    >
        <i class="ra ra-health"></i>
    </app-button>

    <app-button
        class="filter-buttons__button"
        label="Show defense information"
        ngbTooltip="Show defense information"
        [toggled]="shownMode === 'Defense'"
        (click)="toggleShownMode('Defense')"
    >
        <i class="ra ra-shield"></i>
    </app-button>

    <app-button
        class="filter-buttons__button"
        label="Show attacks"
        ngbTooltip="Show attacks"
        [toggled]="shownMode === 'Attacks'"
        (click)="toggleShownMode('Attacks')"
    >
        <i class="ra ra-sword"></i>
    </app-button>

    <app-button
        class="filter-buttons__button"
        label="Show spells"
        ngbTooltip="Show spells"
        [toggled]="shownMode === 'Spells'"
        (click)="toggleShownMode('Spells')"
    >
        <i class="ra ra-doubled"></i>
    </app-button>

    <app-button
        class="filter-buttons__button"
        label="Show skills and speeds"
        ngbTooltip="Show skills and speeds"
        [toggled]="shownMode === 'Skills'"
        (click)="toggleShownMode('Skills')"
    >
        <i class="ra ra-muscle-up"></i>
    </app-button>

    <app-button
        class="filter-buttons__button"
        label="Show actions and activities"
        ngbTooltip="Show actions and activities"
        [toggled]="shownMode === 'Activities'"
        (click)="toggleShownMode('Activities')"
    >
        <app-action-icons [actionString]="'1A'" />
    </app-button>

    <app-button
        class="filter-buttons__button"
        label="Show inventory"
        ngbTooltip="Show inventory"
        [toggled]="shownMode === 'Inventory'"
        (click)="toggleShownMode('Inventory')"
    >
        <i class="bi-box"></i>
    </app-button>

    <app-button
        class="filter-buttons__button"
        label="Show conditions and effects"
        ngbTooltip="Show conditions and effects"
        [toggled]="shownMode === 'ConditionsEffects'"
        (click)="toggleShownMode('ConditionsEffects')"
    >
        <i class="ra ra-lightning-bolt"></i>

        <i class="bi-clock"></i>
    </app-button>
</app-character-sheet-card>

<div class="character-sheet-columns">
    <div class="character-sheet-columns__column">
        @if (shownMode !== "ConditionsEffects") {
            @if (shownMode === "All") {
                <app-general />
            }

            @if (shownMode === "All") {
                <app-abilities />
            }

            @if (shownMode === "Health") {
                <app-health />
            }

            @if (shownMode === "Defense") {
                <app-defense />
            }

            @if (shownMode === "Attacks") {
                <app-attacks />
            }

            @if (shownMode === "Spells") {
                <app-spellbook />
            }

            @if (shownMode === "Skills") {
                <app-skills />
            }

            @if (shownMode === "Actions") {
                <app-activities />
            }

            @if (shownMode === "Inventory") {
                <app-inventory />
            }
        } @else {
            <app-effects [fullDisplay]="true" />
        }
    </div>
</div>
