<div class="character-sheet-card filter-buttons">
    <button
        aria-label="General"
        type="button"
        class="filter-buttons__button"
        [ngClass]="{'filter-buttons__button--selected': shownMode === 'All'}"
        (click)="toggleShownMode('All')"
    >
        <i class="bi-info-circle-fill"></i>
    </button>

    <button
        aria-label="Health"
        type="button"
        class="filter-buttons__button"
        [ngClass]="{'filter-buttons__button--selected': shownMode === 'Health'}"
        (click)="toggleShownMode('Health')"
    >
        <i class="ra ra-health"></i>
    </button>

    <button
        aria-label="Defense"
        type="button"
        class="filter-buttons__button"
        [ngClass]="{'filter-buttons__button--selected': shownMode === 'Defense'}"
        (click)="toggleShownMode('Defense')"
    >
        <i class="ra ra-shield"></i>
    </button>

    <button
        aria-label="Attacks"
        type="button"
        class="filter-buttons__button"
        [ngClass]="{'filter-buttons__button--selected': shownMode === 'Attacks'}"
        (click)="toggleShownMode('Attacks')"
    >
        <i class="ra ra-sword"></i>
    </button>

    <button
        aria-label="Spells"
        type="button"
        class="filter-buttons__button"
        [ngClass]="{'filter-buttons__button--selected': shownMode === 'Spells'}"
        (click)="toggleShownMode('Spells')"
    >
        <i class="ra ra-doubled"></i>
    </button>

    <button
        aria-label="Skills"
        type="button"
        class="filter-buttons__button"
        [ngClass]="{'filter-buttons__button--selected': shownMode === 'Skills'}"
        (click)="toggleShownMode('Skills')"
    >
        <i class="ra ra-muscle-up"></i>
    </button>

    <button
        aria-label="Actions and activities"
        type="button"
        class="filter-buttons__button"
        [ngClass]="{'filter-buttons__button--selected': shownMode === 'Activities'}"
        (click)="toggleShownMode('Activities')"
    >
        <app-action-icons [actionString]="'1A'"></app-action-icons>
    </button>

    <button
        aria-label="Inventory"
        type="button"
        class="filter-buttons__button"
        [ngClass]="{'filter-buttons__button--selected': shownMode === 'Inventory'}"
        (click)="toggleShownMode('Inventory')"
    >
        <i class="bi-box"></i>
    </button>

    <button
        aria-label="Conditions and effects"
        type="button"
        class="filter-buttons__button"
        [ngClass]="{'filter-buttons__button--selected': shownMode === 'ConditionsEffects'}"
        (click)="toggleShownMode('ConditionsEffects')"
    >
        <i class="ra ra-lightning-bolt"></i>

        <i class="bi-clock"></i>
    </button>
</div>

<div class="character-sheet-columns">
    <div class="character-sheet-columns__column">
        <ng-container *ngIf="shownMode !== 'ConditionsEffects'; else ConditionsAndEffectsTemplate">
            <app-general *ngIf="shownMode === 'All'"></app-general>

            <app-abilities *ngIf="shownMode === 'All'"></app-abilities>

            <app-health *ngIf="shownMode === 'Health'"></app-health>

            <app-defense *ngIf="shownMode === 'Defense'"></app-defense>

            <app-attacks *ngIf="shownMode === 'Attacks'"></app-attacks>

            <app-spellbook *ngIf="shownMode === 'Spells'"></app-spellbook>

            <app-skills *ngIf="shownMode === 'Skills'"></app-skills>

            <app-activities *ngIf="shownMode === 'Actions'"></app-activities>

            <app-inventory *ngIf="shownMode === 'Inventory'"></app-inventory>
        </ng-container>

        <ng-template #ConditionsAndEffectsTemplate>
            <app-time class="character-sheet-card"></app-time>

            <app-effects [fullDisplay]="true"></app-effects>
        </ng-template>
    </div>
</div>
