<button class="minimizebutton lower" [ngStyle]="{'background-color':get_Accent()}" (click)="minimize()">&#8691;</button>
<div id="activities-height" class="attributeBox">
<h3 [ngStyle]="{'color':get_Accent()}">Actions and Activities</h3>
<div class="loading" *ngIf="still_loading()">Loading</div>
<ng-container *ngIf="!still_loading()">
    <ng-container *ngFor="let gain of get_OwnedActivities()">
        <ng-container *ngFor="let activity of get_Activities(gain.name)">
            <div class="list-item" *ngFor="let activityID of [get_ID()]">
                <button class="row button" (mouseover)="hover = activityID" (mouseout)="hover = 0"
                    [ngStyle]="(gain.active) ? {'color':get_Accent()} : {'background-color':get_Accent()}"
                    [className]="(gain.active) ? 'fancy-button' : ''" (click)="toggle_Action(activityID)">
                    <span>{{activity.name}}</span>
                    <span>{{activity.get_Actions()}}{{(activity.activationType) ? " - " + activity.activationType : ""}}</span>
                </button>
                <div class="list-item sublist lower"
                    [ngStyle]="(gain.active) ? {} : {'border-color':get_Accent(activityID)}"
                    [className]="(gain.active) ? 'fancy-list' : ''" *ngIf="get_showAction()==activityID">
                    <button class="row center-aligned" [ngStyle]="{'background-color':get_Accent()}"
                        (click)="on_Activate(gain, activity, true)" *ngIf="activity.can_Activate() && !gain.active && !gain.cooldown">
                        Activate
                    </button>
                    <button class="row center-aligned" [ngStyle]="{'background-color':get_Accent()}"
                        (click)="on_Activate(gain, activity, false)" *ngIf="activity.can_Activate() && gain.active">
                        Deactivate
                    </button>
                    <button class="row center-aligned" [ngStyle]="{'background-color':get_Accent()}"
                        (click)="on_Activate(gain, activity, true)" *ngIf="gain.cooldown" disabled>
                        Cannot activate for {{get_Duration(gain.cooldown)}}
                    </button>
                    <app-activity [activity]=activity></app-activity>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
</div>
<div *ngIf="set_Span()"></div>