<ng-container *ngFor="let listID of [choice.source+choice.id]; trackBy:trackByIndex">
    <ng-container *ngFor="let availableFeats of [get_Available(choice)]; trackBy:trackByIndex">
        <ng-container *ngFor="let buttonTitle of [get_ButtonTitle(availableFeats)]; trackBy:trackByIndex">
            <div *ngIf="availableFeats > 0"
                [ngClass]="{'list-item': showTitle && !get_TileMode(), 'problem':(cannotTakeSome(choice) || choice.feats.length > availableFeats), 'fullsize-only':(availableFeats == choice.feats.length)}">
                <!--Choice button shows in title mode-->
                <button class="newrow left-aligned sublist-toggle"
                    [ngClass]="{'fancy-button choicecleared':(availableFeats == choice.feats.length), 'featchoice':!choice.specialChoice, 'specialchoice':choice.specialChoice, 'activechoice':get_ShowChoice()==listID && !choice.showOnSheet}"
                    (click)="toggle_List(listID)" *ngIf="showTitle && !get_TileMode()">
                    {{buttonTitle}}
                </button>
                <button (click)="toggle_List(listID)" *ngIf="showTitle && get_TileMode()"
                    [ngClass]="{'fancy-button choicecleared':(availableFeats == choice.feats.length), 'featchoice':!choice.specialChoice, 'specialchoice':choice.specialChoice, 'activechoice':get_ShowChoice()==listID}">
                    <app-gridIcon class="featchoice" [ngbTooltip]="buttonTitle" [superTitle]="availableFeats.toString()"
                        [title]="availableFeats == 1 && choice.feats.length ? choice.feats[0].name : choice.feats.length.toString()"
                        [ngClass]="{'fancy-button':(availableFeats == choice.feats.length), 'featchoice':!choice.specialChoice, 'specialchoice':choice.specialChoice}">
                    </app-gridIcon>
                </button>
                <!--Choice title shows above content in content only mode-->
                <div class="newrow list-item padding-8 center-aligned" *ngIf="!showTitle">
                    <header class="box-header sectionHeader">
                        {{buttonTitle}}
                    </header>
                </div>
                <!--Choice content shows in content mode-->
                <div id="{{!showTitle ? 'choiceArea' : ''}}"
                    [ngClass]="{'list-item sublist':showTitle, 'fancy-list':showTitle && (availableFeats == choice.feats.length), 'charactersheet-app':!showTitle, 'featchoice':!choice.specialChoice, 'specialchoice':choice.specialChoice}"
                    *ngIf="showContent && get_ShowChoice()==listID">
                    <!-- Filter -->
                    <div class="list-item lower">
                        <strong>Filter</strong>
                        <div class="list-item gridicon-fullsizebox">
                            <input class="character-choice" id="unavailableFeats" type="checkbox"
                                [(ngModel)]="unavailableFeats">
                            <label for="unavailableFeats"><strong>Show unavailable {{choice.specialChoice ? 'options' :
                                    'feats'}}</strong></label>
                        </div>
                        <div class="list-item gridicon-fullsizebox" *ngIf="!choice.specialChoice">
                            <input class="character-choice" id="lowerLevelFeats" type="checkbox"
                                [(ngModel)]="lowerLevelFeats">
                            <label for="lowerLevelFeats"><strong>Show lower level feats</strong></label>
                        </div>
                        <div class="fullwidth" [ngbCollapse]="!unavailableFeats" *ngIf="!choice.specialChoice">
                            <div class="list-item gridicon-fullsizebox">
                                <input class="character-choice" id="higherLevelFeats" type="checkbox"
                                    [(ngModel)]="higherLevelFeats">
                                <label for="higherLevelFeats"><strong>Show higher level feats</strong></label>
                            </div>
                        </div>
                        <div class="list-item gridicon-fullsizebox" *ngIf="!choice.specialChoice">
                            <input class="character-choice" id="archetypeFeats" type="checkbox"
                                [(ngModel)]="archetypeFeats">
                            <label for="archetypeFeats"><strong>Show archetype feats</strong></label>
                        </div>
                    </div>
                    <!-- End Filter -->
                    <ng-container *ngFor="let featSets of [get_AvailableFeats(choice)]; trackBy:trackByIndex">
                        <div class="list-item" *ngIf="get_AvailableFeatsCount(featSets) < availableFeats">
                            <span>There are fewer results available than you are allowed to take. This may be due to a
                                choice with limited options, and it might be intended at this time.</span>
                            <span *ngIf="!higherLevelFeats || !lowerLevelFeats">More results may be found if you allow
                                lower and higher level feats.</span>
                            <span *ngIf="choice.showOnCurrentLevel">This feat choice is always available on your current
                                character level. This could change the number of available feats at a later time.</span>
                        </div>
                        <ng-container *ngFor="let featSet of featSets; trackBy:trackByFeat;">
                            <ng-container
                                *ngFor="let checked of [featTakenByThis(featSet.feat, choice)]; trackBy:trackByIndex">
                                <ng-container
                                    *ngFor="let disabled of [(get_Available(choice) <= choice.feats.length) && !checked]; trackBy:trackByIndex">
                                    <ng-template #FeatChoiceDetailTemplate>
                                        <div class="newrow">
                                            <header class="spellHeader">{{featSet.feat.name}}</header>
                                            <div class="button newrow no-animation"
                                                *ngIf="!featSet.feat.subTypes && featSet.available"
                                                [ngClass]="{'fancy-button':checked, 'disabled':disabled}">
                                                <label>
                                                    <input type="checkbox"
                                                        (change)="on_FeatTaken(featSet.feat, $event.target.checked, choice, false)"
                                                        [checked]="checked" [disabled]="disabled" hidden>{{checked ?
                                                    "Remove" :
                                                    "Choose"}}
                                                </label>
                                            </div>
                                            <div class="newrow left-aligned">
                                                <cite [ngbPopover]="reason.explain" class="problem"
                                                    *ngFor="let reason of cannotTake(featSet.feat, choice, true); trackBy:trackByIndex;">
                                                    {{reason.reason}}
                                                </cite>
                                            </div>
                                            <app-feat [feat]="featSet.feat" [choice]="choice"
                                                [levelNumber]="levelNumber" [featLevel]="featLevel"></app-feat>
                                            <!--Subfeats-->
                                            <ng-container
                                                *ngFor="let subfeatSet of get_SubFeats(featSet.feat, choice); trackBy:trackBySubType;">
                                                <ng-container
                                                    *ngFor="let subFeatChecked of [featTakenByThis(subfeatSet.subfeat, choice)]; trackBy:trackByIndex;">
                                                    <ng-container
                                                        *ngFor="let subFeatDisabled of [(availableFeats <= choice.feats.length && !subFeatChecked)]; trackBy:trackByIndex;">
                                                        <div class="newrow list-item"
                                                            [ngClass]="{'selected':subFeatChecked, 'unavailable':(!subfeatSet.available)}"
                                                            style="justify-content: flex-end;">
                                                            <div class="newrow left-aligned"
                                                                *ngFor="let subItemID of [choice.id+subfeatSet.subfeat.name+'desc']; trackBy:trackByIndex;">
                                                                <span class="gridicon-fullsizebox"
                                                                    style="flex-grow: 1;">
                                                                    <input id="{{choice.id+subfeatSet.subfeat.name}}"
                                                                        type="checkbox" class="character-choice"
                                                                        (change)="on_FeatTaken(subfeatSet.subfeat, $event.target.checked, choice, false)"
                                                                        [checked]="subFeatChecked"
                                                                        [disabled]="subFeatDisabled"
                                                                        *ngIf="subfeatSet.available">
                                                                    <strong>{{subfeatSet.subfeat.subType}}</strong>
                                                                </span>
                                                                <button (click)="toggle_SubFeat(subItemID)"
                                                                    [ngClass]="{'fancy-button':get_ShowSubFeat()==subItemID}">
                                                                    {{get_ShowSubFeat()==subItemID ? "Hide" : "Show"}}
                                                                    Description
                                                                </button>
                                                                <div [ngbCollapse]="get_UncollapseSubFeat()!=subItemID">
                                                                    <div class="newrow"
                                                                        *ngIf="get_ShowSubFeat()==subItemID || get_UncollapseSubFeat()!=subItemID">
                                                                        <div class="button newrow no-animation"
                                                                            *ngIf="subfeatSet.available"
                                                                            [ngClass]="{'fancy-button':subFeatChecked, 'disabled':subFeatDisabled}">
                                                                            <label>
                                                                                <input type="checkbox"
                                                                                    (change)="on_FeatTaken(subfeatSet.subfeat, $event.target.checked, choice, false)"
                                                                                    [checked]="subFeatChecked"
                                                                                    [disabled]="subFeatDisabled"
                                                                                    hidden>{{subFeatChecked ?
                                                                                "Remove" : "Choose"}}
                                                                            </label>
                                                                        </div>
                                                                        <div class="newrow left-aligned">
                                                                            <cite class="problem"
                                                                                [ngbPopover]="reason.explain"
                                                                                *ngFor="let reason of cannotTake(subfeatSet.subfeat, choice, true); trackBy:trackByIndex;">
                                                                                {{reason.reason}}
                                                                            </cite>
                                                                        </div>
                                                                        <app-feat [feat]="subfeatSet.subfeat"
                                                                            [choice]="choice"
                                                                            [levelNumber]="levelNumber"
                                                                            [featLevel]="featLevel">
                                                                        </app-feat>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </ng-template>
                                    <div class="list-item gridicon-fullsizebox" triggers="click"
                                        [ngClass]="{'unavailable':(!featSet.available), 'selected':(featTakenByThis(featSet.feat, choice) || subFeatTakenByThis(undefined, featSet.feat, choice))}">
                                        <input *ngIf="!featSet.feat.subTypes && featSet.available"
                                            class="character-choice" id="{{featSet.feat.name}}"
                                            type="checkbox"
                                            (change)="on_FeatTaken(featSet.feat, $event.target.checked, choice, false)"
                                            [checked]="checked" [disabled]="disabled">
                                        <button class="character-choice" (click)="FeatChoiceDetailPopover.toggle()"
                                            *ngIf="featSet.feat.subTypes">+</button>
                                        <input type="checkbox" id="{{featSet.feat.name}}"
                                            class="character-choice"
                                            *ngIf="!featSet.feat.subTypes && !featSet.available" disabled>
                                        <div class="gridicon-fullsizebox" #FeatChoiceDetailPopover="ngbPopover"
                                            [ngbPopover]="FeatChoiceDetailTemplate" triggers="click">
                                            <app-gridIcon [title]="featSet.feat.name"
                                                [detail]="featSet.feat.traits.includes('Rare') ? 'Rare' : (featSet.feat.traits.includes('Uncommon') ? 'Uncommon' : '')">
                                            </app-gridIcon>
                                            <header class="sectionHeader">
                                                <span
                                                    [ngbTooltip]="(!FeatChoiceDetailPopover.isOpen()) ? featSet.feat.shortdesc : ''"
                                                    triggers="hover" openDelay=100>
                                                    {{["General", "Skill"].includes(choice.type) &&
                                                    featSet.feat.skillreq.length == 1 ? "(" +
                                                    featSet.feat.skillreq[0].skill + ") " :
                                                    ""}}{{featSet.feat.name}}&nbsp;
                                                </span>
                                                <cite *ngIf="featSet.feat.levelreq">Level
                                                    {{featSet.feat.levelreq}}</cite>
                                                <cite class="trait" *ngIf="featSet.feat.traits.includes('Rare')"
                                                    [ngbPopover]="get_Traits('Rare')[0]?.desc" openDelay=100>Rare</cite>
                                                <cite class="trait" *ngIf="featSet.feat.traits.includes('Uncommon')"
                                                    [ngbPopover]="get_Traits('Uncommon')[0]?.desc"
                                                    openDelay=100>Uncommon</cite>
                                                <cite class="trait" *ngIf="featSet.feat.traits.includes('Dedication')"
                                                    [ngbPopover]="get_Traits('Dedication')[0]?.desc"
                                                    openDelay=100>Dedication</cite>
                                            </header>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
<ng-container *ngIf="set_UncollapseSubFeat(this.get_ShowSubFeat())"></ng-container>