<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<button class="minimizebutton lower"
    [ngbTooltip]="get_Minimized() ? 'Click to show all information.' : 'Click to show compact information.'"
    [ngClass]="{'fancy-button':get_Minimized()}" (click)="minimize()" *ngIf="creature==='Character'">
    <i class='bi-arrows-collapse' *ngIf="get_Minimized()"></i>
    <i class='bi-arrows-expand' *ngIf="!get_Minimized()"></i>
</button>
<div id="{{creature}}-abilities-height" class="attributeBox">
    <header class="sectionHeader box-header">Abilities</header>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <ng-container *ngIf="!get_Minimized()">
            <div class="list-item" *ngFor="let ability of get_Abilities(); trackBy:trackByIndex;">
                <ng-container
                    *ngFor="let calculatedAbility of [ability.calculate(get_Creature(), characterService, effectsService)]; trackBy:trackByIndex;">
                    <ng-template #EffectsPopoverContent>
                        <div class="fullsize-only newrow">
                            <app-objectEffects [creature]="creature" [objectName]="ability.name"></app-objectEffects>
                        </div>
                    </ng-template>
                    <div class="newrow">
                        <span class="hlist">
                            <span class="fullsize-only" [ngbPopover]="EffectsPopoverContent"
                                #EffectsPopover="ngbPopover" triggers="click">
                                <i [ngbTooltip]="!EffectsPopover.isOpen() ? 'Edit effects' : ''"
                                    class='bi-lightning-charge'></i>
                            </span>
                            <strong>{{ability.name}}</strong>
                        </span>
                        <span>
                            <div class="value" [ngbPopover]="calculatedAbility.value.explain"
                                [ngClass]="{'penalty':calculatedAbility.penalties, 'bonus':calculatedAbility.bonuses, 'absolute':calculatedAbility.absolutes}">
                                {{calculatedAbility.value.result}}
                            </div>
                        </span>
                        <strong>Modifier</strong>
                        <span>
                            <div class="value" [ngbPopover]="calculatedAbility.mod.explain"
                                [ngClass]="{'penalty':calculatedAbility.modpenalties, 'bonus':calculatedAbility.modbonuses, 'absolute':calculatedAbility.modabsolutes}">
                                {{calculatedAbility.mod.result}}
                            </div>
                        </span>
                    </div>
                    <app-tags class="newrow tags" [creature]="creature" [objectName]=ability.name [showTraits]=true
                        [showFeats]=true [showItems]=true [showActivities]=true [showConditions]=true
                        [showEffects]=true>
                    </app-tags>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="get_Minimized()">
            <div class="list-item newrow" *ngFor="let subset of [1,2]; trackBy:trackByIndex;">
                <span class="hlist"
                    [ngClass]="{'left-aligned':index === 0, 'center-aligned':index === 1, 'right-aligned':index === 2}"
                    *ngFor="let ability of get_Abilities(subset); let index = index; trackBy:trackByIndex;">
                    <ng-container
                        *ngFor="let calculatedAbility of [ability.calculate(get_Creature(), characterService, effectsService)]; trackBy:trackByIndex;">
                        <strong>{{ability.name.substring(0, 3).toUpperCase()}}</strong>
                        <div class="value" [ngbPopover]="calculatedAbility.mod.explain"
                            [ngClass]="{'penalty':calculatedAbility.modpenalties, 'bonus':calculatedAbility.modbonuses, 'absolute':calculatedAbility.modabsolutes}">
                            {{calculatedAbility.mod.result}}
                        </div>
                    </ng-container>
                </span>
            </div>
        </ng-container>
    </ng-container>
</div>
