/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  
  .characterSheet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
  }

  router-outlet + *  {
    padding: 0 16px;
  }
  
  /* Text */
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h1, h2 {
    font-weight: lighter;
  }
  
  p {
    font-size: 14px;
  }
  
  /* Hyperlink */
  
  a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  /* Input */
  
  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
  }
  input.number {
    width: 50px;
  }
  
  label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
  
  /* Button */
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
  }
  
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  
  /* Fancy Button */
  
  .fancy-button {
    background-color: white;
    color: #1976d2;
  }
  
  .fancy-button i.material-icons {
    color: #1976d2;
    padding-right: 4px;
  }
  
  /* Top Bar */
  
  app-top-bar {
    width: 100%;
    height: 68px;
    background-color: #1976d2;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  app-top-bar h1 {
    color: white;
    margin: 0;
  }
  
  app-top-bar .filler {
    flex-grow: 1;
  }

  app-top-bar a.button {
    margin-left: 5px;
    margin-right: 5px;
  }
  app-top-bar a.button:last-child {
    margin-right: 0px;
  }

  .attributeBox {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 32px;
    margin: 8px;
    border-radius: 2px;
    background-color: #EFEFEF;
  }
  .itemBox {
    min-width: 400px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 32px;
    margin: 8px;
    border-radius: 2px;
    background-color: #EFEFEF;
  }

  .list-item {
    width: 100%;
    min-width: 350px;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between ;
    padding: 8px 16px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #E0E0E0;
  }

  .list-item button {
    margin-left: auto;
  }

  .itemBox .list-item {
    max-width: 900px;
    justify-content: flex-start;
  }

  .itemBox .fancybutton.list-item {
    background-color: #1976d2;
  }

  .row {
    flex-basis: 100%;
  }

  .fullwidth {
    width: 100%;
  }

  .bonus {
    color:green;
  }

  input.bonus {
    background-color:lightgreen;
    color:black;
  }

  .penalty {
    color:red;
  }

  input.penalty {
    background-color:lightcoral;
    color:black;
  }

  .notapplied {
    opacity:75%
  }

  #1976d2
  @-webkit-keyframes altrclr{
    0%{
      color:#616161;
    }
    25%{
      color:#EFEFEF;
    }
}
@keyframes altrclr{
  0%{
    color:#616161;
  }
  25%{
    color:#EFEFEF;
  }
}


  .loading {
    margin:40%;
    font-size:20px;
    color:#616161;
    animation-name: altrclr;
    animation-duration: 2s;
    -webkit-animation: altrclr 2s infinite;  
    -webkit-transform:scale(4);
  }
  .button.loading {
    margin:0px;
    -webkit-transform:scale(1);
  }

  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */