/* Global Styles */
/* Original Angular color: #1976d2 */

body {
    margin: 0;
    --accent: 70, 90, 140;
    --textcolor: #616161;
    overflow-y: hidden;
    background-color: #333333;
}

.darkmode {
    --textcolor: #CCC;
}

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    color: var(--textcolor);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 12px;
}
  
/* Scrollbar Track */
::-webkit-scrollbar-thumb {
    background: #EFEFEF;
    box-shadow: inset 0 0 5px #A0A0A0;
    border-radius: 1px;
}

.darkmode ::-webkit-scrollbar-thumb {
    background: #303030;
}
  
/* Scrollbar Handle */
::-webkit-scrollbar-track {
    background: #EFEFEF;
    border-radius: 1px;
}

.darkmode ::-webkit-scrollbar-track {
    background: #303030;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    height: calc(100vh - 2em - 16px - 4px);
    overflow-y: hidden;
}

svg,
svg g {
    fill: #616161;
    fill: var(--textcolor);
    stroke: #616161;
    stroke: var(--textcolor);
}

.darkmode .diceBox button svg g {
    stroke: #616161;
    stroke: var(--textcolor);
}

.charactersheet,
.animalcompanion-box,
.familiar-box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: auto;
    padding-bottom: 8px;
    background-color: white;
}

.charactersheet-app {
    background-color: #EFEFEF;
    border-radius: 2px;
    margin: 8px;
    position: relative;
}

.charactersheet-column {
    overflow-y: auto;
    position: relative;
    display: grid;
    grid-auto-rows: 50px;
    grid-auto-flow: dense;
}

.darkmode .charactersheet-app {
    background-color: #303030;
}

.animalcompanion-box,
.familiar-box {
    grid-template-columns: 1fr 1fr;
}

.darkmode.charactersheet,
.darkmode .animalcompanion-box,
.darkmode .familiar-box {
    background-color: #202020;
}

app-familiarabilities.charactersheet-app {
    overflow: visible;
}

app-time {
    grid-column: 1 / span 4;
    position: relative;
}

app-newItemProperty {
    flex-basis: 100%;
    margin-bottom: 8px;
}

.minimized .fullsize-only {
    display: none;
}

app-animal-companion .character-only,
app-familiar .character-only {
    display: none;
}

.minimized h3,
.minimized h5 {
    margin: 0.8em 0px 0px 0px;
}

h3.box-header {
    color: #465A8C;
    color: rgb(var(--accent));
}

.darkmode h3.box-header {
    text-shadow: 0 0 5px var(--textcolor), 0 0 5px var(--textcolor), 0 0 5px var(--textcolor), 0 0 5px var(--textcolor), 0 0 5px var(--textcolor);
}

.darkmode h3.box-header span {
    text-shadow: none;
}

.minimized input {
    font-size: 90%;
    border: none;
    padding: 0px 2px;
}

router-outlet+* {
    padding: 0;
}

app-character-sheet {
    width: 100%;
}

#levelBox {
    display: grid;
    justify-content: stretch;
    grid-gap: 4px;
    grid-template-columns: auto auto auto auto auto;
}

/* Text */

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    clear: both;
}

button h3 {
    margin-top: 4px;
    margin-bottom: 4px;
}

h4 {
    width: 100%;
    color: #cbc18f;
    background-color: #522e2c;
    padding: 2px;
    margin: 8px 0px;
    text-align: left;
}

h4 svg,
h4 svg g {
    fill: #cbc18f;
}

h5 {
    font-size: 90%;
    margin: 8px 0px;
}

h6 {
    width: 100%;
    background-color: #cbc18f;
    color: #616161;
    padding: 2px;
    margin: 8px 0px;
    text-align: left;
    font-size: 1em;
}

h1,
h2 {
    font-weight: lighter;
}

p {
    width: 100%;
    margin: 8px 0px;
}

.row>* {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.row>p {
    margin: 8px 0px;
}

.row.left-aligned>* {
    flex-basis: initial;
    flex-grow: 0;
    text-align: left;
}

.row:not(.left-aligned):not(.center-aligned)>*:first-child {
    text-align: left;
}

.row:not(.left-aligned):not(.center-aligned)>*:last-child:not(:first-child) {
    text-align: right;
    flex-grow: 1;
}

.row>p:last-child {
    margin-bottom: 0px;
}


/* Hyperlink */

a {
    cursor: pointer;
    color: #465A8C;
    color: rgb(var(--accent));
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}


/* Input */

input {
    font-size: 90%;
    border-radius: 2px;
    padding: 4px;
    margin-bottom: 0px;
    border: 1px solid #BDBDBD;
}

input[disabled]:not(.bonus):not(.penalty):not(.absolute) {
    background-color: transparent;
}

.darkmode input:not([disabled]), .darkmode textarea {
    background-color: #202020;
}

input.number1 {
    width: 36px;
    margin-bottom: 0px;
}

input.number2 {
    width: 44px;
    margin-bottom: 0px;
}

input.number3 {
    width: 52px;
    margin-bottom: 0px;
}

input.number4 {
    width: 60px;
    margin-bottom: 0px;
}

input.number5 {
    width: 68px;
    margin-bottom: 0px;
}

input.number6 {
    width: 76px;
    margin-bottom: 0px;
}

input.number7 {
    width: 82px;
    margin-bottom: 0px;
}

label {
    display: inline-flex;
}


/* Button */

.button,
button {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 90%;
    cursor: pointer;
    background-color: #465A8C;
    background-color: rgb(var(--accent));
    color: white;
    border: none;
    font-weight: bold;
    position: relative;
}

.darkmode .button, .darkmode button {
    background-color: #465A8C;
    background-color: rgb(var(--accent));
    color: #CCC;
}

.button svg,
.button svg g,
button svg,
button svg g {
    fill: white;
    stroke: white;
}

.diceBox button svg g {
    fill: none;
}

button.minimizebutton {
    position: absolute;
    padding: 0px 2px;
    top: 0;
    right: 0;
    z-index: 50;
    padding: 0 5px 0 4px;
    border-radius: 0;
}

.button.row:not(:last-child),
button.row:not(:last-child) {
    margin-bottom: 4px;
}

.button.sublist-toggle.row:not(:last-child),
button.sublist-toggle.row:not(:last-child) {
    margin-bottom: 0;
}

.button *,
button * {
    color: inherit;
}

.button:hover,
button:hover {
    opacity: 0.8;
    font-weight: bold;
}

.button:disabled,
button:disabled {
    opacity: 0.5;
    cursor: auto;
}


/* Button Flash */

button:before,
button ~ .list-item.sublist:before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: currentColor;
    visibility: hidden;
    z-index: 2;
}

button:not([disabled]):not(:active):before {
    -webkit-animation: flash 0.4s cubic-bezier(0, 0, 0.2, 1);
            animation: flash 0.4s cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: visibility .4s step-end;
            transition: visibility .4s step-end;
}

button:not([disabled]):active:before {
    visibility: visible;
}

/* Fancy Button */

.fancy-button {
    background-color: white;
    color: #465A8C;
    color: rgb(var(--accent));
}

.darkmode .fancy-button {
    background-color: #CCC;
}

.darkmode .fancy-button,
.darkmode .fancy-button span,
.fancy-button i.material-icons,
.darkmode .fancy-button * {
    color: #465A8C;
    color: rgb(var(--accent));
}

.fancy-button i.material-icons {
    padding-right: 4px;
}

.fancy-button svg,
.fancy-button svg g,
.darkmode .fancy-button svg,
.darkmode .fancy-button svg g {
    fill: #465A8C;
    fill: rgb(var(--accent));
    stroke: #465A8C;
    stroke: rgb(var(--accent));
}

.inactive-button, .darkmode .inactive-button {
    background-color: grey;
}

.button.lower {
    padding: 1px 6px;
}

.button.left {
    margin-left: 0px;
    margin-bottom: auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: .8;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: rgb(var(--accent));
    cursor: pointer;
    content: var(--thumbNumber);
}
  
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: rgb(var(--accent));
    cursor: pointer;
}

/* Top Bar */

#top-bar {
    width: 100%;
    overflow-y: auto;
    background-color: #465A8C;
    background-color: rgb(var(--accent));
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#top-bar h1 {
    color: white;
    margin: 0;
}

#top-bar .filler {
    flex-grow: 1;
}

#top-bar button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 16px;
    flex-grow: initial;
    flex-basis: 0;
    white-space: nowrap;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    border-width: 2px;
    box-sizing: border-box;
}

#top-bar.darkmode button {
    border-color: #CCC;
}

#top-bar>button:last-child {
    margin-right: 0px;
}

.right-bound {
    margin-left: auto;
}

.attributeBox {
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px 16px;
}

.itemBox {
    width: 900px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 32px;
    margin: 8px;
    border-radius: 2px;
    background-color: white;
}

.itemBox-inner {
    overflow-y: auto;
    height: 100%;
}

.diceBox {
    padding: 16px 32px;
    border-radius: 2px;
    background-color: white;
}

.dice-result {
    margin-block-start: .5em;
    margin-block-end: .5em;
    font-size: 200%;
}

.darkmode .itemBox, .darkmode .diceBox {
    background-color: #202020;
}

.topBox {
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 16px;
}

.minimized .topBox {
    padding: 0 16px;
}

.topBox .list-item {
    margin: 4px 0;
}

.minimized .topBox .list-item {
    margin: 0;
}

.topBox .list-item:first-child {
    margin-top: 0;
}

.list-item:last-child {
    margin-bottom: 0;
}

app-tags,
app-skill,
app-item,
app-activity,
app-itemMaterial,
app-itemOils,
app-itemPoisons,
app-itemRunes,
app-itemTalismans,
app-itemAeonStones,
app-spellchoice {
    width: 100%;
}

app-proficiency-form, .row app-proficiency-form {
    flex-grow: 0;
    margin-left: 4px;
    margin-right: 4px;
}

app-actionicons,
app-actionicons svg {
    height: 1em;
    width: auto;
    padding: 0 2px 0 2px;
    display: inline-block;
}

h4 app-actionicons svg {
    margin-bottom: -2px;
}

h4 app-actionicons span {
    color: #cbc18f;
}

button app-actionicons span {
    position: relative;
    bottom: 1px;
}

.list-item {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 8px;
    margin-top: 8px;
    border-radius: 2px;
    background-color: #E0E0E0;
    background-color: rgba(50, 50, 50, 0.1)
}

.darkmode .list-item {
    background-color: #404040;
    background-color: rgba(200, 200, 200, 0.1)
}

.list-item > *:not(.list-item):not(h3):not(p) {
    margin-top: auto;
    margin-bottom: auto;
}

.list-item.selected, .lower .list-item.selected {
    border: 3px solid rgb(var(--accent));
    padding: 1px 5px;
}

button.list-item {
    background-color: #465A8C;
    background-color: rgb(var(--accent));
    color: white;
}

.darkmode button.list-item {
    background-color: #465A8C;
    background-color: rgb(var(--accent));
    color: #CCC;
}

.darkmode button.list-item.fancy-button {
    background-color: #CCC;
    color: #465A8C;
    color: rgb(var(--accent));
}

button.choicecleared::after, .button.choicecleared::after {
    content: "\2714";
    font-size: 1.2em;
    bottom: 0;
    right: 0.5em;
    position: absolute;
}

.lower .list-item {
    flex-basis: 100%;
    padding: 4px 8px;
    margin-bottom: 2px;
    border-radius: 2px;
}

/*.lower .list-item input {
    margin-bottom: 4px;
}*/

.list-item.sublist {
    border-width: 4px;
    border-style: solid;
    border-color: #465A8C;
    border-color: rgb(var(--accent));
    border-radius: 2px;
    position: absolute;
    top: 16px;
    top: calc(100% - 16px);
    max-height: 500px;
    width: 90%;
    width: calc(100% - 16px);
    overflow-y: auto;
    padding: 4px;
    z-index: 100;
    background-color: #E0E0E0;
    box-shadow: 0 6px 5px;
    margin-top: 8px;
}

.darkmode .list-item.sublist {
    background-color: #303030;
}

.list-item.sublist :not(.list-item) > strong,
.list-item.sublist :not(.list-item) > span > strong {
    color: rgb(var(--accent));
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

.darkmode .list-item.sublist :not(.list-item) > strong,
.darkmode .list-item.sublist :not(.list-item) > span > strong {
    text-shadow: 0 0 2px var(--textcolor), 0 0 2px var(--textcolor), 0 0 2px var(--textcolor), 0 0 2px var(--textcolor), 0 0 2px var(--textcolor);
}

.list-item.sublist.fancy-list {
    border-color: white;
}

.darkmode .list-item.sublist.fancy-list {
    border-color: #CCC;
}

button:hover~.list-item.sublist {
    border-color: rgba(25, 118, 210, 0.8);
    border-color: rgba(var(--accent), 0.8);
}

button:hover~.list-item.sublist.fancy-list {
    border-color: white;
    border-color: #FFFFFF50;
    border-color: rgba(255, 255, 255, 0.8);
}

.darkmode button:hover~.list-item.sublist.fancy-list {
    border-color: #CCC;
    border-color: #CCCCCC50;
    border-color: rgba(204, 204, 204, 0.8);
}

.list-item.sublist.inactive-list {
    border-color: grey;
}

button:hover~.list-item.sublist.inactive-list {
    border-color: grey;
    border-color: #80808050;
    border-color: rgba(128, 128, 128, 0.8);
}

.list-item.sublist.problem {
    border-color: #DAAAA0;
}

.darkmode .list-item.sublist.problem {
    border-color: #500000;
}

button:hover~.list-item.sublist.problem {
    border-color: #DAAAA0;
    border-color: #DAAAA050;
    border-color: rgba(218, 170, 160, 0.8);
}

.darkmode button:hover~.list-item.sublist.problem {
    border-color: #500000;
    border-color: #50000050;
    border-color: rgba(80, 0, 0, 0.8);
}

.itemBox .fancybutton.list-item {
    background-color: #465A8C;
    background-color: rgb(var(--accent));
}

.list-item>div:last-child {
    margin-bottom: 0;
}

.row {
    flex-basis: 100%;
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.row:not(:first-child):not(:empty):not(.list-item) {
    margin-top: 4px;
}

.row.tags:not(:first-child):not(:empty) {
    margin-top: initial;
}

.left-aligned {
    justify-content: flex-start;
    text-align: left;
}

.center-aligned {
    justify-content: center;
}

.center-aligned span.center-aligned {
    text-align: center;
}

.fullwidth {
    width: 100%;
}

.turn-indicator {
    display: flex;
    justify-content: center;
    width: 12em;
}

strong {
    line-height: 1.5em;
}

.turn-indicator strong {
    align-items: center;
    text-align: center;
    padding: 0px 16px;
}

.turn-indicator strong.yourTurn {
    font-size: 1.25em;
    color: green;
    padding: 0px;
    margin-top: -.1em;
    margin-bottom: -.1em;
    animation: turnaltrclr 2s infinite;
    animation-name: turnaltrclr;
    animation-duration: 2s;
    -webkit-animation: turnaltrclr 2s infinite;
}

.absolute,
cite.condition.absolute,
cite.effect.absolute {
    color: blue;
}

.darkmode .absolute:not(cite) {
    color: aqua;
}

input.absolute {
    background-color: lightblue;
    color: #616161;
    color: var(--textcolor);
}

.darkmode input.absolute {
    background-color: blue;
}

.bonus,
cite.condition.bonus,
cite.effect.bonus {
    color: green;
}

.darkmode .bonus:not(cite) {
    color: lightgreen;
}

input.bonus {
    background-color: lightgreen;
    color: #616161;
    color: var(--textcolor);
}

.darkmode input.bonus {
    background-color: darkgreen;
}

.penalty,
cite.condition.penalty,
cite.effect.penalty {
    color: #500000;
}

/* add '.darkmode .penalty:not(cite)' only to override the equivalent .bonus and .absolute rules. */
.darkmode .penalty, .darkmode .penalty:not(cite) {
    color: red
}

input.penalty {
    background-color: lightpink;
    color: #616161;
    color: var(--textcolor);
}

.darkmode input.penalty {
    background-color: #500000;
}

.invisible {
    display: none;
}

.proficiency {
    font-weight: bold;
    font-style: normal;
    margin-left: 4px;
    margin-right: 4px;
}

.proficiency.checked {
    font-weight: bolder;
    color: #465A8C;
    color: rgb(var(--accent));
    text-shadow: 0 0 5px #616161;
}

.darkmode .proficiency.checked {
    text-shadow: 0 0 5px #CCC;
}

var:not(:empty),
.variable {
    font-weight: bold;
    font-style: normal;
    color: white;
    text-shadow: 0 0 2px rgb(var(--accent)), 0 0 2px rgb(var(--accent)), 0 0 2px rgb(var(--accent)), 0 0 2px rgb(var(--accent)), 0 0 2px rgb(var(--accent));
}

.darkmode var:not(:empty),
.darkmode .variable {
    color: var(--textcolor);
}

.problem:not(.sublist),
.lower.problem:not(.sublist) {
    color: red;
    background-color: #DAAAA0;
}

.darkmode .problem:not(.sublist),
.darkmode .lower.problem:not(.sublist) {
    color: red;
    background-color: #500000;
}

.darkmode .problem *,
.darkmode .lower.problem * {
    color: #CCC;
}

span.problem {
    color: darkred;
    background-color: inherit;
}

.darkmode span.problem {
    background-color: inherit;
}

.unavailable,
.lower.unavailable {
    background-color: rgba(50, 50, 50, 0.2)
}

.darkmode .unavailable,
.darkmode .lower.unavailable {
    background-color: rgba(200, 200, 200, 0.2)
}

.lower {
    font-size: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.notapplied {
    opacity: 0.5;
}

cite {
    background-color: #666;
    padding: 1px 2px;
    font-size: 90%;
    font-style: normal;
    border-color: #d8c483;
    border-style: double;
    border-width: 2px;
    color: white;
}

cite.trait {
    background-color: #522e2c;
}

cite.rune {
    background-color: #c45500;
}

cite.feat {
    background-color: #444;
}

cite.item {
    background-color: #888;
}

cite.activity {
    background-color: #ccc;
    color: #616161
}

cite.condition {
    background-color: #eee;
    color: #616161
}

cite.effect {
    background-color: #fff;
    color: #616161
}

cite.trait {
    background-color: #522e2c;
}

cite.problem {
    background-color: #eee;
}

cite input {
    margin: 0;
}

select {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.darkmode select {
    background-color: #202020;
}

select option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@-webkit-keyframes altrclr {
    0% {
        color: #616161;
        color: var(--textcolor);
    }
    25% {
        color: #EFEFEF;
    }
}

@keyframes altrclr {
    0% {
        color: #616161;
        color: var(--textcolor);
    }
    25% {
        color: #EFEFEF;
    }
}

@-webkit-keyframes turnaltrclr {
    0% {
        color: green;
    }
    25% {
        color: transparent;
    }
}

@keyframes turnaltrclr {
    0% {
        color: green;
    }
    25% {
        color: transparent;
    }
}

@-webkit-keyframes flash {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
   
  @keyframes flash {
    0% {
      opacity: 1;
  }
    100% {
      opacity: 0;
    }
  }

.loading {
    margin: auto;
    font-size: 1.5em;
    color: #616161;
    color: var(--textcolor);
    animation: altrclr 2s infinite;
    animation-name: altrclr;
    animation-duration: 2s;
    -webkit-animation: altrclr 2s infinite;
}

.button.loading {
    margin: 0px;
}


/*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */