/* Global Styles */

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    --accent: 25, 118, 210;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }

  app-character-sheet {
    width: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    grid-auto-flow: dense;
  }

  app-time {
    grid-column: 1 / span 4;
    grid-row: span 2;
    position: relative;
  }

  app-general {
    grid-column: 1 / span 1;
    grid-row: span 2;
    position: relative;
  }
  
  app-effects {
    grid-column: 2 / span 1;
    grid-row: span 2;
    position: relative;
  }

  app-abilities {
    grid-column: 3 / span 1;
    grid-row: span 2;
    position: relative;
  }

  app-health {
    grid-column: 4 / span 1;
    grid-row: span 2;
    position: relative;
  }

  app-defense {
    grid-column: 1 / span 1;
    grid-row: span 2;
    position: relative;
  }

  app-attacks {
    grid-column: 2 / span 1;
    grid-row: span 2;
    position: relative;
  }

  app-skills {
    grid-column: 3 / span 1;
    grid-row: span 2;
    position: relative;
  }
  
  app-inventory {
    grid-column: 4 / span 1;
    grid-row: span 2;
    position: relative;
  }

  app-activities {
    grid-column: 1 / span 1;
    grid-row: span 2;
    position: relative;
  }

  app-spellbook {
    grid-column: 2 / span 1;
    grid-row: span 2;
    position: relative;
  }

  app-newItemProperty {
    flex-basis: 100%;
    margin-bottom: 8px;
  }

  .minimized .fullsize-only {
    display:none;
  }

  .minimized h3, .minimized h5 {
    margin: 0px 0px;
  }

  h3.box-header {
    color: #1976d2;
    color: rgb(var(--accent));
  }

  .minimized input {
    font-size: 90%;
    border: none;
    padding: 0px 2px;
  }
  
  router-outlet + *  {
    padding: 0;
  }
  
  /* Text */
  
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    clear:both;
  }

  h4 {
    width: 100%;
    color: #cbc18f;
    background-color: #522e2c;
    padding: 2px;
    margin: 8px 0px;
    text-align: left;
  }

  h5 {
    font-size: 90%;
    margin: 8px 0px;
  }


  h1, h2 {
    font-weight: lighter;
  }
  
  p {
    width: 100%;
    margin: 8px 0px;
  }

  .row > * {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
  .row.left-aligned > * {
    flex-basis: initial;
    flex-grow: 0;
    text-align: left;
  }

  .row:not(.left-aligned) > *:first-child {
    text-align: left;
  }

  .row:not(.left-aligned) > *:last-child:not(:first-child) {
    text-align: right;
  }

  .row > p:last-child {
    font-size: 14px;
    margin-bottom: 0px;
  }
  
  /* Hyperlink */
  
  a {
    cursor: pointer;
    color: #1976d2;
    color: rgb(var(--accent));
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.8;
  }
  
  /* Input */
  
  input {
    font-size: 14px;
    border-radius: 2px;
    padding: 4px;
    margin-bottom: 0px;
    border: 1px solid #BDBDBD;
  }
  input.number2 {
    width: 30px;
    margin-bottom: 0px;
  }

  input.number3 {
    width: 40px;
    margin-bottom: 0px;
  }

  input.number4 {
    width: 50px;
    margin-bottom: 0px;
  }

  label {
    display: inline-flex;
  }

  /* Button */
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    background-color: rgb(var(--accent));
    color: white;
    border: none;
  }
  
  button.minimizebutton {
    position: absolute;
    padding: 0px 2px;
    top: 0;
    right: 0;
    z-index: 50;
  }

  .button.row:not(:last-child), button.row:not(:last-child){
    margin-bottom:4px;
  } 

  .button.sublist-toggle.row:not(:last-child), button.sublist-toggle.row:not(:last-child){
    margin-bottom:0;
  } 

  .button *, button * {
    color: inherit;
  }

  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
  }
  
  /* Fancy Button */
  
  .fancy-button {
    background-color: white;
    color: #1976d2;
    color: rgb(var(--accent));
  }
  
  .fancy-button i.material-icons {
    color: #1976d2;
    color: rgb(var(--accent));
    padding-right: 4px;
  }
  
  .button.lower {
    padding: 1px 6px;
  }

  .button.left {
    margin-left: 0px;
    margin-bottom: auto;
  }

  /* Top Bar */
  
  #top-bar {
    width: 100%;
    background-color: #1976d2;
    background-color: rgb(var(--accent));
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #top-bar h1 {
    color: white;
    margin: 0;
  }
  
  #top-bar .filler {
    flex-grow: 1;
  }

  #top-bar button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 16px;
    flex-grow: initial;
    flex-basis: 0;
  }
  #top-bar button:last-child {
    margin-right: 0px;
  }

  .charactersheet-app {
    background-color: #EFEFEF;
    border-radius: 2px;
    margin: 8px;
    overflow: auto;
  }

  .attributeBox {
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px 16px;
  }

  .itemBox {
    width: 900px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 32px;
    margin: 8px;
    border-radius: 2px;
    background-color: #EFEFEF;
  }

  .topBox {
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 16px;
  }

  .minimized .topBox {
    padding: 0 16px;
  }

  .topBox .list-item {
    margin:4px 0;
  }

  .minimized .topBox .list-item {
    margin:0;
  }

  .topBox .list-item:first-child {
    margin-top:0;
  }

  .list-item:last-child {
    margin-bottom:0;
  }

  app-skill .list-item:last-child {
    margin-bottom: 8px;
  }

  app-tags, app-skill, app-item {
    width: 100%;
  }

  .list-item {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between ;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #E0E0E0;
    background-color: rgba(50, 50, 50, 0.1)
  }

  button.list-item {
    background-color: #1976d2;
    background-color: rgb(var(--accent));
    color: white;
  }

  .lower .list-item {
    flex-basis: 100%;
    padding: 4px 8px;
    margin-bottom: 2px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }
  
  .lower .list-item input{
    margin-bottom: 4px;
  }

  .list-item.sublist {
    border-width: 4px;
    border-style: solid;
    border-color: #1976d2;
    border-color: rgb(var(--accent));
    border-radius: 2px;
    position: absolute;
    top: 24px;
    top: calc(100% - 8px);
    max-height: 500px;
    width: 90%;
    width: calc(100% - 16px);
    overflow-y: auto;
    padding: 4px;
    z-index: 100;
    background-color: #E0E0E0;
  }

  .list-item.sublist.fancy-list {
    border-color: white;
  }

  button:hover ~ .list-item.sublist {
    border-color: rgba(25, 118, 210, 0.8);
    border-color: rgba(var(--accent), 0.8);
  }
  button:hover ~ .list-item.sublist.fancy-list {
    border-color: white;
    border-color: rgba(255, 255, 255, 0.8);
    border-color: #FFFFFF50;
  }
  
  .itemBox .fancybutton.list-item {
    background-color: #1976d2;
    background-color: rgb(var(--accent));
  }

  .list-item div:last-child {
    margin-bottom:0;
  }

  .row {
    flex-basis: 100%;
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .row:not(:first-child):not(:empty) {
    margin-top: 4px;
  }

  .row.tags:not(:first-child):not(:empty) {
    margin-top: initial;
  }

  .left-aligned {
    justify-content: flex-start;
    text-align: left;
  }

  .center-aligned {
    justify-content: center;
  }

  .fullwidth {
    width: 100%;
  }

  .turn-indicator {
    display: flex;
    justify-content: center;
    width: 12em;
  }
  
  .turn-indicator strong {
    align-items: center;
    text-align: center;
    padding: 2px 16px;
  }

  .turn-indicator strong.yourTurn {
    font-size: 1.5em;
    color: green;
    padding: 0px;
    margin-top: -.1em;
    margin-bottom: -.1em;
    animation-name: turnaltrclr;
    animation-duration: 2s;
    -webkit-animation: turnaltrclr 2s infinite;  
  }

  .bonus, cite.condition.bonus, cite.effect.bonus {
    color:green;
  }

  .variable {
    font-weight: bold;
    color: blue;
  }

  input.bonus {
    background-color:lightgreen;
    color:black;
  }

  .penalty, cite.condition.penalty, cite.effect.penalty {
    color:red;
  }

  .problem, .lower.problem {
    color:red;
    background-color: lightcoral;
  }

  span.problem {
    color: darkred;
    background-color: inherit;
  }

  .unavailable, .lower.unavailable {
    background-color:#CCCCCC;
  }
  
  .lower {
    font-size: 90%;
    margin-top: auto;
    margin-bottom: auto;
  }

  input.penalty {
    background-color:lightcoral;
    color:black;
  }

  .notapplied {
    opacity:0.5;
  }

  cite {
    background-color: #666;
    padding: 1px 2px;
    font-size: .9em;
    font-style: normal;
    border-color: #d8c483;
    border-style: double;
    border-width: 2px;
    color: white;
  }
  
  cite.trait {
    background-color: #522e2c;
  }

  cite.rune {
    background-color: #c45500;
  }

  cite.feat {
    background-color: #444;
  }

  cite.item {
    background-color: #888;
  }
  
  cite.activity {
    background-color: #ccc;
    color: #616161
  }

  cite.condition {
    background-color: #eee;
    color: #616161
  }

  cite.effect {
    background-color: #fff;
    color: #616161
  }

  cite.trait {
    background-color: #522e2c;
  }

  cite.problem {
    background-color: #eee;
  }

  select {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  select option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  #1976d2
  @-webkit-keyframes altrclr{
    0%{
      color:#616161;
    }
    25%{
      color:#EFEFEF;
    }
}
@keyframes altrclr{
  0%{
    color:#616161;
  }
  25%{
    color:#EFEFEF;
  }
}

@-webkit-keyframes turnaltrclr{
  0%{
    color:green;
  }
  25%{
    color:#E0E0E0;
  }
}
@keyframes turnaltrclr{
0%{
  color:green;
}
25%{
  color:#E0E0E0;
}
}


  .loading {
    margin:40%;
    font-size:20px;
    color:#616161;
    animation-name: altrclr;
    animation-duration: 2s;
    -webkit-animation: altrclr 2s infinite;  
    -webkit-transform:scale(4);
  }
  .button.loading {
    margin:0px;
    -webkit-transform:scale(1);
  }

  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */