<div class="charactersheet" [ngClass]="{'darkmode':get_Darkmode()}" [ngStyle]="{'--accent':get_Accent()}">
    <div class="charactersheet-app charactersheet-row" id="tabs">
        <button [ngClass]="{'fancy-button':get_ShowMode()==''}" (click)="toggle_Mode('')">Show All</button>
        <button [ngClass]="{'fancy-button':get_ShowMode()=='Encounter'}" (click)="toggle_Mode('Encounter')">Encounter</button>
        <button [ngClass]="{'fancy-button':get_ShowMode()=='Exploration'}" (click)="toggle_Mode('Exploration')">Exploration</button>
        <button [ngClass]="{'fancy-button':get_ShowMode()=='Downtime'}" (click)="toggle_Mode('Downtime')">Downtime</button>
        <button [ngClass]="{'fancy-button':get_ShowMode()=='Inventory'}" (click)="toggle_Mode('Inventory')">Inventory</button>
        <button [ngClass]="{'fancy-button':get_ShowMode()=='ConditionsEffects'}" (click)="toggle_Mode('ConditionsEffects')">Conditions & Effects</button>
    </div>
    <ng-container [ngSwitch]="get_ShowMode()">
        <ng-container *ngSwitchCase="''">
            <app-time id="time" class="charactersheet-app charactersheet-row" [ngClass]="{'minimized':(get_TimeMinimized())}" *ngIf="!still_loading()"></app-time>
            <div class="charactersheet-column">
                <app-effects id="Character-effects" class="charactersheet-app" [ngClass]="{'minimized':(get_EffectsMinimized())}" *ngIf="!still_loading()"></app-effects>
                <app-general id="Character-general" class="charactersheet-app" [ngClass]="{'minimized':(get_GeneralMinimized())}" *ngIf="!still_loading()"></app-general>
                <app-health id="Character-health" class="charactersheet-app" [ngClass]="{'minimized':(get_HealthMinimized())}" *ngIf="!still_loading()"></app-health>
                <app-inventory id="Character-inventory" class="charactersheet-app" [ngClass]="{'minimized':(get_InventoryMinimized())}" *ngIf="!still_loading()"></app-inventory>
            </div>
            <div class="charactersheet-column">
                <app-defense id="Character-defense" class="charactersheet-app" [ngClass]="{'minimized':(get_DefenseMinimized())}" *ngIf="!still_loading()"></app-defense>
                <ng-container *ngFor="let index of [0,1]; trackBy:trackByIndex;">
                    <app-attacks id="Character-attacks" class="charactersheet-app" [ngClass]="{'minimized':(get_AttacksMinimized())}" *ngIf="!still_loading() && get_ClassOrder('attacks') == index"></app-attacks>
                    <app-spellbook id="spellbook" class="charactersheet-app" [ngClass]="{'minimized':(get_SpellbookMinimized())}" *ngIf="!still_loading() && get_ClassOrder('spells') == index"></app-spellbook>
                </ng-container>
                <app-abilities id="Character-abilities" class="charactersheet-app" [ngClass]="{'minimized':(get_AbilitiesMinimized())}" *ngIf="!still_loading()"></app-abilities>
                <app-skills id="Character-skills" class="charactersheet-app" [ngClass]="{'minimized':(get_SkillsMinimized())}" *ngIf="!still_loading()"></app-skills>
                <app-activities id="Character-activities" class="charactersheet-app" [ngClass]="{'minimized':(get_ActivitiesMinimized())}" *ngIf="!still_loading()"></app-activities>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Encounter'">
            <app-time id="time" [showTime]="false" class="charactersheet-app charactersheet-row" [ngClass]="{'minimized':(get_TimeMinimized())}" *ngIf="!still_loading()"></app-time>
            <div class="charactersheet-column">
                <app-effects id="Character-effects" class="charactersheet-app" [ngClass]="{'minimized':(get_EffectsMinimized())}" *ngIf="!still_loading()"></app-effects>
                <app-general id="Character-general" [showMinimizeButton]="false" class="charactersheet-app minimized"></app-general>
                <app-health id="Character-health" class="charactersheet-app" [ngClass]="{'minimized':(get_HealthMinimized())}" *ngIf="!still_loading()"></app-health>
                <app-defense id="Character-defense" class="charactersheet-app" [ngClass]="{'minimized':(get_DefenseMinimized())}" *ngIf="!still_loading()"></app-defense>
            </div>
            <div class="charactersheet-column">
                <ng-container *ngFor="let index of [0,1]; trackBy:trackByIndex;">
                    <app-attacks id="Character-attacks" class="charactersheet-app" [ngClass]="{'minimized':(get_AttacksMinimized())}" *ngIf="!still_loading() && get_ClassOrder('attacks') == index"></app-attacks>
                    <app-spellbook id="spellbook" class="charactersheet-app" [ngClass]="{'minimized':(get_SpellbookMinimized())}" *ngIf="!still_loading() && get_ClassOrder('spells') == index"></app-spellbook>
                </ng-container>
                <app-skills id="Character-skills" class="charactersheet-app" [ngClass]="{'minimized':(get_SkillsMinimized())}" *ngIf="!still_loading()"></app-skills>
                <app-activities id="Character-activities" class="charactersheet-app" [ngClass]="{'minimized':(get_ActivitiesMinimized())}" *ngIf="!still_loading()"></app-activities>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Exploration'">
            <app-time [showTurn]="false" id="time" class="charactersheet-app charactersheet-row" [ngClass]="{'minimized':(get_TimeMinimized())}" *ngIf="!still_loading()"></app-time>
            <div class="charactersheet-column">
                <app-effects id="Character-effects" class="charactersheet-app" [ngClass]="{'minimized':(get_EffectsMinimized())}" *ngIf="!still_loading()"></app-effects>
                <app-general id="Character-general" class="charactersheet-app" [ngClass]="{'minimized':(get_GeneralMinimized())}" *ngIf="!still_loading()"></app-general>
                <app-health id="Character-health" class="charactersheet-app" [ngClass]="{'minimized':(get_HealthMinimized())}" *ngIf="!still_loading()"></app-health>
                <app-abilities id="Character-abilities" class="charactersheet-app" [ngClass]="{'minimized':(get_AbilitiesMinimized())}" *ngIf="!still_loading()"></app-abilities>
            </div>
            <div class="charactersheet-column">
                <app-spellbook id="spellbook" class="charactersheet-app" [ngClass]="{'minimized':(get_SpellbookMinimized())}" *ngIf="!still_loading()"></app-spellbook>
                <app-skills id="Character-skills" class="charactersheet-app" [ngClass]="{'minimized':(get_SkillsMinimized())}" *ngIf="!still_loading()"></app-skills>
                <app-activities id="Character-activities" class="charactersheet-app" [ngClass]="{'minimized':(get_ActivitiesMinimized())}" *ngIf="!still_loading()"></app-activities>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Downtime'">
            <app-time [showTurn]="false" id="time" class="charactersheet-app charactersheet-row" [ngClass]="{'minimized':(get_TimeMinimized())}" *ngIf="!still_loading()"></app-time>
            <div class="charactersheet-column">
                <app-effects id="Character-effects" class="charactersheet-app" [ngClass]="{'minimized':(get_EffectsMinimized())}" *ngIf="!still_loading()"></app-effects>
                <app-skills id="Character-skills" class="charactersheet-app" [ngClass]="{'minimized':(get_SkillsMinimized())}" *ngIf="!still_loading()"></app-skills>
                <app-activities id="Character-activities" class="charactersheet-app" [ngClass]="{'minimized':(get_ActivitiesMinimized())}" *ngIf="!still_loading()"></app-activities>
                <app-abilities id="Character-abilities" class="charactersheet-app" [ngClass]="{'minimized':(get_AbilitiesMinimized())}" *ngIf="!still_loading()"></app-abilities>
            </div>
            <div class="charactersheet-column">
                <app-general id="Character-general" class="charactersheet-app" [ngClass]="{'minimized':(get_GeneralMinimized())}" *ngIf="!still_loading()"></app-general>
                <app-health id="Character-health" [showMinimizeButton]="false" class="charactersheet-app minimized" *ngIf="!still_loading()">
                </app-health>
                <app-inventory id="Character-inventory" class="charactersheet-app" [ngClass]="{'minimized':(get_InventoryMinimized())}" *ngIf="!still_loading()"></app-inventory>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'Inventory'">
            <div class="charactersheet-column charactersheet-row">
                <app-effects id="Character-effects" class="charactersheet-app" [ngClass]="{'minimized':(get_EffectsMinimized())}" *ngIf="!still_loading()"></app-effects>
                <app-inventory id="Character-inventory" class="charactersheet-app" [ngClass]="{'minimized':(get_InventoryMinimized())}" *ngIf="!still_loading()"></app-inventory>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'ConditionsEffects'">
            <app-time id="time" class="charactersheet-app charactersheet-row" [ngClass]="{'minimized':(get_TimeMinimized())}" *ngIf="!still_loading()"></app-time>
            <div class="charactersheet-column charactersheet-row">
                <app-effects id="Character-effects" class="charactersheet-app" [ngClass]="{'minimized':(get_EffectsMinimized())}" *ngIf="!still_loading()"></app-effects>
            </div>
        </ng-container>
    </ng-container>
</div>
<app-items [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'darkmode':get_Darkmode()}" [@slideInOut]="get_ItemsMenuState()" *ngIf="!still_loading()"></app-items>
<app-crafting [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'darkmode':get_Darkmode()}" [@slideInOut]="get_CraftingMenuState()" *ngIf="!still_loading()"></app-crafting>
<app-spells [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'darkmode':get_Darkmode(), 'minimized':(get_SpellsMinimized())}" [@slideInOut]="get_SpellsMenuState()" *ngIf="!still_loading()"></app-spells>
<app-spellLibrary [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'darkmode':get_Darkmode()}" [@slideInOut]="get_SpellLibraryMenuState()" *ngIf="!still_loading()"></app-spellLibrary>
<app-conditions [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'darkmode':get_Darkmode()}" [@slideInOut]="get_ConditionsMenuState()" *ngIf="!still_loading()"></app-conditions>
<app-character [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'darkmode':get_Darkmode(), 'minimized':(get_CharacterMinimized())}" [@slideInOut]="get_CharacterMenuState()" *ngIf="!still_loading()"></app-character>
<app-animal-companion [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'darkmode':get_Darkmode(), 'minimized':(get_CompanionMinimized())}" [@slideInOut]="get_CompanionMenuState()" *ngIf="!still_loading() && get_CompanionAvailable()">
</app-animal-companion>
<app-familiar [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'darkmode':get_Darkmode(), 'minimized':(get_FamiliarMinimized())}" [@slideInOut]="get_FamiliarMenuState()" *ngIf="!still_loading() && get_FamiliarAvailable()"></app-familiar>
<app-dice [ngStyle]="{'--accent':get_Accent()}" [ngClass]="{'darkmode':get_Darkmode()}" [@slideInOutVert]="get_DiceMenuState()"></app-dice>