<app-time id="time" class="charactersheet-app" [className]="(get_TimeMinimized()) ? 'minimized' : ''"></app-time>
<app-general id="general" class="charactersheet-app" [className]="(get_GeneralMinimized()) ? 'minimized' : ''"></app-general>
<app-effects id="effects" class="charactersheet-app" [className]="(get_EffectsMinimized()) ? 'minimized' : ''"></app-effects>
<app-abilities id="abilities" class="charactersheet-app" [className]="(get_AbilitiesMinimized()) ? 'minimized' : ''"></app-abilities>
<app-health id="health" class="charactersheet-app" [className]="(get_HealthMinimized()) ? 'minimized' : ''"></app-health>
<app-defense id="defense" class="charactersheet-app" [className]="(get_DefenseMinimized()) ? 'minimized' : ''"></app-defense>
<app-attacks id="attacks" class="charactersheet-app" [className]="(get_AttacksMinimized()) ? 'minimized' : ''"></app-attacks>
<app-skills id="skills" class="charactersheet-app" [className]="(get_SkillsMinimized()) ? 'minimized' : ''"></app-skills>
<app-inventory id="inventory" class="charactersheet-app" [className]="(get_InventoryMinimized()) ? 'minimized' : ''"></app-inventory>
<app-activities id="activities" class="charactersheet-app" [className]="(get_ActivitiesMinimized()) ? 'minimized' : ''"></app-activities>
<app-spellbook id="spellbook" class="charactersheet-app" [className]="(get_SpellbookMinimized()) ? 'minimized' : ''"></app-spellbook>