<div id="conditions" class="itemBox">
    <button class="list-item" (click)="toggleConditionsMenu()">Close</button>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <div *ngIf="!still_loading()">
        <h3>Duration: {{get_Duration()}}</h3>
        <div class="list-item">
            <div class="row">
                <button (click)="add_Duration(-1)">{{(get_Duration() == "Permanent") ? "Permanent" : "Reset"}}</button>
                <button (click)="add_Duration(10)">{{(get_Duration() == "Permanent") ? "" : "+"}}1 Turn</button>
                <button (click)="add_Duration(50)">{{(get_Duration() == "Permanent") ? "" : "+"}}5 Turns</button>
                <button (click)="add_Duration(100)">{{(get_Duration() == "Permanent") ? "" : "+"}}1 Min</button>
                <button (click)="add_Duration(500)">{{(get_Duration() == "Permanent") ? "" : "+"}}5 Min</button>
                <button (click)="add_Duration(1000)">{{(get_Duration() == "Permanent") ? "" : "+"}}10 Min</button>
                <button (click)="add_Duration(6000)">{{(get_Duration() == "Permanent") ? "" : "+"}}1 Hour</button>
                <button (click)="add_Duration(48000)">{{(get_Duration() == "Permanent") ? "" : "+"}}8 Hours</button>
                <button (click)="add_Duration(144000)">{{(get_Duration() == "Permanent") ? "" : "+"}}1 Day</button>
            </div>
            <div class="row left-aligned">
                End on:<br>
                <input type="radio" [(ngModel)]="endOn" [value]="5">Turn Start<br>
                <input type="radio" [(ngModel)]="endOn" [value]="0">Turn End
            </div>
        </div>
        <h3>Add Condition</h3>
        <div *ngFor="let set of ['Generic','Alchemical Elixirs']">
            <button class="button fancybutton list-item" (click)="toggleList(set)">{{set}}</button>
            <div *ngIf="get_ShowList()==set">
                <div class="list-item" *ngFor="let condition of get_ConditionsSet(set)">
                    <strong>{{condition.name}}</strong>&nbsp;
                    <div *ngIf="condition.hasValue">
                        Value: <select [(ngModel)]="value" >
                            <option *ngFor="let valueNumber of [1,2,3,4,5]" [value]="valueNumber">{{valueNumber}}</option>
                        </select><br>
                    </div>
                    <div class="row">
                        <button (click)="add_Condition(condition)">Add ({{get_Duration()}})</button>
                        <button (click)="toggleItem(set+condition.name)">Show Description</button>
                    </div>
                    <div class="row" *ngIf="get_ShowItem()==set+condition.name">
                        <div *ngFor="let desc of condition.desc.split('\n\n')">
                            <p *ngIf="desc.split('\n').length == 1">{{desc}}</p>
                            <ul *ngIf="desc.split('\n').length > 1">
                                <li *ngFor="let line of desc.split('\n')">{{line}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>