<div id="conditions" class="itemBox">
    <button class="list-item"
        (click)="toggleConditionsMenu()">Close</button>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <div class="list-item">
            <strong>Find (in Name or Description)</strong>
            <span>
                <input type=text [(ngModel)]="wordFilter" (keypress)=check_Filter() />
                <button (click)="set_Filter()" [disabled]="wordFilter.length < 5">Show All</button>
                <button (click)="wordFilter='';check_Filter()">Clear</button>
            </span>
        </div>
        <h3>Duration: {{get_Duration()}}</h3>
        <div class="list-item">
            <div class="row">
                <button class="center-aligned"
                    (click)="add_Duration(duration)"
                    *ngFor="let duration of [-1, 10, 50, 100, 500, 1000, 6000, 48000, 144000]">{{get_Duration(duration)}}</button>
            </div>
            <div class="row left-aligned">
                End on:<br>
                <input type="radio" [(ngModel)]="endOn" [value]="5">Turn Start<br>
                <input type="radio" [(ngModel)]="endOn" [value]="0">Turn End
            </div>
        </div>
        <h3>Add Condition</h3>
        <ng-container *ngFor="let set of ['Generic','Alchemical Elixirs','Worn Items','Spells']; trackBy:trackByIndex;">
            <ng-container *ngFor="let visibleConditions of [get_VisibleConditionsSet(set)]; trackBy:trackByIndex;">
                <button class="list-item"
                    (click)="toggleList(set)" *ngIf="visibleConditions.length"><h3>{{set}}</h3></button>
                <ng-container *ngIf="get_ShowList()==set||get_ShowList()=='All'">
                    <div class="list-item" *ngFor="let condition of visibleConditions; trackBy:trackByIndex;">
                        <strong>{{condition.name}}</strong>&nbsp;
                        <div class="row" *ngIf="condition.hasValue">
                            <span>
                                Value: <select [(ngModel)]="value">
                                    <option *ngFor="let valueNumber of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="valueNumber">{{valueNumber}}
                                    </option>
                                </select><br>
                            </span>
                        </div>
                        <div class="row" *ngIf="condition.type == 'spells'">
                            <span>
                                Spell level (for effect values): <select [(ngModel)]="heightened">
                                    <option *ngFor="let valueNumber of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="valueNumber">{{valueNumber}}
                                    </option>
                                </select><br>
                            </span>
                        </div>
                        <div class="row" *ngIf="condition.name == 'Persistent Damage'">
                            <span>
                                Damage type and amount: <input type="text" name="persistentDamage" [(ngModel)]="persistentDamage" maxLength="30">
                            </span>
                        </div>
                        <div class="row">
                            <span>
                                <button (click)="add_Condition(get_Character(), condition)">Add ({{get_Duration()}})</button>
                            </span>
                            <span>
                                <button (click)="toggleItem(set+condition.name)">
                                    Show Description</button>
                            </span>
                        </div>
                        <div class="row" *ngIf="get_CompanionAvailable()">
                            <span>
                                <button (click)="add_Condition(get_Companion(), condition)">Add (Animal Companion) ({{get_Duration()}})</button>
                            </span>
                        </div>
                        <div class="row" *ngIf="get_FamiliarAvailable()">
                            <span>
                                <button (click)="add_Condition(get_Familiar(), condition)">Add (Familiar) ({{get_Duration()}})</button>
                            </span>
                        </div>
                        <div class="row left-aligned" *ngIf="get_ShowItem()==set+condition.name">
                            <div *ngFor="let desc of condition.desc.split('\n\n')">
                                <p *ngIf="desc.split('\n').length == 1" [innerHTML]="desc"></p>
                                <ul *ngIf="desc.split('\n').length > 1">
                                    <li *ngFor="let line of desc.split('\n')" [innerHTML]="line"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>