    <strong>{{skill.name}}</strong>
    <app-proficiency-form
        [skill]="skill"
        [characterService]="this.characterService"
        [level]="this.characterService.get_Character().level">
    </app-proficiency-form>
    <span *ngIf="showValue">
        Value: <input class="number"
            [className]="(skill.penalty(this.effectsService).length) ? 'penalty' : (skill.bonus(this.effectsService).length) ? 'bonus' : ''"
            type="number"
            title="{{((isDC) ? 'DC basis: 10\n' : '')+skill.value(this.characterService,this.abilitiesService,this.effectsService)[1]}}"
            value="{{skill.value(this.characterService,this.abilitiesService,this.effectsService)[0] + ((isDC) ? 10 : 0)}}" disabled>
        </span>
    <div class="row">
        <cite *ngFor="let trait of get_TraitsForThis(skill.name)" [title]="trait.description">{{trait.name}} ({{trait.haveOn(this.characterService, true)}})&nbsp;</cite>
        <div *ngFor="let name of get_specialShowon(skill)"><cite *ngFor="let feat of get_FeatsShowingOn(name)" [title]="(feat.hint) ? feat.hint : feat.desc">{{feat.name}}&nbsp;</cite></div>
        <cite *ngFor="let feat of get_FeatsShowingOn(skill.name)" [title]="(feat.hint) ? feat.hint : feat.desc">{{feat.name}}&nbsp;</cite>
        <cite *ngFor="let activity of get_ActivitiesShowingOn(skill.name)" [title]="activity.hint">{{activity.name}}&nbsp;</cite>
        <cite *ngFor="let condition of get_ConditionsShowingOn(skill.name)" [className]="(condition.buff) ? 'bonus' : 'penalty'" [title]="condition.desc">{{condition.name}}&nbsp;</cite>
        <cite *ngFor="let effect of get_EffectsOnThis(skill.name)" [className]="effect.penalty ? 'penalty' : 'bonus'">{{effect.value}} ({{effect.source}})&nbsp;</cite>
    </div>
    <div class="row">
        <input type="checkbox" [(ngModel)]="skill.showNotes">Notes
    </div>
    <div class="row">
        <input type="textarea" class="fullwidth" [(ngModel)]="skill.notes" *ngIf="skill.showNotes">
    </div>