<div class="list-item"
    [ngClass]="{'fullsize-only':(skill.$value[get_CalculatedIndex()].result == 0), 'character-only':(skill.$level[get_CalculatedIndex()] == 0 && creature == 'Companion')}"
    *ngFor="let skill of [skill.calculate(get_Creature(), this.characterService,this.abilitiesService,this.effectsService, get_Character().level, isDC)]; trackBy:trackByIndex;">
    <div class="newrow">
        <ng-template #AbilityPopover>
            <strong>Ability</strong>
            {{skill.$ability[get_CalculatedIndex()]}}
        </ng-template>
        <span><strong
                [ngbPopover]="skill.$ability[get_CalculatedIndex()] ? AbilityPopover : null">{{get_Name(skill)}}</strong></span>
        <app-proficiency-form style="flex-grow:0" [creature]="creature" [skill]="skill"
            [characterService]="this.characterService" [level]="this.characterService.get_Character().level"
            *ngIf="creature != 'Familiar'">
        </app-proficiency-form>
        <span *ngIf="showValue">
            <span [ngbPopover]="((isDC) ? 'DC basis: 10\n' : '')+skill.$value[get_CalculatedIndex()].explain">
            Value: <input class="number2"
                [ngClass]="{'penalty':skill.$penalties[get_CalculatedIndex()], 'bonus':skill.$bonuses[get_CalculatedIndex()], 'absolute':skill.$absolutes[get_CalculatedIndex()].length}"
                type="number" value="{{skill.$value[get_CalculatedIndex()].result + ((isDC) ? 10 : 0)}}" disabled>
            <span class="fullsize-only" *ngFor="let id of [get_LabelID()]; trackBy:trackByIndex;">
                <input id="{{id+'notes'}}" class="invisible" type="checkbox" [(ngModel)]="skill.showNotes">
                <label for="{{id+'notes'}}" [ngbTooltip]="'Edit notes'">&#9998;</label>
            </span>
        </span>
        </span>
    </div>
    <app-tags [creature]="creature" [objectName]=skill.name [showTraits]=true [showFeats]=true [showItems]=true
        [showActivities]=true [showConditions]=true [specialNames]=get_SpecialShowon(skill)
        [specialEffects]="get_SpecialEffects(skill)">
    </app-tags>
    <div class="fullsize-only newrow" *ngIf="skill.showNotes">
        <span>
            <strong>Notes</strong>
            <input type="textarea" class="fullwidth" [(ngModel)]="skill.notes">
        </span>
    </div>
</div>