    <strong>{{skill.name}}</strong>
    <app-proficiency-form [skill]="skill" [characterService]="this.characterService" [level]="this.characterService.get_Character().level"></app-proficiency-form>
    <span *ngIf="showValue">
        Value: <input class="number" [className]="(skill.penalty(this.effectsService).length) ? 'penalty' : (skill.bonus(this.effectsService).length) ? 'bonus' : ''" type="number" value="{{skill.value(this.characterService,this.abilitiesService,this.effectsService) + ((isDC) ? 10 : 0)}}" disabled>
        </span>
    <div class="row" *ngIf="get_TraitsForThis(skill.name).length">
    <cite *ngFor="let trait of get_TraitsForThis(skill.name)" title="{{trait.description}}">{{trait.name}} ({{trait.haveOn(this.characterService, true)}})&nbsp;</cite>
    </div>
    <div class="row" *ngIf="skill.effects(this.effectsService).length">
        <cite *ngFor="let effect of skill.effects(this.effectsService)" [className]="effect.penalty ? 'penalty' : 'bonus'">{{effect.value}} ({{effect.source}})&nbsp;</cite>
    </div>
    <div class="row" *ngIf="get_FeatsShowingOn(skill.name).length">
        <cite *ngFor="let feat of get_FeatsShowingOn(skill.name)" [title]="feat.desc">{{feat.name}}&nbsp;</cite>
    </div>
    <div class="row">
        <input type="checkbox" [(ngModel)]="skill.showNotes">Notes
    </div>
    <div class="row">
        <input type="textarea" class="fullwidth" [(ngModel)]="skill.notes" *ngIf="skill.showNotes">
    </div>