:host {
    position:fixed;
    left:0;
    top:0;
    right:auto;
    bottom:0;
    z-index:999;
    overflow-y: hidden;
}

.itemBox {
    overflow-y: auto;
    margin:0;
    height:100%;
    justify-content: flex-start;
}