<button class="minimizebutton lower" (click)="minimize()">&#8691;</button>
<div id="animal-companion-height" class="itemBox" [ngStyle]="{'--accent':get_Accent()}">
    <button class="list-item" (click)="toggleCompanionMenu()">
        Close
    </button>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <div class="animalcompanion-box"
        *ngIf="!still_loading() && get_Character().class && get_CompanionAvailable() && get_CompanionMenuState() == 'in'">
        <div class="charactersheet-column">
            <app-general [creature]="'Companion'" id="Companion-general" class="charactersheet-app"></app-general>
            <app-health [creature]="'Companion'" id="Companion-health" class="charactersheet-app"
                [ngStyle]="{'--accent':get_Accent()}"></app-health>
            <app-effects [creature]="'Companion'" id="Companion-effects" class="charactersheet-app"
                [ngStyle]="{'--accent':get_Accent()}"></app-effects>
            <app-skills [creature]="'Companion'" id="Companion-skills" class="charactersheet-app"
                [ngStyle]="{'--accent':get_Accent()}"></app-skills>
            <app-activities [creature]="'Companion'" id="Companion-activities" class="charactersheet-app"
                [ngStyle]="{'--accent':get_Accent()}"></app-activities>
        </div>
        <div class="charactersheet-column">
            <app-abilities [creature]="'Companion'" id="Companion-abilities" class="charactersheet-app"
                [ngStyle]="{'--accent':get_Accent()}"></app-abilities>
            <app-defense [creature]="'Companion'" id="Companion-defense" class="charactersheet-app"
                [ngStyle]="{'--accent':get_Accent()}"></app-defense>
            <app-attacks [creature]="'Companion'" id="Companion-attacks" class="charactersheet-app"
                [ngStyle]="{'--accent':get_Accent()}"></app-attacks>
            <app-inventory [creature]="'Companion'" id="Companion-inventory" class="charactersheet-app"
                [ngStyle]="{'--accent':get_Accent()}"></app-inventory>
        </div>
    </div>
</div>