<button class="minimizebutton lower" (click)="minimize()">&#8691;</button>
<div id="spells-height" class="itemBox">
    <button class="list-item" (click)="toggleSpellMenu()">Close</button>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading() && get_Character().class">
        <div class="list-item">
            <span>
                <input type="checkbox" [(ngModel)]="allowHeightened">
                Allow heightened spells
            </span>
        </div>
        <ng-container *ngFor="let casting of get_SpellCastings(); let index = index;">
            <h3>{{(casting.className + " " + casting.get_Tradition() + ((casting.castingType == "Focus") ? (" " + casting.source) : " Spells")).trim()}}
                <span class="lower"
                    *ngIf="['Prepared', 'Spontaneous'].includes(casting.castingType)">
                    <span class="lower">
                        {{casting.castingType}}
                    </span>
                </span>
            </h3>
            <div class="list-item" *ngIf="need_Spellbook(casting)">
                <span>
                    <input type="checkbox" [(ngModel)]="allowBorrow">
                    Allow borrowing spells not in your spellbook
                </span>
            </div>
            <ng-container *ngFor="let level of [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                <ng-container *ngIf="level <= get_MaxSpellLevel()">
                    <h5 *ngIf="level == -1 && casting.castingType == 'Focus'">Focus Spells</h5>
                    <h5 *ngIf="level == 0">Cantrips</h5>
                    <h5 *ngIf="level > 0 && casting.castingType != 'Focus'">{{"Level "+level}}</h5>
                    <!--Fixed information-->
                    <div class="fullsize-only list-item fancy-button" *ngIf="get_SpellsTaken(1, get_Character().level, level, '', casting, '', '', true).length" >
                        <button class="row sublist-toggle fancy-button"
                            (click)="toggle_Choice(index+'showFixedChanges'+level)">
                            Show fixed changes
                        </button>
                        <div class="list-item sublist fancy-list" *ngIf="get_ShowChoice()==index+'showFixedChanges'+level">
                            <!--Fixed Spells gained-->
                            <div class="list-item"
                                *ngFor="let spellTaken of get_SpellsTaken(1, get_Character().level, level, '', casting, '', '', true)">
                                {{spellTaken.gain.name}} {{spellTaken.gain.source ? "("+spellTaken.gain.source+")" : ""}}
                                <button class="right-bound" (click)="toggle_Spell(spellTaken.choice.id+spellTaken.gain.name+'desc')">
                                    Show Description
                                </button>
                                <div class="row left-aligned" *ngIf="this.get_ShowSpell()==spellTaken.choice.id+spellTaken.gain.name+'desc'">
                                    <app-spell [spell]="get_Spells(spellTaken.gain.name)[0]" [spellLevel]="level"></app-spell>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Spell choices-->
                    <ng-container *ngFor="let choice of get_SpellChoices(casting, level)">
                        <app-spellchoice (showChoiceMessage)="receive_ChoiceMessage($event)"
                            (showSpellMessage)="receive_SpellMessage($event)" [spellCasting]="casting" [choice]="choice"
                            [allowHeightened]="allowHeightened" [allowBorrow]="allowBorrow" [showChoice]="showChoice" [showSpell]="showSpell"
                            [level]="level"></app-spellchoice>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>