<button class="minimizebutton lower" (click)="minimize()">&#8691;</button>
<div id="spells-height" class="itemBox">
    <button class="list-item" (click)="toggleSpellMenu()">Close</button>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading() && get_Character().class">
        <div class="list-item">
            <span>
                <input type="checkbox" [(ngModel)]="allowHeightened">
                Allow heightened spells
            </span>
        </div>
        <ng-container *ngFor="let level of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <ng-container *ngIf="level <= get_MaxSpellLevel()">
                <h3>{{level == 0 ? "Cantrips" : "Level "+level}}</h3>
                <!--Fixed information-->
                <div class="fullsize-only list-item fancy-button">
                    <button class="row sublist-toggle fancy-button"
                        (click)="toggle_Choice('showFixedChanges'+level)">
                        Show fixed changes
                    </button>
                    <div class="list-item sublist fancy-list" *ngIf="get_ShowChoice()=='showFixedChanges'+level">
                        <!--Fixed Spells gained-->
                        <div class="list-item"
                            *ngFor="let spellGain of get_SpellsTaken(1, get_Character().level, level, '', '', '', true)">
                            {{spellGain.name}} ({{spellGain.source}})
                        </div>
                    </div>
                </div>
                <!--Spell choices-->
                <ng-container *ngFor="let choice of get_SpellChoices(level)">
                    <app-spellchoice (showChoiceMessage)="receive_ChoiceMessage($event)" (showSpellMessage)="receive_SpellMessage($event)" [choice]="choice" [allowHeightened]="allowHeightened" [showChoice]="showChoice" [showSpell]="showSpell" [level]="level"></app-spellchoice>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</div>