<div id="spells" class="itemBox">
    <button class="list-item" (click)="toggleSpellMenu()">Close</button>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <div *ngIf="!still_loading()">
        <div *ngIf="get_Character().class">
            <div *ngFor="let level of get_Character().class.levels">
                <h3 *ngIf="level.number > 0">Level {{level.number}}</h3>
                <!--Fixed information-->
                <div class="list-item fancy-button" *ngIf="level.number > 0">
                    <button class="row button fancy-button" (click)="toggle_List('showFixedChanges'+level.number)">
                        Show fixed changes
                    </button>
                    <div class="list-item sublist fancy-list"
                        *ngIf="this.showList=='showFixedChanges'+level.number">
                        <!--Fixed Spells gained-->
                        <div class="list-item"
                            *ngFor="let spellGain of get_SpellsTaken(level.number, level.number, '', '', '', true)">
                            {{spellGain.name}} ({{spellGain.source}})
                        </div>
                    </div>
                </div>
                <!--Spell choices-->
                <div *ngFor="let choice of level.spellChoices">
                    <div class="list-item" *ngIf="choice.available"
                        [className]="(choice.spells.length > choice.available || cannotTakeSome(choice)) ? 'problem' : ''">
                        <button class="row button"
                            [className]="(choice.available == choice.spells.length) ? 'fancy-button' : ''"
                            (click)="toggle_List(choice.source+choice.id)">
                            {{(choice.level) ? "Level "+choice.level+" " : ""}}{{choice.type}} Feats
                            ({{choice.source}}){{(choice.available > 1) ?
                                ": "+ choice.spells.length +"/"+ choice.available : 
                                (choice.spells.length) ? ": "+ choice.spells[0].name : ""}}
                        </button>
                        <div class="list-item sublist"
                            [className]="(choice.available == choice.spells.length ) ? 'fancy-list' : ''"
                            *ngIf="this.showList==choice.source+choice.id">
                            <div title="{{(this.get_showItem()==choice.id+spell.name+'desc') ? '' : spell.shortDesc}}"
                                class="list-item" *ngFor="let spell of get_AvailableSpells(choice)">
                                <input id="{{choice.id+spell.name}}" type="checkbox"
                                    (change)="on_SpellTaken(spell.name, $event.target.checked, choice, false)"
                                    [checked]="spellTakenByThis(spell, choice)"
                                    [disabled]="cannotTake(spell, choice).length && !spellTakenByThis(spell, choice)">
                                <label for="{{choice.id+spell.name}}">
                                    <strong>{{spell.name}}&nbsp;</strong><cite>Level {{spell.levelreq}}</cite>
                                </label>
                                <cite style="color:darkred" *ngFor="let reason of cannotTake(spell, choice)">
                                    {{reason}}&nbsp;
                                </cite>
                                <button class="button" (click)="toggle_Item(choice.id+spell.name+'desc')">
                                    Show Description
                                </button>
                                <div class="row left-aligned" *ngIf="this.get_showItem()==choice.id+spell.name+'desc'">
                                    <cite *ngFor="let trait of spell.traits">
                                        {{trait}}&nbsp;
                                    </cite>
                                    <div class="row">
                                        <p *ngFor="let desc of spell.desc.split('\n')">
                                            {{desc}}
                                        </p>
                                        <p *ngIf="spell.specialdesc.length">
                                            <strong>Special</strong>
                                            {{spell.specialdesc}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--UnavailableFeats-->
                            <div class="list-item unavailable"
                                title="{{(this.get_showItem()==choice.id+spell.name+'desc') ? '' : spell.shortDesc}}"
                                *ngFor="let spell of get_AvailableSpells(choice, true)">
                                <strong>{{spell.name}}&nbsp;</strong><cite>Level {{spell.levelreq}}</cite>
                                <cite style="color:darkred" *ngFor="let reason of cannotTake(spell, choice)">
                                    {{reason}}&nbsp;
                                </cite>
                                <button class="button" (click)="toggle_Item(choice.id+spell.name+'desc')">
                                    Show Description
                                </button>
                                <div *ngIf="this.get_showItem()==choice.id+spell.name+'desc'" class="row">
                                    <cite *ngFor="let trait of spell.traits">
                                        {{trait}}&nbsp;
                                    </cite>
                                    <div class="row">
                                        <p *ngFor="let desc of spell.desc.split('\n')">
                                            {{desc}}
                                        </p>
                                        <p *ngIf="spell.specialdesc.length">
                                            <strong>Special</strong>
                                            {{spell.specialdesc}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>