<div class="list-item" *ngIf="get_Available(choice)"
    [ngClass]="{'problem':(choice.spells.length > get_Available(choice) || cannotTakeSome(choice)), 'fullsize-only':(get_Available(choice) == choice.spells.length)}">
    <button class="row sublist-toggle" [ngClass]="{'fancy-button':(get_Available(choice) == choice.spells.length)}"
        (click)="toggle_Choice(choice.source+choice.id)">
        {{itemSpell ? "Level "+choice.level : ""}} {{choice.frequency ? capitalize(choice.frequency) : ""}}
        {{choice.tradition ? choice.tradition : ""}} {{is_SignatureSpell(choice) ? "Signature" : ""}}
        {{choice.className}} Spell{{(get_Available(choice) > 1) ? "s" : ""}}{{!itemSpell ? " ("+choice.source+")" : ""}}{{(get_Available(choice) > 1) ?
            ": "+ choice.spells.length +"/"+ get_Available(choice) : 
            (choice.spells.length) ? ": "+ choice.spells[0].name : ""}}
    </button>
    <div class="list-item sublist" [ngClass]="{'fancy-list':(get_Available(choice) == choice.spells.length )}"
        *ngIf="get_ShowChoice()==choice.source+choice.id">
        <div title="{{(this.get_ShowSpell()==choice.id+spell.name+'desc') ? '' : spell.shortDesc}}" class="list-item"
            *ngFor="let spell of get_AvailableSpells(choice)">
            <span>
                <input id="{{choice.id+spell.name}}" type="checkbox"
                    (change)="on_SpellTaken(spell.name, $event.target.checked, choice, false)"
                    [checked]="spellTakenByThis(spell, choice)"
                    [disabled]="cannotTake(spell, choice).length && !spellTakenByThis(spell, choice)"
                    *ngIf="spellCasting.castingType!='Prepared'">
                <button (click)="on_SpellTaken(spell.name, true, choice, false)" [disabled]="cannotTake(spell, choice).length" *ngIf="spellCasting.castingType=='Prepared'">+</button>
                <button (click)="on_SpellTaken(spell.name, false, choice, false)" [disabled]="!spellTakenByThis(spell, choice)" *ngIf="spellCasting.castingType=='Prepared'">-</button>
                <label for="{{choice.id+spell.name}}">
                    <strong>{{spellTakenByThis(spell, choice) ? " " + spellTakenByThis(spell, choice) + " " : ""}}{{spell.name}}&nbsp;</strong><cite>Level {{spell.levelreq}}</cite>
                </label>
            </span>
            <cite class="problem" *ngFor="let reason of cannotTake(spell, choice)">
                {{reason}}
            </cite>
            <button class="right-bound" (click)="toggle_Spell(choice.id+spell.name+'desc')">
                Show Description
            </button>
            <div class="row left-aligned" *ngIf="this.get_ShowSpell()==choice.id+spell.name+'desc'">
                <app-spell [spell]="spell" [spellLevel]="level"></app-spell>
            </div>
        </div>
    </div>
</div>