<div id="defense" class="attributeBox">
    <h3>Defense: {{get_EffectiveAC()}}</h3>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <div *ngIf="!still_loading()">
        <div class="row" *ngIf="get_AC().effects(this.effectsService).length">
            <cite *ngFor="let effect of get_AC().effects(this.effectsService)" [className]="effect.penalty ? 'penalty' : 'bonus'">{{effect.value}} ({{effect.source}})&nbsp;</cite>
        </div>
        <div class="list-item" *ngFor="let armor of get_EquippedArmor()">
            <div>{{armor.name}} AC: <input type="number" class="number" [ngModel]="get_ArmorBonus(armor)" disabled></div>
            <div class="row" *ngIf="armor.traits.length">
                <cite *ngFor="let trait of armor.traits" title="{{get_Traits(trait)[0].description}}">&nbsp;{{trait}}</cite>
            </div>
        </div>
        <div class="list-item" *ngFor="let shield of get_EquippedShield()">
            <div>{{shield.name}} AC: <input type="number" class="number" [ngModel]="shield.itembonus" disabled>
                <div class="row">
                    <button *ngIf="!shield.raised" (click)="shield.raised = true; set_CharacterChanged()">Raise shield</button>
                    <button *ngIf="shield.raised" (click)="shield.raised = false; shield.takingCover = false; set_CharacterChanged()">Lower shield</button>
                    <button *ngIf="shield.raised && shield.coverbonus && !shield.takingCover" (click)="shield.takingCover = true; set_CharacterChanged()">Take cover</button>
                    <button *ngIf="shield.raised && shield.coverbonus && shield.takingCover" (click)="shield.takingCover = false; set_CharacterChanged()">End cover</button>
                </div>
                <div class="row" *ngIf="get_FeatsShowingOn('Shield').length">
                    <a href="" *ngFor="let feat of get_FeatsShowingOn('Shield')" [title]="feat.desc">{{feat.name}}&nbsp;</a>
                </div>
            </div>
        </div>
        <div class="list-item" *ngFor="let parry of get_ParryWeapons()">
            <div>{{parry.name}} Parry AC: <input type="number" class="number" value="1" disabled>
                <div class="row">
                    <button *ngIf="!parry.parrying" (click)="parry.parrying = true; set_CharacterChanged()">Raise weapon</button>
                    <button *ngIf="parry.parrying" (click)="parry.parrying = false; set_CharacterChanged()">Lower weapon</button>
                </div>
            </div>
        </div>
        <h3 *ngIf="!still_loading()">Armor Proficiencies</h3>
        <div *ngFor="let skill of get_Skills('', 'armorProf')">
            <app-skill class="list-item" [skill]=skill [showValue]=false></app-skill>
        </div>
        <h3 *ngIf="!still_loading()">Saves</h3>
        <div *ngFor="let skill of get_Skills('', 'save')|sortBy:'asc':'name'">
            <app-skill class="list-item" [skill]=skill></app-skill>
        </div>
    </div>
</div>