<button class="minimizebutton lower" title="{{get_Minimized() ? 'Click to show all information.' : 'Click to show compact information.'}}" [ngClass]="{'fancy-button':get_Minimized()}" (click)="minimize()" *ngIf="creature=='Character'">&#8691;</button>
<div id="{{creature}}-defense-height" class="attributeBox">
    <ng-container *ngFor="let AC of [get_CalculatedAC()]; trackBy:trackByIndex;">
        <h3 class="box-header" title="{{AC.$value[get_CalculatedIndex()].explain}}">Defense: Armor Class <span [ngClass]="{'penalty':AC.$penalties[get_CalculatedIndex()], 'bonus':AC.$bonuses[get_CalculatedIndex()], 'absolute':AC.$absolutes[get_CalculatedIndex()].length}">
                {{AC.$value[get_CalculatedIndex()].result}}</span>
        </h3>
        <div class="loading" *ngIf="still_loading()">Loading</div>
        <ng-container *ngIf="!still_loading()">
            <app-tags [creature]="creature" [objectName]="'AC'" [showTraits]=true [showFeats]=true [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=false [specialEffects]="AC.$relatives[get_CalculatedIndex()].concat(AC.$absolutes[get_CalculatedIndex()])">
            </app-tags>
            <app-tags [creature]="creature" [objectName]="'Defense'" [showTraits]=true [showFeats]=true [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            <div class="list-item">
                <button class="newrow sublist-toggle center-aligned" (click)="toggle_List('QuickStatus')">
                    Quick Status
                </button>
                <div class="list-item sublist" *ngIf="get_ShowList()=='QuickStatus'">
                    <div class="list-item newrow">
                        <button class="center-aligned" *ngIf="get_Cover() != 1" (click)="set_Cover(1)">Lesser
                            Cover</button>
                        <button class="center-aligned" *ngIf="get_Cover() == 1" (click)="set_Cover(0)">End
                            Cover</button>
                    </div>
                    <div class="list-item newrow">
                        <button class="center-aligned" *ngIf="get_Cover() != 2" (click)="set_Cover(2)">Standard
                            Cover</button>
                        <button class="center-aligned" *ngIf="get_Cover() == 2" (click)="set_Cover(0)">End
                            Cover</button>
                    </div>
                    <div class="list-item newrow">
                        <button class="center-aligned" *ngIf="get_Cover() != 4" (click)="set_Cover(4)">Greater
                            Cover</button>
                        <button class="center-aligned" *ngIf="get_Cover() == 4" (click)="set_Cover(0)">End
                            Cover</button>
                    </div>
                    <div class="list-item newrow">
                        <button class="center-aligned" *ngIf="!get_FlatFooted()" (click)="set_FlatFooted(true)">Enable
                            Flat-Footed</button>
                        <button class="center-aligned" *ngIf="get_FlatFooted()" (click)="set_FlatFooted(false)">Disable
                            Flat-Footed</button>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="creature != 'Familiar'">
                <h5 class="fullsize-only">Armor</h5>
                <div class="fullsize-only list-item" *ngFor="let armor of get_EquippedArmor(); trackBy:trackByIndex;">
                    <div>
                        {{armor.get_Name()}}
                    </div>
                    <div class="fullsize-only newrow left-aligned" *ngIf="armor.traits.length">
                        <cite class="trait" *ngFor="let trait of armor.traits; trackBy:trackByIndex;" title="{{get_Traits(trait)[0].desc}}">{{trait}}</cite>
                    </div>
                    <app-tags [creature]="creature" [objectName]="'Armor'" [showTraits]=true [showFeats]=true [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
                    <app-tags [creature]="creature" [objectName]="armor.name" [showItems]=true></app-tags>
                    <div class="fullsize-only lower newrow left-aligned" *ngFor="let talisman of armor.talismans; let index = index; trackBy:trackByIndex;">
                        <button title="{{get_TalismanTitle(talisman)}}" (click)="on_TalismanUse(armor, talisman, index)">
                            <span>Activate {{talisman.name}}<app-actionIcons [actionString]="talisman.actions">
                                </app-actionIcons>{{(talisman.activationType) ? talisman.activationType : ""}}
                            </span>
                        </button>
                    </div>
                    <div class="fullsize-only lower newrow left-aligned" *ngFor="let spec of get_ArmorSpecialization(armor); trackBy:trackByIndex;">
                        <strong>Armor specialization effect&nbsp;</strong>{{spec.desc}}
                    </div>
                </div>
                <ng-container *ngFor="let shield of get_EquippedShield(); trackBy:trackByIndex;">
                    <h5 class="fullsize-only">Shield</h5>
                    <div class="newrow list-item">
                        <div>{{shield.get_Name()}} AC: <input type="number" class="number1" [ngModel]="shield.get_ACBonus()" disabled> Hardness: <input type="number" class="number2" [ngModel]="shield.get_Hardness()" disabled>
                            <div class="fullsize-only newrow left-aligned" *ngIf="shield.traits.length">
                                <cite class="trait" *ngFor="let trait of shield.traits; trackBy:trackByIndex;" title="{{get_Traits(trait)[0].desc}}">{{trait}}</cite>
                            </div>
                            <app-tags [creature]="creature" [objectName]="'Shield'" [showTraits]=true [showFeats]=true [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true>
                            </app-tags>
                            <div class="newrow">
                                <button class="center-aligned" *ngIf="!shield.raised" (click)="raise_Shield(true, shield)">Raise shield</button>
                                <button class="center-aligned" *ngIf="shield.raised" (click)="raise_Shield(false, shield)">Lower
                                    shield</button>
                                <button class="center-aligned" *ngIf="shield.raised && shield.coverbonus && !shield.takingCover" (click)="set_Cover(4, shield)">Take cover</button>
                                <button class="center-aligned" *ngIf="shield.raised && shield.coverbonus && shield.takingCover" (click)="set_Cover(0, shield)">End cover</button>
                            </div>
                            <div class="list-item newrow">
                                <strong>HP</strong> <span><input type="number" class="number2"
                                        [ngModel]="shield.get_HitPoints()" disabled></span>
                                <strong>Max HP</strong> <span><input type="number" class="number2"
                                        [ngModel]="shield.get_MaxHP()" disabled></span>
                                <strong>BT</strong> <span><input type="number" class="number2"
                                        [ngModel]="shield.get_BrokenThreshold()" disabled></span>
                            </div>
                            <div class="list-item newrow">
                                <span>
                                    <button [disabled]="shieldDamage == 0"
                                        (click)="on_ShieldHPChange(shield, shieldDamage)">Damage</button>
                                </span>
                                <span>
                                    <input class="number3" type="number" [(ngModel)]="shieldDamage" maxLength="3">
                                </span>
                                <span>
                                    <button [disabled]="shieldDamage == 0"
                                        (click)="on_ShieldHPChange(shield, -shieldDamage)">Repair</button>
                                </span>
                            </div>
                            <div class="fullsize-only lower newrow left-aligned" *ngFor="let talisman of shield.talismans; let index = index; trackBy:trackByIndex;">
                                <button title="{{get_TalismanTitle(talisman)}}" (click)="on_TalismanUse(shield, talisman, index)">
                                    <span>Activate {{talisman.name}}<app-actionIcons [actionString]="talisman.actions">
                                        </app-actionIcons>{{(talisman.activationType) ? talisman.activationType : ""}}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <h3 class="fullsize-only box-header" *ngIf="!still_loading()">Saving Throws</h3>
                <app-tags [creature]="creature" [objectName]="'Saving Throws'" [showTraits]=true [showFeats]=true [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
                <ng-container *ngFor="let skill of get_Skills('', 'Save')|sortBy:'asc':'name'; trackBy:trackByIndex;">
                    <app-skill [creature]="creature" [skill]=skill></app-skill>
                </ng-container>
                <ng-container *ngIf="!still_loading()">
                    <h3 class="fullsize-only box-header">Armor Proficiencies</h3>
                    <ng-container *ngFor="let skill of get_Skills('', 'Armor Proficiency'); trackBy:trackByIndex;">
                        <app-skill class="fullsize-only" [creature]="creature" [skill]=skill [showValue]=false>
                        </app-skill>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="creature == 'Familiar'">
                <h3 class="fullsize-only box-header" *ngIf="!still_loading()">Saving Throws</h3>
                <ng-container *ngFor="let skill of get_Skills('', 'Save')|sortBy:'asc':'name'; trackBy:trackByIndex;">
                    <app-skill [creature]="creature" [skill]=skill></app-skill>
                </ng-container>
                <app-tags [creature]="creature" [objectName]="'Saving Throws'" [showTraits]=true [showFeats]=true [showItems]=true [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
<div *ngIf="set_Span()"></div>