<h3 *ngIf="propertyData.priority == 0 && propertyData.group">{{propertyData.group.split("-")[1]}}</h3>
<div class="list-item">
    <ng-container *ngIf="!noTitle">
        <div class="row left-aligned">
            <strong>{{propertyData.name}}</strong>
            <p class="row">
                {{propertyData.desc}}
            </p>
        </div>
    </ng-container>
    <ng-container *ngIf="get_IsObject(get_Parent()[propertyKey]) && get_Parent()[propertyKey]!=null">
        <button (click)="add_NewItemObject()">Add</button>
        <div class="list-item" *ngFor="let object of get_Parent()[propertyKey]; let i = index">
            <span>{{i+1}}</span>
            <span>
                <button (click)="remove_NewItemObject(i)">Remove</button>
            </span>
            <ng-container *ngIf="get_IsObject(object)">
                <ng-container *ngFor="let subProperty of get_NewItemSubProperties(object)|sortBy:'asc':'priority'|sortBy:'asc':'group'">
                    <app-newItemProperty [propertyData]=subProperty [propertyKey]=subProperty.key [parents]=parents.concat(propertyKey,i) [newItem]=newItem></app-newItemProperty>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!get_IsObject(object)">
                <app-newItemProperty class="row" [propertyData]=propertyData [propertyKey]=i [parents]=parents.concat(propertyKey) [noTitle]=true [newItem]=newItem></app-newItemProperty>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="!get_IsObject(get_Parent()[propertyKey]) || get_Parent()[propertyKey]==null">
        <div class="row">
            <input class="row" type="text" [(ngModel)]="get_Parent()[propertyKey]" (blur)="validate()" *ngIf="!propertyData.type && !propertyData.locked">
            <textarea class="row" rows=3 [(ngModel)]="get_Parent()[propertyKey]" *ngIf="propertyData.type=='textarea'"></textarea>
            <input type="checkbox" [(ngModel)]="get_Parent()[propertyKey]" *ngIf="propertyData.type=='checkbox'">
            <input type="number" [(ngModel)]="get_Parent()[propertyKey]" (blur)="validate()" (keypress)="numbersOnly($event)" *ngIf="propertyData.type=='number'">
        </div>
        <div class="row" *ngIf="validationError.length">
            <span class="problem">{{validationError}}</span>
        </div>
        <div class="row" *ngIf="validationResult.length">
            <span>Current result: {{validationResult}}</span>
        </div>
        <div class="list-item" style="margin: initial 0" *ngIf="propertyData.type!='textarea' && propertyData.type!='checkbox' &&
        !(propertyData.parent == 'gainItems' && propertyData.key == 'type')">
            <select class="row" [(ngModel)]="get_Parent()[propertyKey]" [disabled]="!get_Examples().length" (ngModelChange)="validate()">
                <option *ngFor="let example of get_Examples()|sortBy:'asc'" [ngValue]="example">
                    {{example}}
                </option>
            </select>
        </div>
        <div class="list-item" style="margin: initial 0" *ngIf="propertyData.parent == 'gainItems' && propertyData.key == 'type'">
            <select class="row" [(ngModel)]="get_Parent()[propertyKey]" (ngModelChange)="set_ItemType()">
                <option *ngFor="let itemset of get_ItemSets()" [ngValue]="itemset.key">
                    {{itemset.name}}
                </option>
            </select>
        </div>
    </ng-container>
</div>