<div class="window-button-container">
    <button class="minimizebutton lower"
        [ngbTooltip]="get_Minimized() ? 'Click to show all choices and information.' : 'Click to hide finished choices and show compact information.'"
        [ngClass]="{'fancy-button':get_Minimized()}" (click)="minimize()" *ngIf="creature==='Character'">
        <i class='bi-arrows-collapse' *ngIf="get_Minimized()"></i>
        <i class='bi-arrows-expand' *ngIf="!get_Minimized()"></i>
    </button>
    <button class="tilemodebutton" [ngClass]="{'fancy-button':get_TileMode()}" (click)="toggle_TileMode()"
        [ngbTooltip]="get_TileMode() ? 'Click to enable list layout' : 'Click to enable tiled layout'">
        <!--Content is css only-->
        <div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
        </div>
    </button>
</div>
<div id="{{creature}}-activities-height" class="attributeBox">
    <header class="sectionHeader box-header">Actions and Activities</header>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <ng-container *ngIf="!still_loading()">
        <app-tags [creature]="creature" [objectName]="'Activities'" [showTraits]=true [showFeats]=true [showItems]=true
            [showActivities]=true [showConditions]=true [showEffects]=true></app-tags>
        <ng-template #EffectsPopoverContent>
            <div class="fullsize-only newrow">
                <app-objectEffects [creature]="creature" [objectName]="'Class DCs'"></app-objectEffects>
            </div>
        </ng-template>
        <div class="vlist">
            <header class="subsectionHeader fullsize-only">
                <span class="fullsize-only" [ngbPopover]="EffectsPopoverContent" #EffectsPopover="ngbPopover"
                    triggers="click">
                    <i [ngbTooltip]="!EffectsPopover.isOpen() ? 'Edit effects' : ''" class='bi-lightning-charge'></i>
                </span>
                Class DCs
            </header>
            <app-skill [skill]=skill [isDC]=true
                *ngFor="let skill of get_ClassDCs(); let index = index; trackBy:trackByIndex;"></app-skill>
        </div>
        <div class="vlist">
            <header class="subsectionHeader">Actions and Activities</header>
            <ng-container *ngFor="let allActivityParameters of [get_ActivityParameters()]; trackBy:trackByIndex;">
                <div *ngIf="allActivityParameters.length"
                    [ngClass]="{'icon-list':get_TileMode(), 'vlist':!get_TileMode()}">
                    <ng-container *ngFor="let activityParameters of allActivityParameters; trackBy:trackByIndex;">
                        <ng-template #ActivityTitleTemplate>
                            <span *ngIf="!get_TileMode()">
                                <i class="value bi-patch-plus bonus" *ngIf="!activityParameters.hostile"
                                    [ngbTooltip]="'Beneficial activity'"></i>
                                <i class="value bi-patch-minus-fill penalty" *ngIf="activityParameters.hostile"
                                    [ngbTooltip]="'Hostile activity'"></i>
                            </span>
                            {{activityParameters.name}}
                            <app-actionIcons *ngIf="activityParameters.activity.actions"
                                [actionString]="activityParameters.activity.actions">
                            </app-actionIcons>
                            {{(activityParameters.activity.activationType) ?
                            activityParameters.activity.activationType : ""}}
                        </ng-template>
                        <ng-template #ActivityTemplate>
                            <header class="spellHeader" *ngIf="get_TileMode()">
                                <ng-container *ngTemplateOutlet="ActivityTitleTemplate"></ng-container>
                            </header>
                            <app-activity [creature]="creature" [activity]=activityParameters.activity
                                [gain]=activityParameters.gain [allowActivate]="true">
                            </app-activity>
                        </ng-template>
                        <ng-container *ngIf="!get_TileMode()">
                            <div class="list-item">
                                <button class="newrow left-aligned sublist-toggle"
                                    [ngClass]="{'fancy-button':activityParameters.gain.active, 'inactive-button':activityParameters.disabled}"
                                    (click)="toggle_Activity(activityParameters.gain.id)">
                                    <ng-container *ngTemplateOutlet="ActivityTitleTemplate"></ng-container>
                                </button>
                                <div class="list-item sublist lower"
                                    [ngClass]="{'fancy-list':activityParameters.gain.active, 'inactive-list':activityParameters.disabled}"
                                    *ngIf="get_ShowActivity()===activityParameters.gain.id">
                                    <ng-container *ngTemplateOutlet="ActivityTemplate"></ng-container>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="get_TileMode()">
                            <button [stickyPopover]="ActivityTemplate" triggers="click"
                                [ngClass]="{'fancy-button':activityParameters.gain.active, 'inactive-button':activityParameters.disabled, 'penalty':!activityParameters.disabled && activityParameters.hostile, 'bonus':!activityParameters.disabled && !activityParameters.hostile}">
                                <app-gridIcon
                                    [ngClass]="{'fancy-button':activityParameters.gain.active, 'inactive-button':activityParameters.disabled, 'penalty':!activityParameters.disabled && activityParameters.hostile, 'bonus':!activityParameters.disabled && !activityParameters.hostile}"
                                    [ngbTooltip]="ActivityTitleTemplate" [title]="activityParameters.name"
                                    [activity]="activityParameters.activity" [activityGain]="activityParameters.gain"
                                    [updateId]="activityParameters.gain.id">
                                </app-gridIcon>
                            </button>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <div class="vlist">
            <header class="subsectionHeader box-header">Temporary Feats</header>
            <app-featchoice *ngFor="let choice of get_TemporaryFeatChoices(); trackBy:trackByIndex;"
                (showFeatChoiceMessage)="receive_FeatChoiceMessage($event.name)"
                (showFeatMessage)="receive_FeatMessage($event)" [choice]="choice" [levelNumber]="get_Creature().level"
                [showFeat]="get_ShowItem()" [showChoice]="get_ShowFeatChoice()">
            </app-featchoice>
        </div>
    </ng-container>
</div>
