<span class="iconValue disable-text-selection"
    [ngStyle]="{'color': effect ? 'inherit' : 'var(--textcolor)'}">{{get_IconValue()}}</span>
<span class="iconDetail disable-text-selection">{{get_IconDetail()}}</span>
<span class="iconSuperTitle newrow disable-text-selection" style="text-align: center;">
    <div [innerHtml]="get_IconSuperTitle()"></div>
</span>
<span class="iconTitle newrow disable-text-selection" style="text-align: center;">
    <div [innerHtml]="get_IconTitle()"></div>
</span>
<ng-container *ngFor="let iconSubTitle of [get_IconSubTitle()]; trackBy:trackByIndex">
    <span class="iconSubTitle disable-text-selection" *ngIf="!iconSubTitle.includes('actionIcons|')"
        [innerHtml]="iconSubTitle"></span>
    <span class="iconSubTitle disable-text-selection" *ngIf="iconSubTitle.includes('actionIcons|')">
        <app-actionIcons [actionString]="iconSubTitle.split('|')[1]"></app-actionIcons>
        <span *ngIf="iconSubTitle.split('|').length > 1" [innerHtml]="iconSubTitle.split('|')[2]"></span>
    </span>
</ng-container>
<ng-container *ngIf="condition?.maxDuration > 0 || effect?.duration > 0">
    <ng-container *ngFor="let overlay of get_DurationOverlays(); trackBy:trackByIndex;">
        <div class="gridicon-time-overlay" [style.--offset]="overlay.offset" [style.--percentage]="overlay.percentage"
            [style.--over50]="overlay.over50" [ngClass]="{'transition5':!overlay.over50}"></div>
    </ng-container>
</ng-container>