

:host {
    display: inline-block;
    padding: 0 .15rem;
}

.actionIcon {
    display: inline-block;
    height: 1em;
    margin: 0 .15rem;
    background-color: currentColor;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.action1A {
    -webkit-mask-image: url(/assets/img/1A.svg);
    mask-image: url(/assets/img/1A.svg);
    width: 1em;
}

.action2A {
    -webkit-mask-image: url(/assets/img/2A.svg);
    mask-image: url(/assets/img/2A.svg);
    width: 1.6em;
}

.action3A {
    -webkit-mask-image: url(/assets/img/3A.svg);
    mask-image: url(/assets/img/3A.svg);
    width: 2.1em;
}

.actionFree {
    -webkit-mask-image: url(/assets/img/Free.svg);
    mask-image: url(/assets/img/Free.svg);
    width: 1em;
}

.actionReaction {
    -webkit-mask-image: url(/assets/img/Reaction.svg);
    mask-image: url(/assets/img/Reaction.svg);
    width: 1em;
}

svg,
svg g {
    fill: transparent;
    stroke: currentColor;
}
