@for (phrase of phrases; track $index) {
    @switch (phrase) {
        @case ("1A") {
            <span class="actionIcon action1A"></span>
        }

        @case ("2A") {
            <span class="actionIcon action2A"></span>
        }

        @case ("3A") {
            <span class="actionIcon action3A"></span>
        }

        @case ("Free") {
            <span class="actionIcon actionFree"></span>
        }

        @case ("Reaction") {
            <span class="actionIcon actionReaction"></span>
        }

        @default {
            <span
                class="lower"
                [innerHtml]="' ' + phrase + ' '"
            ></span>
        }
    }
}
