<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
@if (spell) {
    <div class="newrow lower">
        <div class="newrow left-aligned">
            @for (trait of spell.traits; track $index) {
                <app-trait
                    [name]="trait"
                    [trait]="traitFromName(trait)"
                />
            }

            @for (trait of spell.activationTraits(); track $index) {
                <app-trait
                    [name]="trait"
                    [trait]="traitFromName(trait)"
                    [extraDescription]="
                        '(This trait was derived from the action components.)'
                    "
                />
            }

            <app-tags
                [objectName]="spell.name"
                [showTraits]="true"
                [showFeats]="true"
                [showItems]="true"
                [showActivities]="true"
                [showConditions]="true"
                [showEffects]="true"
                [specialNames]="source ? [source] : []"
            />
        </div>

        <app-spell-content
            class="vlist fullwidth"
            [spell]="spell"
            [spellLevel]="
                (spellLevelFromBaseLevel$(spell, spellLevel) | async) ??
                spellLevel
            "
            [casting]="casting"
        />

        @for (
            feat of characterFeatsShowingHintsOnThis$(spell.name) | async;
            track $index
        ) {
            <div class="newrow left-aligned">
                <header class="spellHeader">{{ feat.name }}</header>

                @if (feat.traits.length) {
                    <div class="newrow left-aligned">
                        @for (trait of feat.traits; track $index) {
                            <app-trait
                                [name]="trait"
                                [trait]="traitFromName(trait)"
                            />
                        }
                    </div>
                }

                @for (desc of feat.desc.split("\n\n"); track $index) {
                    <div class="newrow left-aligned">
                        <app-description
                            class="newrow"
                            [text]="desc"
                        />
                    </div>
                }
            </div>
        }
    </div>
}
