@import "utilities";

:host {
    @include flex-row-start;
    @include flex-center-cross-axis;

    font-size: 1rem;

    height: 3.5rem;
    width: 3.5rem;

    position: relative;

    flex: 0 0 3.5rem;
}
