<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<div class="corner-button-tray">
    <app-minimize-button
        [ngModel]="(isMinimized$ | async) ?? false"
        (ngModelChange)="toggleMinimized($event)"
    ></app-minimize-button>
</div>

<div
    id="familiar-height"
    class="itembox vlist"
    *ngIf="isMenuOpen$ | async"
>
    <button
        type="button"
        class="itembox-close-button list-item center-aligned"
        (click)="toggleFamiliarMenu()"
    >
        <header class="sectionHeader">Back to Character Sheet</header>
    </button>

    <div
        class="familiar-box"
        *ngIf="familiar$ | async as familiar"
    >
        <!-- Desktop-only view -->
        <ng-template #DesktopViewTemplate>
            <app-effects
                [creature]="familiar"
                id="Familiar-effects"
                class="character-sheet-app character-sheet-row mobile-hide"
            >
            </app-effects>

            <div class="character-sheet-column-container mobile-hide">
                <div class="character-sheet-column">
                    <app-general
                        [creature]="familiar"
                        id="Familiar-general"
                        class="character-sheet-app"
                    ></app-general>

                    <app-familiar-abilities
                        id="familiarabilities"
                        class="character-sheet-app"
                    >
                    </app-familiar-abilities>

                    <app-health
                        [creature]="familiar"
                        id="Familiar-health"
                        class="character-sheet-app"
                    >
                    </app-health>

                    <app-skills
                        [creature]="familiar"
                        id="Familiar-skills"
                        class="character-sheet-app"
                    >
                    </app-skills>
                </div>

                <div class="character-sheet-column">
                    <app-defense
                        [creature]="familiar"
                        id="Familiar-defense"
                        class="character-sheet-app"
                    ></app-defense>

                    <app-inventory
                        [creature]="familiar"
                        id="Familiar-inventory"
                        class="character-sheet-app"
                    ></app-inventory>
                </div>
            </div>
        </ng-template>

        <!-- Mobile-only buttons and views -->
        <ng-container *ngIf="isMobile$ | async; else DesktopViewTemplate">
            <div
                class="character-sheet-app character-sheet-row desktop-hide"
                id="mobile-tabs"
            >
                <button
                    type="button"
                    aria-label="General"
                    [ngClass]="{'fancy-button':shownMode()===''}"
                    (click)="toggleShownMode('')"
                >
                    <i class="bi-info-circle-fill"></i>
                </button>

                <button
                    type="button"
                    aria-label="Health"
                    [ngClass]="{'fancy-button':shownMode()==='Health'}"
                    (click)="toggleShownMode('Health')"
                >
                    <i class="ra ra-health"></i>
                </button>

                <button
                    type="button"
                    aria-label="Defense"
                    [ngClass]="{'fancy-button':shownMode()==='Defense'}"
                    (click)="toggleShownMode('Defense')"
                >
                    <i class="ra ra-shield"></i>
                </button>

                <button
                    type="button"
                    aria-label="Skills"
                    [ngClass]="{'fancy-button':shownMode()==='Skills'}"
                    (click)="toggleShownMode('Skills')"
                >
                    <i class="ra ra-muscle-up"></i>
                </button>

                <button
                    type="button"
                    aria-label="Actions and activities"
                    [ngClass]="{'fancy-button':shownMode()==='Actions'}"
                    (click)="toggleShownMode('Actions')"
                >
                    <app-action-icons
                        [actionString]="'1A'"
                        style="margin:.12rem -.16rem -.14rem -.16rem"
                    >
                    </app-action-icons>
                </button>

                <button
                    type="button"
                    aria-label="Conditions and effects"
                    [ngClass]="{'fancy-button':shownMode()==='ConditionsEffects'}"
                    (click)="toggleShownMode('ConditionsEffects')"
                >
                    <i class="ra ra-lightning-bolt"></i>
                </button>
            </div>

            <div class="character-sheet-column-container desktop-hide">
                <div class="character-sheet-column">
                    <app-general
                        id="Character-general"
                        class="character-sheet-app"
                        [creature]="familiar"
                        *ngIf="!shownMode() || !['Health','Defense','Attacks','Spells','Skills','Actions','Inventory','ConditionsEffects'].includes(shownMode())"
                    >
                    </app-general>

                    <app-familiar-abilities
                        id="familiarabilities"
                        class="character-sheet-app"
                        *ngIf="!shownMode()"
                    >
                    </app-familiar-abilities>

                    <app-health
                        id="Character-health"
                        class="character-sheet-app"
                        [creature]="familiar"
                        [forceMinimized]="shownMode() === 'Downtime'"
                        *ngIf="shownMode()==='Health'"
                    >
                    </app-health>

                    <app-defense
                        id="Character-defense"
                        class="character-sheet-app"
                        [creature]="familiar"
                        *ngIf="shownMode()==='Defense'"
                    >
                    </app-defense>

                    <app-skills
                        id="Character-skills"
                        class="character-sheet-app"
                        [creature]="familiar"
                        *ngIf="shownMode()==='Skills'"
                    >
                    </app-skills>

                    <app-activities
                        id="Character-activities"
                        class="character-sheet-app"
                        [creature]="familiar"
                        *ngIf="shownMode()==='Actions'"
                    >
                    </app-activities>

                    <app-effects
                        id="Character-effects"
                        class="character-sheet-app"
                        [creature]="familiar"
                        [fullDisplay]="true"
                        *ngIf="shownMode()==='ConditionsEffects'"
                    >
                    </app-effects>
                </div>
            </div>
        </ng-container>
    </div>
</div>
