<div id="dice" class="diceBox">
    <button class="list-item center-aligned" (click)="toggleDiceMenu()">
        <header class="sectionHeader">Close</header>
    </button>
    <div class="list-item" style="gap:8px;">
        <div>
            <button class="center-aligned" (click)="roll(1, 4)" title="Roll 1d4">
                <app-diceIcons_D4></app-diceIcons_D4>
            </button>
            <br>
            <button class="center-aligned newrow" style="margin-top:8px;" (click)="roll(diceNum, 4)" title="Roll {{diceNum}}d4">
                {{diceNum}}d4
            </button>
        </div>
        <div>
            <button class="center-aligned" (click)="roll(1, 6)" title="Roll 1d6">
                <app-diceIcons_D6></app-diceIcons_D6>
            </button>
            <br>
            <button class="center-aligned newrow" style="margin-top:8px;" (click)="roll(diceNum, 6)" title="Roll {{diceNum}}d6">
                {{diceNum}}d6
            </button>
        </div>
        <div>
            <button class="center-aligned" (click)="roll(1, 8)" title="Roll 1d8">
                <app-diceIcons_D8></app-diceIcons_D8>
            </button>
            <br>
            <button class="center-aligned newrow" style="margin-top:8px;" (click)="roll(diceNum, 8)" title="Roll {{diceNum}}d8">
                {{diceNum}}d8
            </button>
        </div>
        <div>
            <button class="center-aligned" (click)="roll(1, 10)" title="Roll 1d10">
                <app-diceIcons_D10></app-diceIcons_D10>
            </button>
            <br>
            <button class="center-aligned newrow" style="margin-top:8px;" (click)="roll(diceNum, 10)" title="Roll {{diceNum}}d10">
                {{diceNum}}d10
            </button>
        </div>
        <div>
            <button class="center-aligned" (click)="roll(1, 12)" title="Roll 1d12">
                <app-diceIcons_D12></app-diceIcons_D12>
            </button>
            <br>
            <button class="center-aligned newrow" style="margin-top:8px;" (click)="roll(diceNum, 12)" title="Roll {{diceNum}}d12">
                {{diceNum}}d12
            </button>
        </div>
        <div>
            <button class="center-aligned" (click)="roll(1, 20)" title="Roll 1d20">
                <app-diceIcons_D20></app-diceIcons_D20>
            </button>
            <br>
            <button class="center-aligned newrow" style="margin-top:8px;" (click)="roll(diceNum, 20)" title="Roll {{diceNum}}d20">
                {{diceNum}}d20
            </button>
        </div>
        <div class="newrow">
            Dice number <input class="newrow slider" type="range" min="1" max="20" [(ngModel)]="diceNum">
        </div>
    </div>
    <div class="list-item center-aligned" *ngIf="diceResult.length">
        <header class="sectionHeader box-header dice-result">{{get_DiceSum()}}</header>
        <div class="newrow center-aligned" *ngIf="diceResult.length > 1">
            <span>
                <span *ngFor="let result of diceResult; let index = index;" title="{{result.roll}}">
                    {{index != 0 ? "+ " : ""}}{{result.result}}
                </span>
            </span>
        </div>
        <div class="newrow center-aligned">
            <span>
                ({{get_DiceSummary()}})
            </span>
        </div>
        <div class="newrow center-aligned">
            <span>
                <button (click)="clear()">
                    Clear
                </button>
            </span>
        </div>
    </div>
</div>