<ng-container *ngFor="let hint of get_Hints(); trackBy:trackByIndex;">
    <ng-template #SimpleHintContent>
        <ng-container
            *ngFor="let text of (hint.desc ? get_HeightenedHint(hint) : object.desc).split('\n\n'); let textIndex = index; trackBy:trackByIndex;">
            <app-description [text]="text"></app-description>
        </ng-container>
    </ng-template>
    <ng-template #HintContent>
        <ng-container
            *ngFor="let text of (hint.desc ? get_HeightenedHint(hint) : object.desc).split('\n\n'); let textIndex = index; trackBy:trackByIndex;">
            <app-description [text]="text"></app-description>
        </ng-container>
        <div class="list-item" *ngIf="get_HintsShowMore() && get_ObjectType()">
            <header class="spellHeader" *ngIf="object.name">{{object.name}}</header>
            <app-feat *ngIf="get_ObjectType()=='Feat'" [feat]="object"></app-feat>
            <app-condition *ngIf="get_ObjectType()=='ConditionSet'" [condition]="object.condition"
                [conditionGain]="object.gain">
            </app-condition>
            <app-activity *ngIf="get_ObjectType()=='Activity'" [allowActivate]="false" [activity]="object">
            </app-activity>
            <app-item *ngIf="get_ObjectType()=='Item'" [allowActivate]="false" [item]="object"></app-item>
            <div class="newrow left-aligned" *ngIf="get_ObjectType()=='DescOnly'">
                <app-description [text]="object.desc"></app-description>
            </div>
        </div>
    </ng-template>
    <cite>
        <span #fullDetailPopover="ngbPopover" [ngbPopover]="HintContent" triggers="click">
            <span [ngbPopover]="!fullDetailPopover.isOpen() && SimpleHintContent" triggers="hover">
                {{description}}{{get_HintChoice(hint)}}
            </span>
        </span>
        <input type="checkbox" [(ngModel)]="hint.active" (ngModelChange)="on_ActivateEffect()"
            *ngIf="hint.effects && hint.effects.length" [ngbTooltip]="'Activate any effects of this hint.'"
            triggers="hover">
        <input type="checkbox" [(ngModel)]="hint.active2" (ngModelChange)="on_ActivateEffect()"
            *ngIf="hint.effects && hint.effects.length && hint.extraActivations > 0"
            [ngbTooltip]="'Activate the second level of this hint\'s effects.'" triggers="hover">
        <input type="checkbox" [(ngModel)]="hint.active3" (ngModelChange)="on_ActivateEffect()"
            *ngIf="hint.effects && hint.effects.length && hint.extraActivations > 1"
            [ngbTooltip]="'Activate the third level of this hint\'s effects.'" triggers="hover">
        <input type="checkbox" [(ngModel)]="hint.active4" (ngModelChange)="on_ActivateEffect()"
            *ngIf="hint.effects && hint.effects.length && hint.extraActivations > 2"
            [ngbTooltip]="'Activate the fourth level of this hint\'s effects.'" triggers="hover">
        <input type="checkbox" [(ngModel)]="hint.active5" (ngModelChange)="on_ActivateEffect()"
            *ngIf="hint.effects && hint.effects.length && hint.extraActivations > 3"
            [ngbTooltip]="'Activate the fifth level of this hint\'s effects.'" triggers="hover">
    </cite>
</ng-container>