<button class="minimizebutton lower"
    [ngbTooltip]="get_Minimized() ? 'Click to show all information.' : 'Click to show compact information.'"
    [ngClass]="{'fancy-button':get_Minimized()}" (click)="minimize()">
    <i class='bi-arrows-collapse' *ngIf="get_Minimized()"></i>
    <i class='bi-arrows-expand' *ngIf="!get_Minimized()"></i>
</button>
<div id="familiar-height" class="itembox vlist">
    <button class="list-item center-aligned" (click)="toggleFamiliarMenu()">
        <header class="sectionHeader">Close</header>
    </button>
    <div class="loading" *ngIf="still_loading()">Loading</div>
    <div class="familiar-box"
        *ngIf="!still_loading() && get_Character().class && get_FamiliarAvailable() && get_FamiliarMenuState()=='in'">
        <app-effects [creature]="'Familiar'" [sheetSide]="'center'" id="Familiar-effects" class="charactersheet-app">
        </app-effects>
        <div class="charactersheet-column-container">
            <div class="charactersheet-column">
                <app-general [creature]="'Familiar'" [sheetSide]="'left'" id="Familiar-general"
                    class="charactersheet-app"></app-general>
                <app-familiarabilities id="familiarabilities" [sheetSide]="'left'" class="charactersheet-app" [ngClass]="{'fullsize-only':get_FamiliarAbilitiesFinished()}">
                </app-familiarabilities>
                <app-health [creature]="'Familiar'" [sheetSide]="'left'" id="Familiar-health"
                    class="charactersheet-app"></app-health>
            </div>
            <div class="charactersheet-column">
                <app-defense [creature]="'Familiar'" [sheetSide]="'right'" id="Familiar-defense"
                    class="charactersheet-app"></app-defense>
                <app-skills [creature]="'Familiar'" [sheetSide]="'right'" id="Familiar-skills"
                    class="charactersheet-app"></app-skills>
            </div>
        </div>
    </div>
</div>