<div id="top-bar" class="newrow">
    <header class="mainHeader" [ngbTooltip]="'Pathfinder Excessive Character Sheet'">P.E.C.S.</header>
    <button class="fancy-button loading" *ngIf="still_loading()">Loading</button>
    <ng-container *ngIf="!still_loading()">
        <button [ngClass]="{'fancy-button':get_CharacterMenuState()=='out'}" (click)="toggle_Menu('character')">{{get_Character().name || "Character"}}&nbsp;<i class="bi-gear"></i></button>
        <button [ngClass]="{'fancy-button':get_CompanionMenuState()=='out'}" (click)="toggle_Menu('companion')" *ngIf="get_CompanionAvailable()">{{get_Companion().name || "Animal Companion"}}</button>
        <button [ngClass]="{'fancy-button':get_FamiliarMenuState()=='out'}" (click)="toggle_Menu('familiar')" *ngIf="get_FamiliarAvailable()">{{get_Familiar().name || "Familiar"}}</button>
        <button [ngClass]="{'fancy-button':get_ItemsMenuState()=='out'}" (click)="toggle_Menu('items')">Items</button>
        <button [ngClass]="{'fancy-button':get_CraftingMenuState()=='out'}" (click)="toggle_Menu('crafting')">Crafting</button>
        <button [ngClass]="{'fancy-button':get_SpellsMenuState()=='out'}" (click)="toggle_Menu('spells')" *ngIf="get_HasSpells()">Spellbook</button>
        <button [ngClass]="{'fancy-button':get_SpellLibraryMenuState()=='out'}" (click)="toggle_Menu('spelllibrary')">Spell Library</button>
        <button [ngClass]="{'fancy-button':get_ConditionsMenuState()=='out'}" (click)="toggle_Menu('conditions')">Conditions</button>
        <button [ngClass]="{'fancy-button':get_DiceMenuState()=='out'}" [ngbTooltip]="'Dice'" (click)="toggle_Menu('dice')"><app-diceIcons_D20></app-diceIcons_D20></button>
        <span *ngIf="get_SavegamesInitializing()" style="flex-grow: initial" [ngbTooltip]="'Connecting to database...'"><button class="fancy-button loading" disabled><i class="bi-file-earmark-arrow-up"></i></button></span>
        <button class="inactive-button no-animation" *ngIf="get_GMMode()" [ngbTooltip]="'In GM mode, the character can\'t be saved and can\'t send or receive effects to or from other players.'">GM Mode</button>
        <ng-container *ngIf="!get_SavegamesInitializing() && !get_GMMode()">
            <span *ngIf="!get_Savegames()" style="flex-grow: initial" [ngbTooltip]="'Database connection failed.'"><button class="fancy-button" disabled><i class="bi-file-earmark-arrow-up"></i></button></span>
            <ng-container *ngIf="get_Savegames()">
                <span *ngIf="get_IsBlankCharacter()" style="flex-grow: initial" [ngbTooltip]="'No changes to character yet.'"><button class="fancy-button" disabled><i class="bi-file-earmark-arrow-up"></i></button></span>
                <span *ngIf="!get_IsBlankCharacter()" style="flex-grow: initial" [ngbTooltip]="'Save Character'"><button class="fancy-button" (click)="save()"><i class="bi-file-earmark-arrow-up"></i></button></span>
                <span *ngIf="!get_IsBlankCharacter() && !get_ManualMode()" style="flex-grow: initial" [ngbTooltip]="get_Character().partyName ? 'Check for new effects' : 'You can only receive effects in a party.'">
                    <button class="fancy-button" (click)="get_Messages()" [disabled]="!get_Character().partyName">
                        <i class="ra ra-player-thunder-struck"></i>
                        <div class="window-button-container" *ngIf="get_NewConditionMessages().length && !modalOpen">{{get_NewConditionMessages().length}}</div>
                    </button>
                </span>
            </ng-container>
        </ng-container>
        <span style="flex-grow: initial" [ngbTooltip]="'Refresh all'"><button class="fancy-button" (click)="set_Changed()"><i class="ra ra-cycle"></i></button></span>
    </ng-container>
</div>
<!-- New Effects Dialog -->
<ng-template #NewMessagesModal let-modal>
    <div class="modal-header">
        <header class="sectionHeader modal-title" id="modal-title">{{newMessages.length}} New Effect{{newMessages.length > 1 ? "s" : ""}}
        </header>
        <button type="button" class="close" aria-label="close" (click)="modal.dismiss('Cross click')" ngbAutofocus>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body vlist">
        <p>Select all effects you want to apply. All other effects will be discarded.</p>
        <div class="gridicon-fullsizebox">
            <input id="messagesSelectAll" class="character-choice" type="checkbox"
                (change)="on_SelectAllMessages($event.target.checked)" [checked]="get_AllMessagesSelected()">
            <label for="messagesSelectAll" style="font-size: 1.5em;">
                <strong>Select all</strong>
            </label>
        </div>
        <div class="fullsize-scroll-box vlist" style="max-height: 50vh;">
            <ng-container *ngFor="let message of get_NewConditionMessages(); trackBy:trackByIndex">
                <ng-container *ngFor="let creature of [get_MessageCreature(message)]; trackBy:trackByIndex">
                    <ng-container *ngFor="let sender of [get_MessageSender(message)]; trackBy:trackByIndex">
                        <ng-container *ngIf="creature && message.gainCondition.length">
                            <div class="list-item gridicon-fullsizebox">
                                <input id="message{{message.id}}" class="character-choice" type="checkbox"
                                    [(ngModel)]="message.selected">
                                <label for="message{{message.id}}">
                                    <div class="newrow left-aligned">
                                        <i class="bi-plus-circle" *ngIf="message.activate"></i>
                                        <i class="bi-minus-circle" *ngIf="!message.activate"></i>
                                        <i class="ra ra-player" *ngIf="creature.type=='Character'"
                                            style="line-height: 1.5;"></i>
                                        <i class="ra ra-wolf-howl" *ngIf="creature.type=='Companion'"
                                            style="line-height: 1.5;"></i>
                                        <i class="ra ra-raven" *ngIf="creature.type=='Familiar'" style="line-height: 1.5;"></i>
                                        <strong>{{message.gainCondition[0].name}}{{message.gainCondition[0].choice ? ": " + message.gainCondition[0].choice : ""}}</strong>
                                            {{[get_Duration(message.gainCondition[0].duration)]}}
                                    </div>
                                    <div class="newrow lower">
                                        Sent{{sender ? " by " + sender : ""}} at {{message.time}}
                                    </div>
                                </label>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="newrow left-aligned">
            <input id="checkMessagesAutomatically" type="checkbox" [(ngModel)]="get_Character().settings.checkMessagesAutomatically">
            <label for="checkMessagesAutomatically">&nbsp;Keep checking every {{reOpenModalTimeout / 1000}} seconds (can be turned off in settings)</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cancel click')">Cancel</button>
        <button type="button" class="btn btn-primary" style="background-color: rgb(var(--accent));"
            (click)="modal.close('Apply click')">Apply selected effects</button>
    </div>
</ng-template>